@layer snippets {
  ui-empty {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    width: 100%;

    .heading {
      font: var(--font-headline-lg);
      text-transform: uppercase;
    }

    .subheading {
      color: var(--color-on-surface-variant);
      font: var(--font-body-md);
    }

    [ui-slot="button"] {
      width: fit-content;
      margin-block-start: var(--spacing-8);
    }
  }
}
