.product-modal {
  & > [ui-slot="modal-body"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-24);
    padding-block-end: var(--spacing-24);

    [ui-box="content"] {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);

      [ui-block="collection"] {
        width: fit-content;
      }

      [ui-block="title"] {
        width: fit-content;
        text-transform: uppercase;
        font: var(--font-title-lg);
      }

      [ui-block="price"] {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
        font: var(--font-title-md);

        .compare-at-price {
          opacity: 0.5;
          text-decoration: line-through;
        }
      }

      [ui-block="controller"] {
        display: grid;
        gap: var(--spacing-8);
        grid-template-columns: repeat(2, 1fr);

        .quantity-control {
          display: flex;
          align-items: center;
          gap: var(--spacing-16);
          grid-column: 1 / 3;

          .label {
            text-transform: uppercase;
            font: var(--font-body-sm);
          }
        }
      }

      img,
      iframe {
        max-width: 100%;
      }
    }

    [ui-box="media"] {
      --per-page: 1;

      display: grid;
      gap: var(--spacing-24);
      height: fit-content;
      inset-block-start: var(--spacing-0);

      &:has(.markers) {
        grid-template-columns: auto 40px;
      }

      .markers {
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          z-index: 3;
          height: anchor-size(height);
          width: anchor-size(width);
          bottom: anchor(bottom);
          left: anchor(left);
          position-anchor: --selected;
          transition: var(--transition-standard-default-spatial);
          box-shadow: 0 0 0 1px currentColor;
        }

        .marker {
          height: auto;
          overflow: hidden;
          opacity: 0.5;
          transition: var(--transition-standard-default-spatial);

          &[aria-selected="true"] {
            opacity: 1;
            anchor-name: --selected;
          }

          &[data-image-ratio="square"] {
            aspect-ratio: 1 / 1;
          }

          &[data-image-ratio="portrait"] {
            aspect-ratio: 3 / 4;
          }

          &[data-image-ratio="landscape"] {
            aspect-ratio: 4 / 3;
          }

          img {
            object-fit: cover;
          }
        }
      }

      .items {
        &[data-image-ratio="square"] {
          aspect-ratio: 1 / 1;
        }

        &[data-image-ratio="portrait"] {
          aspect-ratio: 3 / 4;
        }

        &[data-image-ratio="landscape"] {
          aspect-ratio: 4 / 3;
        }

        .item {
          & > img {
            object-fit: cover;
          }
        }
      }
    }

    @media (width <= 1024px) {
      grid-template-columns: 1fr;
    }
  }
}
