@layer sections {
  [ui-section="collection-highlight"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
    padding: attr(data-top-spacing px) var(--spacing-24) attr(data-bottom-spacing px) !important;

    .items-area {
      display: grid;
      gap: var(--spacing-24);
      grid-template-columns: repeat(attr(data-nbr-columns-desktop number), 1fr);

      & > li:first-child {
        grid-column: 1 / 3;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        [ui-block="content"] {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-8);
          height: 100%;

          &[data-has-image="true"] {
            padding: var(--spacing-24);
            backdrop-filter: brightness(0.8);
            color: var(--color-on-primary);
          }

          &[data-text-alignment="start"] {
            align-items: flex-start;
          }

          &[data-text-alignment="center"] {
            align-items: center;
            text-align: center;
          }

          &[data-text-alignment="end"] {
            align-items: flex-end;
            text-align: end;
          }

          &[data-vertical-alignment="start"] {
            justify-content: flex-start;
          }

          &[data-vertical-alignment="center"] {
            justify-content: center;
          }

          &[data-vertical-alignment="end"] {
            justify-content: flex-end;
          }

          .heading {
            font: var(--font-title-lg);
            text-transform: uppercase;
          }

          .description {
            opacity: 0.8;
            text-wrap: balance;
          }

          .cta {
            width: fit-content;
            margin-block-start: var(--spacing-8);

            &[ui-slot="button"] {
              min-width: 180px;
            }
          }
        }
      }
    }

    @media (width <= 1028px) {
      .items-area {
        gap: var(--spacing-12);
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (width <= 769px) {
      .items-area {
        grid-template-columns: repeat(attr(data-nbr-columns-mobile number), 1fr);

        &[data-nbr-columns-mobile="1"] {
          & > li:first-child {
            grid-column: auto;
          }
        }
      }
    }
  }
}
