@layer sections {
  #youcan-section--navbar {
    --spring-width-offset: 10px;

    &:has([data-sticky-mode]:not([data-sticky-mode="none"])) {
      position: sticky;
      z-index: 50;
      inset-block-start: var(--spacing-0);
    }
  }

  [ui-layout="navbar"] {
    display: grid;
    grid-template-areas: "logo menu actions";
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    padding: attr(data-top-spacing px) var(--spacing-24) attr(data-bottom-spacing px);
    transform: translateY(0%);
    transition: transform var(--transition-standard-slow-spatial);
    background-color: inherit;
    gap: var(--spacing-16);

    &[aria-hidden="true"] {
      transform: translateY(-150%);
    }

    &[data-bottom-border="1"] {
      border-block-end: 1px solid var(--color-surface-variant);
    }

    &[data-header-layout="logo-center-menu-first"] {
      grid-template-areas: "menu logo actions";
      grid-template-columns: 1fr auto 1fr;
    }

    .logo {
      grid-area: logo;

      .name {
        font: var(--font-title-md);
        text-transform: uppercase;
      }

      a:has(img) {
        display: flex;

        img {
          object-fit: contain;

          @media (width <= 769px) {
            width: attr(data-mobile-width px);
          }
        }
      }
    }

    .links {
      display: flex;
      grid-area: menu;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--spacing-24);

      &[data-split-menu="first-half"] {
        grid-area: menu-left;
      }

      &[data-split-menu="second-half"] {
        grid-area: menu-right;
      }
    }

    .actions {
      display: flex;
      grid-area: actions;
      flex-shrink: 0;
    }

    & > .logo,
    & > .links,
    & > .actions {
      display: flex;

      &:nth-of-type(2) {
        justify-content: center;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }

    .links:not([data-split-menu]) {
      flex-shrink: 0;
    }

    .menu {
      grid-area: menu;
    }

    &[data-header-layout="logo-first-menu-center"] {
      grid-template-areas: "logo menu actions";
      grid-template-columns: 1fr 4fr 1fr;

      .links {
        justify-content: center;
      }
    }

    &[data-header-layout="logo-center-menu-split"] {
      grid-template-areas: "menu-left logo split-right";
      grid-template-columns: 1fr auto 1fr;

      .right-split {
        display: flex;
        grid-area: split-right;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-32);
      }
    }

    @media (width > 769px) {
      .menu {
        i:last-child {
          display: none;
        }
      }
    }

    @media (width <= 769px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .links {
        display: none;
      }

      .logo {
        display: flex;
      }

      .actions {
        gap: var(--spacing-0);
        justify-content: flex-end;

        .menu {
          i:first-child {
            display: none;
          }
        }
      }
    }
  }

  [data-intensity="as-solid-bg"],
  [data-intensity="as-foreground"] {
    [ui-layout="navbar"] {
      background-color: var(--color-on-primary);
    }
  }

  [data-intensity="as-light-bg"] {
    [ui-layout="navbar"] {
      background-color: var(--color-primary-container);
    }
  }
}
