@layer sections {
  [ui-section="single-product"] {
    display: flex;
    gap: var(--spacing-24);
    flex-direction: column;
    padding: attr(data-top-spacing px) var(--spacing-24) attr(data-bottom-spacing px) !important;

    .core {
      display: grid;
      grid-template-columns: 0.6fr 0.8fr 0.6fr;
      gap: var(--spacing-48);

      [ui-box="content"] {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);

        [ui-block="collection"] {
          width: fit-content;
        }

        [ui-block="title"] {
          text-transform: uppercase;

          &[data-size="xl"] {
            font: var(--font-display-md);
          }

          &[data-size="lg"] {
            font: var(--font-headline-lg);
          }

          &[data-size="md"] {
            font: var(--font-title-lg);
          }

          &[data-size="sm"] {
            font: var(--font-title-md);
          }

          &[data-size="xs"] {
            font: var(--font-title-sm);
          }
        }

        img,
        iframe {
          max-width: 100%;
        }
      }

      [ui-box="media"] {
        --per-page: 1;

        display: grid;
        gap: var(--spacing-32);
        height: fit-content;
        inset-block-start: var(--spacing-0);

        &:has(.markers) {
          grid-template-columns: auto 40px;
        }

        .markers {
          display: flex;
          flex-direction: column;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            z-index: 3;
            height: anchor-size(height);
            width: anchor-size(width);
            bottom: anchor(bottom);
            left: anchor(left);
            position-anchor: --selected;
            transition: var(--transition-standard-default-spatial);
            box-shadow: 0 0 0 1px currentColor;
          }

          .marker {
            height: auto;
            overflow: hidden;
            opacity: 0.5;
            transition: var(--transition-standard-default-spatial);

            &[aria-selected="true"] {
              opacity: 1;
              anchor-name: --selected;
            }

            &[data-image-ratio="square"] {
              aspect-ratio: 1 / 1;
            }

            &[data-image-ratio="portrait"] {
              aspect-ratio: 3 / 4;
            }

            &[data-image-ratio="landscape"] {
              aspect-ratio: 4 / 3;
            }

            img {
              object-fit: cover;
            }
          }
        }

        .items {
          &[data-image-ratio="square"] {
            aspect-ratio: 1 / 1;
          }

          &[data-image-ratio="portrait"] {
            aspect-ratio: 3 / 4;
          }

          &[data-image-ratio="landscape"] {
            aspect-ratio: 4 / 3;
          }

          .item {
            & > img {
              object-fit: cover;
            }
          }
        }
      }

      [ui-box="actions"] {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-24);

        [ui-block="price"] {
          display: flex;
          align-items: center;
          gap: var(--spacing-8);

          &[data-size="xl"] {
            font: var(--font-display-md);
          }

          &[data-size="lg"] {
            font: var(--font-headline-lg);
          }

          &[data-size="md"] {
            font: var(--font-title-lg);
          }

          &[data-size="sm"] {
            font: var(--font-title-md);
          }

          &[data-size="xs"] {
            font: var(--font-title-sm);
          }

          .compare-at-price {
            opacity: 0.5;
            text-decoration: line-through;
          }
        }

        [ui-block="controller"] {
          display: grid;
          gap: var(--spacing-8);
          grid-template-columns: repeat(2, 1fr);

          .quantity-control {
            display: flex;
            align-items: center;
            gap: var(--spacing-16);
            grid-column: 1 / 3;

            .label {
              text-transform: uppercase;
              font: var(--font-body-sm);
            }
          }
        }
      }
    }

    @media (width > 1024px) {
      [ui-box="media"] {
        position: sticky;
      }

      [ui-box="content"] {
        [ui-block="description"] {
          margin-block-start: var(--spacing-64);
        }
      }

      [ui-box="actions"] {
        padding-block-start: 50%;
      }
    }

    @media (width <= 1024px) {
      gap: var(--spacing-24);

      .core {
        grid-template-columns: 1fr;

        [ui-box="media"] {
          order: -1;
          gap: var(--spacing-8);
        }
      }
    }

    @media (width <= 769px) {
      .core {
        [ui-box="content"] {
          [ui-block="title"][data-size] {
            font: var(--font-title-lg);
          }
        }

        [ui-box="actions"] {
          [ui-block="price"][data-size] {
            font: var(--font-title-md);
          }
        }
      }
    }
  }
}
