@layer sections {
  [ui-section="promotion-banner"] {
    padding-inline: var(--spacing-24);
    border-block-end: 1px solid var(--color-surface-variant);

    .items-wrapper {
      display: flex;
      position: relative;
      width: fit-content;
      align-items: center;
      height: var(--spacing-48);
      animation: scroll 15s linear infinite;

      .items {
        display: flex;

        .item {
          white-space: nowrap;
          padding-inline: var(--spacing-16);
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
