@import 'helpers/mixins';

.splide {
  height: var(--mobile-height);

  @include breakpoint('md') {
    height: var(--desktop-height);
  }
}

.slider-container {
  max-width: 1440px;
  margin: 0 auto;

  @include breakpoint('md') {
    padding: 0 30px;
  }

  @include breakpoint('lg') {
    padding: 0 60px;
  }

  @include breakpoint('xl') {
    padding: 0 140px;
  }
}

.yc-slider__desktop {
  display: none;

  @include breakpoint('md') {
    display: block;
  }

  .splide__arrow {
    border: 1px solid #000000;
    width: 42px;
    height: 42px;
    margin: 0 44px;

    @include breakpoint('lg') {
      margin: 0 90px;
    }

    @include breakpoint('xl') {
      margin: 0 165px;
    }
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0 250px;
    text-align:var(--alignment);

    .caption {
      line-height: 55px;
    }

    h1 {
      font-size: 38px;
      font-weight: 800;
    }

    h2 {
      font-size: 34px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }

    .btn-holder {
      display: flex;
      justify-content: var(--alignment);
    }
  }
}
