[data-bundle=single],
[data-bundle=multi],
[data-bundle=buyxgety]{
  display:flex;
  flex-direction:column;
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
  cursor:pointer;
}
[data-bundle=single]:has(input:checked),
[data-bundle=multi]:has(input:checked),
[data-bundle=buyxgety]:has(input:checked){
  background-color:var(--color-primary-container);
}
[data-bundle=single] .head,
[data-bundle=multi] .head,
[data-bundle=buyxgety] .head{
  display:flex;
  padding:var(--spacing-12);
  gap:var(--spacing-12);
  background-color:var(--color-surface-container);
  border-block-end:1px solid var(--color-primary);
}
[data-bundle=single] .head .detail,
[data-bundle=multi] .head .detail,
[data-bundle=buyxgety] .head .detail{
  display:grid;
  flex:1;
  grid-gap:var(--spacing-4);
  gap:var(--spacing-4);
}
[data-bundle=single] .head .detail .box,
[data-bundle=multi] .head .detail .box,
[data-bundle=buyxgety] .head .detail .box{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[data-bundle=single] .head .detail .box .title,
[data-bundle=multi] .head .detail .box .title,
[data-bundle=buyxgety] .head .detail .box .title{
  flex:1;
  font:var(--font-title-md);
}
[data-bundle=single] .head .detail .box .price,
[data-bundle=multi] .head .detail .box .price,
[data-bundle=buyxgety] .head .detail .box .price{
  display:flex;
  gap:var(--spacing-4);
  font:var(--font-title-md);
}
[data-bundle=single] .head .detail .box .price .compare-at,
[data-bundle=multi] .head .detail .box .price .compare-at,
[data-bundle=buyxgety] .head .detail .box .price .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
[data-bundle=single] .item,
[data-bundle=multi] .item,
[data-bundle=buyxgety] .item{
  display:flex;
  justify-content:space-between;
  padding:var(--spacing-6) var(--spacing-12);
  gap:var(--spacing-12);
}
[data-bundle=single] .item:first-of-type,
[data-bundle=multi] .item:first-of-type,
[data-bundle=buyxgety] .item:first-of-type{
  padding-block-start:var(--spacing-12);
}
[data-bundle=single] .item:last-of-type,
[data-bundle=multi] .item:last-of-type,
[data-bundle=buyxgety] .item:last-of-type{
  padding-block-end:var(--spacing-12);
}
[data-bundle=single] .item:not(:has(.variants)),
[data-bundle=multi] .item:not(:has(.variants)),
[data-bundle=buyxgety] .item:not(:has(.variants)){
  align-items:center;
}
[data-bundle=single] .item:has(.free),
[data-bundle=multi] .item:has(.free),
[data-bundle=buyxgety] .item:has(.free){
  background-color:var(--color-surface-container);
}
[data-bundle=single] .item .media,
[data-bundle=multi] .item .media,
[data-bundle=buyxgety] .item .media{
  width:65px;
  height:auto;
  overflow:hidden;
  aspect-ratio:1/1;
}
[data-bundle=single] .item .media > img,
[data-bundle=multi] .item .media > img,
[data-bundle=buyxgety] .item .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[data-bundle=single] .item .info,
[data-bundle=multi] .item .info,
[data-bundle=buyxgety] .item .info{
  display:flex;
  flex:1;
  flex-direction:column;
  gap:var(--spacing-8);
}
[data-bundle=single] .item .info .price,
[data-bundle=multi] .item .info .price,
[data-bundle=buyxgety] .item .info .price{
  display:flex;
  gap:var(--spacing-4);
  align-items:center;
}
[data-bundle=single] .item .info .price .compare-at,
[data-bundle=multi] .item .info .price .compare-at,
[data-bundle=buyxgety] .item .info .price .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
[data-bundle=single] .item .info .group,
[data-bundle=multi] .item .info .group,
[data-bundle=buyxgety] .item .info .group{
  display:flex;
  gap:var(--spacing-8);
}
[data-bundle=single] .item .info .group .index,
[data-bundle=multi] .item .info .group .index,
[data-bundle=buyxgety] .item .info .group .index{
  width:22px;
  opacity:0.8;
}
[data-bundle=single] .item .info .variants,
[data-bundle=multi] .item .info .variants,
[data-bundle=buyxgety] .item .info .variants{
  display:flex;
  flex-wrap:wrap;
  gap:var(--spacing-8);
}
[data-bundle=single] .item .info .variants span,
[data-bundle=multi] .item .info .variants span,
[data-bundle=buyxgety] .item .info .variants span{
  padding:var(--spacing-2) var(--spacing-4);
  border:1px solid var(--color-primary);
  background-color:var(--color-primary-container);
  font:var(--font-body-sm);
}
[data-bundle=single] .list,
[data-bundle=multi] .list,
[data-bundle=buyxgety] .list{
  display:flex;
  flex-direction:column;
}
[data-bundle=single] .gift,
[data-bundle=multi] .gift,
[data-bundle=buyxgety] .gift{
  display:flex;
  align-items:center;
  gap:var(--spacing-8);
  padding:var(--spacing-8) var(--spacing-12);
  background-color:var(--color-surface-container);
  border-block:1px solid var(--color-primary);
}
