ui-navigation{
  display:flex;
  position:fixed;
  left:50%;
  padding:var(--spacing-12);
  transform:translateX(-50%);
  background-color:var(--color-on-primary);
  inset-block-end:var(--spacing-64);
}
