.product-detail-drawer [ui-slot=drawer-body]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-12);
}
.product-detail-drawer [ui-slot=drawer-body] .bio{
  display:flex;
  align-items:center;
  gap:var(--spacing-12);
}
.product-detail-drawer [ui-slot=drawer-body] .bio .media{
  width:150px;
  height:auto;
  overflow:hidden;
  aspect-ratio:1/1;
}
.product-detail-drawer [ui-slot=drawer-body] .bio .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
.product-detail-drawer [ui-slot=drawer-body] .bio .info{
  display:grid;
  flex:1;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
.product-detail-drawer [ui-slot=drawer-body] .bio .info .title{
  overflow:hidden;
  font:var(--font-title-md);
  text-overflow:ellipsis;
  white-space:nowrap;
}
.product-detail-drawer [ui-slot=drawer-body] .bio .info .rating{
  display:flex;
  align-items:center;
  width:-moz-fit-content;
  width:fit-content;
  padding:var(--spacing-4) var(--spacing-8);
  border:1px solid var(--color-primary);
  border-radius:var(--radius-button);
  background-color:var(--color-primary-container);
  gap:var(--spacing-4);
}
.product-detail-drawer [ui-slot=drawer-body] .core{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:var(--spacing-12);
  padding-block:var(--spacing-16);
  border-block:1px dashed var(--color-primary);
}
.product-detail-drawer [ui-slot=drawer-body] .core .qty{
  display:flex;
  align-items:center;
}
.product-detail-drawer [ui-slot=drawer-body] .core .qty .label{
  margin-inline-end:var(--spacing-12);
}
.product-detail-drawer [ui-slot=drawer-body] .core .price{
  display:flex;
  font:var(--font-title-md);
  gap:var(--spacing-4);
}
.product-detail-drawer [ui-slot=drawer-body] .core .price .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
.product-detail-drawer [ui-slot=drawer-footer]{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
  grid-template-columns:repeat(2, 1fr);
}
@media (max-width: 769px){
  .product-detail-drawer [ui-slot=drawer-footer]{
    display:flex;
    flex-direction:column-reverse;
  }
}
