[ui-section=special-offer] [ui-slot=drawer-body]{
  padding-block-end:var(--spacing-0) !important;
}
[ui-section=special-offer] .offer{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-12);
}
[ui-section=special-offer] .offer .head{
  padding:var(--spacing-12);
  border-radius:var(--radius-section);
  background-color:var(--color-primary);
  color:var(--color-on-primary);
}
[ui-section=special-offer] .offer .head .title{
  font:var(--font-title-md);
  text-align:center;
}
[ui-section=special-offer] .offer .list{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=special-offer] .offer .list .product-item{
  display:flex;
  justify-content:space-between;
  padding:var(--spacing-12);
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
  gap:var(--spacing-12);
}
[ui-section=special-offer] .offer .list .product-item .media{
  position:relative;
  width:65px;
  height:auto;
  overflow:hidden;
  aspect-ratio:1/1;
}
[ui-section=special-offer] .offer .list .product-item .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=special-offer] .offer .list .product-item .info{
  display:grid;
  flex:1;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
[ui-section=special-offer] .offer .list .product-item .info .price{
  display:flex;
  gap:var(--spacing-4);
}
[ui-section=special-offer] .offer .list .product-item .info .price .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
[ui-section=special-offer] .offer .list .product-item .info .variants{
  display:flex;
  flex-wrap:wrap;
  gap:var(--spacing-4);
}
[ui-section=special-offer] .offer .list .product-item .info .variants .variant{
  min-width:22px;
  padding:var(--spacing-2) var(--spacing-4);
  border:1px solid var(--color-primary);
  background-color:var(--color-primary-container);
  font:var(--font-body-sm);
  text-align:center;
}
[ui-section=special-offer] .actions{
  display:flex;
  flex-direction:row-reverse;
  justify-content:flex-start;
  gap:var(--spacing-8);
}
@media (max-width: 769px){
  [ui-section=special-offer] .actions{
    display:grid;
    grid-template-columns:1fr;
  }
}
