[ui-section=media]{
  width:100%;
  height:auto;
  overflow:hidden;
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
}
[ui-section=media][data-aspect-ratio=square]{
  aspect-ratio:1/1;
}
[ui-section=media][data-aspect-ratio=vertical]{
  aspect-ratio:9/16;
}
[ui-section=media][data-aspect-ratio=landscape]{
  aspect-ratio:16/9;
}
[ui-section=media] img{
  -o-object-fit:cover;
     object-fit:cover;
}
