[ui-section=special-product]{
  overflow:hidden;
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
}
[ui-section=special-product] .head{
  padding:var(--spacing-8) var(--spacing-12);
  border-block-end:1px solid var(--color-primary);
  background-color:var(--color-surface-container);
  color:var(--color-primary);
}
[ui-section=special-product] .head .title{
  font:var(--font-title-md);
}
[ui-section=special-product] .product{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:var(--spacing-12);
  padding:var(--spacing-12);
}
[ui-section=special-product] .product .image{
  position:relative;
  width:65px;
  height:auto;
  overflow:hidden;
  border-radius:var(--radius-section);
}
[ui-section=special-product] .product .image[data-aspect-ratio=square]{
  aspect-ratio:1/1;
}
[ui-section=special-product] .product .image[data-aspect-ratio=portrait]{
  aspect-ratio:3/4;
}
[ui-section=special-product] .product .image[data-aspect-ratio=landscape]{
  width:85px;
  aspect-ratio:16/9;
}
[ui-section=special-product] .product .image > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=special-product] .product .info{
  display:flex;
  gap:var(--spacing-8);
  flex:1;
  flex-direction:column;
}
[ui-section=special-product] .product .info .name{
  overflow:hidden;
  font:var(--font-title-md);
  text-overflow:ellipsis;
  white-space:nowrap;
}
[ui-section=special-product] .product .info .price{
  display:flex;
  align-items:center;
  gap:var(--spacing-4);
}
[ui-section=special-product] .product .info .price .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
