[ui-section=faq]{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=faq] .head{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[ui-section=faq] .head .title{
  font:var(--font-title-md);
}
