.youcan-section:has([ui-section=all-collections]){
  display:flex;
  flex:1;
}

[ui-section=all-collections]{
  display:flex;
  flex:1;
  flex-direction:column;
  gap:var(--spacing-24);
}
[ui-section=all-collections] .head{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  align-items:center;
}
[ui-section=all-collections] .head .title{
  font:var(--font-title-md);
  text-align:center;
}
[ui-section=all-collections] .list{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
  grid-template-columns:repeat(2, 1fr);
}
[ui-section=all-collections] .list .collection-item{
  display:flex;
  position:relative;
  flex-direction:column;
  align-items:flex-start;
  overflow:hidden;
  transition:var(--transition-standard-fast-spatial);
  transition-property:transform, box-shadow;
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
}
[ui-section=all-collections] .list .collection-item .media{
  width:100%;
  height:auto;
  overflow:hidden;
  border-radius:var(--radius-0);
}
[ui-section=all-collections] .list .collection-item .media[data-aspect-ratio=square]{
  aspect-ratio:1/1;
}
[ui-section=all-collections] .list .collection-item .media[data-aspect-ratio=portrait]{
  aspect-ratio:3/4;
}
[ui-section=all-collections] .list .collection-item .media[data-aspect-ratio=landscape]{
  aspect-ratio:16/9;
}
[ui-section=all-collections] .list .collection-item .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=all-collections] .list .collection-item .name{
  padding:var(--spacing-12);
  overflow:hidden;
  font:var(--font-title-sm);
  text-overflow:ellipsis;
  white-space:nowrap;
}
[ui-section=all-collections] .list .collection-item:hover{
  transform:translate(2px, 2px);
  box-shadow:1.5px 1.5px 0 var(--color-primary);
}
[ui-section=all-collections] .pagination{
  display:flex;
  justify-content:space-between;
}
[ui-section=all-collections] ui-empty{
  flex:1;
}
