[ui-section=map]{
  overflow:hidden;
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
}
[ui-section=map] .media{
  width:100%;
  height:auto;
  overflow:hidden;
  border-radius:var(--radius-0);
}
[ui-section=map] .media[data-aspect-ratio=square]{
  aspect-ratio:1/1;
}
[ui-section=map] .media[data-aspect-ratio=vertical]{
  aspect-ratio:9/16;
}
[ui-section=map] .media[data-aspect-ratio=landscape]{
  aspect-ratio:16/9;
}
[ui-section=map] .media iframe{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=map] .content{
  display:flex;
  flex-direction:column;
  padding:var(--spacing-12);
  gap:var(--spacing-4);
  border-block-start:1px solid var(--color-primary);
}
[ui-section=map] .content .heading{
  font:var(--font-title-lg);
}
[ui-section=map] .content .action{
  margin-block-start:var(--spacing-8);
}
