[ui-section=testimonials]{
  --per-page:2;
  --item-size:85%;
  --gap:var(--spacing-12);
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=testimonials] .head{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[ui-section=testimonials] .head .title{
  font:var(--font-title-md);
}
[ui-section=testimonials] .head .arrows{
  display:flex;
  gap:var(--spacing-8);
}
[ui-section=testimonials] .list{
  padding-block-end:3px;
  padding-inline-end:3px;
}
[ui-section=testimonials] .list .testimonial-item{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:var(--spacing-12);
  border:1px solid var(--color-primary);
  border-radius:var(--radius-section);
  box-shadow:3px 3px 0 var(--color-primary);
  gap:var(--spacing-8);
}
[ui-section=testimonials] .list .testimonial-item .info{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
[ui-section=testimonials] .list .testimonial-item .info .media{
  width:100%;
  height:auto;
  overflow:hidden;
  aspect-ratio:16/9;
}
[ui-section=testimonials] .list .testimonial-item .info .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=testimonials] ui-empty{
  padding:var(--spacing-12);
}
@media (max-width: 769px){
  [ui-section=testimonials]{
    --per-page:1;
  }
}
