[ui-section=page]{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}
[ui-section=page] .head{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  align-items:center;
}
[ui-section=page] .head .title{
  font:var(--font-title-md);
  text-align:center;
}
[ui-section=page] .core .errors{
  margin-inline-start:var(--spacing-24);
  list-style:disc outside none;
  list-style:initial;
}
[ui-section=page] .core form{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
}
[ui-section=page] .core form .fields{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-12);
}
[ui-section=page] .core form .fields fieldset{
  display:grid;
  grid-gap:var(--spacing-4);
  gap:var(--spacing-4);
}
