[ui-section=collections]{
  --per-page:2;
  --item-size:85%;
  --gap:var(--spacing-12);
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=collections] .head{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[ui-section=collections] .head .title{
  font:var(--font-title-md);
}
[ui-section=collections] .head .arrows{
  display:flex;
  gap:var(--spacing-8);
}
[ui-section=collections] .list{
  padding-block-end:3px;
  padding-inline-end:3px;
}
[ui-section=collections] .list .collection-item{
  display:flex;
  align-items:center;
  height:100%;
  padding:var(--spacing-8);
  transition:var(--transition-standard-fast-spatial);
  transition-property:transform, box-shadow;
  border:1px solid var(--color-primary);
  border-radius:var(--radius-button);
  box-shadow:3px 3px 0 var(--color-primary);
  gap:var(--spacing-12);
}
[ui-section=collections] .list .collection-item .media{
  flex-shrink:0;
  width:40px;
  height:auto;
  overflow:hidden;
  background-color:var(--color-primary-container);
}
[ui-section=collections] .list .collection-item .media[data-aspect-ratio=square]{
  aspect-ratio:1/1;
}
[ui-section=collections] .list .collection-item .media[data-aspect-ratio=portrait]{
  aspect-ratio:3/4;
}
[ui-section=collections] .list .collection-item .media[data-aspect-ratio=landscape]{
  width:60px;
  aspect-ratio:16/9;
}
[ui-section=collections] .list .collection-item .name{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
[ui-section=collections] .list .collection-item:hover{
  transform:translate(2px, 2px);
  box-shadow:1.5px 1.5px 0 var(--color-primary);
}
@media (max-width: 769px){
  [ui-section=collections]{
    --per-page:1;
  }
}
