@layer snippets {
  [ui-block="collection"] {
    --bg-shade-color: oklch(from var(--bg-color) calc(l - 0.0225) calc(c + 0.0181) calc(h + 6.6));

    display: flex;
    gap: var(--spacing-16);
    flex-direction: column;

    .media {
      height: auto;
      overflow: hidden;
      border-radius: var(--radius-collection);

      &[data-image-ratio="square"] {
        aspect-ratio: 1 / 1;
      }

      &[data-image-ratio="portrait"] {
        aspect-ratio: 3 / 4;
      }

      &[data-image-ratio="landscape"] {
        aspect-ratio: 4 / 3;
      }

      & > img {
        object-fit: cover;
      }

      ui-image-fallback {
        background-color: var(--bg-shade-color);
      }
    }

    .title {
      flex: 1;
      justify-content: var(--collection-alignment) !important;
      font: var(--font-label-md) !important;
    }
  }
}
