@layer snippets {
  ui-quantity {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: var(--spacing-2);
    overflow: hidden;
    border: 1px solid var(--quantity-bg);
    border-radius: var(--radius-8);

    .value {
      width: 24px;
      text-align: center;
    }

    [ui-slot="button"] {
      border-radius: var(--radius-4);
    }
  }
}
