@layer snippets {
  ui-cart-form {
    flex: 1;

    ui-cart-drawer-items {
      display: flex;
      gap: var(--spacing-24);
      flex-direction: column;

      .item {
        display: flex;
        gap: var(--spacing-16);

        .content {
          display: flex;
          flex: 2;
          flex-direction: column;
          justify-content: space-between;

          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bio {
              display: grid;
              grid-template-columns: repeat(2, auto);
              gap: var(--spacing-8);

              .title,
              .price {
                font: var(--font-label-sm);
              }

              .title {
                flex: 1;
                justify-content: flex-start;
              }

              .price {
                text-align: end;
              }

              .variants {
                grid-column: 1 / 3;
                font: var(--font-body-sm);
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: var(--spacing-12);

            [ui-cart-item="delete-button"] {
              background-color: transparent;
            }
          }
        }
      }
    }

    .collections {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
      width: 100%;

      .collection {
        display: flex;
        align-items: center;
        padding: var(--spacing-16);
        border-radius: var(--radius-16);
        gap: var(--spacing-12);
        background-color: oklch(from var(--bg-color) calc(l - 0.0225) c h);

        .image {
          width: var(--spacing-64);
          height: var(--spacing-64);
          overflow: hidden;
          border-radius: var(--radius-12);

          & > img {
            object-fit: cover;
          }
        }

        [ui-slot="button"] {
          background-color: transparent;
        }

        .name {
          flex: 1;
        }
      }
    }

    &:has(ui-empty:not([hidden])) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-48);
    }

    &:has(ui-empty:not([hidden]) + .collections) {
      justify-content: flex-start;
    }

    &:has(ui-empty[hidden]) {
      .collections {
        display: none;
      }
    }
  }
}
