@use "color";

@layer snippets {
  #search[popover] {
    [ui-slot="sheet-body"] {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);

      [ui-slot="input-wrapper"] {
        --input-bg: var(--bg-shade-color);
      }

      .terms {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-12);

        .label {
          font: var(--font-label-md);
        }

        .options {
          display: flex;
          flex-wrap: wrap;
          gap: var(--spacing-16);
        }
      }

      .products {
        display: flex;
        flex-direction: column;
        padding-block-end: var(--spacing-16);
        overflow-y: scroll;
        gap: var(--spacing-12);

        .label {
          font: var(--font-label-md);
        }

        .items {
          display: grid;
          gap: var(--spacing-24);

          .item {
            display: flex;
            gap: var(--spacing-16);
            align-items: center;

            .media {
              flex-shrink: 0;
              width: 100px;
              height: 100px;
              overflow: hidden;
              border-radius: var(--radius-12);

              ui-image-fallback {
                background-color: color.shade(var(--bg-color), -0.018, 0, 0);
                color: color.shade(var(--fg-color), -0.4);
              }

              & > img {
                object-fit: cover;
              }
            }

            .content {
              display: flex;
              flex: 1;
              flex-direction: column;
              gap: var(--spacing-8);

              .title {
                justify-content: flex-start;
                overflow: hidden;
                font: var(--font-label-sm);
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .price {
                font: var(--font-label-xs);
              }

              .categories {
                display: flex;
                gap: var(--spacing-8);
                align-items: center;

                .category {
                  padding: var(--spacing-4) var(--spacing-8);
                  border-radius: var(--radius-rounded);
                  background-color: color.shade(var(--bg-color), -0.018, 0, 0);
                  font: var(--font-label-xs);
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
