@layer sections {
  #youcan-section--header {
    .header-root {
      --spring-width-offset: 0px;
      --bg-shade-color: oklch(from var(--bg-color) calc(l - 0.03) c h);
      --sheet-background: var(--bg-color);

      [ui-slot="button"]:not([data-variant="primary"]) {
        --button-bg: var(--bg-shade-color) !important;
        --button-fg: var(--fg-color) !important;
      }
    }

    [ui-slot="sheet-content"] {
      color: var(--fg-color);
    }

    &:has([data-sticky-mode]:not([data-sticky-mode="none"])) {
      position: sticky;
      z-index: 50;
      inset-block-start: var(--spacing-0);
    }
  }

  [ui-layout="header"] {
    display: grid;
    grid-template-areas: "logo menu actions";
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    min-height: 64px;
    padding-block: var(--top-spacing) var(--bottom-spacing);
    padding-inline: 10%;
    transform: translateY(0%);
    transition:
      box-shadow var(--transition-standard-fast-spatial),
      transform var(--transition-standard-slow-spatial);
    background-color: var(--bg-color);
    color: var(--fg-color);
    gap: var(--spacing-16);

    .actions {
      display: flex;
      grid-area: actions;
      flex-shrink: 0;
      gap: var(--spacing-8);

      .cart-drawer-trigger {
        [ui-slot="button-front"] {
          padding-inline-end: var(--spacing-12);
        }
      }
    }

    &[data-shadow="true"] {
      border-block-end: none;
      box-shadow: var(--shadow-md);
    }

    &[aria-hidden="true"] {
      transform: translateY(-150%);
    }

    &[data-bottom-border="1"] {
      border-block-end: 1px solid var(--color-surface-variant);
    }

    &[data-header-layout="logo-center-menu-first"] {
      grid-template-areas: "menu logo actions";
      grid-template-columns: 1fr auto 1fr;
    }

    .logo {
      grid-area: logo;

      .name {
        color: var(--brand-color);
        font: var(--font-heading-sm);
        font-weight: bold;
        text-transform: uppercase;
      }

      a:has(img) {
        display: flex;

        img {
          object-fit: contain;
        }
      }
    }

    .links {
      display: flex;
      grid-area: menu;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--spacing-32);

      .link {
        [ui-slot="link-button"] {
          font: var(--font-label-md);
        }
      }
    }

    & > .logo,
    & > .links,
    & > .actions {
      display: flex;

      &:nth-of-type(2) {
        justify-content: center;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }

    .links:not([data-split-menu]) {
      flex-shrink: 0;
    }

    .menu {
      display: flex;
      grid-area: menu;
    }

    &[data-header-layout="logo-first-menu-center"] {
      grid-template-areas: "logo menu actions";
      grid-template-columns: 1fr 4fr 1fr;

      .links {
        justify-content: center;
      }
    }

    &[data-header-layout="logo-center-menu-split"] {
      grid-template-areas: "menu-left logo split-right";
      grid-template-columns: 1fr auto 1fr;

      .right-split {
        display: flex;
        grid-area: split-right;
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-32);
      }
    }

    @media (width > 769px) {
      .menu {
        display: none;
      }
    }

    @media (width <= 769px) {
      display: grid;
      grid-template-columns: auto auto 1fr !important;
      padding-inline: var(--spacing-24);

      .links {
        display: none;
      }

      .logo {
        display: flex;

        .name {
          display: inline-block;
          max-width: 10ch;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        img {
          width: var(--mobile-width);
        }
      }

      .actions {
        justify-content: flex-end;

        [ui-slot="button-front"] {
          span {
            display: none;
          }
        }

        [ui-slot="badge"] {
          position: absolute;
          inset-block-start: -10%;
          inset-inline-end: -10%;
        }
      }
    }
  }

  #menu {
    [ui-slot="sheet-header"] {
      .logo {
        .name {
          color: var(--brand-color);
          font: var(--font-heading-sm);
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    [ui-slot="sheet-body"] {
      .mobile-links {
        display: flex;
        flex-direction: column;
        padding-block: var(--spacing-16);
        gap: var(--spacing-14);

        .link {
          [ui-slot="link-button"] {
            justify-content: space-between !important;
            width: 100% !important;
            height: 40px;
            font: var(--font-label-md);
          }
        }
      }
    }

    [ui-slot="sheet-footer"] {
      grid-template-columns: 1fr !important;

      .social-links {
        display: grid;
        padding: var(--spacing-16);
        padding-block-end: var(--spacing-8);
        border-radius: var(--radius-8);
        background-color: oklch(from var(--bg-color) calc(l - 0.03) c h);
        gap: var(--spacing-8);

        .label {
          font: var(--font-label-md);
        }

        .links {
          display: flex;
          gap: var(--spacing-4);
          margin-inline-start: calc(var(--spacing-8) * -1);
        }
      }
    }
  }

  [data-intensity="as-solid-bg"],
  [data-intensity="as-foreground"] {
    [ui-layout="header"] {
      background-color: var(--color-on-primary);
    }
  }

  [data-intensity="as-light-bg"] {
    [ui-layout="header"] {
      background-color: var(--color-primary-container);
    }
  }
}
