@layer sections {
  #youcan-section--collection-tabs {
    padding-inline: var(--spacing-16);
    background-color: var(--bg-color);
    color: var(--fg-color);
  }

  [ui-section="collection-tabs"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);

    .content {
      display: flex;
      gap: var(--spacing-48);

      .sidebar {
        display: flex;
        position: sticky;
        flex-direction: column;
        flex-shrink: 0;
        width: 432px;
        height: fit-content;
        padding: var(--spacing-24);
        border-radius: var(--radius-card);
        background-color: oklch(from var(--bg-color) calc(l - 0.0225) calc(c + 0.0181) calc(h + 6.6));
        inset-block-start: var(--spacing-16);
        gap: var(--spacing-40);

        .media {
          height: auto;
          overflow: hidden;
          border-radius: var(--radius-collection);

          &[data-image-ratio="square"] {
            aspect-ratio: 1 / 1;
          }

          &[data-image-ratio="portrait"] {
            aspect-ratio: 3 / 4;
          }

          &[data-image-ratio="landscape"] {
            aspect-ratio: 4 / 3;
          }

          & > img {
            object-fit: cover;
          }

          ui-image-fallback {
            background-color: var(--bg-shade-color);
          }
        }

        .tab-list {
          display: flex;
          position: relative;
          flex-flow: column wrap;
          column-gap: var(--spacing-24);

          .tab-trigger {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            transition: var(--transition-standard-default-spatial);
            border: none;
            opacity: 0.7;
            background-color: transparent;
            color: inherit;
            font: var(--font-label-md);
            cursor: pointer;

            &:hover {
              opacity: 1;
            }

            &[aria-selected="true"] {
              opacity: 1;
              color: var(--brand-color);
            }

            :dir(rtl) i {
              rotate: 180deg;
            }
          }
        }
      }

      .products-area {
        --per-page: 1;
        --gap: var(--spacing-24);

        flex: 1;

        .tab-content {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-24);

          .tab-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-16);
          }

          .empty-message {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            opacity: 0.4;
          }
        }

        .items {
          display: grid;
          grid-template-columns: repeat(var(--nbr-columns-desktop), 1fr);
          gap: var(--spacing-24);
          align-content: flex-start;
        }
      }
    }

    @media (width <= 1400px) {
      .content {
        .products-area {
          .items {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          }
        }
      }
    }

    @media (width <= 1024px) {
      .content {
        gap: var(--spacing-24);
        row-gap: var(--spacing-40);
      }
    }

    @media (width <= 769px) {
      .content {
        flex-direction: column;

        .sidebar {
          position: relative;
          width: 100%;
        }

        .products-area {
          .items {
            grid-template-columns: repeat(var(--nbr-columns-mobile), 1fr);
          }
        }
      }
    }
  }
}

@layer snippets {
  [ui-block="product-tab"] {
    --bg-shade-color: oklch(from var(--bg-color) calc(l - 0.0225) calc(c + 0.0181) calc(h + 6.6));

    display: flex;
    gap: var(--spacing-16);
    flex-direction: column;
    height: fit-content;

    .media {
      height: auto;
      overflow: hidden;
      border-radius: var(--radius-collection);

      &[data-image-ratio="square"] {
        aspect-ratio: 1 / 1;
      }

      &[data-image-ratio="portrait"] {
        aspect-ratio: 3 / 4;
      }

      &[data-image-ratio="landscape"] {
        aspect-ratio: 4 / 3;
      }

      & > img {
        object-fit: cover;
      }

      ui-image-fallback {
        background-color: var(--bg-shade-color);
      }
    }
  }
}
