@layer sections {
  [ui-section="slideshow"] {
    --per-page: 1;
    --item-size: 100%;

    display: flex;
    flex-direction: column;
    padding-block: var(--top-spacing) var(--bottom-spacing);
    padding-inline: 0;
    gap: var(--spacing-16);
    background-color: var(--bg-color);

    [ui-slot="carousel"] {
      [ui-slot="carousel-item"] {
        position: relative;
        height: max(var(--height), 240px);
        background-color: transparent !important;

        .slide-wrapper {
          display: flex;
          height: 100%;
          gap: var(--spacing-8);
          padding-inline: 10%;

          @media (width <= 1024px) {
            padding-inline: var(--spacing-16);
          }
        }

        .first-img,
        .second-img {
          flex: 1;
          overflow: hidden;
          border-radius: var(--radius-28);

          @media (width <= 769px) {
            display: none;
          }
        }

        .main-content {
          flex: 2;
          order: var(--content-order);
          padding: var(--spacing-24);
          overflow: hidden;
          border-radius: var(--radius-28);
          background-color: var(--slide-bg);
          color: var(--slide-fg);

          [ui-slot="button"] {
            &[data-variant="primary"] {
              --button-bg: var(--fg-color);
              --button-fg: var(--bg-color);
            }

            &[data-variant="neutral"] {
              i {
                transition: transform var(--transition-bouncy-default-effects);
              }

              &:dir(rtl) {
                i {
                  rotate: -180deg;
                }
              }

              &:hover {
                i {
                  transform: translateX(var(--spacing-4));
                }
              }
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: var(--spacing-32);

            .actions {
              display: flex;
              align-items: center;
              gap: var(--spacing-16);
            }

            [ui-slot="head"],
            .actions {
              width: 100%;
            }

            &[data-y-alignment="start"] {
              justify-content: flex-start;
            }

            &[data-y-alignment="center"] {
              justify-content: center;
            }

            &[data-y-alignment="end"] {
              justify-content: flex-end;
            }

            &[data-x-alignment="start"] {
              align-items: flex-start;

              [ui-slot="head"] {
                align-items: flex-start;

                & > * {
                  text-align: start;
                }
              }

              .actions {
                justify-content: flex-start;
              }
            }

            &[data-x-alignment="center"] {
              align-items: center;

              [ui-slot="head"] {
                align-items: center;

                & > * {
                  text-align: center;
                }
              }

              .actions {
                justify-content: center;
              }
            }

            &[data-x-alignment="end"] {
              align-items: flex-end;

              [ui-slot="head"] {
                align-items: flex-end;

                & > * {
                  text-align: end;
                }
              }

              .actions {
                justify-content: flex-end;
              }
            }
          }
        }
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      padding-inline: 10%;

      @media (width <= 1024px) {
        padding-inline: var(--spacing-16);
      }
    }

    .pagination {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: fit-content;

      &:dir(rtl) {
        right: 50%;
        left: auto;
        transform: translateX(50%);
      }

      [ui-carousel="marker"] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        transition: var(--transition-standard-default-spatial);
        border: none;
        background-color: transparent;
        color: var(--color-primary);
        cursor: pointer;

        &::before {
          content: "";
          display: flex;
          width: var(--spacing-8);
          height: var(--spacing-8);
          transition: var(--transition-standard-default-spatial);
          border-radius: var(--radius-rounded);
          background-color: color-mix(in srgb, currentcolor 38%, transparent);
        }

        &[aria-selected="true"] {
          width: var(--spacing-48);

          &::before {
            width: inherit;
            background-color: currentcolor;
          }
        }
      }
    }
  }
}
