@layer sections {
  [ui-section="collections"] {
    --per-page: 2;
    --gap: var(--spacing-32);
    --item-size: 92%;

    display: grid;
    grid-template-columns: 40% auto;
    align-items: flex-start;
    gap: var(--spacing-32);
    padding-block: attr(data-top-spacing px) attr(data-bottom-spacing px) !important;

    .content-area {
      display: grid;
      gap: var(--spacing-16);
      width: 100%;
      padding-inline-end: 8%;

      .actions {
        display: flex;
        justify-content: var(--text-heading-alignment-desktop);
        margin-block-start: var(--spacing-8);
        gap: var(--spacing-24);
      }
    }

    .items-area {
      width: 100%;
      padding-inline-end: 16%;
    }

    @media (width <= 1280px) {
      --per-page: 1;
    }

    @media (width <= 1028px) {
      --per-page: 2;

      gap: var(--spacing-48);
      display: flex;
      flex-direction: column;

      .items-area {
        padding-inline-end: 8%;
      }
    }

    @media (width <= 769px) {
      --per-page: 1;
      --item-size: 84%;

      .content-area {
        padding-inline-end: var(--spacing-24);

        .actions {
          justify-content: var(--text-heading-alignment-mobile);
        }
      }
    }
  }
}
