@use "color" as *;

@layer sections {
  [ui-section="image-banners"] {
    .banners {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-32);

      .image-item {
        display: flex;
        position: relative;
        align-items: flex-end;
        width: 100%;
        height: var(--desktop-height);
        padding: var(--spacing-32);
        overflow: hidden;
        border-radius: var(--radius-card);
        background-color: shade(var(--bg-color));

        [ui-block="image"] {
          position: absolute;
          inset: 0;

          ui-image-fallback {
            color: shade(var(--bg-color), -0.4);
          }

          img {
            object-fit: cover;
          }
        }

        [ui-block="button"] {
          z-index: 1;
          min-width: min(200px, 100%);
        }
      }
    }

    &[data-fullscreen] {
      padding-inline: var(--spacing-16);
    }

    @media (width <= 769px) {
      .banners {
        grid-template-columns: 1fr;

        .image-item {
          height: var(--mobile-height);
          padding: var(--spacing-16);

          [ui-block="button"] {
            z-index: 1;
            width: 100%;
          }
        }
      }
    }
  }
}
