@layer sections {
  [ui-layout="footer"] {
    --card-radius: var(--radius-28);
    --card-spacing: var(--spacing-48);

    display: flex;
    align-items: stretch;
    min-height: 472px;
    padding-block: var(--top-spacing) var(--bottom-spacing);
    padding-inline: 10%;
    background-color: var(--bg-color);
    gap: var(--spacing-24);

    &,
    [ui-slot="link-button"] {
      color: var(--fg-color);
    }

    .brand-card {
      --card-width: 464px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: var(--card-width);
      padding: var(--card-spacing);
      border-radius: var(--card-radius);
      background-color: var(--brand-color);
      color: oklch(clamp(0, (0.6 - var(--brand-lightness)) * 99999, 1) 0 0deg);
      container-type: inline-size;

      .brand-name {
        display: -webkit-box;
        overflow: hidden;
        font-size: clamp(1rem, 10cqw, 64px);
        font-weight: bold;
        line-height: 1;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .social-links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
          font: var(--font-label-lg);
        }

        .links {
          display: flex;
          gap: var(--spacing-16);
        }
      }
    }

    .menu {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--spacing-48);
      padding: var(--card-spacing);
      border-radius: var(--card-radius);
      background-color: oklch(from var(--bg-color) calc(l - 0.0225) calc(c + 0.0181) calc(h + 6.6));

      .groups {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-64);

        .group {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-24);

          .title {
            font: var(--font-label-lg);
          }

          .links {
            display: grid;
            gap: var(--spacing-8);

            .link {
              [ui-slot="link-button"] {
                width: fit-content;
              }
            }
          }
        }
      }

      .copyright {
        opacity: 0.4;
        font: var(--font-label-sm);
      }
    }

    @media (width <= 1024px) {
      flex-direction: column;

      .brand-card {
        --card-width: 100%;

        flex-direction: row;

        .brand-name {
          max-width: 20ch;
          font-size: 32px;
        }

        .social-links {
          .label {
            display: none;
          }
        }
      }
    }

    @media (width <= 769px) {
      padding-inline: var(--spacing-16);

      .menu {
        .groups {
          flex-direction: column;
        }
      }
    }
  }
}
