@layer sections {
  [ui-section="thankyou"] {
    --bg-shade-color: oklch(from var(--bg-color) calc(l - 0.0225) calc(c + 0.0181) calc(h + 6.6));

    display: grid;
    grid-template-columns: 1fr minmax(0, 460px);
    gap: var(--spacing-64);
    padding: var(--top-spacing) 10% var(--bottom-spacing);
    background-color: var(--bg-color);
    color: var(--fg-color);

    .content-area {
      display: flex;
      gap: var(--spacing-16);
      flex-direction: column;

      .heading {
        font: var(--font-heading-xl);
      }

      .description {
        font: var(--font-body-md);
        text-wrap: balance;
      }

      [ui-slot="button"] {
        max-width: 240px;
        margin-block-start: var(--spacing-24);
      }
    }

    .order-summary-area {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);

      .statuses {
        display: grid;
        gap: var(--spacing-16);
        padding: var(--spacing-32);
        border-radius: var(--radius-20);
        background-color: var(--bg-shade-color);

        .item {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          [ui-slot="label"] {
            font: var(--font-label-sm);
          }

          .value {
            font: var(--font-body-sm);
          }
        }
      }

      .products {
        display: flex;
        flex-direction: column;
        border-radius: var(--radius-20);
        gap: var(--spacing-32);

        .product {
          display: flex;
          justify-content: space-between;
          gap: var(--spacing-12);

          .media {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: var(--radius-12);

            & > img {
              object-fit: cover;
            }

            ui-image-fallback {
              background-color: var(--bg-shade-color);
            }
          }

          .content {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: var(--spacing-8);

            .title {
              justify-content: flex-start;
              width: fit-content;
              overflow: hidden;
              color: inherit;
              font: var(--font-label-sm);
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .count {
              font: var(--font-body-xs);
            }
          }

          .price {
            font: var(--font-label-sm);
          }
        }
      }

      .summary {
        display: grid;
        gap: var(--spacing-16);
        padding: var(--spacing-32);
        border-radius: var(--radius-20);
        background-color: var(--bg-shade-color);

        .item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          [ui-slot="label"],
          .value {
            font: var(--font-body-sm);
          }

          &:last-child {
            [ui-slot="label"],
            .value {
              font: var(--font-label-sm);
            }
          }
        }
      }
    }

    @media (width <= 1024px) {
      display: flex;
      flex-direction: column;
      padding-inline: var(--spacing-16);
    }

    @media (width <= 769px) {
      .content-area {
        text-align: center;

        .heading {
          font: var(--font-heading-lg);
        }

        [ui-slot="button"] {
          margin-inline: auto;
        }
      }
    }
  }
}
