@import 'helpers/mixins';

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 478px;
  height: 100%;
  background: #ffffff;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  &.open {
    right: 0;
  }

  .empty-cart {
    padding: 30px 24px;
    font-size: 15px;
    font-weight: 700;
  }

  .cart-drawer__close {
    position: absolute;
    top: 14px;
    left: 13px;
    background-color: transparent;
    border: none;
    font-size: 28px;
    z-index: 1000;
    color: #9b9b9b;

    [dir='ltr'] & {
      left: unset;
      right: 13px;
    }
  }

  .header {
    display: flex;
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 0.5px solid #adadad;

    .cart {
      font-weight: 700;
      font-size: 22px;
      display: flex;
      gap: 12px;
      align-items: center;

      span {
        font-weight: 400;
        font-size: 15px;
        color: #9b9b9b;
      }
    }
  }

  .footer {
    background-color: rgba(var(--yc-primary-color-rgb), 0.04);
    position: absolute;
    bottom: 0;
    padding: 26px 24px;
    width: 100%;

    .price-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;

      .total-price {
        font-weight: 400;
        font-size: 16px;
      }

      .currency-value {
        font-weight: 600;
        font-size: 16px;
      }

      .currency-code {
        font-weight: 700;
      }
    }

    a {
      margin-top: 16px;
    }

    .cart-action {
      border: 1px solid var(--yc-primary-color);
      padding: 0 2rem;
      transition: all 0.15s ease-in-out 0s;
      letter-spacing: 1px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 43px;
      color: #9b9b9b;
    }

    @include max-screen('md') {
      padding: 16px;
    }
  }

  .cart-drawer__content {
    max-height: calc(100% - 196px);
    overflow-y: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 32px;

    .cart-item {
      border-bottom: 1px solid #e1e1e1;

      img {
        border-radius: 6px;
        border: 1px solid #f5f5f5;
        width: 81px;
        height: 81px;
        object-fit: cover;
      }

      .item-body {
        display: flex;
        gap: 16px;
        padding-bottom: 12px;
        position: relative;
        border-radius: 4px;

        .right-items {
          display: flex;
          gap: 14px;
          width: 70%;
        }

        .left-items {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: end;

          .product-price {
            display: flex;
            flex-direction: column-reverse;
            color: var(--yc-primary-color);

            .price,
            .currency-code {
              font-weight: 700;
            }

            .compare-price {
              font-weight: 400;
              font-size: 13px;
              text-decoration-line: line-through;
              color: #8d8d8d;
            }
          }

          .currency-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }

        @include max-screen('md') {
          padding: 20px 6px;

          .price,
          .currency-code {
            font-size: 14px;
          }
        }
      }

      .remove-item-btn,
      .spinner {
        margin-top: 10px;
        color: #9b9b9b;
      }

      .remove-item-btn {
        font-size: 23px;
      }

      .item-details {
        margin-top: 4px;
        max-width: 195px;

        .product-name {
          font-weight: 600;
          font-size: 16px;
          line-height: 17px;
          color: var(--yc-primary-color);
          word-break: break-all;
          white-space: normal;
        }

        .variants {
          display: flex;
          flex-wrap: wrap;
          row-gap: 8px;
          column-gap: 16px;
          margin-top: 12px;

          .variant {
            font-weight: 400;
            font-size: 13px;
          }
        }
      }

      .quantity-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        padding: 0 10px;
        background-color: #fff;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input {
          width: 55px;
          text-align: center;
          border: none;
          padding: 0;
          font-weight: 700;
          font-size: 16px;
          color: black;
        }

        .decrease-btn,
        .increase-btn {
          background-color: transparent;
          border: none;
          font-size: 18px;
          font-weight: 700;
          color: #b7b7b7;
          cursor: pointer;
          transition: all 200ms ease-in-out;

          &:active {
            scale: 1.5;
          }
        }

        @include max-screen('md') {
          padding: 0 5px;

          input {
            width: 46px;
          }
        }
      }
    }

    @include max-screen('md') {
      margin: 0 10px;
      padding: 0px;
    }
  }

  @include max-screen('md') {
    width: 300px;
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  visibility: hidden;
}

.cart-overlay.open {
  visibility: visible;
  opacity: 1;
}
