@import 'helpers/mixins';

.splide {
  height: var(--mobile-height);

  @include breakpoint('md') {
    height: var(--desktop-height);
  }

  .splide__arrow {
    margin: 0 100px;
  }

  .splide__pagination {
    bottom: 62px;

    .splide__pagination__page {
      transform: none;
      width: 28px;
      border-radius: 6px;
      height: 3px;
      opacity: 1;
      background-color: rgba(white, 0.4);

      &.is-active {
        background-color: white;
      }
    }
  }
}

.yc-slider__desktop {
  display: none;

  @include breakpoint('md') {
    display: block;
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 250px;
    text-align: var(--alignment);

    .headers {
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    @for $i from 1 through 3 {
      h#{$i} {
        font-size: calc(3rem / $i);
        @extend .headers;
      }
    }

    p {
      margin-top: 1rem;
    }

    .btn-holder {
      margin-top: 1em;
      text-align: var(--alignment);

      a {
        display: inline-flex;
      }
    }
  }
}
