@import 'helpers/mixins';

.sticky-form-wrapper {
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;

  @include breakpoint('md') {
    border-width: 6px;
  }

  .express-checkout-title {
    padding-top: 24px;
  }

  #express-checkout-form {
    border: none;
    padding: 0;
  }

  .express-checkout-fields {
    border: none;
    padding: 0 16px;
    overflow-y: scroll;
    max-height: 276px;
  }

  .form-button {
    padding: 0 16px 24px 16px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .sticky-form-button {
      width: 100%;
      padding: 0 16px;
      margin-bottom: 24px;
    }
  }
}

#express-checkout-form {
  @include breakpoint('md') {
    border-width: 6px;
    border-style: solid;
    background: #F8F8F8;
    border-radius: 4px;
    padding: 20px;
    grid-gap: 18px;
  }

  * {
    font-family: var(--yc-font-family);
  }
}

.express-checkout-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;
  padding: 10px;

  @include breakpoint('md') {
    padding: unset;
  }

  .phone-fieldset {
    display: flex;

    .phone-countries-wrapper {
      position: relative;
      width: 30%;
      line-height: 100%;

      .phone-code {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;

        &::after {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          border-right: 1px solid currentColor;
          border-bottom: 1px solid currentColor;
          transform: rotate(45deg);
        }
      }

      .phone-select-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        opacity: 0;
        cursor: pointer;
        border: none !important;
        padding: unset !important;
      }
    }

    .phone-number {
      border: none !important;
      direction: inherit;
    }
  }
}

.express-checkout-title {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #333;
}

.express-checkout-button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  span {
    font-family: inherit;
    font-weight: inherit;

  }

  .spinner {
    width: 24px;
    height: 24px;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.yc-sticky-checkout {
  visibility: hidden;
  position: fixed;
  transform: translateY(100%);
  transition: 0.3s ease;
  transition-property: all;
  will-change: transform, opacity;
  z-index: 1001;
  width: 100%;
  min-height: max-content;
  max-height: 70vh;
  background-color: white;
  left: 0;
  bottom: 0;
  padding-bottom: 0;

  @include breakpoint('md') {
    max-height: 54vh;
  }

  .spacer {
    margin-top: 20px;
  }

  .cta-bottom-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 16px 20px;
    background-color: white;
    border-top: 1px solid #EBEBEB;
  }

  .step-2-wrapper {
    padding: 20px 20px 0 20px;
    margin-bottom: 75px;

    @include breakpoint('md') {
      width: 100%;
      padding: unset;
      max-width: 940px;
      padding: 0 20px;
      margin: 0 auto 37px auto;
    }

    .close-icon {
      display: block;
    }
  }

  .step_1, .step_2 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #checkout_step_1, #checkout_step_2 {
    animation: slideFromBottom 0.2s ease-in-out;
    will-change: transform;
  }

  .close-icon {
    background: white;
    color: #C8C8C8;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 4px 4px 0 0;

    @include breakpoint('md') {
      left: unset;
      transform: unset;
      bottom: unset;
      top: 8px;
      right: 20px;
    }
  }

  .sticky-desktop-wrapper {
    .checkout-form {
      width: 100%;
    }

    @include breakpoint('md') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
      gap: 37px;
      margin-top: 37px;

      .checkout-form {
        padding-bottom: 0;
      }
    }
  }
}
