@import 'helpers/mixins';

.thankyou-page-container {
  max-width: 557px;
  width: 100%;
  margin: 32px auto;

  @include max-screen('md') {
    padding: 0 16px;
  }

  @include breakpoint('md') {
    margin: 100px auto 32px;
  }

  .thankyou-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      @include breakpoint('md') {
        margin-bottom: 80px;
      }

      .heading {
        text-align: center;
        line-height: 32px;

        .title {
          display: block;
          font-size: 20px;

          @include breakpoint('md') {
            font-size: 24px;
          }
        }
      }

      .icon, img {
        width: 66px;
        color: #8DC447;
        height: 66px;
        margin-bottom: 16px;
        object-fit: contain;
      }

      .description {
        font-size: 12px;
        margin-top: 11px;
        text-align: center;
        font-weight: 400;
        line-height: 150%;

        @include breakpoint('md') {
          font-size: 18px;
        }
      }

    }
  }

  .cart-result-section {
    .title {
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
      text-align: center;

      @include breakpoint('md') {
        font-size: 24px;
      }
    }

    .cart-items {
      border: 1px solid #E6E6E6;
      border-bottom: none;
      border-radius: 5px 5px 0 0;

      .product-list {
        display: grid;
        gap: 10px;
        padding: 16px;
        max-height: 254px;
        overflow-y: scroll;

        @include breakpoint('md') {
          gap: 16px;
          padding: 24px;
          max-height: 354px;
        }

        .product-item {
          display: flex;
          gap: 20px;

          @include breakpoint('md') {
            gap: 30px;
          }

          .product-image {
            width: 66px;
            height: 62px;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            object-fit: contain;
            flex-shrink: 0;

            @include breakpoint('md') {
              width: 97px;
              height: 91px;
            }
          }

          .product-details {
            & * {
              font-weight: 400;
              line-height: normal;
            }

            .product-name {
              display: block;
              color: var(--yc-primary-color);
              font-size: 12px;
              margin-bottom: 10px;

              &:hover {
                text-decoration: underline;
              }

              @include breakpoint('md') {
                font-size: 16px;
                margin-bottom: 10px;
              }
            }

            .product-variations {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;
              font-size: 10px;
              color: #757575;

              @include breakpoint('md') {
                gap: 12px;
                font-size: 14px;
              }
            }

            .product-price {
              display: block;
              color: var(--yc-primary-color);
              font-size: 12px;
              margin-top: 5px;

              @include breakpoint('md') {
                margin-top: 8px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .order-details {
      border: 1px solid #E6E6E6;
      padding: 16px;
      border-radius: 0 0 5px 5px;
      background-color: #FAFAFA;

      @include breakpoint('md') {
        padding: 24px;
      }

      .data-listing {
        display: grid;
        gap: 16px;

        @include breakpoint('md') {
          gap: 24px;
        }

        .data-item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-size: 10px;
            font-weight: 400;
            line-height: normal;
            color: #757575;

            @include breakpoint('md') {
              font-size: 14px;
            }
          }

          .coupon-wrapper {
            display: flex;
            gap: 5px;

            .coupon-data {
              display: inherit;
              gap: inherit;

              & * {
                font-size: 14px;
                font-weight: 400;
              }
            }

            .coupon-discount {
              display: inline-flex;
              gap: 4px;

              &::before {
                content: "-";
              }

              &:dir(rtl) {
                flex-direction: row-reverse;
              }
            }
          }
        }
      }

      .total-price {
        display: flex;
        justify-content: space-between;
        margin-top: 17px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        padding: 10px 0;

        @include breakpoint('md') {
          margin-top: 26px;
          padding: 16px 0;
        }

        span {
          font-weight: 400;
          line-height: normal;
          font-size: 10px;

          @include breakpoint('md') {
            font-size: 16px;
          }
        }
      }
    }
  }

  .home-page {
    margin-top: 20px;

    @include breakpoint('md') {
      margin-top: 30px;
    }
  }
}
