@layer snippets {
  [ui-block="collection"] {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--radius-collection);
    box-shadow: var(--shadow-lg);

    .media {
      height: 35vh;

      & > img {
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      gap: var(--spacing-14);
      justify-content: space-between;
      padding: var(--spacing-24);
      background-color: var(--color-surface-container-lowest);

      .info {
        display: grid;
        gap: var(--spacing-8);

        .title {
          font: var(--font-title-md);
        }

        .total {
          color: var(--color-on-surface-variant);
        }
      }
    }
  }

  @media (width <= 769px) {
    [ui-block="collection"] {
      .media {
        height: 30vh;
      }
    }
  }
}
