[ui-block="collection"] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  .media {
    height: 20vh;
    overflow: hidden;
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-12);

    & > img {
      object-fit: cover;
    }
  }

  .title {
    margin-inline: var(--spacing-2);
    font: var(--font-title-lg);
  }
}

@media (width <= 769px) {
  [ui-block="collection"] {
    .media {
      height: 15vh;
    }

    .title {
      font: var(--font-title-md);
    }
  }
}
