ui-express-checkout {
  display: grid;
  gap: var(--spacing-12);

  ui-linked-fields {
    display: grid;
    gap: var(--spacing-12);
  }

  [ui-express-checkout="field"] {
    display: grid;
    gap: var(--spacing-8);
  }
}
