@layer snippets {
  ui-cart-form {
    flex: 1;

    ui-cart-drawer-items {
      display: flex;
      gap: var(--spacing-24);
      flex-direction: column;

      .item {
        display: flex;
        gap: var(--spacing-16);

        .image {
          position: relative;
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: var(--radius-12);
          background-color: var(--color-surface-container);

          img {
            object-fit: cover;
          }
        }

        .content {
          display: flex;
          flex: 2;
          justify-content: space-between;

          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bio {
              display: grid;
              gap: var(--spacing-8);

              .title {
                font: var(--font-body-lg);
              }

              .variants {
                color: var(--color-on-surface-variant);
                font: var(--font-body-sm);
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }

    .collections {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
      width: 100%;

      .collection {
        display: flex;
        align-items: center;
        padding: var(--spacing-16);
        border-radius: var(--radius-16);
        gap: var(--spacing-12);
        background-color: var(--color-surface-container-low);

        .image {
          width: var(--spacing-64);
          height: var(--spacing-64);
          overflow: hidden;
          border-radius: var(--radius-12);

          & > img {
            object-fit: cover;
          }
        }

        .name {
          flex: 1;
        }
      }
    }

    &:has(ui-empty:not([hidden])) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-48);
    }

    &:has(ui-empty[hidden]) {
      .collections {
        display: none;
      }
    }
  }
}
