ui-express-checkout {
  display: grid;
  gap: var(--spacing-12);

  ui-linked-fields {
    display: grid;
    gap: var(--spacing-12);
  }

  [ui-express-checkout="field"] {
    display: grid;
    gap: var(--spacing-8);
  }

  @media (width > 769px) {
    grid-template-columns: repeat(2, 1fr);

    & > *:last-child {
      grid-column: 1 / 3;
    }
  }
}

#express-checkout[popover] {
  [ui-slot="drawer-footer"] {
    .label,
    .value {
      font: var(--font-title-lg);
    }

    .value {
      display: flex;
      justify-content: flex-end;
    }

    .description {
      grid-column: 1 / 3;
      color: var(--color-on-surface-variant);
    }

    ui-shop-button {
      grid-column: 1 / 3;
    }
  }

  @media (width > 769px) {
    [ui-slot="drawer-body"],
    [ui-slot="drawer-footer"] {
      margin-inline: 25%;
    }
  }
}
