@layer snippets {
  ui-express-checkout {
    display: grid;
    gap: var(--spacing-12);

    ui-linked-fields {
      display: grid;
      gap: var(--spacing-12);
    }

    [ui-express-checkout="field"] {
      display: grid;
      gap: var(--spacing-8);
    }

    @media (width > 769px) {
      grid-template-columns: repeat(2, 1fr);

      & > *:last-child {
        grid-column: 1 / 3;
      }
    }
  }

  .express-checkout-default {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);

    .actions {
      display: grid;
      gap: var(--spacing-12);
      grid-template-columns: min-content auto;

      &:has(> ui-shop-button:nth-of-type(2)) {
        & > ui-shop-button:last-of-type {
          grid-column: 1 / 3;
        }
      }
    }
  }

  .express-checkout-drawer {
    [ui-slot="sheet-body"] {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing-16) + var(--spacing-4));

      .order-box {
        display: grid;
        gap: var(--spacing-8);

        .order {
          display: flex;
          gap: var(--spacing-16);

          .image {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: var(--radius-12);

            & > img {
              object-fit: cover;
            }
          }

          .detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-block: var(--spacing-4);

            .info {
              display: grid;
              gap: var(--spacing-4);

              .price {
                color: var(--color-primary);
                font: var(--font-body-lg);
              }
            }
          }
        }
      }
    }

    [ui-slot="sheet-footer"] {
      ui-quantity {
        display: none;
      }
    }
  }
}
