ui-dev-toolbar {
  [data-dev-toolbar="highlight"] {
    position: fixed;
    padding: var(--spacing-4);
    transition: var(--transition-standard-fast-spatial);
    border: 1px dashed currentcolor;
    background-color: color-mix(in srgb, currentcolor 15%, transparent);
    color: var(--color-primary);
    pointer-events: none;

    > div {
      display: flex;
      position: fixed;
      align-items: center;
      width: fit-content;
      padding: var(--spacing-2) var(--spacing-8);
      transition: var(--transition-standard-fast-spatial);
      border: 1px dashed currentcolor;
      background-color: var(--color-primary-container);
      color: inherit;
      font: var(--font-body-sm);
      font-weight: 500;
      gap: var(--spacing-4);
    }
  }

  &[is-global] {
    [data-dev-toolbar="highlight"][data-liquid-element="true"] {
      color: var(--color-error);

      > div {
        background-color: var(--color-error-container);
      }
    }
  }

  .toolbar {
    position: fixed;
    bottom: var(--spacing-24);
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius-rounded);

    i {
      color: var(--color-primary);
    }
  }

  [ui-slot="modal-content"]#structure {
    [ui-slot="modal-body"] {
      max-height: 400px;
      overflow: auto;

      .tree {
        display: grid;

        .section {
          display: flex;
          gap: var(--spacing-6);
          margin-block-end: var(--spacing-12);

          [ui-slot="button"] {
            &:last-child {
              justify-content: flex-start;
              width: 100%;

              > i {
                color: var(--color-primary);
                font-size: 16px;
              }
            }

            &:first-child {
              position: relative;

              & > i {
                transition: var(--transition-standard-fast-spatial);
              }

              & > input[type="checkbox"] {
                position: absolute;
                scale: 0;
                opacity: 0;

                &:checked + i {
                  rotate: 90deg;
                }
              }
            }
          }

          &:has(input[type="checkbox"]:checked) {
            + .blocks-wrapper {
              grid-template-rows: 1fr !important;

              &:not(:last-child) {
                margin-block-end: var(--spacing-12);
              }
            }
          }

          &:has(+ :is(.section)),
          &:last-child {
            [ui-slot="button"]:first-child {
              visibility: hidden;
            }
          }
        }

        .blocks-wrapper {
          display: grid;
          grid-template-rows: 0fr;
          transition: var(--transition-standard-fast-spatial);

          .blocks {
            display: grid;
            position: relative;
            margin-inline-start: 38px;
            padding-inline-start: 20px;
            gap: var(--spacing-6);
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              width: 1px;
              height: 76%;
              background-color: var(--color-surface-variant);
              inset: 0;
            }

            .block {
              position: relative;

              [ui-slot="button"] {
                justify-content: flex-start;
                width: 100%;

                > i {
                  color: var(--color-primary);
                  font-size: 16px;
                }
              }

              &:last-child::before {
                content: "";
                position: absolute;
                top: 35%;
                left: -21px;
                width: 23px;
                height: 1px;
                transform: translateY(-50%) rotate(25deg);
                background-color: var(--color-surface-variant);
              }
            }
          }
        }
      }
    }
  }

  [ui-slot="modal-content"]#settings {
    [ui-slot="modal-body"] {
      display: grid;
      gap: var(--spacing-16);

      fieldset {
        display: grid;
        border: none;
        gap: var(--spacing-8);

        [ui-slot="label"] {
          color: var(--color-on-surface-variant);
        }

        .brand-color {
          justify-content: flex-start;

          & > input[type="color"] {
            width: 20px;
            height: 20px;
            margin-inline: calc(var(--spacing-4) * -1);
            border: none;
            border-radius: var(--radius-4);
            appearance: none;

            &::-webkit-color-swatch-wrapper {
              padding: 0;
            }

            &::-webkit-color-swatch {
              border: none;
              outline: none;
            }
          }
        }

        .theme-options {
          display: flex;
          gap: var(--spacing-12);

          .theme {
            display: grid;
            gap: var(--spacing-8);
            position: relative;
            cursor: pointer;

            > input[type="radio"] {
              position: absolute;
              scale: 0;
              opacity: 0;
            }

            .label {
              margin-inline: var(--spacing-2);
              font: var(--font-body-sm);
            }

            .icon {
              width: var(--spacing-64);
              height: var(--spacing-48);
              overflow: hidden;
              border: 1px solid var(--color-surface-variant);
              border-radius: var(--radius-8);
              background-color: var(--color-surface-container-low);

              span {
                display: flex;
                height: 100%;
                margin-block-start: var(--spacing-12);
                margin-inline-start: var(--spacing-12);
                padding-block-start: var(--spacing-4);
                padding-inline-start: var(--spacing-4);
                border-block-start: 1px solid var(--color-surface-variant);
                border-inline-start: 1px solid var(--color-surface-variant);
                background-color: var(--color-surface);
                color: var(--color-on-surface);
                border-start-start-radius: var(--radius-8);
              }
            }

            &:last-child {
              .icon {
                background-color: var(--color-surface-container-highest);

                span {
                  background-color: var(--color-on-surface);
                  color: color-mix(
                    in srgb,
                    var(--color-surface) 60%,
                    transparent
                  );
                }
              }
            }

            &:has(input[type="radio"]:checked) {
              .icon {
                border-color: var(--color-on-surface);
              }
            }
          }
        }
      }
    }
  }
}
