@use "./base/tokens.scss";
@use "./base/colors.scss";
@use "./components/index.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font: var(--font-body-md);

  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    & > main {
      flex: 2;

      [ui-section] {
        padding: calc(var(--spacing-64) + var(--spacing-16)) 8%;

        &[ui-section="slideshow"] {
          padding: var(--spacing-24) var(--spacing-0);
        }

        &[ui-section="product-showcase"] {
          padding-inline: var(--spacing-0);
        }

        &[ui-section="collections"] {
          padding-inline-end: var(--spacing-0) !important;
        }
      }

      @media (width <= 769px) {
        [ui-section] {
          padding-inline: var(--spacing-24) !important;
        }
      }
    }
  }

  &:has([popover]:popover-open) {
    &::before {
      content: "";
      position: fixed;
      z-index: 50;
      inset: 0;
    }
  }
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

[hidden] {
  display: none !important;
}
