@layer snippets {
  ui-sort {
    .options {
      display: flex;
      flex-direction: column;

      .opt {
        justify-content: flex-start;

        input[type="radio"] {
          pointer-events: none;
        }
      }
    }
  }
}
