@layer snippets {
  ui-empty {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    text-align: center;

    .heading {
      font: var(--font-body-md);
    }

    .subheading {
      color: var(--color-on-surface-variant);
      font: var(--font-body-sm);
    }
  }
}
