@layer snippets {
  #search[popover] {
    [ui-slot="sheet-body"] {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);

      .terms {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);

        .label {
          font: var(--font-body-lg);
        }

        .options {
          display: flex;
          flex-wrap: wrap;
          gap: var(--spacing-24);
        }
      }

      .products {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);

        .label {
          font: var(--font-body-lg);
        }

        .items {
          display: grid;
          gap: var(--spacing-16);

          .item {
            display: flex;
            gap: var(--spacing-16);
            align-items: center;

            .media {
              width: 100px;
              height: 100px;
              overflow: hidden;
              border-radius: var(--radius-12);

              & > img {
                object-fit: cover;
              }
            }

            .content {
              display: flex;
              flex-direction: column;
              gap: var(--spacing-8);

              .title {
                font: var(--font-body-lg);
              }

              .price {
                font: var(--font-title-md);
              }
            }
          }
        }
      }
    }
  }
}
