.product-drawer {
  [ui-slot="sheet-body"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding-block-end: calc(var(--spacing-16) + var(--spacing-4));

    .media-area {
      --per-page: 1;
      --item-size: 100%;
      --gap: var(--spacing-8);

      display: grid;
      gap: var(--spacing-12);

      &:has(.images .image:nth-child(2)) {
        --item-size: 92%;
      }

      .images {
        height: 38vh;

        .image {
          overflow: hidden;
          border-radius: var(--radius-20);

          & > img {
            object-fit: cover;
          }
        }
      }

      .markers {
        justify-content: center;

        [ui-carousel="marker"] {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          transition: var(--transition-standard-default-spatial);
          border: none;
          background-color: transparent;
          color: var(--color-primary);
          cursor: pointer;

          &::before {
            content: "";
            display: flex;
            width: var(--spacing-8);
            height: var(--spacing-8);
            transition: var(--transition-standard-default-spatial);
            border-radius: var(--radius-rounded);
            background-color: color-mix(in srgb, currentcolor 38%, transparent);
          }

          &[aria-selected="true"] {
            width: var(--spacing-48);

            &::before {
              width: inherit;
              background-color: currentcolor;
            }
          }
        }
      }
    }

    .content-area {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);

      [ui-block="title"] {
        font: var(--font-headline-lg);
      }

      [ui-block="rating"] {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
      }

      [ui-block="price"] {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
        font: var(--font-title-lg);

        .compare-at-price {
          opacity: 0.5;
          text-decoration: line-through;
        }
      }

      [ui-block="controller"] {
        display: grid;
        gap: var(--spacing-12);
        grid-template-columns: min-content auto;

        &:has(ui-shop-button) {
          & > [ui-slot="button"]:last-of-type {
            grid-column: 1 / 3;
          }
        }
      }

      img,
      iframe {
        max-width: 100%;
      }

      @media (width <= 769px) {
        [ui-block="title"] {
          font: var(--font-headline-sm);
        }

        [ui-block="price"] {
          font: var(--font-title-md);
        }
      }
    }
  }

  [ui-slot="sheet-footer"] {
    grid-template-columns: 1fr !important;
    padding: var(--spacing-0) !important;
    background-color: inherit;
    border-block-start: 1px solid var(--color-surface-variant);

    & > [ui-slot="button"] {
      justify-content: space-between !important;
      height: auto !important;
      padding: calc(var(--spacing-16) + var(--spacing-4)) !important;
      border-radius: var(--radius-0) !important;
    }
  }
}
