@layer snippets {
  ui-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--spacing-16);

    .heading {
      font: var(--font-headline-lg);
    }

    .subheading {
      color: var(--color-on-surface-variant);
      font: var(--font-body-lg);
    }

    [ui-slot="button"] {
      width: fit-content;
      margin-block-start: var(--spacing-8);
    }
  }
}
