@layer reset, base, components, utilities, sections, snippets, overrides;

@layer snippets {
  ui-sort {
    .options {
      display: flex;
      flex-direction: column;

      .opt {
        justify-content: flex-start !important;

        input[type="radio"] {
          pointer-events: none;
        }
      }
    }
  }
}
