@layer snippets {
  ui-toast {
    inset: auto;
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: 50;
    left: 50%;
    align-items: center;
    min-width: 300px;
    max-width: calc(100vw - var(--spacing-48));
    padding: var(--spacing-6);
    padding-inline-start: var(--spacing-12);
    transform: translateX(-50%);
    transition: var(--transition-expressive-default-spatial);
    border: none;
    border-radius: var(--radius-toast);
    opacity: 0;
    background-color: var(--color-toast-container);
    box-shadow: var(--shadow-lg);
    color: var(--color-on-toast-container);
    gap: var(--spacing-12);
    inset-block-end: -5%;

    &[data-type="success"] {
      --color-toast: var(--color-success);
      --color-toast-container: var(--color-success-container);
      --color-on-toast-container: var(--color-on-success-container);
    }

    &[data-type="error"] {
      --color-toast: var(--color-error);
      --color-toast-container: var(--color-error-container);
      --color-on-toast-container: var(--color-on-error-container);
    }

    &[data-type="info"] {
      --color-toast: var(--color-info);
      --color-toast-container: var(--color-info-container);
      --color-on-toast-container: var(--color-on-info-container);
    }

    &[data-type="warning"] {
      --color-toast: var(--color-warning);
      --color-toast-container: var(--color-warning-container);
      --color-on-toast-container: var(--color-on-warning-container);
    }

    & > hr {
      width: 1px;
      height: 16px;
      border: none;
      opacity: 0.3;
      background-color: currentcolor;
    }

    [ui-toast="icon"] {
      width: 20px;
      height: 20px;
      margin-inline: calc(var(--spacing-4) * -1);
      border-radius: var(--radius-toast);
      background: linear-gradient(135deg, var(--color-toast), var(--color-toast-container));
    }

    [ui-toast="message"] {
      flex: 2;
      width: max-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    [ui-toast="action"] {
      border-radius: var(--radius-toast) !important;
    }

    /* State */
    &:popover-open {
      visibility: visible;
      opacity: 1;
      inset-block-end: var(--spacing-12);

      @starting-style {
        visibility: hidden;
        opacity: 0;
        inset-block-end: -5%;
      }
    }

    @media (width <= 769px) {
      width: calc(100vw - var(--spacing-48));
    }
  }
}
