.cart-drawer {
  & > *:first-child {
    position: relative;

    [ui-slot="badge"] {
      position: absolute;
      inset-block-end: -25%;
      inset-inline-end: -25%;
    }
  }

  #cart[popover] {
    [ui-slot="sheet-body"] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font: var(--font-title-md);

        .label {
          color: var(--color-on-surface-variant);
        }

        .value {
          color: var(--color-primary);
        }
      }
    }
  }
}
