[ui-section="announcement-bar"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--spacing-32) + var(--spacing-8));
  padding-inline: var(--spacing-24);
  background-color: var(--color-on-background);
  color: var(--color-background);
  gap: var(--spacing-12);

  & > .arrow {
    color: inherit;
  }

  & > .items {
    text-align: center;

    .item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
