@layer sections {
  [ui-section="faqs"] {
    gap: var(--spacing-32);
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;

    &[data-orientation="vertical"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .items-area {
        width: 50%;
      }
    }

    &[data-orientation="horizontal"] {
      display: grid;
      grid-template-columns: 40% auto;
      align-items: flex-start;
    }

    .content-area {
      display: grid;
      gap: var(--spacing-16);

      .cta {
        width: fit-content;
        min-width: 180px;
        margin-block-start: var(--spacing-8);
      }
    }

    @media (width <= 1028px) {
      &[data-orientation] {
        gap: var(--spacing-48);
        display: flex;
        flex-direction: column-reverse;

        .items-area {
          width: 100%;
        }
      }
    }
  }
}
