ui-upsell {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);

  .head {
    display: grid;
    gap: var(--spacing-12);

    .title {
      font: var(--font-title-lg);
    }

    .options {
      display: flex;
      gap: var(--spacing-8);

      [ui-slot="button"] {
        width: 150px;
      }
    }
  }
}
