[ui-section="slideshow"] {
  --per-page: 1;
  --gap: var(--spacing-32);
  --item-size: 92%;

  [ui-slot="carousel"] {
    padding-inline: 8%;

    [ui-slot="carousel-item"] {
      position: relative;

      .media {
        height: 70vh;
        border-radius: var(--radius-20);
      }

      .content {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: var(--spacing-16);
        inset: 0;
        padding: var(--spacing-64);

        .subheading {
          font: var(--font-body-lg);
        }

        .heading {
          font: var(--font-display-md);
          text-wrap: balance;
        }

        .cta {
          width: fit-content;
          min-width: 180px;
          margin-block-start: var(--spacing-24);
        }
      }
    }
  }

  @media (width <= 769px) {
    --item-size: 100%;

    [ui-slot="carousel"] {
      padding-inline: var(--spacing-0);

      [ui-slot="carousel-item"] {
        .media {
          height: 40vh;
        }

        .content {
          position: static;
          align-items: center;
          height: auto;
          padding: var(--spacing-48) 0 0 0;
          text-align: center;

          .heading {
            font: var(--font-headline-lg);
          }
        }
      }
    }
  }
}
