@layer sections {
  [ui-layout="footer"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px);
    border-block-start: 1px solid var(--color-surface-variant);

    .main-area {
      display: flex;
      gap: var(--spacing-48);
      justify-content: space-between;

      .logo {
        .name {
          font: var(--font-title-md);
          text-transform: uppercase;
        }

        a:has(img) {
          display: flex;

          img {
            object-fit: contain;

            @media (width <= 769px) {
              width: attr(data-mobile-width px);
            }
          }
        }
      }

      .groups {
        display: flex;
        gap: var(--spacing-48);

        .group {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-24);

          .title {
            font: var(--font-body-lg);
          }

          .links {
            display: grid;
            gap: var(--spacing-8);
          }
        }
      }
    }

    .secondary-area {
      display: flex;
      align-items: center;
      gap: var(--spacing-48);
      justify-content: space-between;

      &:not(:has(.social-links)) {
        justify-content: center;
      }

      .copyright {
        color: var(--color-on-surface-variant);
      }

      .social-links {
        display: flex;
      }
    }

    @media (width <= 1024px) {
      .main-area {
        flex-direction: column;

        .groups {
          flex-wrap: wrap;
        }
      }
    }

    @media (width <= 769px) {
      padding: var(--spacing-24);

      .main-area {
        .groups {
          flex-direction: column;
        }
      }

      .secondary-area {
        gap: var(--spacing-16);
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
