[ui-section="list-collections"] {
  display: flex;
  gap: var(--spacing-64);
  flex-direction: column;

  .head-area {
    display: grid;
    justify-content: center;
    gap: var(--spacing-16);
    text-align: center;

    .heading {
      font: var(--font-display-md);
    }

    .description {
      color: var(--color-on-surface-variant);
      font: var(--font-body-lg);
      text-wrap: balance;
    }
  }

  .core-area {
    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing-32);
    }
  }

  @media (width <= 1280px) {
    .core-area {
      .items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media (width <= 1024px) {
    .core-area {
      .items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (width <= 769px) {
    gap: var(--spacing-48);

    .head-area {
      .heading {
        font: var(--font-headline-lg);
      }
    }

    .core-area {
      .items {
        grid-template-columns: 1fr;
      }
    }
  }
}
