[ui-section="reviews"] {
  display: grid;
  gap: var(--spacing-32);

  [ui-slot="head"] {
    .overview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-16);
      margin-block-start: var(--spacing-16);

      .rating {
        display: flex;
        align-items: center;
        gap: var(--spacing-16);

        .total {
          font: var(--font-display-md);
        }

        .stars {
          display: grid;
          text-align: start;
          gap: var(--spacing-4);
        }
      }

      .states {
        display: grid;
        gap: var(--spacing-8);
        width: 380px;

        .state {
          display: flex;
          align-items: center;
          gap: var(--spacing-8);

          svg {
            color: #f6b51e;
          }

          span {
            width: 10px;
          }

          progress {
            width: 100%;
          }
        }
      }
    }
  }

  .items {
    display: grid;
    gap: var(--spacing-24);
    grid-template-columns: repeat(2, 1fr);

    [ui-block="review"] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      min-height: 30vh;
      overflow: hidden;
      border: 1px solid var(--color-surface-variant);
      border-radius: var(--radius-review);

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--spacing-24);
        gap: var(--spacing-16);

        .core {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-16);

          article {
            color: var(--color-on-surface-variant);
          }

          .images {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-8);

            .image {
              width: var(--spacing-48);
              height: var(--spacing-48);
              overflow: hidden;
              border: 1px solid var(--color-surface-variant);
              border-radius: calc(var(--radius-testimonial) * 0.6);

              & > img {
                object-fit: cover;
              }
            }
          }
        }

        .author {
          padding-block-start: var(--spacing-16);
          border-block-start: 1px solid var(--color-surface-variant);
        }
      }
    }
  }

  @media (width <= 1024px) {
    .items {
      grid-template-columns: 1fr;
    }
  }

  @media (width <= 769px) {
    .items {
      [ui-block="review"] {
        grid-template-columns: 1fr;
        height: auto;

        .media {
          height: 25vh;
        }
      }
    }
  }
}
