[ui-section="example"] {
  display: grid;
  gap: var(--spacing-24);

  .head {
    .title {
      font: var(--font-title-lg);
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: var(--spacing-24);
  }

  .pages {
    display: flex;
    gap: var(--spacing-12);
    flex-wrap: wrap;
  }
}

@media (width <= 1024px) {
  [ui-section="example"] {
    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (width <= 769px) {
  [ui-section="example"] {
    .list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
