[ui-section="multicolumn"] {
  display: grid;
  gap: var(--spacing-64);
  grid-template-columns: repeat(4, 1fr);

  [ui-block="column"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-32);

    .media {
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: var(--radius-column);
    }

    .content {
      display: grid;
      gap: var(--spacing-16);
      text-align: center;

      .heading {
        font: var(--font-title-md);
      }

      .description {
        color: var(--color-on-surface-variant);
        font: var(--font-body-lg);
      }
    }
  }

  @media (width <= 1028px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= 769px) {
    display: flex;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;

    [ui-block="column"] {
      min-width: 100%;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }
}
