[ui-section="rich-text"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-16);

  .subheading {
    font: var(--font-body-lg);
  }

  .heading {
    font: var(--font-display-md);
  }

  .description {
    width: 50%;
    color: var(--color-on-surface-variant);
    font: var(--font-body-lg);
    text-wrap: balance;
  }

  .cta {
    width: fit-content;
    margin-block-start: var(--spacing-8);
  }

  @media (width <= 769px) {
    .heading {
      font: var(--font-headline-lg);
    }

    .description {
      width: 100%;
    }
  }
}
