[ui-section="image-with-text"] {
  .wrapper-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    overflow: hidden;
    border-radius: var(--radius-20);

    [ui-block="content"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: var(--spacing-48);
      background-color: var(--color-surface-container);
      gap: var(--spacing-32);

      .description {
        color: var(--color-on-surface-variant);
        font: var(--font-body-lg);
        text-wrap: balance;
      }

      .cta {
        width: fit-content;
        min-width: 180px;
      }
    }
  }

  @media (width <= 1028px) {
    .wrapper-area {
      grid-template-columns: 1fr;
      height: auto;

      [ui-block="media"] {
        height: 35vh;
      }

      [ui-block="content"] {
        padding-inline: var(--spacing-24);
      }
    }
  }
}
