[ui-section="product-set"] {
  display: grid;
  gap: var(--spacing-32);
  grid-template-columns: repeat(2, 1fr);

  .media-area {
    height: 70vh;
    overflow: hidden;
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-20);
  }

  .core-area {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);

    .head-box {
      display: grid;
      justify-content: center;
      gap: var(--spacing-16);
      text-align: center;

      .subheading {
        font: var(--font-body-lg);
      }

      .heading {
        font: var(--font-display-md);
      }
    }

    .cta-box {
      display: flex;
      justify-content: center;
    }

    .items-box {
      display: grid;
      gap: var(--spacing-24);

      [ui-block="product-item"] {
        display: flex;
        gap: var(--spacing-16);

        .media {
          width: 120px;
          height: 120px;
          overflow: hidden;
          border: 1px solid var(--color-surface-variant);
          border-radius: var(--radius-12);
        }

        .main-info {
          display: flex;
          flex: 2;
          flex-direction: column;
          gap: var(--spacing-12);

          .title {
            font: var(--font-body-lg);
          }
        }

        .secondary-info {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-12);
          align-items: end;
          justify-content: space-between;

          .price {
            display: grid;
            gap: var(--spacing-8);
            color: var(--color-on-surface-variant);

            .original-price {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  @media (width <= 1028px) {
    grid-template-columns: 1fr;

    .media-area {
      height: 35vh;
    }
  }

  @media (width <= 769px) {
    .core-area {
      .head-box {
        .heading {
          font: var(--font-headline-lg);
        }
      }
    }
  }
}
