@layer sections {
  [ui-section="multicolumn"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-64);
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;

    .items-area {
      display: grid;
      gap: var(--spacing-64);
      grid-template-columns: repeat(attr(data-nbr-columns-desktop number), 1fr);

      [ui-block="column"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-32);

        .media {
          width: attr(data-size px);
          height: attr(data-size px);
          overflow: hidden;
          border-radius: var(--radius-column);

          & > img {
            object-fit: cover;
          }
        }

        .content {
          display: grid;
          gap: var(--spacing-16);

          .heading {
            font: var(--font-title-md);
          }

          .description {
            color: var(--color-on-surface-variant);
            font: var(--font-body-lg);
          }
        }

        &[data-alignment="center"] {
          align-items: center;

          .content {
            text-align: center;
          }
        }
      }
    }

    @media (width <= 1028px) {
      .items-area {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (width <= 769px) {
      .items-area {
        display: flex;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        overflow: scroll hidden;
        scroll-snap-type: x mandatory;

        [ui-block="column"] {
          min-width: 100%;
          scroll-snap-align: center;
          scroll-snap-stop: always;
        }
      }
    }
  }
}
