@layer sections {
  [ui-section="search"] {
    display: grid;
    gap: var(--spacing-32);
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;

    [ui-slot="head"] {
      align-items: center;

      .search {
        width: 500px;
      }
    }

    .controller {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .result {
        color: var(--color-on-surface-variant);
        font: var(--font-body-lg);
      }

      .sort {
        display: flex;
        align-items: center;
        gap: var(--spacing-12);
      }
    }

    .list {
      display: grid;
      grid-template-columns: repeat(attr(data-nbr-columns-desktop number), 1fr);
      width: 100%;
      gap: var(--spacing-24);
    }

    @media (width <= 1024px) {
      .list {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (width <= 769px) {
      [ui-slot="head"] {
        align-items: center;

        .search {
          width: 100%;
        }
      }

      .list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
