[ui-section="rich-text"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-16);

  .description {
    width: 50%;
  }

  .cta {
    width: fit-content;
    margin-block-start: var(--spacing-8);
  }

  @media (width <= 769px) {
    .description {
      width: 100%;
    }
  }
}
