[ui-section="page"] {
  [ui-slot="alert"] {
    width: fit-content;
  }

  & > form {
    display: grid;
    gap: var(--spacing-24);

    @media (width >= 769px) {
      width: 50%;
    }

    .fields {
      display: grid;
      gap: var(--spacing-12);

      fieldset {
        display: grid;
        gap: var(--spacing-8);
      }
    }
  }
}
