[ui-section="single-product"] {
  display: grid;
  grid-template-columns: 50% auto;
  gap: var(--spacing-24);
  padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;

  &[data-media-width-desktop="sm"] {
    grid-template-columns: 40% auto;
  }

  &[data-media-width-desktop="md"] {
    grid-template-columns: 50% auto;
  }

  &[data-media-width-desktop="lg"] {
    grid-template-columns: auto 40%;
  }

  .media {
    position: sticky;
    inset-block-start: 0;

    &[data-layout="carousel"] {
      display: flex;
      position: relative;
      flex-direction: column;
      height: fit-content;
      gap: var(--spacing-24);

      .arrow {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        border-color: transparent;
        background-color: var(--color-on-primary);
        color: var(--color-primary);

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &:first-of-type {
          inset-inline-start: var(--spacing-12);
        }

        &:last-of-type {
          inset-inline-end: var(--spacing-12);
        }
      }

      [ui-slot="carousel"] {
        height: 100%;

        &.main-media {
          --per-page: 1;

          height: 60vh;
          overflow-y: hidden;
          border-radius: var(--radius-16);
        }

        &.markers {
          --per-page: 4;
          --item-size: 85%;
          --gap: var(--spacing-8);

          height: 15vh;

          .marker {
            overflow: hidden;
            transition: var(--transition-standard-default-spatial);
            border-radius: var(--radius-8);
            opacity: 1;

            &:hover,
            &[aria-selected="true"] {
              opacity: 0.5;
            }
          }
        }
      }
    }

    &[data-layout="grid"] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: fit-content;
      gap: var(--spacing-12);

      .image {
        height: 40vh;
        overflow: hidden;
        border-radius: var(--radius-16);

        &:nth-child(3n + 1) {
          grid-column: 1 / 3;
          height: 60vh;
        }

        & > img {
          object-fit: cover;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);

    .title {
      font: var(--font-headline-lg);
    }

    .price {
      display: flex;
      align-items: center;
      gap: var(--spacing-8);
      font: var(--font-title-lg);

      .compare-at-price {
        color: var(--color-on-surface-variant);
        text-decoration: line-through;
      }
    }

    .controller {
      display: grid;
      gap: var(--spacing-12);
      grid-template-columns: min-content auto;

      & > *:last-child {
        grid-column: 1 / 3;
      }
    }

    img,
    iframe {
      max-width: 100%;
    }
  }

  @media (width <= 769px) {
    &[data-media-width-desktop] {
      grid-template-columns: 1fr;
    }

    .media {
      &[data-layout="carousel"] {
        height: 45vh;

        .arrow {
          display: none;
        }
      }
    }

    .content {
      .title {
        font: var(--font-headline-sm);
      }

      .price {
        font: var(--font-title-md);
      }
    }
  }
}
