[ui-layout="header"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-24) 8%;

  .links {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
  }

  .actions {
    display: flex;
    gap: var(--spacing-12);
  }

  .sm-links {
    .link > a {
      justify-content: flex-start;
    }
  }
}

@media (width > 769px) {
  [ui-layout="header"] {
    .menu {
      display: none;
    }
  }
}

@media (width <= 769px) {
  [ui-layout="header"] {
    padding-inline: var(--spacing-24);

    .links {
      display: none;
    }
  }
}
