@layer sections {
  [ui-section="faqs"] {
    display: grid;
    align-items: flex-start;
    gap: var(--spacing-32);
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;

    &[data-orientation="horizontal"] {
      grid-template-columns: 40% auto;
    }

    .content-area {
      display: grid;
      gap: var(--spacing-16);

      .cta {
        width: fit-content;
        min-width: 180px;
        margin-block-start: var(--spacing-8);
      }
    }

    @media (width <= 1028px) {
      gap: var(--spacing-48);
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
