[ui-section="product-tabs"] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-64);

  [ui-slot="head"] {
    .tab-list {
      display: flex;
      gap: var(--spacing-24);
      justify-content: center;

      [ui-slot="link-button"] {
        cursor: pointer;
      }
    }
  }

  .products-area {
    display: grid;
    gap: var(--spacing-24);
    grid-template-columns: repeat(4, 1fr);
  }

  @media (width <= 1028px) {
    .products-area {
      gap: var(--spacing-12);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width <= 769px) {
    gap: var(--spacing-48);
  }
}
