[ui-section="slideshow"] {
  --per-page: 1;
  --gap: var(--spacing-32);
  --item-size: 92%;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);

  [ui-slot="carousel"] {
    padding-inline: 8%;

    [ui-slot="carousel-item"] {
      position: relative;

      .media {
        height: 70vh;
        border-radius: var(--radius-slide);
      }

      .content {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: var(--spacing-16);
        inset: 0;
        padding: var(--spacing-64);

        .cta {
          width: fit-content;
          min-width: 180px;
          margin-block-start: var(--spacing-24);
        }
      }
    }
  }

  @media (width <= 769px) {
    --item-size: 100%;

    [ui-slot="carousel"] {
      padding-inline: var(--spacing-0);

      [ui-slot="carousel-item"] {
        .media {
          height: 40vh;
        }

        .content {
          position: static;
          align-items: center;
          height: auto;
          padding: var(--spacing-48) 0 0 0;
          text-align: center;
        }
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    [ui-carousel="marker"] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      transition: var(--transition-standard-default-spatial);
      border: none;
      background-color: transparent;
      cursor: pointer;

      &::before {
        content: "";
        display: flex;
        width: var(--spacing-8);
        height: var(--spacing-8);
        transition: var(--transition-standard-default-spatial);
        border-radius: var(--radius-rounded);
        background-color: var(--color-surface-container-highest);
      }

      &[aria-selected="true"] {
        width: var(--spacing-48);

        &::before {
          width: inherit;
          background-color: currentcolor;
        }
      }
    }
  }
}
