@layer sections {
  [ui-section="feature-list"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-64);
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;

    .items-area {
      display: grid;
      grid-template-columns: repeat(attr(data-nbr-columns-desktop number), 1fr);

      [ui-block="feature-item"] {
        display: flex;
        align-items: center;
        padding: var(--spacing-16);
        gap: var(--spacing-12);
        overflow: hidden;

        .icon {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: calc(attr(data-size px) * 2);
          height: calc(attr(data-size px) * 2);
          border-radius: var(--radius-feature-item);
          background-color: var(--color-surface-container-low);
        }

        .label {
          overflow: hidden;
          font: var(--font-body-lg);
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    @media (width <= 1028px) {
      .items-area {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (width <= 769px) {
      gap: var(--spacing-48);

      .items-area {
        gap: var(--spacing-32);
        grid-template-columns: 1fr;

        [ui-block="feature-item"] {
          padding: var(--spacing-0);
        }
      }
    }
  }
}
