@layer sections {
  [ui-section="rich-text"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
    text-align: center;
    gap: var(--spacing-16);

    .description {
      width: 50%;
    }

    .cta {
      width: fit-content;
      margin-block-start: var(--spacing-8);
    }

    @media (width <= 769px) {
      .description {
        width: 100%;
      }
    }
  }
}
