[ui-section="search"] {
  display: grid;
  gap: var(--spacing-24);

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: var(--spacing-24);
  }
}

@media (width <= 1024px) {
  [ui-section="search"] {
    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (width <= 769px) {
  [ui-section="search"] {
    .list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
