@layer sections {
  [ui-section="reviews"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-32);

    [ui-slot="head"] {
      .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-16);
        margin-block-start: var(--spacing-16);

        .rating {
          .total {
            font: var(--font-display-md);
          }

          .stars {
            display: grid;
            text-align: start;
            gap: var(--spacing-4);
          }
        }

        .states {
          display: flex;
          flex-direction: column-reverse;
          gap: var(--spacing-8);
          width: 380px;

          .state {
            display: flex;
            align-items: center;
            gap: var(--spacing-8);

            svg {
              color: #f6b51e;
            }

            span {
              width: 10px;
            }

            progress {
              width: 100%;
            }
          }
        }
      }
    }

    .items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: var(--spacing-24);

      [ui-block="review"],
      .skeleton-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        border-radius: var(--radius-review);

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: var(--spacing-24);
          gap: var(--spacing-16);

          .core {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-16);

            article {
              color: var(--color-on-surface-variant);
              word-break: break-all;
            }

            .images {
              display: flex;
              flex-wrap: wrap;
              gap: var(--spacing-8);

              .image {
                width: var(--spacing-48);
                height: var(--spacing-48);
                overflow: hidden;
                border-radius: calc(var(--radius-testimonial) * 0.6);

                & > img {
                  object-fit: cover;
                }
              }
            }
          }

          .author {
            padding-block-start: var(--spacing-16);
            border-block-start: 1px solid var(--color-surface-variant);
          }
        }

        .media {
          height: 100%;
          aspect-ratio: 1 / 1;

          & > img {
            object-fit: cover;
          }
        }

        &[ui-block="review"] {
          .content {
            background-color: var(--color-surface-container-low);
          }
        }
      }
    }

    @media (width <= 1024px) {
      .items {
        grid-template-columns: 1fr;
      }
    }

    @media (width <= 769px) {
      [ui-slot="head"] {
        .overview {
          .states {
            width: 100%;
          }
        }
      }

      .items {
        .skeleton-item,
        [ui-block="review"] {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }
}
