[ui-section="product-tabs"] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-64);

  .head-area {
    display: grid;
    justify-content: center;
    gap: var(--spacing-16);
    text-align: center;

    .subheading {
      font: var(--font-body-lg);
    }

    .heading {
      font: var(--font-display-md);
    }

    .tab-list {
      display: flex;
      gap: var(--spacing-24);
      justify-content: center;

      [ui-slot="link-button"] {
        cursor: pointer;
      }
    }
  }

  .products-area {
    display: grid;
    gap: var(--spacing-24);
    grid-template-columns: repeat(4, 1fr);
  }

  @media (width <= 1028px) {
    .products-area {
      gap: var(--spacing-12);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width <= 769px) {
    gap: var(--spacing-48);

    .head-area {
      .heading {
        font: var(--font-headline-lg);
      }
    }
  }
}
