/* 
  Component: Sheet

  Usage:
    - ...
*/

[ui-slot="sheet-content"] {
  --spring-width-offset: 0px; /* This is so that we don't see a gap when the drawer overshoots on it's enter animation */
  --sheet-width: 460px;
  --sheet-visible-width: calc(var(--sheet-width) + var(--spring-width-offset));

  display: flex;
  position: fixed;
  z-index: 50;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sheet-visible-width);
  height: calc(100dvh - calc(var(--spacing-24) * 2));
  margin: var(--spacing-24);
  transition: var(--transition-standard-slow-effects);
  border: none;
  border-radius: var(--radius-28);
  background-color: var(--sheet-background);
  color: inherit;
  inset: unset;
  inset-block-start: var(--spacing-0);
  inset-inline-end: calc(calc(var(--sheet-visible-width) + calc(var(--spacing-24) * 2)) * -1);

  /* Header */
  [ui-slot="sheet-header"] {
    display: flex;
    position: sticky;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-24);
    gap: var(--spacing-12);
    inset-block-start: 0;
    background-color: var(--sheet-background);

    /* Title */
    [ui-slot="sheet-title"] {
      font: var(--font-heading-sm);
    }
  }

  /* Body */
  [ui-slot="sheet-body"] {
    flex: 2;
    padding-inline: calc(var(--spacing-24) - var(--spacing-4));
    overflow: hidden;
  }

  /* Body */
  [ui-slot="sheet-footer"] {
    display: grid;
    position: sticky;
    grid-template-columns: repeat(2, 1fr);
    padding: calc(var(--spacing-24) - var(--spacing-4));
    gap: var(--spacing-12);
    inset-block-end: 0;
    background-image: linear-gradient(
      to top,
      var(--sheet-background),
      var(--sheet-background),
      var(--sheet-background),
      var(--sheet-background),
      transparent
    );
  }

  /* Backdrop */
  &::backdrop {
    transition: var(--transition-standard-default-spatial);
  }

  /* State */
  &:popover-open {
    inset-inline-end: calc(var(--spacing-0) - var(--spring-width-offset));

    &::backdrop {
      backdrop-filter: blur(10px);
      background-color: color-mix(in srgb, currentcolor 15%, transparent);
    }

    @starting-style {
      inset-inline-end: calc(var(--sheet-visible-width) * -1);

      &::backdrop {
        backdrop-filter: blur(0);
        background-color: transparent;
      }
    }
  }

  @media (width <= 769px) {
    --sheet-width: 100%;
  }
}
