/* 
  Component: Carousel

  Accepts:
    - aria-orientation: {String} vertical | horizontal
    - data-align: {String} (Optional) start | center

  Variables:
    - per-page: {Number}
    - gap: {String} (Optional)
    - item-size: {Percentage} (Optional) Only use it if you've "one" item per page | >= 60%

  Usage:
    - <div ui-slot="carousel" aria-orientation="vertical" style="--per-page: 1; width: 100%; height: 150px;">
        <div ui-slot="carousel-item"> 1 </div>
        <div ui-slot="carousel-item"> 2 </div>
        <div ui-slot="carousel-item"> 3 </div>
      </div>
*/

[ui-slot="carousel"] {
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  gap: var(--gap, 0);

  /* Item */
  [ui-slot="carousel-item"] {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* Orientation */
  &[aria-orientation="vertical"] {
    flex-direction: row;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;

    [ui-slot="carousel-item"] {
      width: calc((var(--item-size, 100%) - (var(--gap, 0px) * (var(--per-page) - 1))) / var(--per-page));
      min-width: calc((var(--item-size, 100%) - (var(--gap, 0px) * (var(--per-page) - 1))) / var(--per-page));
    }
  }

  &[aria-orientation="horizontal"] {
    flex-direction: column;
    overflow: hidden scroll;
    scroll-snap-type: y mandatory;

    [ui-slot="carousel-item"] {
      min-height: calc((var(--item-size, 100%) - (var(--gap, 0px) * (var(--per-page) - 1))) / var(--per-page));
    }
  }

  /* Align */
  &[data-align="center"] {
    [ui-slot="carousel-item"] {
      scroll-snap-align: center;
    }
  }
}
