/* 
  Component: Segmented Control

  Accepts:
    - data-rounded: {Boolean}: true | false

  Usage:
    - <div ui-slot="segmented-control" role="tablist" style="--count: 3;">
        <label ui-slot="segmented-control-trigger" role="tab">
          Light <input type="radio" name="theme" value="light" checked />
        </label>
        <label ui-slot="segmented-control-trigger" role="tab">
          Dark <input type="radio" name="theme" value="dark" />
        </label>
        <label ui-slot="segmented-control-trigger" role="tab">
          System <input type="radio" name="theme" value="system" />
        </label>
      </div>
*/

[ui-slot="segmented-control"] {
  --segmented-control-gap: 0px;

  display: flex;
  position: relative;
  padding: var(--spacing-4);
  border-radius: calc(var(--radius-12) - var(--spacing-2));
  background-color: var(--color-surface-container);

  /* Rounded */
  &[data-rounded="true"] {
    --segmented-control-gap: var(--spacing-8);

    gap: var(--segmented-control-gap);
    border-radius: var(--radius-rounded);

    &::before {
      border-radius: var(--radius-rounded);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(
      (
          100% - var(--spacing-8) -
            ((var(--count) - 1) * var(--segmented-control-gap))
        ) /
        var(--count)
    );
    height: calc(100% - var(--spacing-8));
    transform: translateX(
      calc(var(--active) * (100% + var(--segmented-control-gap)))
    );
    transition: transform var(--transition-expressive-default-spatial);
    border-radius: calc(var(--radius-8) - var(--spacing-2));
    background-color: var(--color-background);
    box-shadow: 0 2px 4px 0
      color-mix(in srgb, var(--color-on-background) 10%, transparent);
    color: var(--color-on-surface);
  }

  &:has(> *:nth-of-type(1) input[type="radio"]:checked) {
    --active: 0;
  }

  &:has(> *:nth-of-type(2) input[type="radio"]:checked) {
    --active: 1;
  }

  &:has(> *:nth-of-type(3) input[type="radio"]:checked) {
    --active: 2;
  }

  &:has(> *:nth-of-type(4) input[type="radio"]:checked) {
    --active: 3;
  }

  /* NOTE: You still can add more items, there's no limits. */

  /* Item */
  [ui-slot="segmented-control-trigger"] {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28px;
    padding-inline: var(--spacing-4);
    transition: color var(--transition-standard-default-spatial);
    color: var(--color-on-surface-variant);
    font: var(--font-body-md);
    cursor: pointer;
    gap: var(--spacing-4);

    & > input[type="radio"] {
      position: absolute;
      opacity: 0;
      scale: 0;
    }

    /* Icon */
    & > i {
      flex-shrink: 0;
      font-size: 20px;
    }

    /* Checked */
    &:has(input[type="radio"]:checked) {
      color: var(--color-on-surface);
    }
  }
}
