@use "../../color";

/* 
  Component: Divider

  Accepts:
    - data-variant: {String}: line | line-text | solid-text | content

  Usage:
    - <hr ui-slot="divider" data-variant="line" />
    - <div ui-slot="divider" role="separator" data-variant="line-text">OR</div>
*/

[ui-slot="divider"] {
  --color-divider: #{color.shade(var(--bg-color), -0.05, 0, 0)};

  /* Variant */
  &[data-variant="line"] {
    &:is(hr) {
      width: 100%;
      height: 1px;
      border: none;
      background-color: var(--color-divider);
    }
  }
}
