/* 
  Component: Avatar

  Accepts:
    - data-size: {Number}: 20 | 24 | 32 | 40 | 48 | 56 | 64 | 72 | 80
    - data-color: {String}: gray | yellow | blue | sky | purple | red

  Usage:
    - <div ui-slot="avatar" data-size="80" data-color="purple">BA</div>

  - > Component Child: Avatar Indicator

      Accepts:
        - data-position: {String}: top | bottom

      Usage:
        - <div ui-slot="avatar" data-size="80" data-color="blue">
            BA
            <div ui-slot="avatar-indicator" data-position="top">
              <span ui-slot="avatar-notification"></span>
            </div>
          </div>

  - > Component Child: Avatar Status

      Accepts:
        - data-status: {String}: online | offline | busy | away

      Usage:
        - <div ui-slot="avatar" data-size="80" data-color="blue">
            BA
            <div ui-slot="avatar-indicator" data-position="top">
              <span ui-slot="avatar-status" data-status="online"></span>
            </div>
          </div>
*/

[ui-slot="avatar"] {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--radius-rounded);
  text-transform: uppercase;

  /* Size */
  &[data-size="20"] {
    --avatar-size: 20px;
    --avatar-indicator-size: 10px;
  }

  &[data-size="24"] {
    --avatar-size: 24px;
    --avatar-indicator-size: 12px;
  }

  &[data-size="32"] {
    --avatar-size: 32px;
    --avatar-indicator-size: 16px;

    font: var(--font-body-md);
  }

  &[data-size="40"] {
    --avatar-size: 40px;
    --avatar-indicator-size: 18px;
  }

  &[data-size="48"] {
    --avatar-size: 48px;
    --avatar-indicator-size: 20px;
  }

  &[data-size="56"] {
    --avatar-size: 56px;
    --avatar-indicator-size: 24px;
  }

  &[data-size="64"] {
    --avatar-size: 64px;
    --avatar-indicator-size: 28px;
  }

  &[data-size="72"] {
    --avatar-size: 72px;
    --avatar-indicator-size: 32px;
  }

  &[data-size="80"] {
    --avatar-size: 80px;
    --avatar-indicator-size: 32px;
  }

  &[data-size="20"],
  &[data-size="24"] {
    font: var(--font-label-md);
  }

  &[data-size="40"],
  &[data-size="48"],
  &[data-size="56"] {
    font: var(--font-body-lg);
  }

  &[data-size="64"],
  &[data-size="72"],
  &[data-size="80"] {
    font: var(--font-headline-sm);
  }

  /* Color */
  &[data-color="gray"] {
    background-color: #ebebeb;
    color: #171717;
  }

  &[data-color="yellow"] {
    background-color: #ffecc0;
    color: #624c18;
  }

  &[data-color="purple"] {
    background-color: #cac0ff;
    color: #351a75;
  }

  &[data-color="sky"] {
    background-color: #c0eaff;
    color: #124b68;
  }

  &[data-color="blue"] {
    background-color: #c0d5ff;
    color: #122368;
  }

  &[data-color="red"] {
    background-color: #ffc0c5;
    color: #681219;
  }

  /* Image */
  & > [ui-slot="avatar-image"] {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-rounded);
  }

  /* Indicator */
  & > [ui-slot="avatar-indicator"] {
    display: flex;
    position: absolute;
    justify-content: end;
    width: var(--avatar-indicator-size);
    height: var(--avatar-indicator-size);
    inset-inline-end: -8%;

    /* Position */
    &[data-position="top"] {
      inset-block-start: 0;
    }

    &[data-position="bottom"] {
      inset-block-end: 0;
    }

    & > * {
      display: flex;
      width: 80%;
      height: 80%;
      border: 2px solid var(--color-background);
      border-radius: var(--radius-rounded);
      box-shadow: 0 2px 4px 0
        color-mix(in srgb, var(--color-on-background) 10%, transparent);

      &:is(img) {
        object-fit: cover;
      }
    }

    /* Notification */
    & > [ui-slot="avatar-notification"] {
      background-color: #fb3748;
    }

    /* Status */
    & > [ui-slot="avatar-status"] {
      &[data-status="online"] {
        background-color: #1fc16b;
      }

      &[data-status="offline"] {
        background-color: #7b7b7b;
      }

      &[data-status="busy"] {
        background-color: #fb3748;
      }

      &[data-status="away"] {
        background-color: #f6b51e;
      }
    }
  }
}
