/* 
  Component: Button

  Accepts:
    - data-variant: {String}: primary | neutral | error
    - data-mode: {String}: filled | stroke | lighter | ghost
    - data-size: {String}: lg | md | sm | xs
    - data-as-icon: {Boolean}: true | false
    - data-flip-icon-in-rtl: {Boolean}: true | false

  Usage:
    - <button ui-slot="button" data-variant="primary" data-mode="filled" data-size="md">
        My Button
      </button>
*/

[ui-slot="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-size);
  transition: all var(--transition-standard-default-spatial);
  border: 1px solid;
  border-radius: var(--radius-button);
  outline: none;
  box-shadow: 0 0 0 3px transparent;
  font: var(--font-body-md);
  font-family: var(--font-button-family);
  font-weight: var(--font-button-weight);
  text-decoration: none;
  cursor: pointer;

  & > * {
    font-family: inherit;
  }

  /* Size */
  &[data-size="lg"] {
    --button-size: 40px;

    padding-inline: calc(var(--spacing-12) + var(--spacing-2));
    border-radius: calc(var(--radius-button) * 1.5);
    gap: var(--spacing-12);
  }

  &[data-size="md"] {
    --button-size: 36px;

    padding-inline: var(--spacing-12);
    gap: var(--spacing-12);
  }

  &[data-size="sm"] {
    --button-size: 32px;

    padding-inline: var(--spacing-10);
    gap: var(--spacing-10);
  }

  &[data-size="xs"] {
    --button-size: 28px;

    padding-inline: var(--spacing-8);
    gap: var(--spacing-10);
  }

  /* Mode */
  &[data-mode="filled"] {
    border-color: transparent;
    background-color: var(--color-button);
    color: var(--color-on-button);

    &[data-variant="neutral"] {
      background-color: var(--color-on-background);
    }

    &:hover:not(:disabled, [aria-disabled="true"]) {
      background-color: color-mix(in srgb, var(--color-button), black 10%);

      &[data-variant="neutral"] {
        background-color: color-mix(in srgb, var(--color-on-background), var(--color-on-button) 10%);
      }
    }
  }

  &[data-mode="stroke"] {
    border-color: var(--color-button-border);
    background-color: var(--color-on-button);
    color: var(--color-button);

    &:hover:not(:disabled, [aria-disabled="true"]) {
      border-color: transparent;
      background-color: var(--color-button-container);
    }
  }

  &[data-mode="lighter"] {
    border-color: transparent;
    background-color: var(--color-button-container);
    color: var(--color-button);

    &:hover:not(:disabled, [aria-disabled="true"]) {
      border-color: var(--color-button-border);
      background-color: transparent;
    }
  }

  &[data-mode="ghost"] {
    border-color: transparent;
    background-color: transparent;
    color: var(--color-button);

    &:hover:not(:disabled, [aria-disabled="true"]) {
      background-color: var(--color-button-container);
    }
  }

  /* Variant */
  &[data-variant="primary"] {
    --color-button: var(--color-primary);
    --color-on-button: var(--color-on-primary);
    --color-button-border: var(--color-primary);
    --color-button-container: var(--color-primary-container);
  }

  &[data-variant="neutral"] {
    --color-button: var(--color-on-surface-variant);
    --color-on-button: var(--color-background);
    --color-button-border: var(--color-surface-variant);
    --color-button-container: var(--color-surface-container-high);
  }

  &[data-variant="error"] {
    --color-button: var(--color-error);
    --color-on-button: var(--color-on-error);
    --color-button-border: var(--color-error);
    --color-button-container: var(--color-error-container);
  }

  /* As Icon */
  &[data-as-icon] {
    width: var(--button-size);
  }

  /* Icon */
  & > i {
    flex-shrink: 0;
    margin-inline: calc(var(--spacing-4) * -1);
    font-size: 20px;
  }

  /* Flip Icon In RTL */
  &[data-flip-icon-in-rtl]:dir(rtl) {
    & > i {
      rotate: 180deg;
    }
  }

  /* Active */
  &:active {
    scale: 0.98;
  }

  /* Focus */
  &:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-button) 30%, transparent);
  }

  /* Disabled */
  &:disabled,
  &[data-loading],
  &[aria-disabled="true"] {
    border-color: transparent;
    background-color: var(--color-surface-container);
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
    pointer-events: none;
  }

  /* Loading */
  &[data-loading] {
    position: relative;
    overflow: hidden;
    color: transparent;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      animation: spin 1s linear infinite;
      border: 1.5px solid color-mix(in srgb, var(--color-on-surface) 38%, transparent);
      border-radius: var(--radius-rounded);
      border-inline-end-color: transparent;
    }
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
