/* 
  Component: Status Badge

  Accepts:
    - data-variant: {String}: stroke | light
    - data-status: {String}: completed | pending | failed | disabled | primary

  Usage:
    - <div ui-slot="status-badge" data-variant="light" data-status="disabled">
        <i class="hgi hgi-stroke hgi-unavailable"></i> Badge
      </div>
*/

[ui-slot="status-badge"] {
  --icon-size: 16px;

  display: flex;
  align-items: center;
  width: fit-content;
  height: 24px;
  padding-inline: var(--spacing-8);
  border-radius: calc(var(--radius-8) - var(--spacing-2));
  background-color: var(--color-background);
  font: var(--font-body-sm);
  gap: var(--spacing-8);

  /* Icon */
  & > i {
    flex-shrink: 0;
    margin-inline: calc(var(--spacing-4) * -1);
    font-size: var(--icon-size);
  }

  /* Dot */
  & > [ui-slot="badge-dot"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-inline: calc(var(--spacing-4) * -1);

    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      clip-path: circle();
      background-color: var(--color-status-badge);
    }
  }

  /* Variant */
  &[data-variant="stroke"] {
    border: 1px solid var(--color-surface-variant);
    color: var(--color-on-surface-variant);
  }

  &[data-variant="light"] {
    border: 1px solid transparent;
    background-color: var(--color-status-badge-container);
    color: var(--color-status-badge);
  }

  /* Status */
  &[data-status="disabled"] {
    --color-status-badge: var(--color-on-surface-variant);
    --color-on-status-badge: var(--color-surface-variant);
    --color-status-badge-container: var(--color-surface-container);
    --color-on-status-badge-container: var(--color-on-surface);
  }

  &[data-status="completed"] {
    --color-status-badge: var(--color-success);
    --color-on-status-badge: var(--color-on-success);
    --color-status-badge-container: var(--color-success-container);
    --color-on-status-badge-container: var(--color-on-success-container);
  }

  &[data-status="failed"] {
    --color-status-badge: var(--color-error);
    --color-on-status-badge: var(--color-on-error);
    --color-status-badge-container: var(--color-error-container);
    --color-on-status-badge-container: var(--color-on-error-container);
  }

  &[data-status="pending"] {
    --color-status-badge: var(--color-warning);
    --color-on-status-badge: var(--color-on-warning);
    --color-status-badge-container: var(--color-warning-container);
    --color-on-status-badge-container: var(--color-on-warning-container);
  }

  &[data-status="primary"] {
    --color-status-badge: var(--color-primary);
    --color-on-status-badge: var(--color-on-primary);
    --color-status-badge-container: var(--color-primary-container);
    --color-on-status-badge-container: var(--color-on-primary-container);
  }
}

@layer overrides {
  [data-intensity="as-light-bg"] {
    [ui-slot="status-badge"][data-status="primary"] {
      --color-status-badge-container: color-mix(in srgb, currentcolor 18%, transparent) !important;
    }
  }
}
