/* 
  Component: Checkbox

  Usage:
    - <input ui-slot="checkbox" name="my-checkbox" type="checkbox" />
*/

[ui-slot="checkbox"] {
  --checkbox-size: 16px;

  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  padding: var(--spacing-2);
  transition: all 0.1s ease-out;
  border: 1.5px solid var(--color-surface-container-high);
  border-radius: var(--radius-4);
  background-color: var(--color-background);
  cursor: pointer;
  appearance: none;

  /* Dead Area */
  &::after {
    content: "";
    position: absolute;
    width: calc(var(--checkbox-size) + 4px);
    height: calc(var(--checkbox-size) + 4px);
    inset-inline-start: -4px;
    inset-block-start: -4px;
  }

  /* Check Icon */
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: calc(var(--checkbox-size) / 5);
    height: calc(var(--checkbox-size) / 4);
    transform: translate(-50%, -60%) rotate(45deg);
    transition: var(--transition-standard-slow-effects);
    border-right: 1.5px solid transparent;
    inset-block-start: 50%;
    border-block-end: 1.5px solid transparent;
  }

  /* Checked */
  &:checked,
  &:indeterminate {
    border-color: var(--color-primary);
    background-color: var(--color-primary);

    &::before {
      height: calc(var(--checkbox-size) / 2);
      border-color: var(--color-on-primary);
    }

    &:indeterminate::before {
      width: 80%;
      height: 0;
      transform: translate(-50%, -50%) rotate(0deg);
      border-inline-end: none;
    }
  }

  /* Disabled */
  &:disabled {
    border-color: transparent;
    background-color: var(--color-surface-variant);
    pointer-events: none;

    &:checked::before {
      border-color: var(--color-background);
    }
  }

  /* Hover */
  &:hover:not(:disabled, :checked, :indeterminate) {
    border-color: var(--color-surface-container-highest);
  }
}
