/* 
  Component: Switch

  Usage:
    - <input ui-slot="switch" name="my-switch" type="checkbox" />
*/

[ui-slot="switch"] {
  position: relative;
  width: 28px;
  height: 16px;
  padding: var(--spacing-2);
  transition: background-color var(--transition-standard-default-spatial);
  border: 1px solid transparent;
  border-radius: var(--radius-rounded);
  background-color: var(--color-surface-container-high);
  cursor: pointer;
  appearance: none;

  /* Thumb */
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    transition: inset-inline-start var(--transition-expressive-fast-spatial);
    border: 4px solid var(--color-on-primary);
    border-radius: var(--radius-rounded);
    background-color: transparent;
    box-shadow:
      0 6px 10px 0
        color-mix(in srgb, var(--color-on-background) 5%, transparent),
      0 2px 4px 0 color-mix(in srgb, var(--color-on-background) 5%, transparent);
    inset-block-start: 1px;
    inset-inline-start: 1px;
  }

  /* Checked */
  &:checked {
    background-color: var(--color-primary);

    &::before {
      inset-inline-start: calc(100% - 13px) !important;
    }
  }

  /* Disabled */
  &:disabled {
    border-color: var(--color-surface-variant);
    background-color: var(--color-background);
    pointer-events: none;

    &::before {
      border-width: 3px;
      border-color: var(--color-surface-variant);
      background-color: var(--color-surface-variant);
      box-shadow: none;
      inset-block-start: 2px;
      inset-inline-start: 2px;
    }
  }

  /* Hover */
  &:hover:not(:disabled, :checked) {
    background-color: var(--color-surface-container-highest);
  }
}
