{% comment %}
  Renders a feature item (Block)

  Accepts:
    - feature: {Object} Item info

  Usage:
  {% render 'block.feature-item' %}
{% endcomment %}

<li ui-block="feature-item" {{ feature.youcan_attributes }}>
  <div class="icon" data-size="{{ section.settings.icon_size }}">
    {% render 'misc.icon', name: feature.settings.feature_icon, size: section.settings.icon_size %}
  </div>
  <span class="label">{{ feature.settings.feature_content }}</span>
</li>
