@layer reset, base, components, utilities, sections, snippets, overrides;
@layer snippets{
  #cart[popover] [ui-slot=sheet-body]{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  #cart[popover] [ui-slot=sheet-footer]{
    display:flex;
    gap:var(--spacing-16);
    flex-direction:column;
  }
  #cart[popover] [ui-slot=sheet-footer] .footer{
    display:grid;
    grid-template-columns:repeat(2, auto);
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
  }
  #cart[popover] [ui-slot=sheet-footer] .footer .label,
  #cart[popover] [ui-slot=sheet-footer] .footer .value{
    font:var(--font-label-md);
  }
  #cart[popover] [ui-slot=sheet-footer] .footer .value{
    display:flex;
    justify-content:flex-end;
  }
  #cart[popover] [ui-slot=sheet-footer] .footer [ui-slot=divider]{
    grid-column:1/3;
  }
  #cart[popover] [ui-slot=sheet-footer] .footer .description{
    grid-column:1/3;
    opacity:0.66;
    font:var(--font-label-sm);
  }
  #cart[popover] [ui-slot=sheet-footer] .navigation{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
    grid-template-columns:1fr auto;
  }
}
