@layer sections{
  [ui-section=testimonials]{
    --gap:var(--spacing-32);
    display:grid;
    grid-gap:var(--spacing-48);
    gap:var(--spacing-48);
    padding:var(--top-spacing) 10% var(--bottom-spacing);
  }
  [ui-section=testimonials] [ui-slot=head]{
    justify-content:space-between;
    gap:var(--spacing-24);
    width:100%;
    padding-inline:8%;
  }
  [ui-section=testimonials] [ui-slot=head] .content{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
  }
  [ui-section=testimonials] [ui-slot=head] .actions{
    display:flex;
    gap:var(--spacing-16);
    justify-content:var(--text-heading-alignment-desktop);
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial]{
    display:grid;
    overflow:hidden;
    border-radius:var(--radius-testimonial);
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
    padding:var(--spacing-40);
    background-color:var(--color-surface-container-low);
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content .rating{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content .rating .quote{
    opacity:0.1;
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content .rating .stars{
    --stars-color:#f7ca4d;
    display:flex;
    align-items:center;
    gap:var(--spacing-4);
    color:#f7ca4d;
    color:var(--stars-color);
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content .info{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content .info .description{
    color:var(--color-on-surface-variant);
    text-wrap:balance;
  }
  [ui-section=testimonials] .items-area [ui-block=testimonial] .content .author{
    font:var(--font-label-sm);
  }
  @media (max-width: 1280px){
    [ui-section=testimonials]{
      --per-page:2 !important;
    }
  }
  @media (max-width: 1024px){
    [ui-section=testimonials]{
      padding-inline:var(--spacing-16);
    }
    [ui-section=testimonials] [ui-slot=head]{
      flex-direction:column;
    }
    [ui-section=testimonials] [ui-slot=head] .actions{
      justify-content:var(--text-heading-alignment-mobile);
    }
  }
  @media (max-width: 769px){
    [ui-section=testimonials]{
      --per-page:1 !important;
    }
  }
}
