@layer sections{
  [ui-section=announcement-bar]{
    padding-inline:10%;
    background-color:var(--brand-color);
    color:oklch(clamp(0, (0.6 - var(--brand-lightness)) * 99999, 1) 0 0deg);
    font-style:italic;
  }
  @media (max-width: 769px){
    [ui-section=announcement-bar]{
      padding-inline:var(--spacing-16);
    }
  }
}
