@layer sections{
  [ui-section=single-collection]{
    --bg-shade-color:oklch(from var(--bg-color) calc(l - 0.0225) calc(c + 0.0181) calc(h + 6.6));
    display:flex;
    gap:var(--spacing-48);
    flex-direction:column;
    padding:var(--top-spacing) 10% var(--bottom-spacing);
    background-color:var(--bg-color);
    color:var(--fg-color);
  }
  [ui-section=single-collection] [ui-slot=head]{
    align-items:flex-start;
    text-align:start;
  }
  [ui-section=single-collection] .sub-collections-area{
    --gap:var(--spacing-32);
  }
  [ui-section=single-collection] .sub-collections-area .sub-collection > a{
    display:flex;
    position:relative;
    align-items:center;
    gap:var(--spacing-16);
  }
  [ui-section=single-collection] .sub-collections-area .sub-collection > a .media{
    width:80px;
    height:80px;
    overflow:hidden;
    transition:scale var(--transition-standard-default-spatial);
    border-radius:calc(var(--radius-collection) * 0.66);
  }
  [ui-section=single-collection] .sub-collections-area .sub-collection > a .media ui-image-fallback{
    background-color:var(--bg-shade-color);
  }
  [ui-section=single-collection] .sub-collections-area .sub-collection > a .title{
    position:relative;
    flex:1;
    font:var(--font-label-lg);
  }
  [ui-section=single-collection] [ui-slot=sheet-content]{
    --sheet-background:var(--bg-color);
    color:var(--fg-color);
  }
  [ui-section=single-collection] [ui-slot=sheet-content] [ui-slot=sheet-header] [ui-slot=button]{
    --button-bg:var(--bg-shade-color);
    --button-fg:var(--fg-color);
  }
  [ui-section=single-collection] .core-area{
    display:grid;
    grid-gap:var(--spacing-32);
    gap:var(--spacing-32);
  }
  [ui-section=single-collection] .core-area .controller{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  [ui-section=single-collection] .core-area .controller .result{
    color:var(--fg-color);
    font:var(--font-body-sm);
  }
  [ui-section=single-collection] .core-area .controller .sort{
    display:flex;
    align-items:center;
    gap:var(--spacing-12);
    font:var(--font-label-md);
  }
  [ui-section=single-collection] .core-area .items{
    display:grid;
    grid-template-columns:repeat(var(--nbr-columns-desktop), 1fr);
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
  }
  @media (min-width: 1024.02px){
    [ui-section=single-collection] .sub-collections-area{
      display:grid !important;
      grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  @media (max-width: 1280px){
    [ui-section=single-collection] .core-area .items{
      grid-template-columns:repeat(3, 1fr);
    }
  }
  @media (max-width: 1024px){
    [ui-section=single-collection]{
      padding-inline:var(--spacing-16);
    }
    [ui-section=single-collection] .sub-collections-area{
      --per-page:3;
      --item-size:80%;
      display:flex;
    }
    [ui-section=single-collection] .sub-collections-area .sub-collection > a{
      height:20vh;
    }
  }
  @media (max-width: 769px){
    [ui-section=single-collection] .sub-collections-area{
      position:relative;
      width:calc(100% + var(--spacing-48));
      padding-inline:var(--spacing-24);
      inset-inline-start:calc(var(--spacing-24) * -1);
    }
    [ui-section=single-collection] .sub-collections-area .sub-collection > a{
      flex-direction:column;
      align-items:start;
      height:auto;
      border:none;
      border-radius:var(--radius-0);
      gap:var(--spacing-12);
    }
    [ui-section=single-collection] .sub-collections-area .sub-collection > a .media{
      position:static;
      width:100%;
      height:13vh;
      overflow:hidden;
      filter:none;
      border-radius:var(--radius-20);
    }
    [ui-section=single-collection] .sub-collections-area .sub-collection > a .title{
      font:var(--font-body-lg);
    }
    [ui-section=single-collection] .sub-collections-area .sub-collection > a:hover .media{
      scale:1;
    }
    [ui-section=single-collection] .core-area .items{
      grid-template-columns:1fr;
    }
  }
  @media (min-width: 769.02px){
    [data-intensity=as-foreground] [ui-section=single-collection] .sub-collections-area .sub-collection > a .title,
    [data-intensity=as-light-bg] [ui-section=single-collection] .sub-collections-area .sub-collection > a .title{
      color:var(--color-on-primary);
    }
  }
  @media (max-width: 769px){
    [data-intensity=as-foreground] [ui-section=single-collection] .sub-collections-area .sub-collection > a .title,
    [data-intensity=as-light-bg] [ui-section=single-collection] .sub-collections-area .sub-collection > a .title{
      color:var(--color-primary);
    }
  }
  [data-intensity=as-solid-bg] [ui-section=single-collection] .sub-collections-area .sub-collection > a .title{
    color:var(--color-primary);
  }
}
