@layer sections{
  #youcan-section--upsell{
    display:flex;
    flex:1;
    flex-direction:column;
  }
  #youcan-section--upsell ui-upsell{
    display:flex;
    flex:1;
    flex-direction:column;
    gap:var(--spacing-24);
    padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
  }
  #youcan-section--upsell ui-upsell .head{
    display:grid;
    grid-gap:var(--spacing-12);
    gap:var(--spacing-12);
  }
  #youcan-section--upsell ui-upsell .head .title{
    font:var(--font-title-lg);
  }
  #youcan-section--upsell ui-upsell .head .options{
    display:flex;
    gap:var(--spacing-8);
  }
  #youcan-section--upsell ui-upsell .head .options [ui-slot=button]{
    width:150px;
  }
}
