@layer sections{
  [ui-section=countdown-timer]{
    padding-block:var(--top-spacing) var(--bottom-spacing);
    padding-inline:10%;
    background-color:var(--bg-color);
    color:var(--fg-color);
  }
  [ui-section=countdown-timer] .timer-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    align-items:center;
    justify-content:space-between;
    padding:var(--spacing-32);
    overflow:hidden;
    border-radius:var(--radius-32);
    background-color:var(--timer-bg);
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
  }
  [ui-section=countdown-timer] .timer-container .title{
    font:var(--font-heading-xl);
  }
  [ui-section=countdown-timer] .timer-container .timer{
    display:flex;
    flex:1;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:var(--spacing-16);
  }
  [ui-section=countdown-timer] .timer-container .timer .digits{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:var(--spacing-16);
  }
  [ui-section=countdown-timer] .timer-container .timer .digits .segment{
    display:flex;
    flex-direction:column;
    align-content:start;
    justify-content:center;
    place-content:start center;
    justify-content:center;
    gap:var(--spacing-8);
  }
  [ui-section=countdown-timer] .timer-container .timer .digits .segment [ui-countdown]{
    --size:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    width:var(--size);
    height:80px;
    height:var(--size);
    padding:var(--spacing-16);
    border-radius:var(--radius-16);
    background-color:oklch(from var(--timer-bg) calc(l - 0.058) calc(c + 0.03) h);
    font:var(--font-heading-lg);
  }
  [ui-section=countdown-timer] .timer-container .timer .label,
  [ui-section=countdown-timer] .timer-container .timer [ui-countdown=message]{
    font:var(--font-label-md);
  }
  [ui-section=countdown-timer] .timer-container .action{
    display:flex;
    align-items:center;
    justify-content:flex-end;
  }
  @media (max-width: 1024px){
    [ui-section=countdown-timer]{
      padding-inline:var(--spacing-16);
    }
    [ui-section=countdown-timer] .timer-container{
      grid-template-columns:1fr;
      text-align:center;
      gap:var(--spacing-32);
    }
    [ui-section=countdown-timer] .timer-container .action{
      justify-content:center;
    }
  }
}
