@layer sections{
  [ui-section=logo-list]{
    padding-block:var(--top-spacing) var(--bottom-spacing);
    background-color:var(--bg-color);
  }
  [ui-section=logo-list] [ui-block=logo]{
    width:142px;
    padding:var(--spacing-8) var(--spacing-16);
  }
  [ui-section=logo-list] [ui-block=logo] img{
    -o-object-fit:contain;
       object-fit:contain;
  }
}
