@layer sections{
  [ui-section=slideshow]{
    --per-page:1;
    --item-size:100%;
    display:flex;
    flex-direction:column;
    padding-block:var(--top-spacing) var(--bottom-spacing);
    padding-inline:0;
    gap:var(--spacing-16);
    background-color:var(--bg-color);
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item]{
    position:relative;
    height:max(var(--height), 240px);
    background-color:transparent !important;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .slide-wrapper{
    display:flex;
    height:100%;
    gap:var(--spacing-8);
    padding-inline:10%;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .first-img,
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .second-img{
    flex:1;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content{
    flex:2;
    order:var(--content-order);
    padding:var(--spacing-24);
    overflow:hidden;
    border-radius:var(--radius-28);
    background-color:var(--slide-bg);
    color:var(--slide-fg);
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content [ui-slot=button]{
    --button-bg:var(--fg-color);
    --button-fg:var(--bg-color);
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content{
    display:flex;
    flex-direction:column;
    height:100%;
    gap:var(--spacing-32);
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content .actions{
    display:flex;
    align-items:center;
    gap:var(--spacing-16);
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content [ui-slot=head],
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content .actions{
    width:100%;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-y-alignment=start]{
    justify-content:flex-start;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-y-alignment=center]{
    justify-content:center;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-y-alignment=end]{
    justify-content:flex-end;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=start]{
    align-items:flex-start;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=start] [ui-slot=head]{
    align-items:flex-start;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=start] [ui-slot=head] > *{
    text-align:start;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=start] .actions{
    justify-content:flex-start;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=center]{
    align-items:center;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=center] [ui-slot=head]{
    align-items:center;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=center] [ui-slot=head] > *{
    text-align:center;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=center] .actions{
    justify-content:center;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=end]{
    align-items:flex-end;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=end] [ui-slot=head]{
    align-items:flex-end;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=end] [ui-slot=head] > *{
    text-align:end;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .main-content .content[data-x-alignment=end] .actions{
    justify-content:flex-end;
  }
  [ui-section=slideshow] .controls{
    display:flex;
    justify-content:space-between;
    padding-inline:10%;
  }
  [ui-section=slideshow] .pagination{
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
    width:-moz-fit-content;
    width:fit-content;
  }
  [dir="rtl"] [ui-section=slideshow] .pagination{
    right:50%;
    left:auto;
    transform:translateX(50%);
  }
  [ui-section=slideshow] .pagination [ui-carousel=marker]{
    display:flex;
    align-items:center;
    justify-content:center;
    width:20px;
    height:20px;
    transition:var(--transition-standard-default-spatial);
    border:none;
    background-color:transparent;
    color:var(--color-primary);
    cursor:pointer;
  }
  [ui-section=slideshow] .pagination [ui-carousel=marker]::before{
    content:"";
    display:flex;
    width:var(--spacing-8);
    height:var(--spacing-8);
    transition:var(--transition-standard-default-spatial);
    border-radius:var(--radius-rounded);
    background-color:color-mix(in srgb, currentcolor 38%, transparent);
  }
  [ui-section=slideshow] .pagination [ui-carousel=marker][aria-selected=true]{
    width:var(--spacing-48);
  }
  [ui-section=slideshow] .pagination [ui-carousel=marker][aria-selected=true]::before{
    width:inherit;
    background-color:currentcolor;
  }
}
