@layer sections{
  #youcan-section--announcement-bar{
    padding-inline:var(--spacing-16);
    background-color:var(--brand-color);
    color:var(--on-brand);
  }
  [ui-section=announcement-bar]{
    font-style:italic;
  }
}
