@layer sections{
  [ui-section=announcement-bar]{
    padding-inline:10%;
    background-color:var(--bg-color);
    color:var(--fg-color);
  }
  @media (max-width: 769px){
    [ui-section=announcement-bar]{
      padding-inline:var(--spacing-24);
    }
  }
}
