@layer sections{
  [ui-section=logo-list]{
    margin-inline:10%;
    padding-block:var(--top-spacing) var(--bottom-spacing);
    overflow:hidden;
    border-radius:var(--radius-28);
    background-color:var(--bg-color);
  }
  [ui-section=logo-list][data-fullscreen]{
    margin-inline:var(--spacing-0);
    border-radius:var(--spacing-0);
  }
  [ui-section=logo-list] [ui-block=logo]{
    --size:142px;
    width:142px;
    width:var(--size);
    height:142px;
    height:var(--size);
    margin:var(--spacing-8) var(--spacing-16);
  }
  [ui-section=logo-list] [ui-block=logo] img{
    -o-object-fit:contain;
       object-fit:contain;
  }
}
