.yc-cart {
  margin: 4rem 0 2rem;

  .empty-cart {
    ion-icon {
      --ionicon-stroke-width: 18px;
    }
  }

  .cart-table {
    .header-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-bar {
        display: flex;
        align-items: center;
        gap: 9px;
        width: 60%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        h2 {
          font-weight: 700;
          font-size: 21px;
        }

        p {
          color: #9b9b9b;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
      }

      #cart-items-count {
        text-transform: lowercase;
      }

      .checkout_cta {
        max-width: 100%;
        width: 437px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    .summary-box {
      max-width: 100%;
      border: 1px solid #efefef;
      border-radius: 4px;
      width: 437px;
      float: left;
      margin-bottom: 40px;

      .promo {
        font-weight: 400;
        margin-bottom: 17px;
        font-size: 15px;
      }

      input {
        border: 1px solid #bdbdbd;
        border-radius: 4px;
      }

      .price-box {
        margin: 25px auto 15px;

        .box {
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 20px;
          color: #a8a8a8;
        }
      }

      .price-wrapper {
        padding: 0px 18px 18px;

        .capitalize {
          flex: 1;
        }

        .item-price {
          width: 20%;
          text-align: end;
        }
      }
      .total {
        font-weight: 700;
        font-size: 14px;
      }

      .total-price {
        color: var(--yc-primary-color);
        font-weight: 700;
        font-size: 16px;
      }

      .border-space {
        padding-bottom: 22px;
        padding: 0px 18px 18px;
      }

      .item-total-price {
        color: var(--yc-primary-color);
        font-weight: 700;
        font-size: 16px;
      }

      .discount-text,
      .shipping-text {
        font-weight: 700;
        font-size: 14px;
      }

      .discount-price {
        display: inline-flex;
        gap: 4px;
        font-size: 15px;
        font-weight: 500;

        &::before {
          content: '-';
        }

        &:dir(rtl) {
          flex-direction: row-reverse;
        }
      }

      .coupon-applied {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        font-size: 14px;

        span {
          font-weight: 600;
        }
      }

      #remove-coupon {
        cursor: pointer;
        font-size: 18px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .quantity-wrapper {
    width: fit-content;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;

    button {
      width: 34px !important;
      min-width: 34px !important;
      max-width: 34px !important;
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
      background-color: transparent;
      font-size: 18px;
      color: #b7b7b7;
    }

    input {
      width: 34px !important;
      min-width: 34px !important;
      max-width: 34px !important;
      height: 34px !important;
      min-height: 34px !important;
      max-height: 34px !important;
      margin: 0 !important;
      padding: 0 !important;
      background-color: white;
      display: flex;
      font-weight: 600 !important;
      font-size: 16px !important;
      border: 0;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    @media screen and (max-width: 520px) {
      button,
      input {
        width: 26px !important;
        min-width: 25px !important;
        max-width: 25px !important;
        height: 27px !important;
        min-height: 27px !important;
        max-height: 27px !important;
      }
    }
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 42px auto;
  overflow-x: auto;

  .cart__item {
    background: #f5f5f5;
    border: 1px solid #ededed;
    border-radius: 0px 0px 4px 4px;
    position: relative;
    margin-bottom: 25px;
  }

  .header {
    border: 1px solid #ededed;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 0;
    display: flex;
    height: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .cell {
      flex-basis: calc(100% / 5);
      text-align: start;
      padding: 10px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .cell {
      flex-basis: calc(100% / 5);
      text-align: start;
      padding: 10px;

      .product-title {
        font-weight: 400;
        font-size: 16.5px;
        margin-bottom: 10px;
        width: 86%;
      }

      .total-price-wrapper span {
        color: var(--yc-primary-color);
        font-weight: 700;
        font-size: 17px;
      }

      .product-image {
        img {
          --size: 140px;

          width: var(--size);
          height: var(--size);
          object-fit: cover;
        }
      }
    }

    .adjust-space {
      flex-basis: calc(100% / 20);
      padding: 0;
    }

    .close-btn {
      font-size: 25px;
      color: #4b5565;
    }
  }

  @media screen and (max-width: 767px) {
    .header {
      display: none;
    }

    .row {
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;

      .cell {
        .product-image img {
          width: 140px;
          height: 90px;
        }
      }
    }

    .close-btn {
      button {
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        margin: 10px;
      }
    }

    .product-title {
      width: 87%;
    }
    .row .cell:first-child,
    .row .cell:nth-child(n + 3) {
      flex-basis: 35%;
    }

    .row .cell:nth-child(2),
    .row .cell:nth-child(n + 4) {
      flex-basis: 65%;
    }
  }
}
