@import 'helpers/mixins';

[class^="section-slider-"] .splide__pagination__page {
  width: 10px;
  height: 10px;
  background: unset;
  border: 1px solid white;
  margin: 3px 5px;
  opacity: 1;
}

[class^="section-slider-"] .splide__pagination__page.is-active {
  background: var(--yc-primary-color);
  transform: unset;
  border: 1px solid var(--yc-primary-color);
}

.splide {
  height: var(--mobile-height);

  @include breakpoint('md') {
    height: var(--desktop-height);
  }
}

.yc-slider__desktop {
  display: none;

  @include breakpoint('md') {
    display: block;
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding:0 250px;
    text-align:var(--alignment);

    .headers {
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    @for $i from 1 through 3 {
      h#{$i} {
        font-size: calc(3rem / $i);
        @extend .headers;
      }
    }

    p {
      margin-top: 1rem;
    }

    .btn-holder {
      margin-top: 1em;
      text-align: var(--alignment);

      a {
        display: inline-flex;
      }
    }
  }
}
