<section>
  {% comment %} TODO: Add collections listing markup {% endcomment %}
  <div class="empty-page">
    {% assign title = 'collections.empty.title' | t %}
    {% assign description = 'collections.empty.description' | t %}

    {% render 'yc-empty', icon: 'collections', heading: title, subheading: description %}
  </div>
</section>

{%- schema -%}
{
  "label": "All collections",
  "templates": ["list-collections"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
