<section>
  {% comment %} TODO: Add collections listing markup {% endcomment %}
  <div class="empty-page">
    {% render 'yc-empty', icon: 'collections', heading: 'No collections available' %}
  </div>
</section>

{%- schema -%}
{
  "label": "All collections",
  "templates": ["list-collections"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
