{{ 'all-collections.css' | asset_url | stylesheet_tag }}

<section class="all-collections">
  {% render 'yc-empty', icon: 'collections', heading: 'No collections available' %}
</section>

{%- schema -%}
{
  "label": "All collections",
  "templates": ["list-collections"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
