<section class="empty-page">
  {% comment %} TODO: Add search result markup {% endcomment %}
  <div class="empty-page">
    {% render 'yc-empty', icon: 'cart', heading: 'Your cart is empty' %}
  </div>
</section>

{%- schema -%}
{
  "label": "Cart",
  "templates": ["cart"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
