{{ 'cart.css' | asset_url | stylesheet_tag }}

<yc-section
  style="
    --section-space-top: 60px;
    --section-space-bottom: 60px;
  "
>
  <yc-section-head data-position="left">
    <h1 class="h2">Shopping Cart</h1>
  </yc-section-head>
  <div class="cart">
    <div class="content"></div>
    <div class="summary">
      <h2 class="h3">Summary</h2>
      <div class="coupon">
        <input type="text" placeholder="Coupon code">
        <button class="yc-btn secondary">Apply</button>
      </div>
      <div class="subtotal">
        <div class="item">
          <span>Subtotal</span>
          <span>900 MAD</span>
        </div>
        <div class="item">
          <span>Coupon</span>
          <span>-15%</span>
        </div>
        <div class="total">
          <span>Total</span>
          <span data-cart-total>765 MAD</span>
        </div>
      </div>
      <button class="yc-btn primary">Proceed to checkout</button>
    </div>
  </div>
  {% comment %}
    {% if cart and cart.items %}
      {% comment %}
        {% comment %}CART  {% endcomment %}
      {% endcomment %}
    {% else %}
      <div class="empty-page">
        {% assign title = 'cart.empty.title' | t %}
        {% assign description = 'cart.empty.description' | t %}

        {% render 'yc-empty', icon: 'cart', heading: title, subheading: description %}
      </div>
    {% endif %}
    {% comment %}
    {% endcomment %}
  {% endcomment %}
</yc-section>

{%- schema -%}
{
  "label": "Cart",
  "templates": ["cart"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
