<section class="empty-page">
  {% comment %} TODO: Add search result markup {% endcomment %}

  <div class="empty-page">
    {% assign title = 'cart.empty.title' | t %}
    {% assign description = 'cart.empty.description' | t %}

    {% render 'yc-empty', icon: 'cart', heading: title, subheading: description %}
  </div>
</section>

{%- schema -%}
{
  "label": "Cart",
  "templates": ["cart"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
