{{ 'component-modal.css' | asset_url | stylesheet_tag }}
{{ 'component-modal.js' | asset_url | script_tag_deferred }}

{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<yc-section>
  <yc-modal data-hidden="true">
    <button class="icon" data-toggle>
      {% render 'yc-icon' %}
    </button>
    <div class="modal-container">
      <div class="modal-box" data-modal>
        <div style="padding: 2em; display: flex; align-items: center; justify-content: space-between;">
          Hello world
          <button class="icon" data-size="sm" data-toggle>
            {% render 'yc-icon', name: 'x-mark' %}
          </button>
        </div>
      </div>
      <div class="modal-overlay" data-toggle></div>
    </div>
  </yc-modal>

  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 2rem; margin: 2rem 0;">
    <button class="yc-btn primary">Primary Button</button>
    <button class="yc-btn secondary">Seconary Button</button>

    <button disabled class="yc-btn primary">Primary Button Disabled</button>
    <button disabled class="yc-btn secondary">Secondary Button Disabled</button>
  </div>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
