{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<div class="default">RABI3A</div>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
