{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<div class="default" style="padding: 2rem 10%">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</div>

<yc-section style="--space-top: 100px; --space-bottom: 100px">
  <yc-section-head>
    <h2>New arrivals</h2>
    <p>Our new arrivals are built to withstand your activities while keeping you looking your best!</p>
  </yc-section-head>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
