{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<div class="default" style="height: 700px;">

  <section
    class="section-core"
    style="--space-top: 100px; --space-bottom: 100px;"
  >
    <div class="section-head" data-position="center">
      <h1 class="title">Features collections</h1>
      <p class="description">Dare to mx and match! Check our collections to level up your fashion game.</p>
    </div>
    <div class="section-content">Hello Do3bol 1 👋</div>
  </section>

  <section
    class="section-core"
    style="--space-top: 50px; --space-bottom: 50px;"
  >
    <div class="section-head" data-position="left">
      <h1 class="title">Features collections</h1>
      <p class="description">Dare to mx and match! Check our collections to level up your fashion game.</p>
    </div>
    <div class="section-content">Hello Do3bol 2 👋</div>
  </section>

  <div class="icons-list" style="display: grid; grid-template-columns: repeat(7, 40px); grid-gap: 20px">
    {% render 'yc-icon', name: 'search', width: '24px', height: '24px' %}
    {% render 'yc-icon', name: 'cart' %}
    {% render 'yc-icon', name: 'arrow-up' %}
    {% render 'yc-icon', name: 'arrow-down' %}
    {% render 'yc-icon', name: 'arrow-left' %}
    {% render 'yc-icon', name: 'arrow-right' %}
    {% render 'yc-icon', name: 'caret-left' %}
    {% render 'yc-icon', name: 'caret-right' %}
    {% render 'yc-icon', name: 'x-mark' %}
    {% render 'yc-icon', name: 'plus' %}
    {% render 'yc-icon', name: 'minus' %}
    {% render 'yc-icon', name: 'trash' %}
    {% render 'yc-icon', name: 'menu' %}
    {% render 'yc-icon' %}
    {% comment %} Invalid icon name {% endcomment %}
  </div>
</div>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
