{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<section
  class="default"
  style="padding: 2rem 10%;"
>
  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); gap: 2rem; margin: 2rem 0;">
    <button class="yc-btn primary">Primary Button</button>
    <button class="yc-btn secondary">Seconary Button</button>

    <button disabled class="yc-btn primary">Primary Button Disabled</button>
    <button disabled class="yc-btn secondary">Secondary Button Disabled</button>
  </div>
  <div class="" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem;">
    {% render 'product-card' %}
    {% render 'product-card' %}
    {% render 'product-card' %}
    {% render 'product-card' %}
  </div>
</section>

<yc-section style="--space-top: 100px; --space-bottom: 100px">
  <yc-section-head>
    <h2>New arrivals</h2>
    <p>Our new arrivals are built to withstand your activities while keeping you looking your best!</p>
  </yc-section-head>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
