{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
<yc-section>
  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); gap: 2rem; margin: 2rem 0;">
    <button class="yc-btn primary">Primary Button</button>
    <button class="yc-btn secondary">Seconary Button</button>

    <button disabled class="yc-btn primary">Primary Button Disabled</button>
    <button disabled class="yc-btn secondary">Secondary Button Disabled</button>
  </div>
</yc-section>

<yc-section style="--space-top: 100px; --space-bottom: 100px">
  <yc-section-head>
    <h2>Ratio Adapt to image (contain) / Width full (100%)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'full', ratio: 'contain' %}
    {% render 'column-card', width: 'full', ratio: 'contain' %}
    {% render 'column-card', width: 'full', ratio: 'contain' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio Adapt to image (contain) / Width half (50%)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'medium', ratio: 'contain' %}
    {% render 'column-card', width: 'medium', ratio: 'contain' %}
    {% render 'column-card', width: 'medium', ratio: 'contain' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio Adapt to image (contain) / Width on-third (33% hihi)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'small', ratio: 'contain' %}
    {% render 'column-card', width: 'small', ratio: 'contain' %}
    {% render 'column-card', width: 'small', ratio: 'contain' %}
  </div>

</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio square (square) / Width full (100%)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'full', ratio: 'square' %}
    {% render 'column-card', width: 'full', ratio: 'square' %}
    {% render 'column-card', width: 'full', ratio: 'square' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio square (cover) / Width half (50%)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'medium', ratio: 'square' %}
    {% render 'column-card', width: 'medium', ratio: 'square' %}
    {% render 'column-card', width: 'medium', ratio: 'square' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio square (cover) / Width on-third (33% hihi)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'small', ratio: 'square' %}
    {% render 'column-card', width: 'small', ratio: 'square' %}
    {% render 'column-card', width: 'small', ratio: 'square' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio circle / Width full (100%)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'full', ratio: 'circle' %}
    {% render 'column-card', width: 'full', ratio: 'circle' %}
    {% render 'column-card', width: 'full', ratio: 'circle' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio circle / Width half (50%)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'medium', ratio: 'circle' %}
    {% render 'column-card', width: 'medium', ratio: 'circle' %}
    {% render 'column-card', width: 'medium', ratio: 'circle' %}
  </div>
</yc-section>

<yc-section style="--space-top: 50px; --space-bottom: 50px">
  <yc-section-head>
    <h2>Ratio circle / Width on-third (33% hihi)</h2>
    <p>Burgeeeeer!</p>
  </yc-section-head>
  <div
    class="multi-column"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem"
  >
    {% render 'column-card', width: 'small', ratio: 'circle' %}
    {% render 'column-card', width: 'small', ratio: 'circle' %}
    {% render 'column-card', width: 'small', ratio: 'circle' %}
  </div>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
