{% comment %}
  TO REMOVE ❌
  TODO: This section is just a placeholder for the theme pages, as the template schema requires at least one section
{% endcomment %}
{{ 'review-card.css' | asset_url | stylesheet_tag }}

<yc-section>
  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 2rem; margin: 2rem 0;">
    {% render 'review-card' %}
    {% render 'review-card' %}
    {% render 'review-card' %}
    {% render 'review-card' %}
  </div>
</yc-section>

{% schema %}
{
  "label": "Default",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "menu",
      "default": true,
      "label": "Menu"
    }
  ]
}
{% endschema %}
