{% assign product = section.settings.item %}

<yc-section
  style="
    --section-space-top: {{ section.settings.space_top }}px;
    --section-space-bottom: {{ section.settings.space_bottom }}px;
  "
>
  <div class="single-product">
    <div class="media" style="background-color: var(--color-gray-50); height: 200px">MEDIA 🏗️</div>
    <div class="info">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'title' %}
            {% render 'product-title', title: product.name %}
          {% when 'price' %}
            {% render 'product-price', price: product.price, compare_at_price: product.compare_at_price %}
          {% when 'description' %}
            {% render 'product-description', description: product.description %}
          {% when 'rating' %}
            {% render 'product-rating', rating: product.averageRating, show_avg_rating: true %}
          {% when 'inventory_status' %}
            {% render 'product-inventory-status',
              count: product.variants[0].inventory,
              threshold: block.settings.threshold,
              show_count: block.settings.show_count
            %}
          {% when 'countdown_timer' %}
            {% render 'countdown-timer',
              title: block.settings.title,
              days: block.settings.days,
              hours: block.settings.hours,
              minutes: block.settings.minutes,
              seconds: block.settings.seconds
            %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</yc-section>

{% schema %}
{
  "label": "Featured Product",
  "settings": [
    {
      "id": "item",
      "type": "product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "id": "space_top",
      "type": "range",
      "label": "Space top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "id": "space_bottom",
      "type": "range",
      "label": "Space bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "inventory_status",
      "label": "Inventory Status",
      "limit": 1,
      "settings": [
        {
          "id": "threshold",
          "type": "range",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 10,
          "unit": "",
          "label": "Low inventory threshold"
        },
        {
          "id": "show_count",
          "type": "checkbox",
          "default": true,
          "label": "Show inventory count"
        }
      ]
    },
    {
      "type": "title",
      "label": "Title",
      "limit": 1,
      "settings": []
    },
    {
      "type": "price",
      "label": "Price",
      "limit": 1,
      "settings": []
    },
    {
      "type": "rating",
      "label": "Rating",
      "limit": 1,
      "settings": []
    },
    {
      "type": "description",
      "label": "Description",
      "limit": 1,
      "settings": []
    },
    {
      "type": "countdown_timer",
      "label": "Countdown Timer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "Time is running out"
        },
        {
          "id": "background_color",
          "type": "color",
          "label": "Background color",
          "default": "#ffffff"
        },
        {
          "id": "foreground_color",
          "type": "color",
          "label": "Foreground color",
          "default": "#121212"
        },
        {
          "id": "days",
          "type": "range",
          "label": "Days",
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": "",
          "default": 0
        },
        {
          "id": "hours",
          "type": "range",
          "label": "Hours",
          "min": 0,
          "max": 23,
          "step": 1,
          "unit": "",
          "default": 23
        },
        {
          "id": "minutes",
          "type": "range",
          "label": "Minutes",
          "min": 0,
          "max": 59,
          "step": 1,
          "unit": "",
          "default": 59
        },
        {
          "id": "seconds",
          "type": "range",
          "label": "Seconds",
          "min": 0,
          "max": 59,
          "step": 1,
          "unit": "",
          "default": 59
        }
      ]
    }
  ]
}
{% endschema %}
