{{ 'footer.css' | asset_url | stylesheet_tag }}

<div class="content">
  <div class="store-brand">
    <a href="#">
      <img src="{{ 'default-logo.webp' | asset_url }}" alt="my store" height="60" width="60">
    </a>
  </div>
  <div class="links-box">
    <div class="navigation">
      <p>Terms and conditions</p>
      <div class="links">
        <a href="/">Terms &amp; Conditions</a>
        <a href="/">Return Policy</a>
        <a href="/">Privacy Policy</a>
      </div>
    </div>
    <div class="navigation">
      <p>About the store</p>
      <div class="links">
        <a href="/">About us</a>
        <a href="/">How to pay</a>
        <a href="/">Shipping &amp; Delivery</a>
      </div>
    </div>
    <div class="navigation">
      <p>Contact</p>
      <div class="links">
        <a href="/">Contact us</a>
        <a href="/">FAQ</a>
      </div>
    </div>
  </div>
</div>
<div class="copyright">Powered by YouCan</div>

{% schema %}
{
  "label": "Footer",
  "tag": "footer",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Color"
    }
  ]
}
{% endschema %}
