{{ 'layout-header.css' | asset_url | stylesheet_tag }}
{{ 'layout-header.js' | asset_url | script_tag_deferred }}

<yc-header>
  <ul role="list" class="links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Man</a></li>
    <li><a href="#">Woman</a></li>
    <li><a href="#">Kids</a></li>
  </ul>
  <div class="logo">
    <a href="#">
      <img src="{{ 'default-logo.webp' | asset_url }}" alt="my store" height="60" width="60">
    </a>
  </div>
  <div class="actions">
    <button class="search-btn icon" aria-label="search">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        width="18"
        height="18"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
    </button>
    <button class="cart-btn icon" aria-label="cart">
      <span class="total-items">2</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        width="18"
        height="18"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
      </svg>
      <span class="total-amount">0 MAD</span>
    </button>
  </div>
</yc-header>

{% schema %}
{
  "label": "Header",
  "tag": "div",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Color"
    }
  ]
}
{% endschema %}
