<section class="empty-page">
  {% render 'yc-empty', icon: 'search', heading: 'No search result found' %}
</section>

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
