{{ 'search.css' | asset_url | stylesheet_tag }}

<section class="search">
  {% render 'yc-empty', icon: 'search', heading: 'No search result for term' %}
</section>

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
