<section>
  {% comment %} TODO: Add search result markup {% endcomment %}
  <div class="empty-page">
    {% assign title = 'search.empty.title' | t %}
    {% assign description = 'search.empty.description' | t %}

    {% render 'yc-empty', icon: 'search', heading: title, subheading: description %}
  </div>
</section>

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
