<section>
  {% comment %} TODO: Add search result markup {% endcomment %}
  <div class="empty-page">
    {% render 'yc-empty', icon: 'search', heading: 'No search result found' %}
  </div>
</section>

{%- schema -%}
{
  "label": "Search",
  "templates": ["search"],
  "limit": 1,
  "settings": []
}
{%- endschema -%}
