/* 
  Component: Modal

  Usage:
    - <div ui-slot="modal">
        <button popovertarget="my-modal">  Click to Open </button>

        <div ui-slot="modal-content" id="my-modal" popover> My Modal Content </div>
      </div>
    
*/

/* Content */
[ui-slot="modal-content"][popover] {
  display: flex;
  visibility: hidden;
  inset: auto;
  left: 50%;
  flex-direction: column;
  width: 70%;
  transform: translate(-50%, -50%) scale(0.94);
  transition: var(--transition-expressive-fast-spatial);
  border: none;
  opacity: 0;
  background-color: var(--modal-background);
  color: inherit;
  inset-block-start: 50%;
  filter: blur(2px);

  /* Header */
  [ui-slot="modal-header"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-16);
    gap: var(--spacing-12);

    /* Title */
    [ui-slot="sheet-title"] {
      font: var(--font-label-lg);
      text-transform: uppercase;
    }
  }

  /* Body */
  [ui-slot="modal-body"] {
    padding: var(--spacing-16);
  }

  /* Body */
  [ui-slot="modal-footer"] {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(2, 1fr);
    padding: var(--spacing-16);
  }

  /* Backdrop */
  &::backdrop {
    transition: var(--transition-standard-default-spatial);
  }

  /* State */
  &:popover-open {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    filter: blur(0);

    &::backdrop {
      background-color: color-mix(in srgb, black 30%, transparent);
    }

    @starting-style {
      visibility: hidden;
      transform: translate(-50%, -50%) scale(0.94);
      opacity: 0;
      filter: blur(2px);

      &::backdrop {
        background-color: transparent;
      }
    }
  }

  @media (max-width: 769px) {
    width: calc(100% - var(--spacing-16));
  }
}

[data-intensity="as-solid-bg"],
[data-intensity="as-foreground"] {
  [ui-slot="modal-content"] {
    --modal-background: var(--color-on-primary);
  }
}

[data-intensity="as-light-bg"] {
  [ui-slot="modal-content"] {
    --modal-background: var(--color-primary-container);
  }
}
