{{ 'section.announcement-bar.css' | asset_url | stylesheet_tag }}

<div
  ui-section="announcement-bar"
  role="banner"
>
  <ul>
    {% for item in section.blocks %}
      <li class="item">Announcement</li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "t:sections.announcement_bar.label",
  "tag": "header",
  "limit": 1,
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "checkbox",
      "id": "override_global_colors",
      "label": "t:common.colors.override_global_colors",
      "default": true
    },
    {
      "type": "color",
      "id": "main_color",
      "label": "t:common.colors.main_color",
      "default": "#121212"
    },
    {
      "type": "select",
      "id": "color_intensity",
      "label": "t:common.colors.color_intensity",
      "options": [
        { "label": "t:common.colors.options.as_solid_bg", "value": "as-solid-bg" },
        { "label": "t:common.colors.options.as_light_bg", "value": "as-light-bg" },
        { "label": "t:common.colors.options.as_foreground", "value": "as-foreground" }
      ],
      "default": "as-solid-bg"
    },
    {
      "type": "header",
      "content": "t:common.headers.general"
    },
    {
      "type": "checkbox",
      "id": "homepage_only",
      "label": "t:sections.announcement_bar.homepage_only",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.headers.motion"
    },
    {
      "type": "range",
      "id": "change_every",
      "label": "t:sections.announcement_bar.speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.announcement_bar.pause_on_hover",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "announcement_item",
      "label": "t:sections.announcement_bar.blocks.announcement.label",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.announcement_bar.blocks.announcement.text",
          "default": "t:sections.announcement_bar.blocks.announcement.default"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement_bar.blocks.announcement.link",
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
