<h1>Logo list</h1>

{% schema %}
{
  "label": "t:sections.logo_list.label",
  "limit": 2,
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:common.colors.bg_color",
      "default": "#E14A43"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "t:common.colors.fg_color",
      "default": "#FAFAFA"
    },
    {
      "type": "header",
      "content": "t:common.headers.general"
    },
    {
      "type": "checkbox",
      "id": "fullscreen",
      "label": "t:sections.logo_list.fullscreen",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "grayscale",
      "label": "t:sections.logo_list.grayscale",
      "default": true
    },
    {
      "type": "header",
      "content": "t:common.headers.motion"
    },
    {
      "type": "checkbox",
      "id": "scrolling",
      "label": "t:sections.logo_list.scrolling",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.announcement_bar.pause_on_hover",
      "default": true,
      "visible_if": {
        "setting_id": "scrolling",
        "value": true
      }
    },
    {
      "type": "select",
      "id": "speed",
      "label": "t:sections.announcement_bar.speed.label",
      "options": [
        {
          "value": "20",
          "label": "t:sections.announcement_bar.speed.slow"
        },
        {
          "value": "60",
          "label": "t:sections.announcement_bar.speed.normal"
        },
        {
          "value": "80",
          "label": "t:sections.announcement_bar.speed.fast"
        }
      ],
      "default": "60",
      "visible_if": {
        "setting_id": "scrolling",
        "value": true
      }
    }
  ],
  "blocks": [
    {
      "type": "logo_item",
      "label": "t:sections.logo_list.blocks.logo.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:common.globals.image",
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
