{% comment %}
  Renders a location item (Block)

  Accepts:
    - location: {Object} Item info

  Usage:
  {% render 'block.location' %}
{% endcomment %}

<li ui-carousel="item" ui-block="location" ui-slot="carousel-item" data-alignment="{{ section.settings.alignment }}" {{ location.youcan_attributes }}>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.289817469334!2d-6.842323146252821!3d34.005509795994875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76d0029824363%3A0x76ed59271f7615ad!2sMedina%20Stadium!5e1!3m2!1sen!2sma!4v1777286543941!5m2!1sen!2sma"
      width="800"
      height="600"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="detail">
    <h4 class="name">Marrakech Store</h4>
    <div class="info">
      <article class="directions">
        <p>17 Allen Street, 5fl, New York, NY 10002</p>
        <p>Mon - Fri: 12pm - 7pm</p>
        <p>Sat - Sun: 11am - 7pm</p>
      </article>
      <a ui-slot="link-button" data-variant="primary" data-size="md" data-underline="true" href="#"> Directions </a>
    </div>
  </div>
</li>
