[ui-block=collection]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-6);
}
[ui-block=collection] .media{
  height:20vh;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-12);
}
[ui-block=collection] .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-block=collection] .title{
  margin-left:var(--spacing-2);
  margin-right:var(--spacing-2);
  font:var(--font-title-lg);
}

@media (max-width: 769px){
  [ui-block=collection] .media{
    height:15vh;
  }
  [ui-block=collection] .title{
    font:var(--font-title-md);
  }
}
