
  [ui-block=collection]{
    display:flex;
    flex-direction:column;
    overflow:hidden;
    border-radius:var(--radius-collection);
    box-shadow:var(--shadow-lg);
  }
  [ui-block=collection] .media{
    height:35vh;
  }
  [ui-block=collection] .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-block=collection] .content{
    display:flex;
    gap:var(--spacing-14);
    justify-content:space-between;
    padding:var(--spacing-24);
    background-color:var(--color-surface-container-lowest);
  }
  [ui-block=collection] .content .info{
    display:grid;
    grid-gap:var(--spacing-8);
    gap:var(--spacing-8);
  }
  [ui-block=collection] .content .info .title{
    font:var(--font-title-md);
  }
  [ui-block=collection] .content .info .total{
    color:var(--color-on-surface-variant);
  }
  @media (max-width: 769px){
    [ui-block=collection] .media{
      height:30vh;
    }
  }
