[ui-block=product]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-12);
}
[ui-block=product] .media{
  height:35vh;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-12);
  -webkit-text-decoration:none;
  text-decoration:none;
}
[ui-block=product] .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-block=product] .content{
  display:flex;
  gap:var(--spacing-8);
  justify-content:space-between;
}
[ui-block=product] .content .info{
  display:grid;
  grid-gap:var(--spacing-4);
  gap:var(--spacing-4);
}
[ui-block=product] .content .info .title{
  display:block;
  width:auto;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
[ui-block=product] .content .info .price{
  color:var(--color-primary);
}
[ui-block=product] .content .info .price .compare-at-price{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}

@media (max-width: 769px){
  [ui-block=product] .media{
    height:20vh;
  }
}
