
  ui-quantity{
    display:flex;
    align-items:center;
    width:-moz-fit-content;
    width:fit-content;
    padding:var(--spacing-2);
    overflow:hidden;
    border:1px solid var(--color-surface-variant);
    border-radius:var(--radius-rounded);
  }
  ui-quantity .value{
    width:30px;
    text-align:center;
  }
  ui-quantity [ui-slot=button]{
    border-radius:var(--radius-rounded);
  }
