[data-bundle=single],
[data-bundle=multiple],
[data-bundle=buyxgety]{
  display:flex;
  flex-direction:column;
  padding:var(--spacing-24);
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-product);
  gap:var(--spacing-24);
}
[data-bundle=single] .option,
[data-bundle=multiple] .option,
[data-bundle=buyxgety] .option{
  display:flex;
  align-items:center;
  gap:var(--spacing-16);
}
[data-bundle=single] label.option,
[data-bundle=multiple] label.option,
[data-bundle=buyxgety] label.option{
  cursor:pointer;
}
[data-bundle=single] .option .quantity,
[data-bundle=single] .option .image,
[data-bundle=multiple] .option .quantity,
[data-bundle=multiple] .option .image,
[data-bundle=buyxgety] .option .quantity,
[data-bundle=buyxgety] .option .image{
  display:flex;
  align-items:center;
  justify-content:center;
  width:80px;
  height:100%;
  overflow:hidden;
  border-radius:var(--radius-product);
  background-color:var(--color-surface-container);
  font:var(--font-title-md);
  aspect-ratio:1/1;
}
[data-bundle=single] .option .quantity img,
[data-bundle=single] .option .image img,
[data-bundle=multiple] .option .quantity img,
[data-bundle=multiple] .option .image img,
[data-bundle=buyxgety] .option .quantity img,
[data-bundle=buyxgety] .option .image img{
  -o-object-fit:cover;
     object-fit:cover;
}
[data-bundle=single] .option .info,
[data-bundle=multiple] .option .info,
[data-bundle=buyxgety] .option .info{
  display:flex;
  flex:1;
  flex-direction:column;
  gap:var(--spacing-8);
}
[data-bundle=single] .option .info .title,
[data-bundle=multiple] .option .info .title,
[data-bundle=buyxgety] .option .info .title{
  display:block;
  overflow:hidden;
  font:var(--font-title-md);
  text-overflow:ellipsis;
  white-space:nowrap;
}
[data-bundle=single] .option .info .variants,
[data-bundle=multiple] .option .info .variants,
[data-bundle=buyxgety] .option .info .variants{
  color:var(--color-on-surface-variant);
}
[data-bundle=single] .option .price,
[data-bundle=multiple] .option .price,
[data-bundle=buyxgety] .option .price{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-4);
  text-align:end;
}
[data-bundle=single] .option .price .original,
[data-bundle=multiple] .option .price .original,
[data-bundle=buyxgety] .option .price .original{
  font:var(--font-title-md);
}
[data-bundle=single] .option .price .compare-at,
[data-bundle=multiple] .option .price .compare-at,
[data-bundle=buyxgety] .option .price .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
[data-bundle=single] .free-heading,
[data-bundle=multiple] .free-heading,
[data-bundle=buyxgety] .free-heading{
  display:flex;
  align-items:center;
  gap:var(--spacing-4);
  font:var(--font-body-lg);
}
[data-bundle=single] .free-heading i,
[data-bundle=multiple] .free-heading i,
[data-bundle=buyxgety] .free-heading i{
  font-size:24px;
}
[data-bundle=single] .items,
[data-bundle=multiple] .items,
[data-bundle=buyxgety] .items{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
}
@media (max-width: 769px){
  [data-bundle=single] .option,
  [data-bundle=multiple] .option,
  [data-bundle=buyxgety] .option{
    gap:var(--spacing-12);
  }
  [data-bundle=single] .option:has(.variants:nth-child(2)),
  [data-bundle=multiple] .option:has(.variants:nth-child(2)),
  [data-bundle=buyxgety] .option:has(.variants:nth-child(2)){
    align-items:flex-start;
  }
  [data-bundle=single] .option .quantity,
  [data-bundle=single] .option .image,
  [data-bundle=multiple] .option .quantity,
  [data-bundle=multiple] .option .image,
  [data-bundle=buyxgety] .option .quantity,
  [data-bundle=buyxgety] .option .image{
    width:40px;
    height:auto;
    border-radius:calc(var(--radius-product) * 0.5);
    font:var(--font-title-sm);
  }
  [data-bundle=single] .option .info .title,
  [data-bundle=multiple] .option .info .title,
  [data-bundle=buyxgety] .option .info .title{
    font:var(--font-title-sm);
  }
  [data-bundle=single] .option .info .variants,
  [data-bundle=multiple] .option .info .variants,
  [data-bundle=buyxgety] .option .info .variants{
    font:var(--font-body-sm);
  }
  [data-bundle=single] .free-heading,
  [data-bundle=multiple] .free-heading,
  [data-bundle=buyxgety] .free-heading{
    font:var(--font-body-md);
  }
  [data-bundle=single] .free-heading i,
  [data-bundle=multiple] .free-heading i,
  [data-bundle=buyxgety] .free-heading i{
    font-size:16px;
  }
}
[data-bundle=single] .head,
[data-bundle=multiple] .head,
[data-bundle=buyxgety] .head{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
}
[data-bundle=single] .head .title,
[data-bundle=multiple] .head .title,
[data-bundle=buyxgety] .head .title{
  font:var(--font-title-lg);
  text-align:center;
}
[data-bundle=single] .head .images,
[data-bundle=multiple] .head .images,
[data-bundle=buyxgety] .head .images{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:var(--spacing-16);
}
[data-bundle=single] .head .images .image,
[data-bundle=multiple] .head .images .image,
[data-bundle=buyxgety] .head .images .image{
  width:80px;
  height:auto;
  aspect-ratio:1/1;
  overflow:hidden;
  border-radius:var(--radius-product);
}
[data-bundle=single] .head .images .image img,
[data-bundle=multiple] .head .images .image img,
[data-bundle=buyxgety] .head .images .image img{
  -o-object-fit:cover;
     object-fit:cover;
}
[data-bundle=single] .head .images .free,
[data-bundle=multiple] .head .images .free,
[data-bundle=buyxgety] .head .images .free{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:var(--color-surface-container);
  color:var(--color-on-surface-variant);
}
[data-bundle=single] .head .images .free i,
[data-bundle=multiple] .head .images .free i,
[data-bundle=buyxgety] .head .images .free i{
  font-size:24px;
}
[data-bundle=single] .head .images .plus,
[data-bundle=multiple] .head .images .plus,
[data-bundle=buyxgety] .head .images .plus{
  color:var(--color-on-surface-variant);
  font:var(--font-title-lg);
}
@media (max-width: 769px){
  [data-bundle=single] .head .title,
  [data-bundle=multiple] .head .title,
  [data-bundle=buyxgety] .head .title{
    font:var(--font-title-md);
  }
  [data-bundle=single] .head .images .image,
  [data-bundle=multiple] .head .images .image,
  [data-bundle=buyxgety] .head .images .image{
    width:40px;
    border-radius:calc(var(--radius-product) * 0.5);
  }
  [data-bundle=single] .head .images .free i,
  [data-bundle=multiple] .head .images .free i,
  [data-bundle=buyxgety] .head .images .free i{
    font-size:16px;
  }
}
[data-bundle=single] .total,
[data-bundle=multiple] .total,
[data-bundle=buyxgety] .total{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:var(--spacing-16) var(--spacing-24);
  border-radius:var(--radius-button);
  background-color:var(--color-surface-container);
  gap:var(--spacing-16);
  font:var(--font-label-lg);
}
[data-bundle=single] .total .value,
[data-bundle=multiple] .total .value,
[data-bundle=buyxgety] .total .value{
  display:flex;
  gap:var(--spacing-4);
}
[data-bundle=single] .total .value .compare-at,
[data-bundle=multiple] .total .value .compare-at,
[data-bundle=buyxgety] .total .value .compare-at{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
@media (max-width: 769px){
  [data-bundle=single] .total,
  [data-bundle=multiple] .total,
  [data-bundle=buyxgety] .total{
    padding-inline:var(--spacing-16);
  }
}
