ui-express-checkout{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
ui-express-checkout ui-linked-fields{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
ui-express-checkout [ui-express-checkout=field]{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
@media (min-width: 769.02px){
  ui-express-checkout{
    grid-template-columns:repeat(2, 1fr);
  }
  ui-express-checkout > *:last-child{
    grid-column:1/3;
  }
}

#express-checkout[popover] [ui-slot=drawer-footer] .label,
#express-checkout[popover] [ui-slot=drawer-footer] .value{
  font:var(--font-title-lg);
}
#express-checkout[popover] [ui-slot=drawer-footer] .value{
  display:flex;
  justify-content:flex-end;
}
#express-checkout[popover] [ui-slot=drawer-footer] .description{
  grid-column:1/3;
  color:var(--color-on-surface-variant);
}
#express-checkout[popover] [ui-slot=drawer-footer] ui-shop-button{
  grid-column:1/3;
}
@media (min-width: 769.02px){
  #express-checkout[popover] [ui-slot=drawer-body],
  #express-checkout[popover] [ui-slot=drawer-footer]{
    margin-left:25%;
    margin-right:25%;
  }
}
