ui-cart-form{
  flex:1;
}
ui-cart-form:has(ui-empty:not([hidden])){
  display:flex;
  align-items:center;
  justify-content:center;
}
ui-cart-form ui-cart-drawer-items{
  display:flex;
  gap:var(--spacing-24);
  flex-direction:column;
}
ui-cart-form ui-cart-drawer-items .item{
  display:flex;
  gap:var(--spacing-16);
}
ui-cart-form ui-cart-drawer-items .item .image{
  position:relative;
  width:90px;
  height:90px;
  overflow:hidden;
  border-radius:var(--radius-8);
  background-color:var(--color-surface-container);
}
ui-cart-form ui-cart-drawer-items .item .image img{
  width:100%;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  border:1px solid var(--color-surface-container);
}
ui-cart-form ui-cart-drawer-items .item .content{
  display:flex;
  flex:2;
  flex-direction:column;
  justify-content:space-between;
}
ui-cart-form ui-cart-drawer-items .item .content .info{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
  grid-template-columns:auto auto;
}
ui-cart-form ui-cart-drawer-items .item .content .info .bio{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
ui-cart-form ui-cart-drawer-items .item .content .info .bio .title{
  overflow:hidden;
  font:var(--font-body-md);
  text-overflow:ellipsis;
  white-space:nowrap;
}
ui-cart-form ui-cart-drawer-items .item .content .info .bio .variants{
  opacity:0.8;
  font:var(--font-body-sm);
}
ui-cart-form ui-cart-drawer-items .item .content .info .price{
  display:flex;
  justify-content:flex-end;
  color:var(--color-primary);
}
ui-cart-form ui-cart-drawer-items .item .content .actions{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
