
  ui-sort .options{
    display:flex;
    flex-direction:column;
  }
  ui-sort .options .opt{
    justify-content:flex-start;
  }
  ui-sort .options .opt input[type=radio]{
    pointer-events:none;
  }
