ui-empty{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-4);
  text-align:center;
}
ui-empty .heading{
  font:var(--font-body-md);
}
ui-empty .subheading{
  color:var(--color-on-surface-variant);
  font:var(--font-body-sm);
}
