
  ui-image-fallback{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    background-color:var(--color-surface-container-low);
  }
  ui-image-fallback > svg{
    opacity:0.3;
    color:var(--color-on-surface-variant);
  }
