
  ui-empty{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:var(--spacing-16);
  }
  ui-empty .heading{
    font:var(--font-headline-lg);
  }
  ui-empty .subheading{
    color:var(--color-on-surface-variant);
    font:var(--font-body-lg);
  }
  ui-empty [ui-slot=button]{
    width:-moz-fit-content;
    width:fit-content;
    margin-top:var(--spacing-8);
  }
