
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) > *:first-child{
    position:relative;
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) > *:first-child [ui-slot=badge]{
    position:absolute;
    bottom:-25%;
    right:-25%;
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-body]{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer]{
    display:flex;
    gap:var(--spacing-16);
    flex-direction:column;
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer] .footer{
    display:grid;
    grid-template-columns:repeat(2, auto);
    grid-gap:var(--spacing-8);
    gap:var(--spacing-8);
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer] .footer .label,
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer] .footer .value{
    font:var(--font-title-lg);
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer] .footer .value{
    display:flex;
    justify-content:flex-end;
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer] .footer .description{
    grid-column:1/3;
    color:var(--color-on-surface-variant);
  }
  .cart-drawer:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) #cart[popover] [ui-slot=sheet-footer] .navigation{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
    grid-template-columns:30% auto;
  }
