
  ui-sort:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) .options{
    display:flex;
    flex-direction:column;
  }
  ui-sort:not(#\#):not(#\#) .options .opt{
    justify-content:flex-start !important;
  }
  ui-sort:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) .options .opt input[type=radio]{
    pointer-events:none;
  }
