.product-drawer [ui-slot=sheet-body]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
  padding-bottom:calc(var(--spacing-16) + var(--spacing-4));
}
.product-drawer [ui-slot=sheet-body] .media-area{
  --per-page:1;
  --item-size:100%;
  --gap:var(--spacing-8);
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
.product-drawer [ui-slot=sheet-body] .media-area:has(.images .image:nth-child(2)){
  --item-size:92%;
}
.product-drawer [ui-slot=sheet-body] .media-area .images{
  height:38vh;
}
.product-drawer [ui-slot=sheet-body] .media-area .images .image{
  overflow:hidden;
  border-radius:var(--radius-20);
}
.product-drawer [ui-slot=sheet-body] .media-area .images .image > img{
  -o-object-fit:cover;
     object-fit:cover;
}
.product-drawer [ui-slot=sheet-body] .media-area .markers{
  justify-content:center;
}
.product-drawer [ui-slot=sheet-body] .media-area .markers [ui-carousel=marker]{
  display:flex;
  align-items:center;
  justify-content:center;
  width:20px;
  height:20px;
  transition:var(--transition-standard-default-spatial);
  border:none;
  background-color:transparent;
  color:var(--color-primary);
  cursor:pointer;
}
.product-drawer [ui-slot=sheet-body] .media-area .markers [ui-carousel=marker]::before{
  content:"";
  display:flex;
  width:var(--spacing-8);
  height:var(--spacing-8);
  transition:var(--transition-standard-default-spatial);
  border-radius:var(--radius-rounded);
  background-color:color-mix(in srgb, currentcolor 38%, transparent);
}
.product-drawer [ui-slot=sheet-body] .media-area .markers [ui-carousel=marker][aria-selected=true]{
  width:var(--spacing-48);
}
.product-drawer [ui-slot=sheet-body] .media-area .markers [ui-carousel=marker][aria-selected=true]::before{
  width:inherit;
  background-color:currentcolor;
}
.product-drawer [ui-slot=sheet-body] .content-area{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-16);
}
.product-drawer [ui-slot=sheet-body] .content-area [ui-block=title]{
  font:var(--font-headline-lg);
}
.product-drawer [ui-slot=sheet-body] .content-area [ui-block=rating]{
  display:flex;
  align-items:center;
  gap:var(--spacing-8);
}
.product-drawer [ui-slot=sheet-body] .content-area [ui-block=price]{
  display:flex;
  align-items:center;
  gap:var(--spacing-8);
  font:var(--font-title-lg);
}
.product-drawer [ui-slot=sheet-body] .content-area [ui-block=price] .compare-at-price{
  opacity:0.5;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
.product-drawer [ui-slot=sheet-body] .content-area [ui-block=controller]{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
  grid-template-columns:min-content auto;
}
.product-drawer [ui-slot=sheet-body] .content-area [ui-block=controller]:has(ui-shop-button) > [ui-slot=button]:last-of-type{
  grid-column:1/3;
}
.product-drawer [ui-slot=sheet-body] .content-area img,
.product-drawer [ui-slot=sheet-body] .content-area iframe{
  max-width:100%;
}
@media (max-width: 769px){
  .product-drawer [ui-slot=sheet-body] .content-area [ui-block=title]{
    font:var(--font-headline-sm);
  }
  .product-drawer [ui-slot=sheet-body] .content-area [ui-block=price]{
    font:var(--font-title-md);
  }
}
.product-drawer [ui-slot=sheet-footer]{
  grid-template-columns:1fr !important;
  padding:var(--spacing-0) !important;
  background-color:inherit;
  border-top:1px solid var(--color-surface-variant);
}
.product-drawer [ui-slot=sheet-footer] > [ui-slot=button]{
  justify-content:space-between !important;
  height:auto !important;
  padding:calc(var(--spacing-16) + var(--spacing-4)) !important;
  border-radius:var(--radius-0) !important;
}
