.cart-drawer > *:first-child{
  position:relative;
}
.cart-drawer > *:first-child [ui-slot=badge]{
  position:absolute;
  bottom:-25%;
  right:-25%;
}
.cart-drawer #cart[popover] [ui-slot=sheet-body]{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] .footer{
  display:flex;
  align-items:center;
  justify-content:space-between;
  font:var(--font-title-md);
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] .footer .label{
  color:var(--color-on-surface-variant);
}
.cart-drawer #cart[popover] [ui-slot=sheet-body] .footer .value{
  color:var(--color-primary);
}
