[ui-section=rich-text]{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  gap:var(--spacing-16);
}
[ui-section=rich-text] .subheading{
  font:var(--font-body-lg);
}
[ui-section=rich-text] .heading{
  font:var(--font-display-md);
}
[ui-section=rich-text] .description{
  width:50%;
  color:var(--color-on-surface-variant);
  font:var(--font-body-lg);
  text-wrap:balance;
}
[ui-section=rich-text] .cta{
  width:-moz-fit-content;
  width:fit-content;
  margin-top:var(--spacing-8);
}
@media (max-width: 769px){
  [ui-section=rich-text] .heading{
    font:var(--font-headline-lg);
  }
  [ui-section=rich-text] .description{
    width:100%;
  }
}
