[ui-section=page] [ui-slot=alert]{
  width:-moz-fit-content;
  width:fit-content;
}
[ui-section=page] > form{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}
@media (min-width: 769px){
  [ui-section=page] > form{
    width:50%;
  }
}
[ui-section=page] > form .fields{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=page] > form .fields fieldset{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
