
  [ui-section=product-set]:not(#\#){
    padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
  }
  [ui-section=product-set]{
    display:grid;
    grid-gap:var(--spacing-32);
    gap:var(--spacing-32);
  }
  [ui-section=product-set][data-orientation=horizontal]{
    grid-template-columns:repeat(2, 1fr);
  }
  [ui-section=product-set] .media-area{
    height:70vh;
    overflow:hidden;
    border-radius:var(--radius-20);
  }
  [ui-section=product-set] .media-area > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-section=product-set] .core-area{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-32);
  }
  [ui-section=product-set] .core-area .cta-box{
    display:flex;
    justify-content:center;
  }
  [ui-section=product-set] .core-area .cta-box [ui-slot=button]{
    width:-moz-fit-content;
    width:fit-content;
  }
  [ui-section=product-set] .core-area .items-box{
    display:grid;
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item]{
    display:flex;
    gap:var(--spacing-16);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .media{
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius:var(--radius-12);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .main-info{
    display:flex;
    flex:2;
    flex-direction:column;
    gap:var(--spacing-12);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .main-info .title{
    font:var(--font-body-lg);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .main-info ui-variants{
    display:flex;
    flex-wrap:wrap;
    gap:var(--spacing-12);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .secondary-info{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-12);
    align-items:end;
    justify-content:space-between;
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .secondary-info .price{
    display:grid;
    color:var(--color-on-surface-variant);
    font:var(--font-title-sm);
    grid-gap:var(--spacing-8);
    gap:var(--spacing-8);
  }
  [ui-section=product-set] .core-area .items-box [ui-block=product-item] .secondary-info .price .compare-at-price{
    opacity:0.5;
  }
  @media (min-width: 1028.02px){
    [ui-section=product-set] .media-area{
      position:sticky;
      top:0;
    }
  }
  @media (max-width: 1028px){
    [ui-section=product-set][data-orientation]{
      grid-template-columns:1fr;
    }
    [ui-section=product-set] .media-area{
      height:35vh;
    }
  }
