
  [ui-section=reviews]{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:var(--spacing-32);
  }
  [ui-section=reviews] [ui-slot=head] .overview{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:var(--spacing-16);
    margin-top:var(--spacing-16);
  }
  [ui-section=reviews] [ui-slot=head] .overview .rating .total{
    font:var(--font-display-md);
  }
  [ui-section=reviews] [ui-slot=head] .overview .rating .stars{
    display:grid;
    text-align:left;
    grid-gap:var(--spacing-4);
    gap:var(--spacing-4);
  }
  [ui-section=reviews] [ui-slot=head] .overview .states{
    display:flex;
    flex-direction:column-reverse;
    gap:var(--spacing-8);
    width:380px;
  }
  [ui-section=reviews] [ui-slot=head] .overview .states .state{
    display:flex;
    align-items:center;
    gap:var(--spacing-8);
  }
  [ui-section=reviews] [ui-slot=head] .overview .states .state svg{
    color:#f6b51e;
  }
  [ui-section=reviews] [ui-slot=head] .overview .states .state span{
    width:10px;
  }
  [ui-section=reviews] [ui-slot=head] .overview .states .state progress{
    width:100%;
  }
  [ui-section=reviews] .items{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    width:100%;
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
  }
  [ui-section=reviews] .items [ui-block=review],
  [ui-section=reviews] .items .skeleton-item{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    overflow:hidden;
  }
  [ui-section=reviews] .items [ui-block=review] .content,
  [ui-section=reviews] .items .skeleton-item .content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:var(--spacing-24);
    gap:var(--spacing-16);
  }
  [ui-section=reviews] .items [ui-block=review] .content .core,
  [ui-section=reviews] .items .skeleton-item .content .core{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-16);
  }
  [ui-section=reviews] .items [ui-block=review] .content .core article,
  [ui-section=reviews] .items .skeleton-item .content .core article{
    color:var(--color-on-surface-variant);
    word-break:break-all;
  }
  [ui-section=reviews] .items [ui-block=review] .content .core .images,
  [ui-section=reviews] .items .skeleton-item .content .core .images{
    display:flex;
    flex-wrap:wrap;
    gap:var(--spacing-8);
  }
  [ui-section=reviews] .items [ui-block=review] .content .core .images .image,
  [ui-section=reviews] .items .skeleton-item .content .core .images .image{
    width:var(--spacing-48);
    height:var(--spacing-48);
    overflow:hidden;
    border-radius:calc(var(--radius-testimonial) * 0.6);
  }
  [ui-section=reviews] .items [ui-block=review] .content .core .images .image > img,
  [ui-section=reviews] .items .skeleton-item .content .core .images .image > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-section=reviews] .items [ui-block=review] .content .author,
  [ui-section=reviews] .items .skeleton-item .content .author{
    padding-top:var(--spacing-16);
    border-top:1px solid var(--color-surface-variant);
  }
  [ui-section=reviews] .items [ui-block=review] .media,
  [ui-section=reviews] .items .skeleton-item .media{
    height:auto;
    overflow:hidden;
    border-radius:var(--radius-review);
    aspect-ratio:1/1;
  }
  [ui-section=reviews] .items [ui-block=review] .media > img,
  [ui-section=reviews] .items .skeleton-item .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  @media (max-width: 1024px){
    [ui-section=reviews] .items{
      grid-template-columns:1fr;
    }
  }
  @media (max-width: 769px){
    [ui-section=reviews] [ui-slot=head] .overview .states{
      width:100%;
    }
    [ui-section=reviews] .items .skeleton-item,
    [ui-section=reviews] .items [ui-block=review]{
      display:flex;
      gap:var(--spacing-24);
      flex-direction:column-reverse;
    }
    [ui-section=reviews] .items .skeleton-item .content,
    [ui-section=reviews] .items [ui-block=review] .content{
      padding:var(--spacing-0);
    }
  }
