[ui-section=thankyou]{
  display:flex;
  align-items:center;
  justify-content:center;
}
[ui-section=thankyou] .order-summary{
  width:500px;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-12);
  background-color:var(--color-surface-container-low);
}
[ui-section=thankyou] .order-summary .summary-head{
  padding:var(--spacing-24);
}
[ui-section=thankyou] .order-summary .order-info{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
  padding:var(--spacing-24);
}
[ui-section=thankyou] .order-summary .order-info .item{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[ui-section=thankyou] .order-summary .order-info .item .label{
  color:var(--color-on-surface-variant);
}
[ui-section=thankyou] .order-summary .order-info .item .value.total{
  color:var(--color-primary);
  font-weight:bold;
}
[ui-section=thankyou] .order-summary .order-info .product{
  display:flex;
  gap:var(--spacing-12);
  justify-content:space-between;
}
[ui-section=thankyou] .order-summary .order-info .product .image{
  position:relative;
  width:80px;
  height:80px;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-8);
  background-color:var(--color-surface-container);
}
[ui-section=thankyou] .order-summary .order-info .product .image img{
  width:100%;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=thankyou] .order-summary .order-info .product .content{
  display:flex;
  flex:2;
  flex-direction:column;
  gap:var(--spacing-8);
}
[ui-section=thankyou] .order-summary .order-info .product .content .count{
  opacity:0.8;
}

@media (max-width: 769px){
  [ui-section=thankyou] .order-summary{
    width:100%;
    border-left:none;
    border-right:none;
    border-radius:var(--radius-0);
  }
}
