[ui-section=single-product]{
  display:grid;
  grid-template-columns:50% auto;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
  padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
}
[ui-section=single-product][data-media-width-desktop=sm]{
  grid-template-columns:40% auto;
}
[ui-section=single-product][data-media-width-desktop=md]{
  grid-template-columns:50% auto;
}
[ui-section=single-product][data-media-width-desktop=lg]{
  grid-template-columns:auto 40%;
}
[ui-section=single-product] .media{
  position:sticky;
  top:0;
}
[ui-section=single-product] .media[data-layout=carousel]{
  display:flex;
  position:relative;
  flex-direction:column;
  height:-moz-fit-content;
  height:fit-content;
  gap:var(--spacing-24);
}
[ui-section=single-product] .media[data-layout=carousel] .arrow{
  position:absolute;
  top:40%;
  transform:translateY(-50%);
  border-color:transparent;
  background-color:var(--color-on-primary);
  color:var(--color-primary);
}
[ui-section=single-product] .media[data-layout=carousel] .arrow:disabled{
  opacity:0.5;
  pointer-events:none;
}
[ui-section=single-product] .media[data-layout=carousel] .arrow:first-of-type{
  left:var(--spacing-12);
}
[ui-section=single-product] .media[data-layout=carousel] .arrow:last-of-type{
  right:var(--spacing-12);
}
[ui-section=single-product] .media[data-layout=carousel] [ui-slot=carousel]{
  height:100%;
}
[ui-section=single-product] .media[data-layout=carousel] [ui-slot=carousel].main-media{
  --per-page:1;
  height:60vh;
  overflow-y:hidden;
  border-radius:var(--radius-16);
}
[ui-section=single-product] .media[data-layout=carousel] [ui-slot=carousel].markers{
  --per-page:4;
  --item-size:85%;
  --gap:var(--spacing-8);
  height:15vh;
}
[ui-section=single-product] .media[data-layout=carousel] [ui-slot=carousel].markers .marker{
  overflow:hidden;
  transition:var(--transition-standard-default-spatial);
  border-radius:var(--radius-8);
  opacity:1;
}
[ui-section=single-product] .media[data-layout=carousel] [ui-slot=carousel].markers .marker:hover, [ui-section=single-product] .media[data-layout=carousel] [ui-slot=carousel].markers .marker[aria-selected=true]{
  opacity:0.5;
}
[ui-section=single-product] .media[data-layout=grid]{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  height:-moz-fit-content;
  height:fit-content;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=single-product] .media[data-layout=grid] .image{
  height:40vh;
  overflow:hidden;
  border-radius:var(--radius-16);
}
[ui-section=single-product] .media[data-layout=grid] .image:nth-child(3n+1){
  grid-column:1/3;
  height:60vh;
}
[ui-section=single-product] .media[data-layout=grid] .image > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=single-product] .content{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-16);
}
[ui-section=single-product] .content .title{
  font:var(--font-headline-lg);
}
[ui-section=single-product] .content .price{
  display:flex;
  align-items:center;
  gap:var(--spacing-8);
  font:var(--font-title-lg);
}
[ui-section=single-product] .content .price .compare-at-price{
  color:var(--color-on-surface-variant);
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
[ui-section=single-product] .content .controller{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
  grid-template-columns:min-content auto;
}
[ui-section=single-product] .content .controller > *:last-child{
  grid-column:1/3;
}
[ui-section=single-product] .content img,
[ui-section=single-product] .content iframe{
  max-width:100%;
}
@media (max-width: 769px){
  [ui-section=single-product][data-media-width-desktop]{
    grid-template-columns:1fr;
  }
  [ui-section=single-product] .media[data-layout=carousel]{
    height:45vh;
  }
  [ui-section=single-product] .media[data-layout=carousel] .arrow{
    display:none;
  }
  [ui-section=single-product] .content .title{
    font:var(--font-headline-sm);
  }
  [ui-section=single-product] .content .price{
    font:var(--font-title-md);
  }
}
