[ui-section=faqs]{
  display:grid;
  align-items:flex-start;
  grid-gap:var(--spacing-32);
  gap:var(--spacing-32);
  padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
}
[ui-section=faqs][data-orientation=horizontal]{
  grid-template-columns:40% auto;
}
[ui-section=faqs] .content-area{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
}
[ui-section=faqs] .content-area .cta{
  width:-moz-fit-content;
  width:fit-content;
  min-width:180px;
  margin-top:var(--spacing-8);
}
@media (max-width: 1028px){
  [ui-section=faqs]{
    gap:var(--spacing-48);
    display:flex;
    flex-direction:column-reverse;
  }
}
