[ui-section=search]{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}
[ui-section=search] .list{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  width:100%;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}

@media (max-width: 1024px){
  [ui-section=search] .list{
    grid-template-columns:repeat(3, 1fr);
  }
}
@media (max-width: 769px){
  [ui-section=search] .list{
    grid-template-columns:repeat(2, 1fr);
  }
}
