[ui-section=product-set]{
  display:grid;
  grid-gap:var(--spacing-32);
  gap:var(--spacing-32);
  grid-template-columns:repeat(2, 1fr);
}
[ui-section=product-set] .media-area{
  height:70vh;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-20);
}
[ui-section=product-set] .core-area{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-32);
}
[ui-section=product-set] .core-area .head-box{
  display:grid;
  justify-content:center;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
  text-align:center;
}
[ui-section=product-set] .core-area .head-box .subheading{
  font:var(--font-body-lg);
}
[ui-section=product-set] .core-area .head-box .heading{
  font:var(--font-display-md);
}
[ui-section=product-set] .core-area .cta-box{
  display:flex;
  justify-content:center;
}
[ui-section=product-set] .core-area .items-box{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item]{
  display:flex;
  gap:var(--spacing-16);
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item] .media{
  width:120px;
  height:120px;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-12);
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item] .main-info{
  display:flex;
  flex:2;
  flex-direction:column;
  gap:var(--spacing-12);
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item] .main-info .title{
  font:var(--font-body-lg);
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item] .secondary-info{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-12);
  align-items:end;
  justify-content:space-between;
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item] .secondary-info .price{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
  color:var(--color-on-surface-variant);
}
[ui-section=product-set] .core-area .items-box [ui-block=product-item] .secondary-info .price .original-price{
  color:var(--color-primary);
}
@media (max-width: 1028px){
  [ui-section=product-set]{
    grid-template-columns:1fr;
  }
  [ui-section=product-set] .media-area{
    height:35vh;
  }
}
@media (max-width: 769px){
  [ui-section=product-set] .core-area .head-box .heading{
    font:var(--font-headline-lg);
  }
}
