[ui-section=image-with-text] .wrapper-area{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  height:70vh;
  overflow:hidden;
  border-radius:var(--radius-20);
}
[ui-section=image-with-text] .wrapper-area [ui-block=content]{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:var(--spacing-48);
  background-color:var(--color-surface-container);
  gap:var(--spacing-32);
}
[ui-section=image-with-text] .wrapper-area [ui-block=content] .head{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
}
[ui-section=image-with-text] .wrapper-area [ui-block=content] .head .subheading{
  font:var(--font-body-lg);
}
[ui-section=image-with-text] .wrapper-area [ui-block=content] .head .heading{
  font:var(--font-display-md);
  text-wrap:balance;
}
[ui-section=image-with-text] .wrapper-area [ui-block=content] .description{
  color:var(--color-on-surface-variant);
  font:var(--font-body-lg);
  text-wrap:balance;
}
[ui-section=image-with-text] .wrapper-area [ui-block=content] .cta{
  width:-moz-fit-content;
  width:fit-content;
  min-width:180px;
}
@media (max-width: 1028px){
  [ui-section=image-with-text] .wrapper-area{
    grid-template-columns:1fr;
    height:auto;
  }
  [ui-section=image-with-text] .wrapper-area [ui-block=media]{
    height:35vh;
  }
  [ui-section=image-with-text] .wrapper-area [ui-block=content]{
    padding-left:var(--spacing-24);
    padding-right:var(--spacing-24);
  }
  [ui-section=image-with-text] .wrapper-area [ui-block=content] .head .heading{
    font:var(--font-display-sm);
  }
}
