
  [ui-section=product-tabs]:not(#\#){
    padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
  }
  [ui-section=product-tabs]{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-64);
  }
  [ui-section=product-tabs] [ui-slot=head] .tab-list{
    display:flex;
    position:relative;
    justify-content:center;
  }
  [ui-section=product-tabs] [ui-slot=head] .tab-list::before{
    content:"";
    position:absolute;
    bottom:anchor(bottom);
    left:anchor(left);
    width:anchor-size(width);
    height:1.5px;
    transition:var(--transition-expressive-default-spatial);
    border-radius:var(--radius-rounded);
    background-color:currentcolor;
    position-anchor:--selected;
  }
  [ui-section=product-tabs] [ui-slot=head] .tab-list .tab-trigger{
    height:calc(var(--spacing-32) + var(--spacing-8));
    padding-left:var(--spacing-12);
    padding-right:var(--spacing-12);
    transition:var(--transition-standard-default-spatial);
    border:none;
    opacity:0.7;
    background-color:transparent;
    color:inherit;
    font:var(--font-title-md);
    cursor:pointer;
  }
  [ui-section=product-tabs] [ui-slot=head] .tab-list .tab-trigger:hover{
    opacity:1;
  }
  [ui-section=product-tabs] [ui-slot=head] .tab-list .tab-trigger[aria-selected=true]{
    opacity:1;
    anchor-name:--selected;
  }
  [ui-section=product-tabs] .products-area{
    --per-page:1;
    --gap:var(--spacing-24);
  }
  [ui-section=product-tabs] .products-area .items{
    display:grid;
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
    grid-template-columns:repeat(attr(data-nbr-columns-desktop number), 1fr);
  }
  @media (max-width: 1028px){
    [ui-section=product-tabs] .products-area .items{
      gap:var(--spacing-12);
      grid-template-columns:repeat(2, 1fr);
    }
  }
  @media (max-width: 769px){
    [ui-section=product-tabs]{
      gap:var(--spacing-48);
    }
  }
