
  [ui-section=featured-collection]:not(#\#){
    padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
  }
  [ui-section=featured-collection]{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-64);
  }
  [ui-section=featured-collection] .core-area{
    display:grid;
    grid-gap:var(--spacing-32);
    gap:var(--spacing-32);
    grid-template-columns:repeat(2, 1fr);
  }
  [ui-section=featured-collection] .core-area [ui-block=content]{
    position:sticky;
    height:-moz-fit-content;
    height:fit-content;
    overflow:hidden;
    border-radius:var(--radius-20);
    top:var(--spacing-24);
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .media{
    height:70vh;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content{
    display:flex;
    position:absolute;
    flex-direction:column;
    padding:var(--spacing-48);
    top:0;
    right:0;
    bottom:0;
    left:0;
    gap:var(--spacing-8);
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content[data-text-alignment=start]{
    align-items:flex-start;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content[data-text-alignment=center]{
    align-items:center;
    text-align:center;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content[data-text-alignment=end]{
    align-items:flex-end;
    text-align:right;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content[data-vertical-alignment=start]{
    justify-content:flex-start;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content[data-vertical-alignment=center]{
    justify-content:center;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content[data-vertical-alignment=end]{
    justify-content:flex-end;
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content .subheading{
    font:var(--font-body-lg);
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content .heading{
    font:var(--font-headline-lg);
  }
  [ui-section=featured-collection] .core-area [ui-block=content] .content .cta{
    width:-moz-fit-content;
    width:fit-content;
    min-width:180px;
    margin-top:var(--spacing-16);
  }
  [ui-section=featured-collection] .core-area [ui-block=products]{
    display:grid;
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
    grid-template-columns:repeat(2, 1fr);
  }
  @media (max-width: 1028px){
    [ui-section=featured-collection] .core-area{
      grid-template-columns:1fr;
    }
    [ui-section=featured-collection] .core-area [ui-block=content]{
      position:relative;
    }
    [ui-section=featured-collection] .core-area [ui-block=content] .media{
      height:35vh;
    }
    [ui-section=featured-collection] .core-area [ui-block=content] .content{
      padding:var(--spacing-24);
    }
    [ui-section=featured-collection] .core-area [ui-block=products]{
      gap:var(--spacing-12);
    }
  }
  @media (max-width: 769px){
    [ui-section=featured-collection]{
      gap:var(--spacing-48);
    }
  }
