[ui-section=reviews]{
  display:grid;
  grid-gap:var(--spacing-32);
  gap:var(--spacing-32);
}
[ui-section=reviews] [ui-slot=head] .overview{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:var(--spacing-16);
  margin-top:var(--spacing-16);
}
[ui-section=reviews] [ui-slot=head] .overview .rating{
  display:flex;
  align-items:center;
  gap:var(--spacing-16);
}
[ui-section=reviews] [ui-slot=head] .overview .rating .total{
  font:var(--font-display-md);
}
[ui-section=reviews] [ui-slot=head] .overview .rating .stars{
  display:grid;
  text-align:left;
  grid-gap:var(--spacing-4);
  gap:var(--spacing-4);
}
[ui-section=reviews] [ui-slot=head] .overview .states{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
  width:380px;
}
[ui-section=reviews] [ui-slot=head] .overview .states .state{
  display:flex;
  align-items:center;
  gap:var(--spacing-8);
}
[ui-section=reviews] [ui-slot=head] .overview .states .state svg{
  color:#f6b51e;
}
[ui-section=reviews] [ui-slot=head] .overview .states .state span{
  width:10px;
}
[ui-section=reviews] [ui-slot=head] .overview .states .state progress{
  width:100%;
}
[ui-section=reviews] .items{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
  grid-template-columns:repeat(2, 1fr);
}
[ui-section=reviews] .items [ui-block=review]{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  min-height:30vh;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-review);
}
[ui-section=reviews] .items [ui-block=review] .content{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:var(--spacing-24);
  gap:var(--spacing-16);
}
[ui-section=reviews] .items [ui-block=review] .content .core{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-16);
}
[ui-section=reviews] .items [ui-block=review] .content .core article{
  color:var(--color-on-surface-variant);
}
[ui-section=reviews] .items [ui-block=review] .content .core .images{
  display:flex;
  flex-wrap:wrap;
  gap:var(--spacing-8);
}
[ui-section=reviews] .items [ui-block=review] .content .core .images .image{
  width:var(--spacing-48);
  height:var(--spacing-48);
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:calc(var(--radius-testimonial) * 0.6);
}
[ui-section=reviews] .items [ui-block=review] .content .core .images .image > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=reviews] .items [ui-block=review] .content .author{
  padding-top:var(--spacing-16);
  border-top:1px solid var(--color-surface-variant);
}
@media (max-width: 1024px){
  [ui-section=reviews] .items{
    grid-template-columns:1fr;
  }
}
@media (max-width: 769px){
  [ui-section=reviews] .items [ui-block=review]{
    grid-template-columns:1fr;
    height:auto;
  }
  [ui-section=reviews] .items [ui-block=review] .media{
    height:25vh;
  }
}
