[ui-section=search]{
  display:grid;
  grid-gap:var(--spacing-32);
  gap:var(--spacing-32);
  padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
}
[ui-section=search] [ui-slot=head]{
  align-items:center;
}
[ui-section=search] [ui-slot=head] .search{
  width:500px;
}
[ui-section=search] .controller{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[ui-section=search] .controller .result{
  color:var(--color-on-surface-variant);
  font:var(--font-body-lg);
}
[ui-section=search] .controller .sort{
  display:flex;
  align-items:center;
  gap:var(--spacing-12);
}
[ui-section=search] .list{
  display:grid;
  grid-template-columns:repeat(attr(data-nbr-columns-desktop number), 1fr);
  width:100%;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}
@media (max-width: 1024px){
  [ui-section=search] .list{
    grid-template-columns:repeat(3, 1fr);
  }
}
@media (max-width: 769px){
  [ui-section=search] [ui-slot=head]{
    align-items:center;
  }
  [ui-section=search] [ui-slot=head] .search{
    width:100%;
  }
  [ui-section=search] .list{
    grid-template-columns:repeat(2, 1fr);
  }
}
