[ui-section=testimonials]{
  --per-page:3;
  --gap:var(--spacing-32);
  --item-size:75%;
  display:grid;
  grid-gap:var(--spacing-48);
  gap:var(--spacing-48);
}
[ui-section=testimonials] [ui-slot=head]{
  justify-content:space-between;
  gap:var(--spacing-24);
  width:100%;
  padding-left:8%;
  padding-right:8%;
}
[ui-section=testimonials] [ui-slot=head] .content{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
}
[ui-section=testimonials] [ui-slot=head] .actions{
  display:flex;
  gap:var(--spacing-16);
}
[ui-section=testimonials] .items-area{
  padding-left:8%;
  padding-right:8%;
}
[ui-section=testimonials] .items-area [ui-block=testimonial]{
  display:grid;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-20);
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .media{
  height:30vh;
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .media > img{
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .content{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
  padding:var(--spacing-24);
  border-top:1px solid var(--color-surface-variant);
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .content .info{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .content .info .author{
  font:var(--font-title-md);
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .content .info .review{
  color:var(--color-on-surface-variant);
  text-wrap:balance;
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .content .product{
  display:flex;
  gap:var(--spacing-16);
  align-items:center;
}
[ui-section=testimonials] .items-area [ui-block=testimonial] .content .product .image{
  width:56px;
  height:56px;
  overflow:hidden;
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-12);
}
@media (max-width: 1280px){
  [ui-section=testimonials]{
    --per-page:2;
  }
}
@media (max-width: 1028px){
  [ui-section=testimonials]{
    --per-page:1;
  }
  [ui-section=testimonials] [ui-slot=head]{
    flex-direction:column;
    justify-content:center;
    text-align:center;
  }
  [ui-section=testimonials] [ui-slot=head] .actions{
    justify-content:center;
  }
}
@media (max-width: 769px){
  [ui-section=testimonials]{
    --item-size:84%;
  }
  [ui-section=testimonials] [ui-slot=head]{
    padding-left:var(--spacing-0);
    padding-right:var(--spacing-0);
  }
  [ui-section=testimonials] .items-area{
    padding-left:var(--spacing-24);
    padding-right:var(--spacing-24);
  }
}
