#youcan-section--navbar{
  position:sticky;
  z-index:50;
  top:var(--spacing-0);
}

[ui-layout=navbar]{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:var(--spacing-24) 8%;
  background-color:var(--color-background);
  border-bottom:1px solid var(--color-surface-variant);
}
[ui-layout=navbar] .logo .name{
  font:var(--font-title-md);
  text-transform:uppercase;
}
[ui-layout=navbar] .links{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:var(--spacing-32);
}
[ui-layout=navbar] .actions{
  display:flex;
  gap:var(--spacing-12);
}
[ui-layout=navbar] .menu .mobile-links{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-14);
}
[ui-layout=navbar] .menu .mobile-links .link [ui-slot=link-button]{
  height:40px;
}
[ui-layout=navbar] .menu [ui-slot=sheet-footer]{
  grid-template-columns:1fr;
}
[ui-layout=navbar] .menu [ui-slot=sheet-footer] .social-links{
  display:flex;
  gap:var(--spacing-24);
  justify-content:center;
}

@media (min-width: 769.02px){
  [ui-layout=navbar] .menu{
    display:none;
  }
}
@media (max-width: 769px){
  [ui-layout=navbar]{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    padding-left:var(--spacing-24);
    padding-right:var(--spacing-24);
  }
  [ui-layout=navbar] .links{
    display:none;
  }
  [ui-layout=navbar] .logo{
    display:flex;
    justify-content:center;
  }
  [ui-layout=navbar] .actions{
    gap:var(--spacing-0);
    justify-content:flex-end;
  }
}
