[ui-section=list-collections]{
  display:flex;
  gap:var(--spacing-24);
}
[ui-section=list-collections] .list{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  width:100%;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}

@media (max-width: 769px){
  [ui-section=list-collections] .list{
    grid-template-columns:repeat(2, 1fr);
  }
}
