[ui-section=announcement-bar]{
  padding-left:var(--spacing-24);
  padding-right:var(--spacing-24);
}
[ui-section=announcement-bar][data-intensity=as-foreground]{
  border-bottom:1px solid var(--color-surface-variant);
}
[ui-section=announcement-bar] ui-carousel{
  display:flex;
  align-items:center;
  justify-content:center;
  height:calc(var(--spacing-32) + var(--spacing-8));
  gap:var(--spacing-12);
}
[ui-section=announcement-bar] ui-carousel > .items{
  width:attr(data-width %);
}
[ui-section=announcement-bar] ui-carousel > .items .item{
  display:flex;
  justify-content:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
@media (max-width: 760px){
  [ui-section=announcement-bar] ui-carousel > .items{
    width:100%;
  }
}

[data-intensity=as-foreground] [ui-layout=footer]:not([data-scoped-color]){
  border-bottom:1px solid var(--color-surface-variant);
}
