[ui-layout=header]{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:var(--spacing-24) 8%;
}
[ui-layout=header] .links{
  display:flex;
  align-items:center;
  gap:var(--spacing-12);
}
[ui-layout=header] .actions{
  display:flex;
  gap:var(--spacing-12);
}
[ui-layout=header] .sm-links .link > a{
  justify-content:flex-start;
}

@media (min-width: 769.02px){
  [ui-layout=header] .menu{
    display:none;
  }
}
@media (max-width: 769px){
  [ui-layout=header]{
    padding-left:var(--spacing-24);
    padding-right:var(--spacing-24);
  }
  [ui-layout=header] .links{
    display:none;
  }
}
