[ui-section=cart]{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=cart] .cart-core{
  display:grid;
  grid-gap:var(--spacing-64);
  gap:var(--spacing-64);
  grid-template-columns:60% auto;
}
[ui-section=cart] .cart-core ui-cart-items{
  display:grid;
  height:-moz-fit-content;
  height:fit-content;
}
[ui-section=cart] .cart-core ui-cart-items .item{
  display:flex;
  gap:var(--spacing-12);
}
[ui-section=cart] .cart-core ui-cart-items .item:not(:last-child){
  padding-top:var(--spacing-24);
  padding-bottom:var(--spacing-24);
  border-bottom:1px solid var(--color-surface-container);
}
[ui-section=cart] .cart-core ui-cart-items .item:first-child{
  padding-top:var(--spacing-0);
}
[ui-section=cart] .cart-core ui-cart-items .item:last-child{
  padding-top:var(--spacing-24);
}
[ui-section=cart] .cart-core ui-cart-items .item .media{
  position:relative;
  width:120px;
  height:120px;
  overflow:hidden;
  border:1px solid var(--color-surface-container);
  border-radius:var(--radius-8);
  background-color:var(--color-surface-container);
}
[ui-section=cart] .cart-core ui-cart-items .item .media img{
  width:100%;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
}
[ui-section=cart] .cart-core ui-cart-items .item .media > [ui-icon]{
  position:absolute;
  left:50%;
  opacity:0.3;
  translate:-50% -50%;
  top:50%;
}
[ui-section=cart] .cart-core ui-cart-items .item .content{
  display:flex;
  flex:2;
  flex-direction:column;
  justify-content:space-between;
}
[ui-section=cart] .cart-core ui-cart-items .item .content .top{
  display:flex;
  justify-content:space-between;
}
[ui-section=cart] .cart-core ui-cart-items .item .content .top .info{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
[ui-section=cart] .cart-core ui-cart-items .item .content .top .info .variants{
  color:var(--color-on-surface-variant);
  font:var(--font-body-sm);
}
[ui-section=cart] .cart-core ui-cart-items .item .content .bottom{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
[ui-section=cart] .cart-core .summary{
  display:grid;
  height:-moz-fit-content;
  height:fit-content;
  padding:var(--spacing-24);
  border:1px solid var(--color-surface-variant);
  border-radius:var(--radius-16);
  background-color:var(--color-surface-container-low);
  color:var(--color-on-theme);
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
}
[ui-section=cart] .cart-core .summary .head h3{
  font:var(--font-title-lg);
}
[ui-section=cart] .cart-core .summary .detail-items{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=cart] .cart-core .summary .detail-items .item{
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:var(--color-on-surface-variant);
}
[ui-section=cart] .cart-core .summary .detail-items .item:last-child{
  padding-top:var(--spacing-24);
  color:var(--color-on-surface);
  font:var(--font-body-lg);
  border-top:1px dashed var(--color-surface-variant);
}
[ui-section=cart] .cart-core .summary .detail-items .item:last-child .value{
  color:var(--color-primary);
}
[ui-section=cart] .cart-core .summary .detail-items .item:has([ui-summary-box][hidden]){
  display:none;
}
[ui-section=cart] .cart-core .summary .detail-items .item .value:has([ui-summary-box=coupon-code]){
  height:-moz-fit-content;
  height:fit-content;
  padding-right:var(--spacing-0);
}
[ui-section=cart] .cart-core .summary .cta > button{
  width:100%;
}
[ui-section=cart] .cart-core:has(ui-empty:not([hidden])){
  grid-template-columns:1fr;
}
@media (max-width: 1024px){
  [ui-section=cart] .cart-core{
    grid-template-columns:1fr;
    gap:var(--spacing-12);
  }
  [ui-section=cart] .cart-core ui-cart-items{
    margin:var(--spacing-12);
  }
}
@media (max-width: 769px){
  [ui-section=cart] .cart-core ui-cart-items .item .media{
    width:90px;
    height:90px;
  }
}
