[ui-section=product-tabs]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-64);
}
[ui-section=product-tabs] .head-area{
  display:grid;
  justify-content:center;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
  text-align:center;
}
[ui-section=product-tabs] .head-area .subheading{
  font:var(--font-body-lg);
}
[ui-section=product-tabs] .head-area .heading{
  font:var(--font-display-md);
}
[ui-section=product-tabs] .head-area .tab-list{
  display:flex;
  gap:var(--spacing-24);
  justify-content:center;
}
[ui-section=product-tabs] .head-area .tab-list [ui-slot=link-button]{
  cursor:pointer;
}
[ui-section=product-tabs] .products-area{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
  grid-template-columns:repeat(4, 1fr);
}
@media (max-width: 1028px){
  [ui-section=product-tabs] .products-area{
    gap:var(--spacing-12);
    grid-template-columns:repeat(2, 1fr);
  }
}
@media (max-width: 769px){
  [ui-section=product-tabs]{
    gap:var(--spacing-48);
  }
  [ui-section=product-tabs] .head-area .heading{
    font:var(--font-headline-lg);
  }
}
