ui-upsell{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
}
ui-upsell .head{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
ui-upsell .head .title{
  font:var(--font-title-lg);
}
ui-upsell .head .options{
  display:flex;
  gap:var(--spacing-8);
}
ui-upsell .head .options [ui-slot=button]{
  width:150px;
}
