
  [ui-section=faqs]:not(#\#){
    padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
  }
  [ui-section=faqs]{
    gap:var(--spacing-32);
  }
  [ui-section=faqs][data-orientation=vertical]{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  [ui-section=faqs][data-orientation=vertical] .items-area{
    width:50%;
  }
  [ui-section=faqs][data-orientation=horizontal]{
    display:grid;
    grid-template-columns:40% auto;
    align-items:flex-start;
  }
  [ui-section=faqs] .content-area{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
  }
  [ui-section=faqs] .content-area .cta{
    width:-moz-fit-content;
    width:fit-content;
    min-width:180px;
    margin-top:var(--spacing-8);
  }
  @media (max-width: 1028px){
    [ui-section=faqs][data-orientation]{
      gap:var(--spacing-48);
      display:flex;
      flex-direction:column-reverse;
    }
    [ui-section=faqs][data-orientation] .items-area{
      width:100%;
    }
  }
