
  [ui-section=multicolumn]:not(#\#){
    padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
  }
  [ui-section=multicolumn]{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-64);
  }
  [ui-section=multicolumn] .items-area{
    display:grid;
    grid-gap:var(--spacing-64);
    gap:var(--spacing-64);
    grid-template-columns:repeat(attr(data-nbr-columns-desktop number), 1fr);
  }
  [ui-section=multicolumn] .items-area [ui-block=column]{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:var(--spacing-32);
  }
  [ui-section=multicolumn] .items-area [ui-block=column] .media{
    width:attr(data-size px);
    height:attr(data-size px);
    overflow:hidden;
    border-radius:var(--radius-column);
  }
  [ui-section=multicolumn] .items-area [ui-block=column] .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-section=multicolumn] .items-area [ui-block=column] .content{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
  }
  [ui-section=multicolumn] .items-area [ui-block=column] .content .heading{
    font:var(--font-title-md);
  }
  [ui-section=multicolumn] .items-area [ui-block=column] .content .description{
    color:var(--color-on-surface-variant);
    font:var(--font-body-lg);
  }
  [ui-section=multicolumn] .items-area [ui-block=column][data-alignment=center]{
    align-items:center;
  }
  [ui-section=multicolumn] .items-area [ui-block=column][data-alignment=center] .content{
    text-align:center;
  }
  @media (max-width: 1028px){
    [ui-section=multicolumn] .items-area{
      grid-template-columns:repeat(2, 1fr);
    }
  }
  @media (max-width: 769px){
    [ui-section=multicolumn] .items-area{
      display:flex;
      scrollbar-width:none;
      -ms-overflow-style:none;
      -webkit-overflow-scrolling:touch;
      scroll-behavior:smooth;
      overflow-x:scroll;
      overflow-y:hidden;
      overflow:scroll hidden;
      scroll-snap-type:x mandatory;
    }
    [ui-section=multicolumn] .items-area [ui-block=column]{
      min-width:100%;
      scroll-snap-align:center;
      scroll-snap-stop:always;
    }
  }
