[ui-section=slideshow]{
  --per-page:1;
  --gap:var(--spacing-32);
  --item-size:92%;
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
}
[ui-section=slideshow] [ui-slot=carousel]{
  padding-left:8%;
  padding-right:8%;
}
[ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item]{
  position:relative;
}
[ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .media{
  height:70vh;
  border-radius:var(--radius-slide);
}
[ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .content{
  display:flex;
  position:absolute;
  flex-direction:column;
  justify-content:center;
  height:100%;
  gap:var(--spacing-16);
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:var(--spacing-64);
}
[ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .content .cta{
  width:-moz-fit-content;
  width:fit-content;
  min-width:180px;
  margin-top:var(--spacing-24);
}
@media (max-width: 769px){
  [ui-section=slideshow]{
    --item-size:100%;
  }
  [ui-section=slideshow] [ui-slot=carousel]{
    padding-left:var(--spacing-0);
    padding-right:var(--spacing-0);
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .media{
    height:40vh;
  }
  [ui-section=slideshow] [ui-slot=carousel] [ui-slot=carousel-item] .content{
    position:static;
    align-items:center;
    height:auto;
    padding:var(--spacing-48) 0 0 0;
    text-align:center;
  }
}
[ui-section=slideshow] .pagination{
  display:flex;
  align-items:center;
  justify-content:center;
}
[ui-section=slideshow] .pagination [ui-carousel=marker]{
  display:flex;
  align-items:center;
  justify-content:center;
  width:20px;
  height:20px;
  transition:var(--transition-standard-default-spatial);
  border:none;
  background-color:transparent;
  cursor:pointer;
}
[ui-section=slideshow] .pagination [ui-carousel=marker]::before{
  content:"";
  display:flex;
  width:var(--spacing-8);
  height:var(--spacing-8);
  transition:var(--transition-standard-default-spatial);
  border-radius:var(--radius-rounded);
  background-color:var(--color-surface-container-highest);
}
[ui-section=slideshow] .pagination [ui-carousel=marker][aria-selected=true]{
  width:var(--spacing-48);
}
[ui-section=slideshow] .pagination [ui-carousel=marker][aria-selected=true]::before{
  width:inherit;
  background-color:currentcolor;
}
