[ui-section=announcement-bar]{
  display:flex;
  align-items:center;
  justify-content:center;
  height:calc(var(--spacing-32) + var(--spacing-8));
  padding-left:var(--spacing-24);
  padding-right:var(--spacing-24);
  background-color:var(--color-on-background);
  color:var(--color-background);
  gap:var(--spacing-12);
}
[ui-section=announcement-bar] > .arrow{
  color:inherit;
}
[ui-section=announcement-bar] > .items{
  text-align:center;
}
[ui-section=announcement-bar] > .items .item{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
