[ui-section=faqs]{
  display:grid;
  grid-template-columns:40% auto;
  align-items:flex-start;
  grid-gap:var(--spacing-32);
  gap:var(--spacing-32);
}
[ui-section=faqs] .content-area{
  display:grid;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
}
[ui-section=faqs] .content-area .subheading{
  font:var(--font-body-lg);
}
[ui-section=faqs] .content-area .heading{
  font:var(--font-display-md);
}
[ui-section=faqs] .content-area .description{
  color:var(--color-on-surface-variant);
  font:var(--font-body-lg);
  text-wrap:balance;
}
[ui-section=faqs] .content-area .cta{
  width:-moz-fit-content;
  width:fit-content;
  min-width:180px;
  margin-top:var(--spacing-8);
}
@media (max-width: 1028px){
  [ui-section=faqs]{
    gap:var(--spacing-48);
    display:flex;
    flex-direction:column-reverse;
  }
}
@media (max-width: 769px){
  [ui-section=faqs] .content-area .heading{
    font:var(--font-headline-lg);
  }
}
