[ui-section=product-tabs]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-64);
}
[ui-section=product-tabs] [ui-slot=head] .tab-list{
  display:flex;
  gap:var(--spacing-24);
  justify-content:center;
}
[ui-section=product-tabs] [ui-slot=head] .tab-list [ui-slot=link-button]{
  cursor:pointer;
}
[ui-section=product-tabs] .products-area{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
  grid-template-columns:repeat(4, 1fr);
}
@media (max-width: 1028px){
  [ui-section=product-tabs] .products-area{
    gap:var(--spacing-12);
    grid-template-columns:repeat(2, 1fr);
  }
}
@media (max-width: 769px){
  [ui-section=product-tabs]{
    gap:var(--spacing-48);
  }
}
