[ui-section=page]{
  display:flex;
  flex-direction:column;
  gap:var(--spacing-24);
  padding:attr(data-top-spacing px) 8% attr(data-bottom-spacing px) !important;
}
[ui-section=page] [ui-slot=alert]{
  width:-moz-fit-content;
  width:fit-content;
}
[ui-section=page]:has(> form){
  align-items:center;
  justify-content:center;
}
[ui-section=page] > form{
  display:grid;
  grid-gap:var(--spacing-24);
  gap:var(--spacing-24);
  width:100%;
}
@media (min-width: 769px){
  [ui-section=page] > form{
    width:50%;
  }
}
[ui-section=page] > form .fields{
  display:grid;
  grid-gap:var(--spacing-12);
  gap:var(--spacing-12);
}
[ui-section=page] > form .fields fieldset{
  display:grid;
  grid-gap:var(--spacing-8);
  gap:var(--spacing-8);
}
