[ui-section=list-collections]{
  display:flex;
  gap:var(--spacing-64);
  flex-direction:column;
}
[ui-section=list-collections] .head-area{
  display:grid;
  justify-content:center;
  grid-gap:var(--spacing-16);
  gap:var(--spacing-16);
  text-align:center;
}
[ui-section=list-collections] .head-area .heading{
  font:var(--font-display-md);
}
[ui-section=list-collections] .head-area .description{
  color:var(--color-on-surface-variant);
  font:var(--font-body-lg);
  text-wrap:balance;
}
[ui-section=list-collections] .core-area .items{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:var(--spacing-32);
  gap:var(--spacing-32);
}
@media (max-width: 1280px){
  [ui-section=list-collections] .core-area .items{
    grid-template-columns:repeat(3, 1fr);
  }
}
@media (max-width: 1024px){
  [ui-section=list-collections] .core-area .items{
    grid-template-columns:repeat(2, 1fr);
  }
}
@media (max-width: 769px){
  [ui-section=list-collections]{
    gap:var(--spacing-48);
  }
  [ui-section=list-collections] .head-area .heading{
    font:var(--font-headline-lg);
  }
  [ui-section=list-collections] .core-area .items{
    grid-template-columns:1fr;
  }
}
