{{ 'section.collections.css' | asset_url | stylesheet_tag }}

<div ui-section="collections">
  <div class="content-area">
    <h4 class="subheading">Our self care collections</h4>
    <h1 class="heading">A holistic wellness & beauty line</h1>
    <p class="description">We create safe products that really work and are designed to make you feel good</p>
    <div class="actions">
      <button
        ui-slot="button"
        data-variant="neutral"
        data-mode="stroke"
        data-size="lg"
        data-as-icon
        aria-label="Previous"
      >
        {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
      </button>
      <button
        ui-slot="button"
        data-variant="neutral"
        data-mode="stroke"
        data-size="lg"
        data-as-icon
        aria-label="Next"
      >
        {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
      </button>
    </div>
  </div>
  <ul class="items-area" ui-slot="carousel" aria-orientation="vertical">
    {% for collection in (1..4) %}
      {% render 'block.collection' %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Collections",
  "templates": ["index"]
}
{% endschema %}
