{{ 'section.footer.css' | asset_url | stylesheet_tag }}

<div ui-layout="footer">
  {{ 'footer.copyright.title' | t }}
  <a
    ui-slot="link-button"
    data-variant="black"
    data-size="md"
    data-underline="true"
    href="https://youcan.shop"
    target="_blank"
    rel="noopener noreferrer"
  >
    {{ 'footer.copyright.platform' | t }}
  </a>
</div>
{% schema %}
{
  "label": "Footer",
  "tag": "footer",
  "limit": 1,
  "settings": []
}
{% endschema %}
