{{ 'section.image-with-text.css' | asset_url | stylesheet_tag }}

<div ui-section="image-with-text">
  <div class="wrapper-area">
    <div ui-block="media">
      {% render 'misc.image-fallback', icon_size: 100 %}
    </div>
    <div ui-block="content">
      <div ui-slot="head">
        <h4 class="heading">Explore our line</h4>
        <h1 class="subheading">Discover Radiance</h1>
      </div>
      <p class="description">
        Experience the transformative power of our meticulously crafted beauty products, designed to enhance your natural glow and reveal your most
        radiant self.
      </p>
      <button class="cta" ui-slot="button" data-variant="neutral" data-mode="filled" data-size="lg">Shop Now</button>
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Image With Text",
  "templates": ["index"]
}
{% endschema %}
