{{ 'section.rich-text.css' | asset_url | stylesheet_tag }}

<div ui-section="rich-text">
  <h4 class="subheading">Transform Your Space</h4>
  <h1 class="heading">Illuminate Inspiration</h1>
  <p class="description">
    Browse our extensive range of lighting options, from modern minimalist designs to classic ornate fixtures, and discover how you can transform your
    living spaces into captivating havens of light and style with LuminaLux.
  </p>
  <a
    class="cta"
    ui-slot="button"
    data-variant="neutral"
    data-mode="filled"
    data-size="lg"
    href="/"
  >
    Discover More
  </a>
</div>

{% schema %}
{
  "label": "Rich Text",
  "templates": ["index"]
}
{% endschema %}
