{{ 'section.slideshow.css' | asset_url | stylesheet_tag }}

{% assign variants = 'primary,secondary,tertiary' %}
{% assign slides = variants | split: ',' %}

<ui-carousel ui-section="slideshow">
  <ul ui-carousel="wrapper" ui-slot="carousel" aria-orientation="vertical" data-align="center">
    {% for slide in slides %}
      {% render 'block.slide' %}
    {% endfor %}
  </ul>
  <div class="pagination">
    {% for marker in slides %}
      <button
        ui-carousel="marker"
        aria-label="{{ marker }}"
        {% if forloop.first %}
          aria-selected="true"
        {% endif %}
      ></button>
    {% endfor %}
  </div>
</ui-carousel>

{% schema %}
{
  "label": "Slideshow",
  "templates": ["index"]
}
{% endschema %}
