{{ 'section.testimonials.css' | asset_url | stylesheet_tag }}

<ui-carousel ui-section="testimonials">
  <div class="head-area">
    <div class="content">
      <h4 class="subheading">Explore our line</h4>
      <h1 class="heading">Discover Radiance</h1>
    </div>
    <div class="actions">
      <button
        ui-carousel="arrow-previous"
        ui-slot="button"
        data-variant="neutral"
        data-mode="stroke"
        data-size="lg"
        data-as-icon
        aria-label="Previous"
      >
        {% render 'misc.icon', name: 'hgi-arrow-left-01' %}
      </button>
      <button
        ui-carousel="arrow-next"
        ui-slot="button"
        data-variant="neutral"
        data-mode="stroke"
        data-size="lg"
        data-as-icon
        aria-label="Next"
      >
        {% render 'misc.icon', name: 'hgi-arrow-right-01' %}
      </button>
    </div>
  </div>
  <ul class="items-area" ui-carousel="wrapper" ui-slot="carousel" aria-orientation="vertical" data-align="center">
    {% for testimonial in (1..8) %}
      {% render 'block.testimonial' %}
    {% endfor %}
  </ul>
</ui-carousel>

{% schema %}
{
  "label": "Testimonials",
  "templates": ["index"]
}
{% endschema %}
