{% comment %}
  Renders a review card (Block)

  Accepts:
  - review: {Object} Product info,

  Usage:
  {% render 'block-review', product: {...} %}
{% endcomment %}

<template>
  <li block="review">
    <div class="content">
      <p ui-product-reviews-item="content"></p>
    </div>
    <div class="images" ui-product-reviews-item="images"></div>
    <div class="author">
      <span class="name" ui-product-reviews-item="author"></span>
      <div class="rating">
        <div class="stars" ui-product-reviews-item="stars">
          {% for star in (1..5) %}
            {% render 'ui-icon', name: 'kid_star', size: 20, filled: true %}
          {% endfor %}
        </div>
        <span class="value" ui-product-reviews-item="rating"></span>
      </div>
    </div>
  </li>
</template>
