{% comment %}
  Renders an inventory status

  Accepts:
  - count: {Number} Inventory number
  - threshold: {Number} Inventory threshold

  Usage:
  {% render 'const-inventory-status', count: 10, threshold: 24 %}
{% endcomment %}

<div
  class="inventory"
  {% if count == 0 or count == null %}
    data-inventory="out-of-stock"
  {% elsif count > threshold %}
    data-inventory="in-stock"
  {% else %}
    data-inventory="low-stock"
  {% endif %}
  data-product-item="inventory"
  data-threshold="{{ threshold }}"
>
  {% render 'ui-icon', name: 'circle', filled: true, size: 8 %}
  <span data-status>
    {% if count == 0 or count == null %}
      {{ 'product.inventory_out_of_stock' | t }}
    {% elsif count > threshold %}
      {{ 'product.inventory_in_stock_show_count' | t | replace: '%', count }}
    {% else %}
      {{ 'product.inventory_low_stock_show_count' | t | replace: '%', count }}
    {% endif %}
  </span>
</div>
