{{ 'misc.linked-fields.js' | asset_url | script_tag_deferred }}

{% comment %}
  Renders a list of linked fields, typically "country", "region", and "city" (optional)

  Accepts:
  - fields: {Array} list of fields

  Usage:
  {% render 'misc-linked-fields', fields: [...] %}
{% endcomment %}

{% assign linked_fields = 'country,region,city' %}

<ui-linked-fields>
  {% for field in fields %}
    {% if linked_fields contains field.name %}
      <label
        ui-express-checkout-field
        {% if field contains field.hidden %}
          hidden
        {% endif %}
      >
        <span ui-express-checkout-label>{{ field.display_name }}</span>
        <select
          name="{{ field.name }}"
          {% if field.required %}
            required
          {% endif %}
        ></select>
      </label>
    {% endif %}
  {% endfor %}
</ui-linked-fields>
