{% comment %}
  Renders an empty state

  Accepts:
  - content: {String} component content
  - hidden: {Boolean} hide component

  Usage:
  {% render 'ui-empty', content: '...' %}
{% endcomment %}

<div
  ui-empty
  {% if hidden %}
    hidden
  {% endif %}
>
  <span>{{ content }} (;-;)</span>
</div>
