{% comment %}
  Renders a hidden link that appears on TAB (⇥) focus, guiding you to the main theme content

  Usage:
  {% render 'ui-skip-to-content'%}
{% endcomment %}

<a href="#main" ui-skip-to-content>
  {{ 'accessibility.skip_to_content' | t }}
</a>
