{% comment %}
  Renders a toast message

  Usage:
  {% render 'ui-toast' %}
{% endcomment %}

<ui-toast data-state="closed">
  <div ui-toast-status="warning"></div>
  <span ui-toast-message></span>
  <hr class="separator">
  <button ui-toast-action ui-button data-variant="ghost" data-size="sm" type="button">Close</button>
</ui-toast>
