@import "../mixins/breakpoints";

// BUTTON
button,
.yc-btn {
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  border-radius: var(--radius-md);
  &.primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  &.secondary {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-gray-300);
  }
  &.tertiary {
    &.icon-only {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75em;
    }
  }
  &.outline {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-gray-300);
  }
  &.destructive {
    background-color: var(--color-error-500);
    color: var(--color-secondary);
  }
  &.link {
    padding: unset;
  }
  &.link,
  &.ghost {
    background-color: transparent;
  }
  &.icon {
    padding: 12px;
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-gray-300);
    &[data-size$="sm"] {
      padding: 8px;
    }
    &[data-size$="lg"] {
      padding: 13px;
    }
  }
  &.with-icon {
    padding: 12px 20px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover:is(.primary, .destructive, .loading, .with-icon) {
    opacity: 0.8;
  }
  &:hover:is(.secondary, .tertiary, .outline, .ghost, .icon) {
    background-color: var(--color-gray-50);
  }
  &:hover:is(.link) {
    text-decoration: underline;
  }
}

// INPUT
select,
textarea,
input:not([type="checkbox"]):not([type="radio"]) {
  padding: 12px 15px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: var(--radius-md);
  width: -webkit-fill-available;
  box-shadow: var(--shadow-dark-sm);
  &:focus {
    box-shadow: var(--shadow-dark-focus-sm);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// SECTION
.section-core {
  display: grid;
  gap: var(--gap-3xl);
  padding: 0 10%;
  padding-block-start: var(--space-top);
  padding-block-end: var(--space-bottom);
  .section-head {
    display: grid;
    gap: var(--gap-md);
    &[data-position$="left"] {
      text-align: start;
    }
    &[data-position$="right"] {
      text-align: end;
    }
    &[data-position$="center"] {
      text-align: center;
    }
    .title {
      font-size: var(--text-3xl);
    }
    .description {
      text-wrap: balance;
      font-size: var(--text-md);
      color: var(---color-gray-500);
    }
  }
}

@include breakpoint("md") {
  .section-core {
    padding-inline-end: 1em;
    padding-inline-start: 1em;
    .section-head {
      .title {
        font-size: var(--text-2xl);
      }
      .description {
        font-size: var(--text-sm);
      }
    }
  }
}
