html {
  font-size: calc(var(--font-body-scale) * 62.5%);
}

body {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
button {
  text-decoration: none;
  font-size: var(--text-md);
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--color-primary);
  transition: var(--transition-duration-slow);
}

select,
textarea,
input:not([type="checkbox"]):not([type="radio"]) {
  border: none;
  outline: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
