@import "../mixins/breakpoints";

html {
  font-size: calc(var(--font-body-scale) * 62.5%);
}

body {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 4rem);
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}

h4,
.h4 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

h6,
.h6 {
  font-size: calc(var(--font-heading-scale) * 1.4rem);
}

@include breakpoint("md") {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }

  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }

  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
  }

  h4,
  .h4 {
    font-size: calc(var(--font-heading-scale) * 1.5rem);
  }

  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
  }

  h6,
  .h6 {
    font-size: calc(var(--font-heading-scale) * 1rem);
  }
}

a,
button {
  text-decoration: none;
  font-size: var(--text-md);
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--color-primary);
  transition: var(--transition-duration-slow);
}

select,
textarea,
input:not([type="checkbox"]):not([type="radio"]) {
  border: none;
  outline: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
