@media (min-width: 768px){
  .yc-slider__mobile{
    display:none;
  }
}
.yc-slider__mobile .content{
  height:100%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  padding:0 20px;
  text-align:var(--alignment);
}
.yc-slider__mobile .content h1{
  font-size:28px;
  font-weight:800;
}
.yc-slider__mobile .content h2{
  font-size:24px;
  font-weight:700;
}
.yc-slider__mobile .content p{
  font-size:18px;
  font-weight:600;
}
.yc-slider__mobile .content .btn-holder{
  display:flex;
  justify-content:var(--alignment);
}
