@import "mixins/breakpoints";

yc-section {
  --cart-border-radius: var(--button-border-radius);
  --cart-border: 1px solid color-mix(in srgb, currentColor 10%, transparent);

  gap: var(--gap-xl);

  .cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gap-xl);
    grid-row-gap: var(--gap-2xl);
    position: relative;

    .content,
    .summary {
      display: flex;
      flex-direction: column;
      gap: var(--gap-xl);
    }

    .content {
      grid-area: 1 / 1 / 2 / 9;

      .list {
        border-radius: var(--cart-border-radius);
        padding-inline: 1.5em;
        border: var(--cart-border);

        .item {
          display: grid;
          grid-template-columns: 2fr 1fr;
          justify-content: space-between;
          gap: var(--gap-lg);
          padding-block: 1.5em;
          border-block-end: var(--cart-border);

          .info {
            display: flex;
            gap: var(--gap-xl);

            .image {
              height: 100px;
              width: 100px;
              min-width: 100px;
              border-radius: var(--cart-border-radius);
              overflow: hidden;

              img {
                object-fit: cover;
              }

              .card-placeholder {
                width: 100%;
                height: 100%;
                background-color: rgba(var(--section-text-color), 0.05);

                svg {
                  color: rgba(var(--section-text-color), 0.3);
                }
              }
            }

            .heading {
              display: flex;
              flex-direction: column;
              gap: var(--gap-sm);

              [data-cart-item="title"] {
                font-size: var(--text-md);
                color: currentColor;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }

              .variant {
                font-size: var(--text-xs);
                color: color-mix(in srgb, currentColor 80%, transparent);
              }

              & > [data-cart-item="price"] {
                font-size: var(--text-md);
                color: color-mix(in srgb, currentColor 80%, transparent);
              }
            }
          }

          .controls {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--gap-xl);

            & > [data-cart-item="subtotal"] {
              flex: 1;
              text-align: center;
              display: inline-block;
              font-size: var(--text-md);
              font-weight: 550;
            }
          }
        }

        & > *:last-child {
          .item {
            border-block-end: none;
          }
        }
      }
    }

    .summary {
      grid-area: 1 / 9 / 2 / 13;

      .box {
        position: sticky;
        inset-block-start: 20px;
        padding: 1em;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);
        background-color: color-mix(in srgb, currentColor 2%, transparent);
        border: var(--cart-border);
        border-radius: var(--cart-border-radius);

        h2 {
          padding-block-end: 0.5em;
        }

        .coupon-code {
          display: flex;
          align-items: center;
          gap: var(--gap-sm);
          background-color: color-mix(in srgb, currentColor 8%, transparent);
          border-radius: var(--cart-border-radius);
          padding: 0.2em 0.5em;

          button {
            background-color: transparent;
            padding: 0;

            &::before {
              --size: 10px;
            }
          }
        }

        .coupon {
          display: flex;
          padding-block-end: 1em;

          input:placeholder-shown + button {
            opacity: 0.5;
            cursor: not-allowed;
          }

          input,
          button {
            background-color: var(--section-bg-color);
            color: currentColor;
          }

          input {
            border-end-end-radius: 0;
            border-start-end-radius: 0;

            &:focus {
              z-index: 1;
            }
          }

          button {
            margin-inline-start: -1px;
            border-start-start-radius: 0;
            border-end-start-radius: 0;

            &:hover {
              border-color: currentColor;
            }
          }
        }

        .subtotal {
          display: flex;
          flex-direction: column;
          gap: var(--gap-lg);

          .item,
          .total {
            font-size: var(--text-md);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--gap-md);
          }

          .item {
            color: color-mix(in srgb, currentColor 70%, transparent);

            &:has(span[hidden]) {
              display: none;
            }
          }

          [data-discount] {
            direction: ltr;
          }

          .total-box {
            display: flex;
            flex-direction: column;
            border-block-start: var(--cart-border);

            .total {
              padding-block: 1em;
              font-weight: 550;
            }

            button {
              background-color: rgb(var(--section-text-color));
              color: var(--section-bg-color);
            }
          }
        }
      }
    }

    .empty {
      grid-column: 1 / -1;
      display: none;
    }

    &[data-is-empty] {
      .content,
      .summary {
        display: none;
      }

      .empty {
        display: flex;
      }
    }
  }
}

@include breakpoint("xl") {
  yc-section {
    .cart {
      .list {
        .item {
          grid-template-columns: 1fr !important;

          .controls {
            width: 100% !important;
            justify-content: flex-start !important;

            [data-cart-item="subtotal"] {
              flex: none !important;
            }

            yc-cart-remove-button {
              margin-inline-start: auto;
            }
          }
        }
      }
    }
  }
}

@include breakpoint("lg") {
  yc-section {
    .cart {
      grid-template-columns: 1fr;

      .content,
      .summary {
        grid-area: unset;

        .box {
          inset-block-start: 0;
          position: relative;
        }
      }

      .summary {
        .box {
          .subtotal {
            .total-box {
              z-index: 1;
              width: 80%;
              margin: 1em 10%;
              padding: 1em;
              position: fixed;
              align-items: center;
              padding-inline-start: 0.5em;
              inset-block-end: 0;
              inset-inline-start: 0;
              background-color: var(--section-bg-color);
              border-radius: var(--cart-border-radius);
              box-shadow: var(--shadow-dark-sm);
              border-block-start: none;
              flex-direction: row;
              justify-content: space-between;

              .total {
                padding-block: 0;
                padding-inline: 0.5em;
                gap: var(--gap-xs);
                flex-direction: column;
                align-items: flex-start;

                span:first-of-type {
                  font-weight: normal;
                }

                span[data-cart-total] {
                  font-size: var(--text-lg);
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint("md") {
  yc-section {
    .cart {
      .list {
        .item {
          flex-direction: column;
          align-items: flex-start !important;

          .controls {
            width: 100%;
            gap: var(--gap-xl) !important;

            yc-cart-remove-button {
              margin-inline-start: auto;
            }
          }
        }
      }

      .summary {
        .box {
          .subtotal {
            .total-box {
              padding: 0.5em;
              margin-inline: 1em;
              width: calc(100% - 2em);

              .total {
                span:first-of-type {
                  font-size: var(--text-sm);
                }
              }
            }
          }
        }
      }
    }
  }
}

body:has(yc-header[data-sticky]) {
  .cart {
    .summary {
      inset-block-start: 100px;
    }
  }
}
