@import "mixins/breakpoints";

/*
  Usage:
  There are some css variables that should be defined in the collection-card's parent, these variables are:
  --items-columns
  --collection-card-background
  --collection-card-foreground

  These properties are set by the global collection card settings in head-config.liquid:
  --collection-card-border-radius
  --collection-card-text-alignment
*/

.collection-card {
  display: inherit;
  overflow: hidden;
  position: relative;
  border-radius: var(--collection-card-border-radius);

  .cover {
    height: calc(var(--collection-height) * 1px);
    transition: var(--transition-duration-slow);

    @include breakpoint("xl") {
      height: calc((var(--collection-height) - 50) * 1px);
    }

    img {
      object-fit: cover;
      border-radius: var(--collection-card-border-radius);
    }

    .card-placeholder {
      background-color: rgba(var(--collection-card-foreground), 0.05);
      border-radius: var(--collection-card-border-radius);

      svg {
        color: rgba(var(--collection-card-foreground), 0.3);
      }
    }

    &::before {
      content: "";
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--collection-card-border-radius);
      background-color: var(--overlay-background);
      transition: var(--transition-duration-normal);
    }
  }

  .info {
    display: flex;
    justify-content: var(--collection-card-text-alignment);
    position: absolute;
    inset-block-end: 1em;
    inset-inline: 1em;

    .name {
      padding: 12px 20px;
      color: rgb(var(--collection-card-foreground));
      background-color: var(--collection-card-background);
      border-radius: var(--collection-card-border-radius);
    }

    &[data-small] .name {
      padding: 7px 14px;
      font-size: var(--text-sm);
    }
  }

  &:hover {
    .cover {
      scale: 1.03;

      &::before {
        opacity: 1;
      }
    }
  }
}
