@import "mixins/breakpoints";

/*
  Usage:
  There are some css variables that should be defined in the collection-card's parent, these variables are:
  --items-columns
  --collection-card-background
  --collection-card-foreground
*/

.collection-card {
  display: inherit;
  overflow: hidden;
  position: relative;
  border-radius: var(--collection-card-border-radius);

  .collection-cover {
    height: 400px;
    transition: var(--transition-duration-slow);
    @include breakpoint("xl") {
      height: 350px;
    }

    img {
      object-fit: cover;
      border-radius: var(--collection-card-border-radius);
    }

    &::before {
      content: "";
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--collection-card-border-radius);
      background-color: var(--overlay-background);
      transition: var(--transition-duration-normal);
    }
  }

  .collection-name {
    position: absolute;
    padding: 12px 20px;
    inset-block-end: 1em;
    inset-inline-start: 1em;
    color: rgb(var(--collection-card-foreground));
    background-color: var(--collection-card-background);
    border-radius: var(--collection-card-border-radius);
  }

  &:hover {
    .collection-cover {
      scale: 1.03;

      &::before {
        opacity: 1;
      }
    }
  }
}
