.column-card {
  display: grid;
  text-align: center;
  gap: var(--gap-xl);

  .column-img {
    img {
      border-radius: var(--radius-md);
      
      &[data-width$="full"] {
        width: 100%;
      }

      &[data-width$="medium"] {
        width: 50%;
      }

      &[data-width$="small"] {
        width: 33%;
      }

      &[data-ratio$="square"] {
        aspect-ratio: 1;
        object-fit: cover;
      }

      &[data-ratio$="circle"] {
        aspect-ratio: 1;
        object-fit: cover;
        clip-path: circle();
      }
    }
  }

  .column-info {
    display: grid;
    gap: var(--gap-sm);

    .column-title {
      font-size: var(--text-lg);
    }

    .column-subtitle {
      font-size: var(--text-md);
      color: rgba(var(--section-text-color), 0.7);
    }
  }
}
