@import "mixins/breakpoints";

:root {
  --drawer-offset: .5em;
  --drawer-width: 500px;
}
yc-drawer {
  .drawer-btn {
    color: currentColor;
    border-color: color-mix(in srgb, currentColor 20%, transparent);
  }

  .drawer-box {
    position: fixed;
    z-index: 100;
    inset: 0;
    margin: var(--drawer-offset);
    width: var(--drawer-width);
    inset-inline-start: calc(var(--drawer-width) * -1 - (var(--drawer-offset) * 2));
    border-radius: var(--drawer-border-radius);
    overflow: hidden;
    transition: var(--transition-duration-normal);
  }
  .drawer-overlay {
    opacity: 0;
    visibility: hidden;
  }
  &[data-direction$="rtl"] .drawer-box {
    inset-inline-start: 100%;
  }

  &[data-hidden$="false"] {
    &[data-direction$="rtl"] .drawer-box {
      inset-inline-start: calc(100% - var(--drawer-width) - calc(var(--drawer-offset) * 2));
    }
    .drawer-box {
      inset-inline-start: 0%;
    }
    .drawer-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &#menu {
    display: none;
  }
}

@include breakpoint("lg") {
  yc-drawer#menu {
    display: initial;
  }
}

@include breakpoint("md") {
  :root {
    --drawer-width: 85%;
  }
  yc-drawer#cart {
    .cart-btn .total-amount,
    .cart-btn::before {
      display: none;
    }
  }
}
