@import "mixins/breakpoints";

yc-slider {
  display: flex;
  gap: var(--gap-lg);
  position: relative;
  flex-direction: column;

  .slider-area {
    display: flex;
    height: var(--slider-height);

    .slider-box {
      touch-action: pan-y;
      user-select: none;
      overflow: hidden;
      height: 100%;
      width: 100%;

      .slider-inner {
        height: 100%;
        display: flex;
        align-items: center;
        gap: calc(var(--slider-gap) * 1px);
        transition: transform cubic-bezier(0.25, 1, 0.5, 1);
        transition-duration: calc(var(--slider-speed) * 1ms);

        yc-slider-item {
          height: 100%;
          position: relative;
          max-width: min-content;
          min-width: calc(100% / var(--slider-per-page) - (var(--slider-gap) * 1px) + (var(--slider-gap) / var(--slider-per-page) * 1px));

          & > :where(img, div) {
            height: 100%;
            object-fit: cover;
          }

          & > :where(img) {
            pointer-events: none;
          }

          yc-slider-content {
            inset: 0;
            padding: 1.5em 10%;
            position: absolute;
            pointer-events: auto;
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: var(--overlay-background);

            &[data-alignment$="left"] {
              align-items: flex-start;

              p {
                text-align: start;
              }
            }

            &[data-alignment$="right"] {
              align-items: flex-end;

              p {
                text-align: end;
              }
            }

            &[data-alignment$="center"] {
              align-items: center;

              p {
                text-align: center;
              }
            }

            .heading,
            .subheading {
              text-wrap: balance;
              color: var(--section-content-color);
            }

            .heading {
              font-size: var(--text-3xl);
              text-transform: capitalize;
              @include breakpoint("md") {
                font-size: var(--text-2xl);
              }
            }

            .subheading {
              font-size: var(--text-lg);
              @include breakpoint("md") {
                font-size: var(--text-md);
              }
            }

            .yc-btn {
              background-color: var(--section-button-background);
              color: var(--section-button-foreground);
            }
          }
        }
      }
    }
  }

  yc-slider-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &[hidden] {
      display: none !important;
    }

    yc-slider-arrows {
      margin-inline-start: auto;
    }
  }

  yc-slider-arrows {
    display: flex;

    .slider-arrows {
      display: flex;
      gap: var(--gap-md);
      align-items: center;

      button {
        padding: 8px 15px;
        border-radius: calc(var(--button-border-radius) * 0.66);
        background-color: var(--section-arrows-background);
        color: var(--section-arrows-foreground);

        &.icon:hover {
          background-color: color-mix(in srgb, var(--section-arrows-foreground) 10%, var(--section-arrows-background));
        }

        &:dir(rtl) .icon {
          rotate: 180deg;
        }
      }
    }

    &[data-position$="center"] {
      justify-content: center;
    }

    &[data-position$="left"] {
      justify-content: flex-start;
    }

    &[data-position$="right"] {
      justify-content: flex-end;
    }
  }

  &[data-radius$="true"] {
    .slider-area .slider-box {
      border-radius: var(--button-border-radius);
    }
    yc-slider-item > :where(img, div, yc-slider-content) {
      border-radius: var(--button-border-radius);
    }
  }

  &[data-type$="full"] yc-slider-arrows {
    position: absolute;
    inset-block-end: 1.5em;

    &[data-position$="center"] {
      translate: -50% 0;
      inset-inline-start: 50%;

      &:dir(rtl) {
        translate: 50% 0;
      }
    }

    &[data-position$="left"] {
      inset-inline-start: 10%;
    }

    &[data-position$="right"] {
      inset-inline-end: 10%;
    }

    button {
      border: none;

      box-shadow:
        inset rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
    }
  }

  &[responsive] yc-slider-item {
    @include breakpoint("lg") {
      --slider-per-page: var(--slider-max-items-lg);
    }
    @include breakpoint("md") {
      --slider-per-page: var(--slider-max-items-md);
    }
  }

  &:not([arrows]) yc-slider-arrows {
    display: none;
  }
}
