@import "mixins/breakpoints";

yc-slider {
  display: flex;
  gap: var(--gap-lg);
  position: relative;
  flex-direction: column;

  .slider-area {
    display: flex;
    height: calc(var(--slider-height) * 1px);

    .slider-box {
      touch-action: pan-y;
      user-select: none;
      overflow: hidden;
      height: 100%;
      width: 100%;

      .slider-inner {
        height: 100%;
        display: flex;
        align-items: center;
        gap: calc(var(--slider-gap) * 1px);
        transition: transform cubic-bezier(0.25, 1, 0.5, 1);
        transition-duration: calc(var(--slider-speed) * 1ms);

        yc-slider-item {
          height: 100%;
          position: relative;
          pointer-events: none;
          min-width: calc(
            100% / var(--slider-per-page) - (var(--slider-gap) * 1px) +
              (var(--slider-gap) / var(--slider-per-page) * 1px)
          );

          & > :where(img, div) {
            height: 100%;
            object-fit: cover;
          }

          yc-slider-content {
            inset: 0;
            padding: 1.5em;
            position: absolute;
            pointer-events: auto;
            display: flex;
            gap: var(--gap-lg);
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: calc(100% - 3em);
            height: calc(100% - 3em);
            backdrop-filter: var(--overlay-blur);
            background-color: rgba(var(--section-overlay-background), 0.2);

            &[data-alignment$="left"] {
              align-items: flex-start;

              p {
                text-align: start;
              }
            }

            &[data-alignment$="right"] {
              align-items: flex-end;

              p {
                text-align: end;
              }
            }

            &[data-alignment$="center"] {
              align-items: center;

              p {
                text-align: center;
              }
            }

            .heading,
            .subheading {
              text-wrap: balance;
              text-transform: capitalize;
              color: var(--section-content-color);
            }

            .heading {
              font-size: var(--text-3xl);
              @include breakpoint("md") {
                font-size: var(--text-2xl);
              }
            }

            .subheading {
              font-size: var(--text-lg);
              @include breakpoint("md") {
                font-size: var(--text-md);
              }
            }

            .yc-btn {
              background-color: var(--section-button-background);
              color: var(--section-button-foreground);
            }
          }
        }
      }
    }
  }

  yc-slider-arrows {
    display: flex;

    .slider-arrows {
      display: flex;
      gap: var(--gap-md);
      align-items: center;

      button {
        padding: 8px 15px;
        border-radius: var(--radius-sm);
        background-color: rgb(var(--section-arrows-background));
        color: var(--section-arrows-foreground);

        &.icon:hover {
          background-color: rgba(var(--section-arrows-background), 0.5);
        }

        &:dir(rtl) .icon {
          rotate: 180deg;
        }
      }
    }

    &[data-position$="center"] {
      justify-content: center;
    }

    &[data-position$="left"] {
      justify-content: flex-start;
    }

    &[data-position$="right"] {
      justify-content: flex-end;
    }
  }

  &[data-radius$="true"] {
    yc-slider-item > :where(img, div, yc-slider-content) {
      border-radius: var(--radius-lg);
    }
  }

  &[data-type$="full"] yc-slider-arrows {
    position: absolute;
    inset-block-end: 1.5em;

    &[data-position$="center"] {
      translate: -50% 0;
      inset-inline-start: 50%;
    }

    &[data-position$="left"] {
      inset-inline-start: 1.5em;
    }

    &[data-position$="right"] {
      inset-inline-end: 1.5em;
    }

    button {
      border: none;

      box-shadow:
        inset rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
    }
  }

  &:not([arrows]) yc-slider-arrows {
    display: none;
  }
}
