@import "mixins/breakpoints";

.single-product {
  --media-main-image-border: 1px solid color-mix(in srgb, currentColor 5%, transparent);
  --media-thumbnail-image-border: 1.5px solid color-mix(in srgb, currentColor 5%, transparent);

  position: relative;
  display: grid;
  gap: var(--gap-3xl);
  grid-template-columns: repeat(2, 1fr);

  yc-product-media {
    --media-main-image-height: 550px;

    height: fit-content;
    display: grid;
    gap: var(--gap-sm);
    position: sticky;
    inset-block-start: var(--gap-lg);

    img {
      user-select: none;
    }

    .main-image {
      position: relative;
      width: 100%;
      height: var(--media-main-image-height);
      border-radius: var(--media-main-image-border-radius);
      border: var(--media-main-image-border);
      overflow: hidden;

      .count {
        position: absolute;
        font-size: var(--text-md);
        padding: 0.3em 1.5em;
        inset-inline-end: 1em;
        inset-block-end: 1em;
        border-radius: calc(var(--media-main-image-border-radius) * 1.2);
        color: var(--section-bg-color, var(--color-base-white));
        backdrop-filter: var(--overlay-blur);
        background-color: var(--overlay-background);
      }

      img {
        object-fit: cover;
      }

      .placeholder {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color-mix(in srgb, currentColor 5%, transparent);
        color: color-mix(in srgb, currentColor 20%, transparent);
      }
    }

    .gallery {
      .slider-inner {
        padding-block: 0.25em;

        yc-slider-item {
          max-width: 100px;

          .image {
            height: 100px;

            scroll-snap-align: start;
            cursor: pointer;
            display: inline-block;
            width: 100%;
            border: var(--media-thumbnail-image-border);
            border-radius: var(--media-gallery-border-radius);
            overflow: hidden;
            position: relative;
            transition: var(--transition-duration-normal);

            &::before {
              content: "";
              opacity: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              backdrop-filter: contrast(0.8);
              border-radius: calc(var(--media-gallery-border-radius) - 1px);
              transition: var(--transition-duration-normal);
            }

            &:hover::before {
              opacity: 1;
            }

            &:has(input:checked) {
              border-color: currentColor;

              &::before {
                opacity: 1;
              }
            }

            img {
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  yc-product-info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);

    .price {
      display: flex;
      align-items: center;
      gap: var(--gap-md);

      .current {
        font-weight: 550;
      }

      .compare-at {
        color: color-mix(in srgb, currentColor 70%, transparent);
        text-decoration: line-through;
      }
    }

    .description {
      img {
        max-width: 100%;
      }

      .card-placeholder {
        font-size: var(--text-md);
      }
    }

    .inventory {
      display: flex;
      align-items: center;
      gap: var(--gap-2xs);

      &[data-inventory="out-of-stock"] {
        .icon {
          color: var(--color-gray-300);
        }
      }

      &[data-inventory="in-stock"] {
        .icon {
          color: var(--color-success-500);
        }
      }

      &[data-inventory="low-stock"] {
        .icon {
          color: var(--color-warning-500);
        }
      }
    }

    .accordion {
      border: 1px solid color-mix(in srgb, currentColor 10%, transparent);
      border-radius: var(--accordion-border-radius, var(--radius-md));
      height: fit-content;
      color: currentColor;

      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        cursor: pointer;

        &::marker,
        &::-webkit-details-marker {
          display: none;
        }

        .title {
          font-size: var(--text-md);
          font-weight: 500;
          flex: 1;
          user-select: none;
        }

        .icon {
          transition: var(--transition-duration-normal);
        }
      }

      .content {
        font-size: var(--text-md);
        padding: 12px 15px;
        color: color-mix(in srgb, currentColor 70%, transparent);
      }

      &[open] {
        summary {
          .icon {
            rotate: 180deg;
          }
        }
      }
    }

    .buy-button {
      display: grid;
      gap: var(--gap-lg);
      margin-block: 1.5em;

      & > yc-product-form {
        display: flex;
        gap: var(--gap-md);

        button {
          width: 100%;
        }
      }

      .buy-area {
        display: grid;
        gap: var(--gap-lg);

        .express-checkout {
          display: grid;
          border-radius: var(--button-border-radius);
          border: 1px solid color-mix(in srgb, currentColor 10%, transparent);

          .header {
            display: grid;
            gap: var(--gap-sm);
            font-size: var(--text-md);
            padding: 1.5em;
          }

          .fields {
            display: grid;
            gap: var(--gap-lg);
            align-items: baseline;
            grid-template-columns: repeat(2, 1fr);
            padding: 1.5em;
            position: relative;
            padding-block-start: 3.5em;
            border-block-start: 1px solid color-mix(in srgb, currentColor 10%, transparent);

            &::before {
              content: attr(data-title);
              inset: 0;
              position: absolute;
              width: fit-content;
              height: fit-content;
              padding: 0.3em 1.5em;
              font-size: var(--text-sm);
              border-end-end-radius: calc(var(--button-border-radius) * 0.66);
              color: color-mix(in srgb, currentColor 80%, transparent);
              background-color: color-mix(in srgb, currentColor 5%, transparent);
            }

            .field {
              display: grid;
              gap: var(--gap-sm);

              &:last-child:nth-child(odd) {
                grid-column: 1 / -1;
              }

              label {
                font-size: var(--text-sm);
                color: color-mix(in srgb, currentColor 80%, transparent);
              }

              yc-combobox-trigger {
                padding: 12px 15px;
              }

              input,
              textarea {
                resize: vertical;
                min-height: 46px;
                max-height: 150px;
                color: currentColor;
              }

              &:has(input[type="hidden"]) {
                display: none;
              }

              &:has(input:required, textarea:required) > label::after {
                content: " *";
                color: var(--color-error-500);
              }

              &[error-message] {
                &::after {
                  content: attr(error-message);
                  font-size: var(--text-sm);
                  color: var(--color-error-500);
                }

                input,
                textarea {
                  border-color: var(--color-error-500);
                }
              }
            }
          }
        }

        .place-order {
          display: flex;
          gap: var(--gap-md);

          button {
            width: 100%;
          }
        }
      }

      .actions {
        display: none;
        gap: var(--gap-md);
        margin-block-start: var(--gap-lg);
        background-color: var(--section-bg-color, var(--color-base-white));

        button,
        button[data-trigger] {
          width: 100%;
        }
      }
    }
  }
}

@include breakpoint("xl") {
  .single-product {
    yc-product-media {
      --media-main-image-height: 450px;

      flex-direction: column;
    }
  }
}

@include breakpoint("lg") {
  .single-product {
    grid-template-columns: 1fr;

    yc-product-media {
      position: static;
    }
  }
}

@include breakpoint("md") {
  .single-product {
    gap: var(--gap-lg);

    yc-product-media {
      .gallery .slider-inner .image {
        height: 70px !important;
      }
    }

    yc-product-info .buy-button {
      .buy-area {
        max-height: 750px;
        overflow-y: scroll;

        @media (max-height: 885px) {
          max-height: 650px;
        }

        @media (max-height: 785px) {
          max-height: 600px;
        }

        .express-checkout {
          .header {
            z-index: 2;
            position: sticky;
            inset-block-start: 0;
            background-color: var(--section-bg-color, var(--color-base-white));
            border-block-end: 1px solid color-mix(in srgb, currentColor 10%, transparent);
          }

          .fields {
            border-block-start: none;
            grid-template-columns: 1fr;
          }
        }
      }
    }

    &:not([data-prevent-sticky]) {
      yc-product-info .buy-button {
        .buy-area {
          .express-checkout {
            border: none;
            border-radius: 0;

            .header {
              text-align: center;
              padding-inline: 1em;
            }

            .fields {
              padding-inline: 1em;

              &:last-child {
                padding-block-end: 0;
              }
            }
          }

          .place-order {
            z-index: 2;
            position: sticky;
            inset-block-end: 0;
            padding: 0 1em 1em 1em;

            yc-quantity-control {
              display: none;
            }
          }
        }

        .actions[data-sticky],
        > yc-product-form {
          z-index: 1;
          margin: 1em;
          padding: 0.5em;
          display: flex;
          position: fixed;
          inset-block-end: 0;
          inset-inline-start: 0;
          width: calc(100% - 2em);
          border-radius: var(--button-border-radius);
          background-color: var(--section-bg-color, var(--color-base-white));
          border: 1px solid color-mix(in srgb, currentColor 10%, transparent);

          button.primary,
          yc-quantity-control button.yc-btn.icon {
            padding: 10px;
          }
        }
      }
    }
  }
}
