@import "mixins/breakpoints";

footer {
  color: rgb(var(--footer-text-color));
  background-color: var(--footer-bg-color);

  .content {
    display: grid;
    grid-template-columns: 30% 70%;
    border-block: 1px solid rgba(var(--footer-text-color), 8%);
    padding: 3em 10%;

    .store-brand {
      text-transform: uppercase;
      color: rgb(var(--footer-text-color));

      img {
        width: 60px;
        object-fit: cover;
      }
    }

    .links-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--gap-lg);
      align-items: start;

      .navigation {
        display: grid;
        gap: var(--gap-lg);

        .links {
          display: grid;
          gap: var(--gap-lg);

          a {
            width: fit-content;
            color: rgba(var(--footer-text-color), 70%);
          }
        }
      }
    }

    & > .social-links {
      display: none;
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    margin-block-start: 2em;

    a.link {
      color: rgb(var(--footer-text-color));
    }
  }

  .copyright {
    padding: 2em;
    font-size: var(--text-sm);
    text-align: center;
  }
}

@include breakpoint("lg") {
  footer {
    .content {
      grid-template-columns: 1fr;

      .store-brand {
        text-align: center;
        margin-bottom: 3em;

        .social-links {
          display: none;
        }
      }

      .links-box {
        .navigation {
          text-align: center;

          .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

      & > .social-links {
        display: flex;
        justify-content: center;
        margin-block-start: 3em;
      }
    }
  }
}

@include breakpoint("md") {
  footer {
    .content {
      padding: 3em 1.5em;

      .links-box {
        grid-template-columns: 1fr;
        gap: var(--gap-2xl);

        .navigation {
          p {
            font-size: var(--text-lg);
          }
        }
      }
    }
  }
}
