@import "mixins/breakpoints";

yc-header {
  padding: 1em 10%;
  display: grid;
  align-items: center;
  grid-template-areas: "left-icons heading icons";
  grid-template-columns: 1fr 2fr 1fr;
  gap: var(--gap-lg);
  color: rgb(var(--header-text-color));
  background-color: var(--header-bg-color);

  & > [data-block] {
    display: flex;
    align-items: center;

    &:nth-last-child(2) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  &[data-desktop-logo-position$="top-left"] {
    grid-template-areas:
      "heading actions"
      "navigation navigation";
    grid-template-columns: 1fr auto;

    .links {
      justify-content: flex-start;
    }
  }

  &[data-desktop-logo-position$="middle-left"] {
    grid-template-areas: "heading navigation actions";
    grid-template-columns: 1fr auto 1fr;

    .links {
      ul {
        justify-content: center;
      }
    }
  }

  &[data-desktop-logo-position$="top-center"] {
    grid-template-areas:
      "left-icons heading actions"
      "navigation navigation navigation";

    .logo,
    .links {
      justify-content: center;
    }
  }

  &[data-desktop-logo-position$="middle-center"] {
    grid-template-areas: "navigation heading actions";
    grid-template-columns: 1fr auto 1fr;

    .links {
      justify-content: flex-start;
    }
  }

  .logo {
    grid-area: heading;

    a {
      display: inline-flex;
      text-transform: uppercase;
      color: rgb(var(--header-text-color));
    }

    img {
      width: 60px;
      object-fit: contain;
    }
  }

  .links {
    grid-area: navigation;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: var(--gap-xl);
      row-gap: var(--gap-md);

      li a.link {
        width: max-content;
        color: rgb(var(--header-text-color));
      }
    }
  }

  .actions {
    grid-area: actions;
    gap: var(--gap-lg);

    .cart-btn,
    .search-btn {
      color: rgb(var(--header-text-color));
    }

    .cart-btn {
      gap: 1.5em;
      width: max-content;
      position: relative;

      .total-amount {
        font-size: var(--text-xs);
        font-weight: 550;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: rgba(var(--header-text-color), 20%);
        inset-inline-start: 40px;
      }

      .total-items {
        position: absolute;
        padding: 5px 8px;
        font-size: 10px;
        clip-path: circle();
        color: var(--header-bg-color);
        background-color: rgb(var(--header-text-color));
        inset-block-start: -8px;
        inset-inline-start: -8px;
      }
    }

    .search-btn {
      .icon {
        display: none;
      }
    }

    .search-bar {
      position: relative;

      .search-input {
        width: 250px !important;
        padding-inline-start: 40px !important;
        color: rgb(var(--header-text-color)) !important;
        transition: var(--transition-duration-slow);
      }

      .icon {
        position: absolute;
        inset-block-start: 28%;
        inset-inline-start: 12px;
        color: rgb(var(--header-text-color));
      }

      &[data-hidden$="true"] {
        visibility: hidden;
        opacity: 0;

        .search-input,
        .icon {
          width: 0px !important;
        }

        .search-input {
          padding-inline: 0px;
        }

        & ~ .search-btn .icon:first-child {
          display: block;
        }
      }

      &[data-hidden$="false"] ~ .search-btn .icon:last-child {
        display: block;
      }
    }
  }

  &[data-bottom-border] {
    border-block-end: 1px solid rgba(var(--header-text-color), 8%);
  }
}

#youcan-section--header:has(yc-header[data-sticky]) {
  top: 0;
  z-index: 2;
  position: sticky;
}

@include breakpoint("lg") {
  yc-header {
    grid-template-columns: 1fr auto 1fr !important;
    grid-template-areas: "navigation heading actions" !important;

    &[data-desktop-logo-position$="middle-left"],
    &[data-desktop-logo-position$="top-center"] {
      .links {
        justify-content: flex-start;
      }
    }

    &[data-mobile-logo-position$="left"] {
      grid-template-columns: auto 2fr 1fr !important;
    }

    .links ul,
    .actions .search-bar,
    .actions .search-btn {
      display: none;
    }
  }
}

@include breakpoint("md") {
  yc-header {
    padding: 1em;
  }
}
