@import "mixins/breakpoints";

footer {
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);

  .content {
    display: grid;
    grid-template-columns: 30% 70%;
    border-block-start: 1px solid var(--footer-top-border-color);
    border-bottom: 1px solid var(--color-gray-50);
    padding: 3em 10%;

    .store-brand {
      img {
        width: 60px;
        object-fit: cover;
      }
    }

    .links-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--gap-lg);
      align-items: start;

      .navigation {
        display: grid;
        gap: var(--gap-lg);

        .links {
          display: grid;
          gap: var(--gap-md);

          a {
            width: fit-content;
            color: var(--footer-text-color);
            padding: 0.3em;
            border-radius: var(--radius-sm);
          }
        }
      }
    }
  }

  .copyright {
    padding: 2em;
    font-size: var(--text-sm);
    text-align: center;
  }
}

@include breakpoint("lg") {
  footer {
    .content {
      grid-template-columns: 1fr;

      .store-brand {
        text-align: center;
        margin-bottom: 3em;
      }

      .links-box {
        .navigation {
          text-align: center;

          .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@include breakpoint("md") {
  footer {
    .content {
      padding: 3em 1.5em;

      .links-box {
        grid-template-columns: 1fr;
        gap: var(--gap-2xl);

        .navigation {
          p {
            font-size: var(--text-lg);
          }
        }
      }
    }
  }
}
