yc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 10%;
  background-color: var(--header-bg-color);
  // LOGO
  .logo {
    img {
      width: 60px;
      object-fit: cover;
    }
  }
  // LINKS
  .links {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
    li a {
      color: var(--header-text-color);
    }
  }
  // ACTIONS
  .actions {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
    .cart-btn {
      gap: 1.5em;
      position: relative;
      color: var(--header-text-color);
      .total-amount {
        font-size: var(--text-xs);
        font-weight: 550;
      }
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: var(--color-gray-300);
        left: 40px;
      }
      .total-items {
        position: absolute;
        padding: 5px 8px;
        font-size: 10px;
        clip-path: circle();
        color: var(--header-bg-color);
        background-color: var(--header-text-color);
        top: -8px;
        left: -8px;
      }
      &:dir(rtl) {
        &::before {
          right: 40px;
        }
        .total-items {
          left: initial;
          right: -8px;
        }
      }
    }
    .search-btn {
      color: var(--header-text-color);
    }
  }
  &[data-bottom-border="true"] {
    border-bottom: 1px solid var(--header-border-color);
  }
  &[data-sticky="true"] {
    // TODO: ...
  }
}
