yc-section {
  --reading-mode-width: min(60ch, 100%);

  &:has(.page[data-page-width="reading-mode"]) {
    yc-section-head {
      width: var(--reading-mode-width);
      margin-inline: auto;
    }
  }

  .page {
    &[data-page-width="full-width"] {
      width: 100%;
    }

    &[data-page-width="reading-mode"] {
      width: var(--reading-mode-width);
      margin-inline: auto;
    }

    form {
      width: var(--reading-mode-width);
      margin-inline: auto;
      display: grid;
      gap: var(--gap-lg);

      .form-group {
        display: flex;
        gap: var(--gap-lg);

        & > * {
          flex: 1;
        }
      }

      button {
        order: 2;
      }

      textarea {
        max-height: 300px;
      }

      [data-captcha] {
        order: 1;
        display: flex;
        justify-content: center;
        min-height: 85px;
      }
    }

    // Resets for dynamic content
    div,
    figure,
    picture,
    img {
      max-width: 100% !important;
    }
  }
}
