yc-section {
  &:has(.page[data-page-width="reading-mode"]) {
    yc-section-head {
      width: min(60ch, 100%);
      margin-inline: auto;
    }
  }

  .page {
    &[data-page-width="full-width"] {
      width: 100%;
    }

    &[data-page-width="reading-mode"] {
      width: min(60ch, 100%);
      margin-inline: auto;
    }

    // Resets for dynamic content
    div,
    figure,
    picture,
    img {
      max-width: 100% !important;
    }
  }
}
