.product-card {
  box-shadow: var(--shadow-dark-sm);
  border-radius: var(--product-card-border-radius);
  transition: all var(--transition-duration-normal);

  .img-link {
    display: block;
  }

  .img-link,
  img {
    height: 350px;
  }

  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--product-card-border-radius);
  }

  .info {
    display: grid;
    gap: 3px;
    border-radius: var(--product-card-border-radius);
    background-color: var(--color-base-white);
    padding: 1.25em;

    .title {
      color: var(--color-gray-500);
    }

    .price {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: var(--text-md);

      .current {
        font-size: 16px;
        font-weight: 550;
      }

      .compare-at {
        color: var(--color-gray-500);
        font-weight: 400;
        text-decoration: line-through;
      }
    }
    .yc-btn.buy {
      margin-top: 0.5em;
    }
  }

  &.standard {
    img {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .info {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  // &.compact {
  //   img {
  //     // Do nothing
  //   }
  // }

  &:hover {
    box-shadow:
      #00000008 0 3px 14px,
      #0003 0 0 0 1px;
  }
}
