.product-card {
  border-radius: var(--product-card-border-radius);
  transition: all var(--transition-duration-normal);
  position: relative;

  .badge {
    position: absolute;
    inset-block-start: 0.8em;
    background-color: var(--badge-bg-color);
    color: var(--badge-text-color);
    border-radius: 100px;
    padding: 0.2em 0.6em;
    font-size: var(--text-xs);

    &[data-position$="left"] {
      inset-inline-start: 0.8em;
    }

    &[data-position$="right"] {
      inset-inline-end: 0.8em;
    }
  }

  img {
    height: var(--product-img-height);
    width: 100%;
    object-fit: cover;
    border-radius: var(--product-card-border-radius);
  }

  .info {
    display: grid;
    gap: var(--gap-xs);
    border-radius: var(--product-card-border-radius);
    background-color: var(--product-card-background);
    padding: 1.25em;
    color: rgb(var(--product-card-foreground));

    .title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: currentColor;
    }

    .price {
      display: flex;
      align-items: center;
      gap: var(--gap-md);
      font-size: var(--text-md);

      .current {
        font-size: var(--text-lg);
        font-weight: 550;
      }

      .compare-at {
        color: currentColor;
        font-weight: 400;
        text-decoration: line-through;
      }
    }

    .yc-btn.buy {
      margin-block-start: 0.5em;
      border: var(--product-card-border);
      background-color: var(--product-card-background);
      color: currentColor;

      &:hover {
        background-color: rgba(var(--product-card-foreground), 0.06);
      }
    }
  }

  &[data-style$="standard"] {
    --product-img-height: 350px;

    border: var(--product-card-border);

    .img-link {
      display: block;
      border-bottom: var(--product-card-border);
    }

    .img-link,
    img {
      height: var(--product-img-height);
    }

    img {
      border-end-end-radius: 0;
      border-end-start-radius: 0;
    }

    .info {
      position: static;
      border-start-end-radius: 0;
      border-start-start-radius: 0;
    }
  }

  &[data-style$="compact"] {
    --product-img-height: 400px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: var(--radius-lg);
      backdrop-filter: var(--overlay-blur);
      background-color: var(--overlay-background);
      opacity: 0;
      transition: var(--transition-duration-normal);
      pointer-events: none;
    }

    &:hover::before {
      opacity: 1;
    }

    .img-link {
      display: block;
    }

    .img-link,
    img {
      height: var(--product-img-height);
    }

    .info {
      position: absolute;
      inset-block-end: 0;
      margin: 1em;
      padding: 1em;
      width: stretch;
    }
  }
}
