@import "mixins/breakpoints";

.product-reviews {
  display: grid;
  gap: var(--gap-2xl);
  align-items: baseline;
  grid-template-columns: repeat(var(--products-length), 1fr);

  &:has(> :nth-child(6)) {
    @include breakpoint("xl") {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &:has(> :nth-child(4)):not(:has(> :nth-child(5))) {
    @include breakpoint("xl") {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include breakpoint("md") {
    grid-template-columns: 1fr !important;
  }
}
