@import "mixins/breakpoints";

.product-listing {
  --product-listing-border-radius: var(--button-border-radius);

  border-radius: var(--product-listing-border-radius);
  border: 1px solid rgba(var(--section-text-color), 8%);

  .collections-area {
    padding: 1.5em;
    border-block-end: 1px solid rgba(var(--section-text-color), 8%);
  }

  .filter-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;

    .title {
      display: flex;
      gap: var(--gap-sm);
      align-items: baseline;

      [data-count] {
        position: relative;
        inset-block-start: -3px;
        color: rgba(var(--section-text-color), 70%);
      }

      &:has(.eyebrow) {
        flex-direction: column;
        gap: 0;

        .eyebrow {
          font-size: var(--text-sm);
          opacity: 0.8;
        }

        .content {
          display: flex;
          gap: var(--gap-sm);
          align-items: baseline;
        }
      }
    }

    .label {
      font-size: var(--text-md);
      color: rgba(var(--section-text-color), 70%);
    }

    .sort-box {
      display: flex;
      gap: var(--gap-lg);
      align-items: center;

      @include breakpoint("md") {
        .label {
          display: none;
        }
      }
    }
  }

  .products-area {
    padding: 1.5em;
    border-block-start: 1px solid rgba(var(--section-text-color), 8%);

    yc-pagination {
      padding-block-start: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--gap-md);

      & > a {
        --size: 45px;

        height: var(--size);
        width: var(--size);
        border-color: transparent;

        &[data-previous],
        &[data-next] {
          width: fit-content;

          &:dir(rtl) {
            .icon {
              rotate: 180deg;
            }
          }
        }

        &[data-active] {
          border-color: color-mix(in srgb, currentColor 20%, transparent);
        }
      }

      .pages-selector {
        display: none;

        .page-trigger {
          width: 100%;
          height: 45px;
        }
      }
    }
  }
}

@include breakpoint("md") {
  .product-listing {
    .products-area {
      yc-pagination {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > a,
        > svg {
          display: none;
        }

        > a:first-child,
        > a:last-child {
          width: 100%;
          display: flex;

          span {
            display: none;
          }
        }

        .pages-selector {
          display: block;
        }
      }
    }
  }
}
