@import "mixins/breakpoints";

.products-by-collection {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--product-columns), 1fr);
    gap: var(--gap-lg);

    .show-more {
      margin-block-start: 2em;
      grid-column: 1/-1;
      display: flex;
      justify-content: center;
      align-items: center;

      .yc-btn {
        width: fit-content;
        color: currentColor;
        border: var(--product-card-border);
        background-color: var(--product-card-background);

        &:hover {
          background-color: rgba(var(--product-card-foreground), 0.06);
        }
      }
    }
  }
}

@include breakpoint("lg") {
  .products-by-collection {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
