@import "mixins/breakpoints";

.products-by-collection {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--product-columns), 1fr);
    gap: var(--gap-lg);

    .show-more {
      margin-top: 2em;
      grid-column: 1/-1;
      display: flex;
      justify-content: center;
      align-items: center;

      .yc-btn {
        width: fit-content;
      }
    }
  }
}

@include breakpoint("lg") {
  .products-by-collection {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
