@import "mixins/breakpoints";

.product-quick-view {
  --product-image-height: 400px;
  --product-image-border: 1px solid color-mix(in srgb, currentColor 5%, transparent);
  --quick-view-bg-color: var(--section-bg-color, var(--color-base-white));
  --quick-view-text-color: rgb(var(--section-text-color, var(--color-base-black)));

  .view-box {
    .head {
      padding: 1em;
      display: flex;
      gap: var(--gap-md);
      align-items: center;
      justify-content: space-between;
      border-block-end: 1px solid color-mix(in srgb, currentColor 8%, transparent);

      .title {
        width: 100%;

        a {
          max-width: 100%;
          overflow: hidden;
          text-align: center;
          width: fit-content;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--quick-view-text-color);
        }
      }

      button[data-trigger] {
        width: fit-content;
      }
    }

    .content {
      padding: 1em;
      display: grid;
      gap: var(--gap-2xl);
      grid-template-columns: repeat(2, 1fr);
      max-height: 750px;
      overflow-y: scroll;

      @media (max-height: 885px) {
        max-height: 650px;
      }

      @media (max-height: 785px) {
        max-height: 600px;
      }

      yc-product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap-lg);

        .core-info {
          display: flex;
          gap: var(--gap-md);
          flex-direction: column;

          .price-info {
            display: flex;
            align-items: center;
            gap: var(--gap-md);

            .current {
              font-weight: 550;
            }

            .compare-at {
              text-decoration: line-through;
              color: color-mix(in srgb, currentColor 70%, transparent);
            }
          }
        }

        yc-product-form {
          display: flex;
          gap: var(--gap-md);
          align-items: center;

          button[data-buy-button] {
            width: 100%;
          }
        }
      }

      yc-product-media {
        .main-image {
          width: 100%;
          overflow: hidden;
          position: relative;
          height: var(--product-image-height);
          border: var(--product-image-border);
          border-radius: var(--modal-border-radius);

          img {
            height: 100%;
            object-fit: cover;
            user-select: none;
          }

          .placeholder {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: color-mix(in srgb, currentColor 20%, transparent);
            background-color: color-mix(in srgb, currentColor 5%, transparent);
          }
        }
      }
    }
  }
}

@include breakpoint("lg") {
  .product-quick-view {
    yc-modal {
      --modal-width: 90% !important;
    }
  }
}

@include breakpoint("sm") {
  .product-quick-view {
    --product-image-height: 300px;

    .view-box {
      .head {
        button {
          padding: 8px;

          svg {
            width: 15px;
            height: 15px;
          }
        }
      }

      .content {
        grid-template-columns: 1fr;
      }
    }
  }
}
