@import "mixins/breakpoints";

.product-listing {
  border-radius: var(--radius-md);
  border: 1px solid rgba(var(--section-text-color), 8%);

  .collections-area {
    padding: 1.5em;
    border-block-end: 1px solid rgba(var(--section-text-color), 8%);
  }

  .filter-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;

    .title {
      display: flex;
      gap: var(--gap-sm);
      align-items: baseline;

      [data-count] {
        position: relative;
        inset-block-start: -3px;
        color: rgba(var(--section-text-color), 70%);
      }

      &:has(.eyebrow) {
        flex-direction: column;
        gap: 0;

        .eyebrow {
          font-size: var(--text-sm);
          opacity: 0.8;
        }

        .content {
          display: flex;
          gap: var(--gap-sm);
          align-items: baseline;
        }
      }
    }

    .label {
      display: flex;
      gap: var(--gap-xs);
      align-items: center;
      font-size: var(--text-md);
      color: rgba(var(--section-text-color), 70%);
    }

    .sort-box {
      display: flex;
      gap: var(--gap-lg);
      align-items: center;

      @include breakpoint("md") {
        .label {
          display: none;
        }
      }
    }
  }

  .products-area {
    padding: 1.5em;
    border-block-start: 1px solid rgba(var(--section-text-color), 8%);
  }
}
