yc-section {
  --order-border: 1px solid color-mix(in srgb, currentColor 10%, transparent);

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-lg);

    .icon {
      color: var(--color-success-500);
    }
  }

  .order {
    width: 768px;
    margin-inline: auto;
    border-radius: var(--radius-md);
    border: var(--order-border);

    .title,
    .payment,
    .items,
    .summary {
      padding: 1.5em;
    }

    .title,
    .payment {
      border-block-end: var(--order-border);
    }

    .payment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: var(--text-md);

      .status,
      .method {
        display: flex;
        gap: var(--gap-lg);
        align-items: center;
      }

      .label {
        color: rgba(var(--section-text-color), 70%);
      }

      .method {
        .value {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .badge {
    &[data-status$="paid"] {
    }
    &[data-status$="unpaid"] {
    }
    &[data-status$="captured"] {
    }
    &[data-status$="refunded"] {
    }
    &[data-status$="pending"] {
    }
  }
}
