@import "mixins/breakpoints";

yc-section {
  --actions-border: 1px solid color-mix(in srgb, currentColor 10%, transparent);

  .upsell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-xl);

    .description {
      grid-area: 1 / 1 / 2 / 9;
    }

    yc-upsell {
      grid-area: 1 / 9 / 2 / 13;

      display: grid;
      gap: var(--gap-lg);
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: sticky;
      inset-block-start: 120px;
      background-color: color-mix(in srgb, currentColor 2%, transparent);
      padding: 1em;
      height: fit-content;
      border: var(--actions-border);
      border-radius: var(--radius-md);
      z-index: 1;

      .title {
        height: fit-content;
        grid-column: span 2 / span 2;
      }

      button {
        flex: 1;
        grid-row-start: 2;
        height: fit-content;

        &:hover {
          opacity: 0.7;
        }

        &[data-font-size="small"] {
          font-size: var(--text-sm);
        }

        &[data-font-size="medium"] {
          font-size: var(--text-md);
        }

        &[data-font-size="large"] {
          font-size: var(--text-lg);
        }

        &[data-button-size="small"] {
          padding: 8px 21px;
        }

        &[data-button-size="medium"] {
          padding: 12px 25px;
        }

        &[data-button-size="large"] {
          padding: 16px 29px;
        }
      }

      button[name="no"] {
        color: var(--no-btn-foreground);
        background-color: var(--no-btn-background);
        grid-row-start: 2;
      }

      button[name="yes"] {
        color: var(--yes-btn-foreground);
        background-color: var(--yes-btn-background);
      }
    }

    .footer {
      grid-area: 2 / 1 / 3 / 9;
    }

    .description,
    .footer {
      img {
        width: 100% !important;
        object-fit: contain;
      }

      p {
        max-width: 100%;

        img {
          width: 100% !important;
          object-fit: contain;
        }
      }

      video {
        max-width: 100%;
      }
    }
  }
}

@include breakpoint("lg") {
  yc-section {
    .upsell {
      grid-template-columns: 1fr;

      .description,
      .footer {
        grid-area: auto;
      }

      yc-upsell {
        text-align: center;
        display: grid;
        border: 0;
        border-block-start: var(--actions-border);
        border-radius: 0;
        background-color: var(--section-bg-color);
        position: fixed;
        inset-inline: 0;
        inset-block-end: 0;
        inset-block-start: unset;
      }
    }
  }
}
