yc-section {
  yc-upsell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gap-xl);
    grid-row-gap: var(--gap-2xl);
    position: relative;

    .content {
      grid-area: 1/1/2/9;
      height: fit-content;
    }

    .actions {
      grid-area: 1/9/2/13;
      position: sticky;
      inset-block-start: 180px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-lg);

      padding: 1em;
      height: fit-content;
      background-color: color-mix(in srgb, currentColor 2%, transparent);
      border: 1px solid color-mix(in srgb, currentColor 10%, transparent);
      border-radius: var(--radius-md);

      .title {
        height: fit-content;
        grid-column: span 2 / span 2;
      }

      button {
        flex: 1;
        color: var(--yes-btn-foreground);
        background-color: var(--yes-btn-background);
        grid-row-start: 2;
      }

      a.yc-btn {
        flex: 1;
        color: var(--no-btn-foreground);
        background-color: var(--no-btn-background);
        grid-row-start: 2;
      }
    }
  }
}
