@import "mixins/breakpoints";

yc-section {
  --actions-border: 1px solid color-mix(in srgb, currentColor 10%, transparent);

  yc-upsell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gap-xl);
    grid-row-gap: var(--gap-2xl);
    position: relative;

    .content {
      grid-area: 1/1/2/9;
      height: fit-content;
    }

    .actions {
      grid-area: 1/9/2/13;
      position: sticky;
      inset-block-start: 180px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: color-mix(in srgb, currentColor 2%, transparent);
    }
  }

  .description,
  .footer {
    img {
      width: 100% !important;
      object-fit: contain;
    }

    p {
      max-width: 100%;

      img {
        width: 100% !important;
        object-fit: contain;
      }
    }

    video {
      max-width: 100%;
    }
  }

  .actions {
    padding: 1em;
    height: fit-content;
    border: var(--actions-border);
    border-radius: var(--radius-md);
    gap: var(--gap-lg);
    z-index: 1;
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;
    display: none;

    .title {
      height: fit-content;
      grid-column: span 2 / span 2;
    }

    button {
      flex: 1;
      color: var(--yes-btn-foreground);
      background-color: var(--yes-btn-background);
      grid-row-start: 2;
    }

    a.yc-btn {
      flex: 1;
      color: var(--no-btn-foreground);
      background-color: var(--no-btn-background);
      grid-row-start: 2;
    }

    button:hover,
    a:hover {
      opacity: 0.7;
    }
  }
}

@include breakpoint("lg") {
  yc-section {
    yc-upsell {
      grid-template-columns: 1fr;

      .content {
        grid-area: auto;
      }

      .actions {
        display: none;
      }
    }

    .actions {
      text-align: center;
      display: grid;
      border: 0;
      border-block-start: var(--actions-border);
      border-radius: 0;
      background-color: var(--section-bg-color);
    }
  }
}
