@import "mixins/breakpoints";

yc-write-review {
  .review-form {
    .head {
      padding: 1.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-block-end: 1px solid color-mix(in srgb, currentColor 8%, transparent);
    }

    .core {
      padding: 1.5em;
      display: grid;
      gap: var(--gap-lg);
      position: relative;

      .rating-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: var(--gap-lg);

        .stars {
          .star {
            cursor: pointer;
            color: var(--color-yellow-500);

            svg {
              transition: var(--transition-duration-normal);
            }

            &:has(input:checked) ~ .star {
              svg {
                fill: transparent;
              }
            }

            &:hover {
              svg {
                scale: 1.1;
              }

              & ~ .star {
                svg {
                  fill: transparent;
                }
              }
            }
          }

          &:has(input:checked) {
            svg {
              fill: var(--color-yellow-500);
            }
          }

          &:hover .star {
            svg {
              fill: var(--color-yellow-500);
            }
          }
        }
      }

      .info-box {
        display: grid;
        gap: var(--gap-lg);

        .fields {
          display: grid;
          gap: var(--gap-lg);
          grid-template-columns: repeat(2, 1fr);

          .field {
            display: flex;
            gap: var(--gap-md);
            flex-direction: column;

            input,
            textarea {
              resize: vertical;
              max-height: 150px;
              color: rgb(var(--section-text-color));
            }

            label:not(.images) {
              font-size: var(--text-sm);
            }

            &:has(input:required),
            &:has(textarea:required) {
              label::after {
                content: " *";
                color: var(--color-error-500);
              }
            }

            &:nth-child(3),
            &:last-child,
            &:nth-last-child(2) {
              grid-column: 3 / 1;
            }
          }

          .upload-image {
            display: flex;
            gap: var(--gap-md);
            flex-direction: column;

            .input {
              display: flex;
              flex-wrap: wrap;
              gap: var(--gap-md);

              label,
              .image {
                width: 60px;
                height: 60px;
              }

              label {
                cursor: pointer;
              }

              yc-skeleton {
                order: 1;
              }

              .image {
                position: relative;
                border-radius: var(--radius-md);
                border: 1px solid rgb(var(--section-text-color), 15%);

                img {
                  object-fit: cover;
                  border-radius: calc(var(--radius-md) - 1px);
                }

                button {
                  padding: 5px;
                  inset-inline-end: -8px;
                  inset-block-start: -8px;
                  position: absolute;
                  border-radius: var(--radius-circle);
                  color: rgb(var(--section-text-color));
                  background-color: var(--section-bg-color);
                  border: 0.5px solid rgb(var(--section-text-color), 15%);

                  &:hover {
                    color: var(--color-error-500);
                    border-color: var(--color-error-50);
                  }
                }
              }
            }
          }
        }

        .actions {
          display: grid;
          gap: var(--gap-md);
          color: rgb(var(--section-text-color));
          grid-template-columns: repeat(2, 1fr);

          button.primary {
            color: var(--section-bg-color);
            border-color: rgb(var(--section-text-color));
            background-color: rgb(var(--section-text-color));
          }
        }
      }

      .success-box {
        width: 100%;
        display: flex;
        gap: var(--gap-xl);
        flex-direction: column;
        position: absolute;
        inset: 50% 0 0 50%;
        translate: -50% -40%;
        visibility: hidden;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 60px;
            height: 60px;
            padding: 1em;
            border-radius: var(--radius-circle);
            color: var(--section-bg-color);
            background-color: var(--color-success-500);
            outline: 10px solid var(--color-success-50);
            animation: pulse 2s linear infinite;

            @keyframes pulse {
              0% {
                outline-color: var(--color-success-50);
              }

              50% {
                outline-color: transparent;
              }

              100% {
                outline-color: var(--color-success-50);
              }
            }
          }
        }

        .content {
          display: grid;
          text-align: center;
          gap: var(--gap-md);
          justify-content: center;

          p {
            font-size: var(--text-sm);
            color: color-mix(in srgb, currentColor 70%, transparent);
          }
        }
      }
    }
  }
}

@include breakpoint("md") {
  yc-add-review {
    .review-form {
      .head {
        padding-block-start: 0;
        justify-content: center;

        button {
          display: none;
        }
      }

      .core {
        .info-box {
          .fields {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
