<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% style %}
      :root {
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};
        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
      }
    {% endstyle %}

    {%- render 'head-config' -%}

    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div class="header-group">
      {%- section 'announcement-bar' %}
      {%- section 'header' %}
    </div>

    <main class="main-container">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
