<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {%- render 'head-config' -%}

    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% comment %} {%- section 'header' %} {% endcomment %}

    <main class="main-container">
      {{ content_for_layout }}
    </main>

    {% comment %} {%- section 'footer' %} {% endcomment %}
  </body>
</html>
