<!doctype html>
<html>
  <head></head>
  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
    <main></main>
    <script></script>
  </body>
</html>