<!doctype html>
{% assign lang = store.store_locale.iso_code %}
{% assign direction = 'ltr' %}

{% if lang == 'ar' %}
  {% assign direction = 'rtl' %}
{% endif %}

<html lang="{{ lang }}" dir="{{ direction }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render 'page-title' %}
    <meta name="description" content="{{ store.description | default: store.name }}">

    {%- render 'meta-tags' -%}
    {%- render 'head-config' -%}
  </head>
  <body>
    {% render 'yc-skip-to-content' %}

    {%- section 'announcement-bar' %}
    {%- section 'header' %}

    <main id="main" class="main-container">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    <yc-overlay></yc-overlay>
  </body>
</html>
