<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {%- render 'head-config' -%}

    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {%- section 'header' %}

    <main class="main-container">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
