<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {%- render 'head-config' -%}
  </head>
  <body>
    {%- section 'announcement-bar' %}
    {%- section 'header' %}

    <main class="main-container">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
