<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {%- render 'head-config' -%}

    {{ 'main.css' | asset_url | preload_tag }}
    {% comment %} {{ 'main.js' | asset_url | script_tag_deferred }} {% endcomment %}
  </head>
  <body>
    {% comment %} {%- section 'navbar' %} {% endcomment %}

    <main class="main-container">
      Eihabox
      <button>HELLO</button>
      {% comment %} {{ content_for_layout }} {% endcomment %}
    </main>

    {% comment %} {% section 'footer' %} {% endcomment %}
  </body>
</html>
