<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {%- render 'head-config' -%}

    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {%- section 'header' %}

    <main class="main-container">
      Hello Rabi3a 
      {% comment %} {{ content_for_layout }} {% endcomment %}
    </main>

    {% comment %} {%- section 'footer' %} {% endcomment %}
  </body>
</html>
