@import url("./ui.search.css");

/* Announcement Bar */
[layout="announcement-bar"] {
  display: flex;
  justify-content: center;
  padding-block: var(--spacing-10);
  border-radius: var(--radius-md);
  width: calc(100vw - var(--spacing-24));
  color: var(--color-on-theme);
  background-color: var(--color-theme);

  .marquee-container {
    width: 50%;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      z-index: 2;
      width: 10%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to right, var(--color-theme), transparent);
    }

    &::after {
      inset-block-end: 0;
      inset-inline-end: 0;
      background: linear-gradient(to left, var(--color-theme), transparent);
    }

    &:dir(rtl) {
      &::before,
      &::after {
        rotate: 180deg;
      }
    }

    .marquee {
      --scroll-direction: -50%;

      display: flex;
      width: fit-content;
      animation: scroll-start 15s linear infinite;

      &:dir(rtl) {
        --scroll-direction: 50%;
      }
    }

    .bar-wrapper {
      display: flex;

      li {
        white-space: nowrap;
        padding-inline: var(--spacing-16);
      }
    }
  }
}

@keyframes scroll-start {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-direction));
  }
}

/* Header */
[layout="header"] {
  min-height: 56px;
  gap: var(--spacing-16);
  padding: var(--spacing-16);

  &[data-logo-position="left"] {
    display: flex;
    align-items: center;

    .logo {
      order: -1;
    }

    .actions {
      flex: 2;
    }
  }

  &[data-logo-position="center"] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logo {
    img {
      object-fit: cover;
    }

    a {
      font: var(--font-body-md);
      text-transform: uppercase;
      font-weight: bold;
      color: var(--color-on-background);
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);

    .link {
      a {
        color: var(--color-on-background);
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    justify-content: flex-end;

    .action {
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: var(--color-on-background);
      display: flex;
      align-items: center;
      outline-offset: 1px;
      outline: 2px solid transparent;

      &:focus-visible {
        outline-color: var(--color-on-background);
      }
    }

    & > li:last-child {
      display: none;
    }
  }

  &[data-sticky] {
    border-end-end-radius: var(--radius-md);
    border-end-start-radius: var(--radius-md);
    background-color: var(--color-background);
  }
}

#youcan-section--header:has([layout="header"][data-sticky]) {
  z-index: 50;
  position: sticky;
  inset-block-start: var(--spacing-0);
}

/* Footer */
[layout="footer"] {
  margin-block-start: var(--spacing-12);

  display: flex;
  gap: var(--spacing-24);
  justify-content: space-between;
  padding: var(--spacing-64);
  border-radius: var(--radius-md);
  color: var(--color-on-theme);
  background-color: var(--color-theme);

  .general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .store {
      display: grid;
      gap: var(--spacing-16);

      .logo {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: var(--spacing-6);
        font-weight: bold;
        text-transform: uppercase;

        img {
          object-fit: cover;
        }
      }

      .bio {
        opacity: 0.8;
        text-wrap: balance;
      }
    }

    .copyright {
      a {
        color: inherit;
      }
    }
  }

  .links {
    display: flex;
    gap: var(--spacing-48);
    margin-block-end: var(--spacing-24);

    .links-box {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);

      span {
        font: var(--font-body-lg);
      }

      ul {
        display: grid;
        gap: var(--spacing-16);

        li {
          text-transform: capitalize;

          a {
            opacity: 0.8;
            color: inherit;

            &::before {
              background-color: var(--color-on-theme);
            }
          }
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 1280px) {
  [layout="footer"] {
    flex-direction: column-reverse;

    .general {
      gap: var(--spacing-24);
    }

    .links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 769px) {
  [layout="announcement-bar"] {
    .marquee-container {
      width: 100%;
    }
  }

  [layout="header"] {
    display: flex !important;

    .logo {
      order: -1;
    }

    .links {
      li {
        display: none;
      }
    }

    .actions {
      flex: 2;

      & > li:last-child {
        display: flex;
      }
    }
  }

  [layout="footer"] {
    gap: var(--spacing-48);
    padding: var(--spacing-48);

    .general {
      gap: var(--spacing-48);
    }

    .links {
      margin: 0;
      grid-template-columns: 1fr;
    }
  }
}
