[section="product-reviews"] {
  display: grid;
  gap: var(--spacing-12);

  .section-head {
    &:has(ui-add-review) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &:has(.section-core > :last-child:is(template)) {
    gap: var(--spacing-0);

    .section-head {
      background-color: transparent;

      h2 {
        display: none;
      }
    }
  }

  .section-core {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(4, 1fr);

    [block="review"] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--spacing-24);
      padding: var(--spacing-48);
      border-radius: var(--radius-md);
      background-color: var(--color-surface-container-low);

      .content {
        p {
          text-wrap: balance;
          word-break: break-all;
        }
      }

      .author {
        display: grid;
        gap: var(--spacing-4);

        .name {
          font: var(--font-title-md);
        }

        .rating {
          display: flex;
          align-items: center;
          gap: var(--spacing-8);

          .stars {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            color: var(--color-star);
          }

          .value {
            opacity: 0.8;
            font: var(--font-body-sm);
          }
        }
      }

      .images {
        display: flex;
        flex-wrap: wrap;

        & > img {
          cursor: pointer;
          border-radius: var(--radius-md);
          object-fit: cover;
          border: 2px solid var(--color-background);
          background-color: var(--color-surface-container-low);
          box-shadow: color-mix(in srgb, currentColor 10%, transparent) 0px 28px 50px 0px;
          transition: var(--transition-expressive-default-spatial);

          &:nth-child(odd) {
            rotate: -3deg;
          }

          &:nth-child(even) {
            rotate: 3deg;
          }

          &:nth-child(2) {
            transform: translateX(-0.5em);

            &:dir(rtl) {
              transform: translateX(0.5em);
            }
          }

          &:nth-child(3) {
            transform: translateX(-1em);

            &:dir(rtl) {
              transform: translateX(1em);
            }
          }

          &:nth-child(4) {
            transform: translateX(-1.5em);

            &:dir(rtl) {
              transform: translateX(1.5em);
            }
          }

          &:hover {
            scale: 1.05;
            rotate: 0deg;
          }
        }
      }

      &.skeleton {
        height: 208px;

        .sk {
          height: 50%;
          overflow: hidden;
          position: relative;
          border-radius: var(--radius-sm);
          background-color: var(--color-surface-container-high);

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            transform: translateX(-100%);
            background-image: linear-gradient(90deg, transparent, var(--color-surface-container-low), transparent);
            animation: skeleton-loading 1s infinite;

            @keyframes skeleton-loading {
              100% {
                transform: translateX(100%);
              }
            }
          }
        }

        .content {
          display: grid;
          gap: var(--spacing-4);

          .sk {
            &:last-child {
              width: 70%;
            }
          }
        }

        .author {
          width: 25%;

          .rating {
            .stars {
              gap: var(--spacing-8);

              .sk {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }

    &:has([block="review"] .images) {
      [block="review"] {
        justify-content: flex-start;
      }
    }
  }

  .show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-16);

    & > [ui-link] {
      cursor: pointer;
      user-select: none;
      width: fit-content;
    }
  }

  [ui-show-images] {
    &:has(.show-content[data-state="open"]) {
      &::before {
        content: "";
        inset: 0;
        cursor: auto;
        z-index: 9998;
        position: fixed;
        background-color: var(--color-overlay);
      }
    }

    .show-content {
      z-index: 9999;
      position: fixed;
      translate: -50% -50%;
      left: 50%;
      inset-block-start: 50%;
      overflow: hidden;
      border-radius: var(--radius-md);
      background-color: var(--color-background);
      width: 500px;
      padding: var(--spacing-12);
      transition: var(--transition-expressive-slow-spatial);
      display: grid;
      gap: var(--spacing-12);

      &[data-state="closed"] {
        opacity: 0;
        visibility: hidden;
        inset-block-start: 55%;
      }

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-12);
        border-radius: var(--radius-md);
        background-color: var(--color-surface-container-low);

        .title {
          font: var(--font-body-lg);
        }
      }

      .core {
        display: grid;
        gap: var(--spacing-12);
        padding-block: var(--spacing-24) (--spacing-12);
        position: relative;

        .images-wrapper {
          display: grid;
          align-items: center;
          gap: var(--spacing-12);
          grid-template-columns: auto 1fr auto;

          &:not(:has(.images img:nth-child(2))) {
            grid-template-columns: 1fr;

            [ui-show-images="arrow"] {
              display: none;
            }
          }

          .images {
            display: flex;
            gap: var(--spacing-8);
            height: 40vh;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            -ms-overflow-style: none;
            -webkit-overflow-scrolling: touch;

            & > img {
              min-width: 100%;
              object-fit: cover;
              scroll-snap-align: center;
              scroll-snap-stop: always;
              border-radius: var(--radius-md);
            }
          }

          [ui-show-images="arrow"] {
            &:dir(rtl) [ui-icon] {
              rotate: -180deg;
            }
          }
        }

        .actions {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 1280px) {
  [section="product-reviews"] {
    .section-core {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 769px) {
  [section="product-reviews"] {
    .section-head {
      &:has(ui-add-review) {
        justify-content: space-between;
      }
    }

    &:has(.section-core > :last-child:is(template)) {
      .section-head {
        justify-content: center;
      }
    }

    .section-core {
      grid-template-columns: 1fr;

      [block="review"] {
        padding: calc(var(--spacing-24) + var(--spacing-8));

        .author {
          .name {
            font: var(--font-title-sm);
          }
        }

        .images {
          & > img {
            width: 60px;
            height: 60px;
            border-radius: var(--radius-sm);
          }
        }
      }
    }

    [ui-show-images] {
      .show-content {
        width: calc(100% - var(--spacing-24));

        .core {
          .images-wrapper {
            .images {
              height: 35vh;
            }
          }
        }
      }
    }
  }
}
