[section="products"] {
  display: grid;
  gap: var(--spacing-12);

  .section-core {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Responsive */
@media (max-width: 1024px) {
  [section="products"] {
    .section-core {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
