[section="slideshow"] {
  height: var(--slideshow-height);
  display: inline-flex;
  position: relative;

  /* Slides */
  .slideshow-wrapper {
    overflow: hidden;
    border-radius: var(--radius-lg);

    .wrapper-box {
      height: 100%;
      width: calc(100vw - var(--spacing-24));
      display: flex;
      position: relative;
      inset-inline-start: var(--spacing-0);
      transition: 0.6s;

      [block="slideshow-slide"] {
        min-width: 100%;
        position: relative;
        background-color: var(--color-surface-container);

        img {
          object-fit: cover;
          user-select: none;
          pointer-events: none;
        }

        & > [ui-icon] {
          opacity: 0.3;
          position: absolute;
          translate: -50% -50%;
          left: 50%;
          inset-block-start: 50%;
        }

        .content {
          max-width: 30%;
          position: absolute;
          inset-inline-start: var(--spacing-24);
          inset-block-end: var(--spacing-24);
          border-radius: var(--radius-lg);
          background-color: var(--color-background);
          padding: calc(var(--spacing-48) - var(--spacing-8));
          display: grid;
          gap: var(--spacing-24);

          .text {
            display: grid;
            gap: var(--spacing-8);

            .title {
              font: var(--font-headline-lg);
            }

            .description {
              text-wrap: balance;
              font: var(--font-body-lg);
              color: var(--color-on-surface-variant);
            }
          }

          .action {
            color: inherit;
            width: fit-content;
          }
        }
      }
    }
  }

  /* Arrows */
  .slideshow-arrows {
    left: 50%;
    position: absolute;
    translate: -50% -50%;
    inset-block-start: 50%;
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--spacing-48));

    & > button {
      border: none;
      outline: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: var(--radius-sm);
      color: white;
      background-color: var(--color-overlay);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition-standard-default-effects);

      &:dir(rtl) {
        rotate: 180deg;
      }

      &:active:not(:disabled) {
        scale: 0.95;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  /* Pagination */
  .slideshow-pagination {
    left: 50%;
    position: absolute;
    translate: -50% -50%;
    inset-block-end: var(--spacing-24);
    display: flex;
    overflow: hidden;
    border-radius: var(--radius-rounded);
    background-color: var(--color-overlay);

    & > button {
      width: 20px;
      height: 30px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child,
      &:last-child {
        width: 25px;
      }

      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        clip-path: circle();
        opacity: 0.5;
        background-color: white;
      }

      &[aria-selected="true"]::before {
        opacity: 1;
      }
    }
  }
}

/* Responsive */
@media (max-width: 1024px) {
  [section="slideshow"] {
    .slideshow-wrapper {
      .wrapper-box {
        [block="slideshow-slide"] {
          .content {
            max-width: 300px;
            padding: calc(var(--spacing-24) + var(--spacing-8));

            .text {
              .title {
                font: var(--font-title-lg);
              }

              .description {
                display: none;
              }
            }
          }
        }
      }
    }

    .slideshow-pagination {
      display: none;
    }
  }
}

@media (max-width: 769px) {
  [section="slideshow"] {
    .slideshow-wrapper {
      .wrapper-box {
        [block="slideshow-slide"] {
          .content {
            width: 100%;
            max-width: calc(100% - var(--spacing-48));
            padding: calc(var(--spacing-24) - var(--spacing-4));
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .text {
              .title {
                text-wrap: balance;
                font: var(--font-title-md);
              }
            }
          }
        }
      }
    }

    .slideshow-pagination {
      display: none;
    }

    &:not(:has(.slideshow-arrows)) {
      .slideshow-wrapper {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;

        [block="slideshow-slide"] {
          scroll-snap-align: center;
          scroll-snap-stop: always;
        }
      }
    }
  }
}
