[section="benefits"] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-24) var(--spacing-64);
  padding: var(--spacing-24);
  border-radius: var(--radius-md);
  color: var(--color-on-theme);
  background-color: var(--color-theme);

  [block="benefit"] {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }
}

@media (max-width: 769px) {
  [section="benefits"] {
    display: grid;
    grid-template-columns: 1fr;
  }
}
