[section="collections"] {
  display: grid;
  gap: var(--spacing-12);

  .section-core {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(2, 1fr);

    [block="collection"] {
      display: grid;
      gap: var(--spacing-12);
      height: calc(35vh - var(--spacing-6));

      &:first-child {
        height: 70vh;
        grid-row: 1 / 3;
        position: relative;

        .content {
          width: 30%;
          position: absolute;
          inset-inline-start: var(--spacing-24);
          inset-block-end: var(--spacing-24);
        }
      }

      &:nth-child(2) {
        grid-template-columns: 60% auto;
      }

      &:nth-child(3) {
        grid-template-columns: auto 60%;

        .content {
          order: -1;
        }
      }

      .media {
        width: 100%;
        height: inherit;
        overflow: hidden;
        position: relative;
        border-radius: var(--radius-md);
        background-color: var(--color-surface-container);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & > [ui-icon] {
          opacity: 0.3;
          position: absolute;
          translate: -50% -50%;
          left: 50%;
          inset-block-start: 50%;
        }
      }

      .content {
        text-decoration: none;
        border-radius: var(--radius-md);
        padding: calc(var(--spacing-48) - var(--spacing-8));
        display: flex;
        gap: var(--spacing-24);
        flex-direction: column;
        justify-content: space-between;
        color: var(--color-on-theme);
        background-color: var(--color-theme);

        .text {
          display: grid;
          gap: var(--spacing-8);

          .title {
            font: var(--font-title-lg);
          }

          .description {
            opacity: 0.8;
            text-wrap: balance;
            display: -webkit-box; 
            -webkit-line-clamp: 5; 
            -webkit-box-orient: vertical; 
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .action {
          color: inherit;
          width: fit-content;

          &::before {
            background-color: currentColor;
          }
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 1280px) {
  [section="collections"] {
    .section-core {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 769px) {
  [section="collections"] {
    .section-core {
      [block="collection"] {
        height: auto !important;
        grid-template-columns: 1fr !important;

        .media {
          order: -1;
          height: calc(35vh - var(--spacing-6));
        }

        .content {
          width: 100% !important;
          position: static !important;
          padding: calc(var(--spacing-24) + var(--spacing-8));
          background-color: var(--color-surface-container-low) !important;

          .text,
          .action,
          .description {
            color: var(--color-on-background) !important;

            &.description {
              opacity: 0.7 !important;
            }
          }
        }
      }
    }
  }
}
