[ui-pagination] {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  justify-content: center;
}

@media (max-width: 769px) {
  [ui-pagination] {
    a span {
      display: none;
    }
  }
}
