.yc-cart{
  margin:4rem 0 2rem;
}
.yc-cart .empty-cart ion-icon{
  --ionicon-stroke-width:18px;
}
.yc-cart .cart-table .header-block{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.yc-cart .cart-table .header-block .header-bar{
  display:flex;
  align-items:center;
  gap:9px;
  width:60%;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .header-block .header-bar{
    width:100%;
  }
}
.yc-cart .cart-table .header-block .header-bar h2{
  font-weight:700;
  font-size:21px;
}
.yc-cart .cart-table .header-block .header-bar p{
  color:#9b9b9b;
  font-weight:400;
  font-size:14px;
  line-height:22px;
}
.yc-cart .cart-table .header-block #cart-items-count{
  text-transform:lowercase;
}
.yc-cart .cart-table .header-block .checkout_cta{
  max-width:100%;
  width:437px;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .header-block .checkout_cta{
    display:none;
  }
}
.yc-cart .cart-table .summary-box{
  max-width:100%;
  border:1px solid #efefef;
  border-radius:4px;
  width:437px;
  float:left;
  margin-bottom:40px;
}
.yc-cart .cart-table .summary-box .promo{
  font-weight:400;
  margin-bottom:17px;
  font-size:15px;
}
.yc-cart .cart-table .summary-box input{
  border:1px solid #bdbdbd;
  border-radius:4px;
}
.yc-cart .cart-table .summary-box .price-box{
  margin:25px auto 15px;
}
.yc-cart .cart-table .summary-box .price-box .box{
  font-weight:400;
  font-size:16px;
  margin-bottom:20px;
  color:#a8a8a8;
}
.yc-cart .cart-table .summary-box .price-wrapper{
  padding:0px 18px 18px;
}
.yc-cart .cart-table .summary-box .price-wrapper .capitalize{
  flex:1;
}
.yc-cart .cart-table .summary-box .price-wrapper .item-price{
  width:20%;
  text-align:end;
}
.yc-cart .cart-table .summary-box .total{
  font-weight:700;
  font-size:14px;
}
.yc-cart .cart-table .summary-box .total-price{
  color:var(--yc-primary-color);
  font-weight:700;
  font-size:16px;
}
.yc-cart .cart-table .summary-box .border-space{
  padding-bottom:22px;
  padding:0px 18px 18px;
}
.yc-cart .cart-table .summary-box .item-total-price{
  color:var(--yc-primary-color);
  font-weight:700;
  font-size:16px;
}
.yc-cart .cart-table .summary-box .discount-text,
.yc-cart .cart-table .summary-box .shipping-text{
  font-weight:700;
  font-size:14px;
}
.yc-cart .cart-table .summary-box .discount-price{
  display:inline-flex;
  gap:4px;
  font-size:15px;
  font-weight:500;
}
.yc-cart .cart-table .summary-box .discount-price::before{
  content:"-";
}
[dir="rtl"] .yc-cart .cart-table .summary-box .discount-price{
  flex-direction:row-reverse;
}
.yc-cart .cart-table .summary-box .coupon-applied{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top:15px;
  font-size:14px;
}
.yc-cart .cart-table .summary-box .coupon-applied span{
  font-weight:600;
}
.yc-cart .cart-table .summary-box #remove-coupon{
  cursor:pointer;
  font-size:18px;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .summary-box{
    width:100%;
  }
}
.yc-cart .quantity-wrapper{
  width:-moz-fit-content;
  width:fit-content;
  border:1px solid #bdbdbd;
  border-radius:4px;
  display:flex;
  align-items:center;
  background-color:white;
}
.yc-cart .quantity-wrapper button{
  width:34px !important;
  min-width:34px !important;
  max-width:34px !important;
  height:34px !important;
  min-height:34px !important;
  max-height:34px !important;
  background-color:transparent;
  font-size:18px;
  color:#b7b7b7;
}
.yc-cart .quantity-wrapper input{
  width:34px !important;
  min-width:34px !important;
  max-width:34px !important;
  height:34px !important;
  min-height:34px !important;
  max-height:34px !important;
  margin:0 !important;
  padding:0 !important;
  background-color:white;
  display:flex;
  font-weight:600 !important;
  font-size:16px !important;
  border:0;
  align-items:center;
  justify-content:center;
  text-align:center;
}
@media screen and (max-width: 520px){
  .yc-cart .quantity-wrapper button,
  .yc-cart .quantity-wrapper input{
    width:26px !important;
    min-width:25px !important;
    max-width:25px !important;
    height:27px !important;
    min-height:27px !important;
    max-height:27px !important;
  }
}

.table-container{
  display:flex;
  flex-direction:column;
  margin:42px auto;
  overflow-x:auto;
}
.table-container .cart__item{
  background:#f5f5f5;
  border:1px solid #ededed;
  border-radius:0px 0px 4px 4px;
  position:relative;
  margin-bottom:25px;
}
.table-container .header{
  border:1px solid #ededed;
  border-radius:4px 4px 0px 0px;
  border-bottom:0;
  display:flex;
  height:42px;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;
}
.table-container .header .cell{
  flex-basis:20%;
  text-align:start;
  padding:10px;
  font-weight:400;
  font-size:14px;
}
.table-container .row{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
.table-container .row .cell{
  flex-basis:20%;
  text-align:start;
  padding:10px;
}
.table-container .row .cell .product-title{
  font-weight:400;
  font-size:16.5px;
  margin-bottom:10px;
  width:86%;
}
.table-container .row .cell .total-price-wrapper span{
  color:var(--yc-primary-color);
  font-weight:700;
  font-size:17px;
}
.table-container .row .cell .product-image img{
  --size:140px;
  width:140px;
  width:var(--size);
  height:140px;
  height:var(--size);
  -o-object-fit:cover;
     object-fit:cover;
}
.table-container .row .adjust-space{
  flex-basis:5%;
  padding:0;
}
.table-container .row .close-btn{
  font-size:25px;
  color:#4b5565;
}
@media screen and (max-width: 767px){
  .table-container .header{
    display:none;
  }
  .table-container .row{
    flex-wrap:wrap;
    justify-content:center;
    align-items:start;
  }
  .table-container .row .cell .product-image img{
    width:140px;
    height:90px;
  }
  .table-container .close-btn button{
    position:absolute;
    inset-block-start:0;
    inset-inline-end:0;
    margin:10px;
  }
  .table-container .product-title{
    width:87%;
  }
  .table-container .row .cell:first-child,
  .table-container .row .cell:nth-child(n+3){
    flex-basis:35%;
  }
  .table-container .row .cell:nth-child(2),
  .table-container .row .cell:nth-child(n+4){
    flex-basis:65%;
  }
}
