#sort {
  .options {
    display: flex;
    flex-direction: column;

    .opt {
      justify-content: space-between !important;

      input[type="radio"] {
        pointer-events: none;
      }
    }
  }
}
