ui-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-4);

  svg {
    opacity: 0.5;
  }

  .heading {
    font: var(--font-title-md);
  }

  .description {
    color: var(--color-on-surface-variant);
  }

  .action {
    width: fit-content;
    margin-block-start: var(--spacing-12);
  }
}
