[ui-section="multicolumn"] {
  display: grid;
  gap: var(--spacing-12);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);

    .column-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--spacing-8);
      transition: var(--transition-standard-fast-spatial);
      transition-property: transform, box-shadow;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-section);
      box-shadow: 3px 3px 0 var(--color-primary);
      gap: var(--spacing-12);

      .media {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: auto;
        overflow: hidden;

        &[data-aspect-ratio="square"] {
          aspect-ratio: 1 / 1;
        }

        &[data-aspect-ratio="portrait"] {
          aspect-ratio: 3 / 4;
        }

        &[data-aspect-ratio="landscape"] {
          width: 85px;
          aspect-ratio: 16 / 9;
        }
      }

      .info {
        display: flex;
        flex: 1;
        flex-direction: column;

        .heading {
          overflow: hidden;
          font: var(--font-title-md);
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &:is(a):hover {
        transform: translate(2px, 2px);
        box-shadow: 1.5px 1.5px 0 var(--color-primary);
      }
    }
  }

  ui-empty {
    padding: var(--spacing-12);
  }
}
