.youcan-section:has([ui-section="upsell"]) {
  display: flex;
  flex: 1;
}

[ui-section="upsell"] {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-24);

  .head {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);

    .title {
      font: var(--font-title-md);
    }

    .options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-8);
    }
  }
}
