[ui-section="footer"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-16);

  .copyright {
    display: flex;
    align-items: center;
    height: 36px;
    padding-inline: var(--spacing-16);
    border-radius: var(--radius-button);
    background-color: var(--color-primary-container);
    color: var(--color-primary);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);

    .link {
      color: var(--color-on-surface-variant);
    }

    .dot:last-of-type {
      display: none;
    }
  }
}
