[ui-section="slideshow"] {
  --per-page: 1;
  --gap: var(--spacing-12);

  display: grid;
  gap: var(--spacing-12);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }

    .arrows {
      display: flex;
      gap: var(--spacing-8);
    }
  }

  .list {
    padding-block-end: 3px;
    padding-inline-end: 3px;

    .slide-item {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: auto;
      padding: var(--spacing-12);
      overflow: hidden;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-section);
      box-shadow: 3px 3px 0 var(--color-primary);
      color: var(--color-on-primary);
      gap: var(--spacing-8);

      &[data-aspect-ratio="landscape"] {
        aspect-ratio: 1 / 0.5;
      }

      &[data-aspect-ratio="portrait"] {
        aspect-ratio: 3 / 4;
      }

      &[data-aspect-ratio="square"] {
        aspect-ratio: 1 / 1;
      }

      .heading {
        position: relative;
        z-index: 2;
        font: var(--font-title-md);
      }

      .action {
        position: relative;
        z-index: 2;
        width: fit-content;
      }

      .media {
        inset: 0;
        position: absolute;

        &::before {
          content: "";
          position: absolute;
          background-image: linear-gradient(to bottom, transparent, rgb(0 0 0 / 30%), rgb(0 0 0 / 50%));
          inset: 0;
        }

        & > svg {
          object-fit: cover;
        }
      }
    }
  }

  .markers {
    display: flex;
    justify-content: center;

    [ui-carousel="marker"] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      transition: var(--transition-standard-default-spatial);
      border: none;
      background-color: transparent;
      color: var(--color-primary);
      cursor: pointer;

      &::before {
        content: "";
        display: flex;
        width: var(--spacing-8);
        height: var(--spacing-8);
        transition: var(--transition-standard-default-spatial);
        border-radius: var(--radius-button);
        background-color: color-mix(in srgb, currentcolor 38%, transparent);
      }

      &[aria-selected="true"] {
        width: 36px;

        &::before {
          width: var(--spacing-24);
          background-color: currentcolor;
        }
      }
    }
  }

  @media (width <= 769px) {
    --per-page: 1;
  }
}
