[ui-section="page"] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  min-height: 70vh;

  .head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .title {
      font: var(--font-title-md);
      text-align: center;
    }
  }

  .core {
    .errors {
      margin-inline-start: var(--spacing-24);
      list-style: initial;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);

      .fields {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-12);

        fieldset {
          display: grid;
          gap: var(--spacing-4);
        }
      }
    }
  }
}
