.youcan-section:has([ui-section="single-collection"]) {
  display: flex;
  flex: 1;
}

[ui-section="single-collection"] {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-24);

  .head {
    display: flex;
    gap: var(--spacing-12);

    form {
      flex: 1;

      [ui-slot="input"] {
        width: 100%;
      }
    }
  }

  .results {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }

    .count {
      opacity: 0.8;
    }
  }

  .sub-collections-list {
    --per-page: 2;
    --item-size: 85%;
    --gap: var(--spacing-12);

    padding-block-end: 3px;
    padding-inline-end: 3px;

    .sub-collection-item {
      display: flex;
      padding: var(--spacing-8);
      transition: var(--transition-standard-fast-spatial);
      transition-property: transform, box-shadow;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-button);
      background-color: var(--color-primary-container);
      box-shadow: 3px 3px 0 var(--color-primary);

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: 1.5px 1.5px 0 var(--color-primary);
      }
    }
  }

  .collections-list {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(2, 1fr);

    .product-item {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: var(--transition-standard-fast-spatial);
      transition-property: transform, box-shadow;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-section);
      box-shadow: 3px 3px 0 var(--color-primary);

      .media {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: var(--radius-0);

        &[data-aspect-ratio="square"] {
          aspect-ratio: 1 / 1;
        }

        &[data-aspect-ratio="portrait"] {
          aspect-ratio: 3 / 4;
        }

        &[data-aspect-ratio="landscape"] {
          aspect-ratio: 16 / 9;
        }

        & > img {
          object-fit: cover;
        }
      }

      .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: var(--spacing-12);
        gap: var(--spacing-8);

        .name {
          overflow: hidden;
          font: var(--font-title-sm);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .price {
          display: flex;
          flex: 1;
          gap: var(--spacing-4);

          .compare-at {
            opacity: 0.5;
            text-decoration: line-through;
          }
        }
      }

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: 1.5px 1.5px 0 var(--color-primary);
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
  }

  ui-empty {
    flex: 1;
  }
}
