[ui-section="faqs"] {
  display: grid;
  gap: var(--spacing-12);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }
  }

  ui-empty {
    padding: var(--spacing-12);
  }
}
