[ui-section="blogs"] {
  display: grid;
  gap: var(--spacing-12);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }
  }

  .list {
    display: grid;
    gap: var(--spacing-12);
    grid-template-columns: repeat(2, 1fr);

    .blog-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--spacing-8);
      transition: var(--transition-standard-fast-spatial);
      transition-property: transform, box-shadow;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-section);
      box-shadow: 3px 3px 0 var(--color-primary);
      gap: var(--spacing-8);

      .media {
        width: 60px;
        height: auto;
        overflow: hidden;

        &[data-aspect-ratio="square"] {
          aspect-ratio: 1 / 1;
        }

        &[data-aspect-ratio="portrait"] {
          aspect-ratio: 3 / 4;
        }

        &[data-aspect-ratio="landscape"] {
          aspect-ratio: 16 / 9;
          width: 80px;
        }

        & > img {
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        flex: 1;
        gap: var(--spacing-4);
        flex-direction: column;

        [ui-slot="link-button"] {
          width: fit-content;
        }

        .link {
          font: var(--font-body-sm);
        }
      }

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: 1.5px 1.5px 0 var(--color-primary);
      }
    }
  }

  ui-empty {
    padding: var(--spacing-12);
  }

  @media (width <= 769px) {
    .list {
      grid-template-columns: 1fr;
    }
  }
}
