.youcan-section:has([ui-section="search"]) {
  display: flex;
  flex: 1;
}

[ui-section="search"] {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-24);

  .head {
    display: flex;
    gap: var(--spacing-12);

    form {
      flex: 1;
      border-radius: var(--radius-button);
      background-color: var(--color-on-primary);

      [ui-slot="input"] {
        width: 100%;
      }
    }
  }

  .results {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }

    .count {
      opacity: 0.8;
    }
  }

  .list {
    display: grid;
    gap: var(--spacing-12);

    .product-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--spacing-12);
      transition: var(--transition-standard-fast-spatial);
      transition-property: transform, box-shadow;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-section);
      background-color: var(--color-on-primary);
      box-shadow: 3px 3px 0 var(--color-primary);
      gap: var(--spacing-12);

      .image {
        position: relative;
        width: 65px;
        height: auto;
        overflow: hidden;
        border-radius: var(--radius-section);

        &[data-aspect-ratio="square"] {
          aspect-ratio: 1 / 1;
        }

        &[data-aspect-ratio="portrait"] {
          aspect-ratio: 3 / 4;
        }

        &[data-aspect-ratio="landscape"] {
          width: 85px;
          aspect-ratio: 16 / 9;
        }

        & > img {
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        gap: var(--spacing-8);
        flex: 1;
        flex-direction: column;

        .name {
          overflow: hidden;
          font: var(--font-title-md);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .price {
          display: flex;
          gap: var(--spacing-4);

          .compare-at {
            opacity: 0.5;
            text-decoration: line-through;
          }
        }
      }

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: 1.5px 1.5px 0 var(--color-primary);
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
  }

  ui-empty {
    flex: 1;
  }
}
