[ui-section="collections"] {
  --per-page: 2;
  --item-size: 85%;
  --gap: var(--spacing-12);

  display: grid;
  gap: var(--spacing-12);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font: var(--font-title-md);
    }

    .arrows {
      display: flex;
      gap: var(--spacing-8);
    }
  }

  .list {
    padding-block-end: 3px;
    padding-inline-end: 3px;

    .collection-item {
      display: flex;
      align-items: center;
      height: 100%;
      padding: var(--spacing-8);
      transition: var(--transition-standard-fast-spatial);
      transition-property: transform, box-shadow;
      border: 1px solid var(--color-primary);
      border-radius: var(--radius-button);
      box-shadow: 3px 3px 0 var(--color-primary);
      gap: var(--spacing-12);

      .media {
        flex-shrink: 0;
        width: 40px;
        height: auto;
        overflow: hidden;
        background-color: var(--color-primary-container);

        &[data-aspect-ratio="square"] {
          aspect-ratio: 1 / 1;
        }

        &[data-aspect-ratio="portrait"] {
          aspect-ratio: 3 / 4;
        }

        &[data-aspect-ratio="landscape"] {
          width: 60px;
          aspect-ratio: 16 / 9;
        }
      }

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: 1.5px 1.5px 0 var(--color-primary);
      }
    }
  }

  @media (width <= 769px) {
    --per-page: 1;
  }
}
