.yc-cart{
  margin:4rem 0 2rem;
}
.yc-cart .empty-cart ion-icon{
  --ionicon-stroke-width:18px;
}
.yc-cart .cart-items-container{
  display:flex;
  flex-direction:column;
  gap:24px;
  margin:32px 0;
  border-radius:5px;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-items-container{
    padding:16px;
    border:1px solid #ededed;
    max-height:400px;
    overflow-y:scroll;
    gap:0;
  }
}
.yc-cart .cart-table .header-block{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.yc-cart .cart-table .header-block .header-bar{
  display:flex;
  flex-direction:column;
  gap:9px;
  width:60%;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .header-block .header-bar{
    width:100%;
  }
}
.yc-cart .cart-table .header-block .header-bar h2{
  font-weight:700;
  font-size:21px;
}
.yc-cart .cart-table .header-block .header-bar p,
.yc-cart .cart-table .header-block .header-bar span{
  color:#9b9b9b;
  font-weight:400;
  font-size:18px;
  line-height:22px;
}
.yc-cart .cart-table .header-block .checkout_cta{
  max-width:100%;
  width:437px;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .header-block .checkout_cta{
    display:none;
  }
}
.yc-cart .cart-table .summary-box{
  border:1px solid rgba(var(--yc-primary-color-rgb), 0.2);
  background-color:rgba(var(--yc-primary-color-rgb), 0.04);
  border-radius:5px;
  padding:24px;
  width:500px;
  margin:80px auto;
}
.yc-cart .cart-table .summary-box .promo{
  font-weight:400;
  margin-bottom:17px;
  font-size:16px;
}
.yc-cart .cart-table .summary-box .coupon-wrapper{
  display:flex;
}
.yc-cart .cart-table .summary-box input{
  border:1px solid #bdbdbd;
  border-radius:4px;
  height:45px !important;
  flex:1;
}
.yc-cart .cart-table .summary-box .price-box .box{
  font-weight:400;
  font-size:16px;
  color:#757575;
}
.yc-cart .cart-table .summary-box .price-box .shipping-wrapper{
  margin:24px 0 0;
}
.yc-cart .cart-table .summary-box .price-wrapper .capitalize{
  width:80%;
}
.yc-cart .cart-table .summary-box .price-wrapper .item-price{
  width:20%;
  text-align:end;
}
.yc-cart .cart-table .summary-box .total{
  font-weight:700;
  font-size:18px;
}
.yc-cart .cart-table .summary-box .total-price{
  color:var(--yc-primary-color);
  font-weight:700;
  font-size:18px;
}
.yc-cart .cart-table .summary-box .border-space{
  padding-bottom:22px;
}
.yc-cart .cart-table .summary-box .item-total-price{
  color:var(--yc-primary-color);
  font-weight:700;
  font-size:18px;
}
.yc-cart .cart-table .summary-box .discount-text,
.yc-cart .cart-table .summary-box .shipping-text{
  font-weight:700;
  font-size:14px;
}
.yc-cart .cart-table .summary-box .discount-price{
  display:inline-flex;
  gap:4px;
  font-size:15px;
  font-weight:500;
}
.yc-cart .cart-table .summary-box .discount-price::before{
  content:"-";
}
[dir=rtl] .yc-cart .cart-table .summary-box .discount-price{
  flex-direction:row-reverse;
}
.yc-cart .cart-table .summary-box .coupon-applied{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top:15px;
  font-size:14px;
}
.yc-cart .cart-table .summary-box .coupon-applied span{
  font-weight:600;
}
.yc-cart .cart-table .summary-box #remove-coupon{
  cursor:pointer;
  font-size:18px;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .summary-box{
    width:100%;
    margin:32px auto;
  }
}
.yc-cart .cart-table .breadcrumbs-container{
  margin-bottom:32px;
}
@media screen and (max-width: 768px){
  .yc-cart .cart-table .breadcrumbs-container{
    margin-top:32px;
  }
}
.yc-cart .quantity-wrapper{
  display:flex;
  align-items:center;
  gap:8px;
  width:-moz-fit-content;
  width:fit-content;
  border-radius:4px;
  background-color:white;
}
.yc-cart .quantity-wrapper button{
  width:30px !important;
  height:30px !important;
  border-radius:5px;
  background-color:#f3f3f3;
  font-size:18px;
  color:#000000;
}
.yc-cart .quantity-wrapper input{
  width:58px;
  border-radius:5px;
  height:30px !important;
  margin:0 !important;
  padding:0 !important;
  background-color:white;
  border:1px solid #e6e6e6;
  display:flex;
  font-weight:600 !important;
  font-size:16px !important;
  align-items:center;
  justify-content:center;
  text-align:center;
}
@media screen and (max-width: 520px){
  .yc-cart .quantity-wrapper button,
  .yc-cart .quantity-wrapper input{
    width:26px !important;
    min-width:25px !important;
    max-width:25px !important;
    height:27px !important;
    min-height:27px !important;
    max-height:27px !important;
  }
}

.table-container{
  display:flex;
  flex-direction:column;
}
.table-container .cart__item{
  background:white;
  border:1px solid #ededed;
  border-radius:0px 0px 4px 4px;
  position:relative;
}
.table-container .header{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  background-color:rgba(var(--yc-primary-color-rgb), 0.04);
  border:1px solid #ededed;
  border-radius:4px 4px 0px 0px;
  border-bottom:0;
  height:42px;
  flex-wrap:wrap;
}
.table-container .header .cell{
  text-align:start;
  padding:8px;
  font-weight:400;
  font-size:14px;
}
.table-container .row{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:"preview details";
}
.table-container .row .cell{
  flex-basis:20%;
  text-align:start;
  padding:10px;
}
.table-container .row .product-preview{
  grid-area:"preview";
}
.table-container .row .product-preview .product-image img{
  --size:100px;
  border-radius:5px;
  width:100px;
  width:var(--size);
  height:100px;
  height:var(--size);
  -o-object-fit:cover;
     object-fit:cover;
}
.table-container .row .prodcut-details{
  grid-area:"details";
  position:relative;
  grid-column:span 3/span 3;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
}
.table-container .row .prodcut-details .cell{
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:center;
}
.table-container .row .prodcut-details .cell .product-title{
  font-weight:400;
  color:var(--yc-primary-color);
  font-size:16px;
}
.table-container .row .prodcut-details .cell .product-variant{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:4px;
  padding-top:8px;
  font-size:14px;
  text-transform:capitalize;
}
.table-container .row .prodcut-details .cell .product-variant .variant-space{
  width:10px;
  height:10px;
  font-weight:bold;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}
.table-container .row .prodcut-details .cell .product-variant .variant-space:not(:last-child)::before{
  content:"";
  display:inline-block;
  width:4px;
  height:4px;
  border-radius:10px;
  background-color:black;
}
.table-container .row .prodcut-details .cell .total-price-wrapper span{
  color:var(--yc-primary-color);
  font-weight:700;
  font-size:17px;
}
.table-container .row .prodcut-details .close-btn{
  position:absolute;
  left:16px;
  top:50%;
  transform:translateY(-50%);
}
[dir=ltr] .table-container .row .prodcut-details .close-btn{
  left:auto;
  left:initial;
  right:16px;
}
@media screen and (max-width: 768px){
  .table-container .row .prodcut-details{
    padding-inline-end:48px;
    display:flex;
    flex-direction:column;
  }
  .table-container .row .prodcut-details .cell{
    padding-inline:0;
  }
  .table-container .row .prodcut-details .cell:nth-child(2){
    order:1;
  }
  .table-container .row .prodcut-details .close-btn{
    position:absolute;
    left:16px;
    top:10px;
    transform:translateY(0);
  }
}
.table-container .row .adjust-space{
  flex-basis:5%;
  padding:0;
}
.table-container .row .close-btn{
  font-size:25px;
  color:#4b5565;
}
.table-container .row .close-btn .yc-btn-close{
  display:flex;
  justify-content:center;
  align-items:center;
}
@media screen and (max-width: 768px){
  .table-container .row{
    grid-template-columns:auto repeat(3, 1fr);
  }
  .table-container .row .product-preview{
    margin-inline-end:16px;
  }
}
@media screen and (max-width: 768px){
  .table-container{
    padding:8px 0;
  }
  .table-container .cart__item{
    border:0;
  }
  .table-container .header{
    display:none;
  }
  .table-container .row{
    flex-wrap:wrap;
    justify-content:center;
    align-items:start;
  }
  .table-container .row .cell:nth-child(1){
    padding:0;
  }
  .table-container .row .cell .product-image img{
    min-width:90px;
    max-width:80px;
  }
  .table-container .row .cell:first-child,
  .table-container .row .cell:nth-child(n+3){
    flex-basis:35%;
  }
  .table-container .row .cell:nth-child(2),
  .table-container .row .cell:nth-child(n+4){
    flex-basis:65%;
  }
}
@media screen and (max-width: 768px){
  .table-container{
    border-bottom:1px solid #ededed;
  }
  .table-container:last-child{
    border-bottom:1px solid transparent;
  }
}
