.yc-collection-listing .collection-list{
  display:grid;
  grid-gap:24px;
  gap:24px;
  margin-bottom:80px;
}
.yc-collection-listing .collection-list .collection-block{
  position:relative;
}
.yc-collection-listing .collection-list .collection-thumbnail{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  border-radius:5px;
}
.yc-collection-listing .collection-list .collection-thumbnail img{
  width:100%;
  height:362px;
  -o-object-fit:cover;
     object-fit:cover;
  transition:transform 0.25s ease;
}
.yc-collection-listing .collection-list .collection-thumbnail img:hover{
  opacity:0.9;
  transform:scale(1.1);
}
@media (min-width: 768px){
  .yc-collection-listing .collection-list .collection-thumbnail img{
    height:345px;
  }
}
.yc-collection-listing .collection-list .collection-details{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%, -50%);
}
.yc-collection-listing .collection-list .collection-details .collection-name{
  font-style:normal;
  font-weight:400;
  font-size:28px;
  display:block;
}
@media (min-width: 768px){
  .yc-collection-listing .collection-list{
    grid-template-columns:repeat(2, 1fr);
  }
}
@media (min-width: 992px){
  .yc-collection-listing .collection-list{
    grid-template-columns:repeat(3, 1fr);
  }
}
