.countdown-wrapper{
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  gap:16px;
}
.countdown-wrapper .message{
  font-size:18px;
  font-weight:400;
}
.countdown-wrapper .countdown{
  display:flex;
  gap:8px;
  margin:0;
}
.countdown-wrapper .countdown .day, .countdown-wrapper .countdown .hour, .countdown-wrapper .countdown .min, .countdown-wrapper .countdown .sec{
  text-align:center;
  display:flex;
  flex-direction:column;
  gap:8px;
}
.countdown-wrapper .countdown .num{
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  font-weight:600;
  height:45px;
  width:45px;
  font-weight:300;
  font-size:16px;
  background-color:white;
  border-radius:5px;
  border:1px solid currentColor;
}
.countdown-wrapper .countdown .sec .num{
  border-width:2px;
}
.countdown-wrapper .countdown .sec .word{
  font-weight:400;
}
.countdown-wrapper .countdown .dots{
  font-size:40px;
  margin-top:-11px;
}
