.sticky-form-wrapper{
  border-width:4px;
  border-style:solid;
  border-radius:5px;
}
@media (min-width: 768px){
  .sticky-form-wrapper{
    border-width:6px;
  }
}
.sticky-form-wrapper .express-checkout-title{
  padding-top:24px;
}
.sticky-form-wrapper #express-checkout-form{
  border:none;
  padding:0;
}
.sticky-form-wrapper .express-checkout-fields{
  border:none;
  padding:0 16px;
  overflow-y:scroll;
  max-height:276px;
}
.sticky-form-wrapper .form-button{
  padding:0 16px 24px 16px;
}
.sticky-form-wrapper .form-wrapper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100%;
}
.sticky-form-wrapper .form-wrapper .sticky-form-button{
  width:100%;
  padding:0 16px;
  margin-bottom:24px;
}

@media (min-width: 768px){
  #express-checkout-form{
    border-width:6px;
    border-style:solid;
    background:#F8F8F8;
    border-radius:4px;
    padding:20px;
    grid-gap:18px;
  }
}
#express-checkout-form *{
  font-family:var(--yc-font-family);
}

.express-checkout-fields{
  display:grid;
  grid-template-columns:1fr;
  grid-gap:14px;
  padding:10px;
}
@media (min-width: 768px){
  .express-checkout-fields{
    padding:0;
    padding:initial;
  }
}
.express-checkout-fields .phone-fieldset{
  display:flex;
}
.express-checkout-fields .phone-fieldset .phone-countries-wrapper{
  position:relative;
  width:30%;
  line-height:100%;
}
.express-checkout-fields .phone-fieldset .phone-countries-wrapper .phone-code{
  display:flex;
  height:100%;
  justify-content:space-between;
  align-items:center;
  pointer-events:none;
}
.express-checkout-fields .phone-fieldset .phone-countries-wrapper .phone-code::after{
  content:"";
  display:inline-block;
  width:6px;
  height:6px;
  border-right:1px solid currentColor;
  border-bottom:1px solid currentColor;
  transform:rotate(45deg);
}
.express-checkout-fields .phone-fieldset .phone-countries-wrapper .phone-select-menu{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100% !important;
  opacity:0;
  cursor:pointer;
  border:none !important;
  padding:0 !important;
  padding:initial !important;
}
.express-checkout-fields .phone-fieldset .phone-number{
  border:none !important;
  direction:inherit;
}

.express-checkout-title{
  font-weight:400;
  font-size:18px;
  line-height:normal;
  text-align:center;
  color:#333;
}

.express-checkout-button{
  display:flex;
  justify-content:center;
  width:100%;
  max-width:900px;
  margin:0 auto;
  font-family:inherit;
  font-weight:bold;
}
.express-checkout-button:disabled{
  opacity:0.5;
  cursor:not-allowed;
}
.express-checkout-button span{
  font-family:inherit;
  font-weight:inherit;
}
.express-checkout-button .spinner{
  width:24px;
  height:24px;
}

@keyframes slideFromBottom{
  0%{
    transform:translateY(100%);
    opacity:0;
  }
  100%{
    transform:translateY(0);
    opacity:1;
  }
}
.yc-sticky-checkout{
  visibility:hidden;
  position:fixed;
  transform:translateY(100%);
  transition:0.3s ease;
  transition-property:all;
  will-change:transform, opacity;
  z-index:1001;
  width:100%;
  min-height:-moz-max-content;
  min-height:max-content;
  max-height:70vh;
  background-color:white;
  left:0;
  bottom:0;
  padding-bottom:0;
}
@media (min-width: 768px){
  .yc-sticky-checkout{
    max-height:54vh;
  }
}
.yc-sticky-checkout .spacer{
  margin-top:20px;
}
.yc-sticky-checkout .cta-bottom-wrapper{
  width:100%;
  position:fixed;
  bottom:0;
  padding:16px 20px;
  background-color:white;
  border-top:1px solid #EBEBEB;
}
.yc-sticky-checkout .step-2-wrapper{
  padding:20px 20px 0 20px;
  margin-bottom:75px;
}
@media (min-width: 768px){
  .yc-sticky-checkout .step-2-wrapper{
    width:100%;
    padding:0;
    padding:initial;
    max-width:940px;
    padding:0 20px;
    margin:0 auto 37px auto;
  }
}
.yc-sticky-checkout .step-2-wrapper .close-icon{
  display:block;
}
.yc-sticky-checkout .step_1, .yc-sticky-checkout .step_2{
  position:relative;
  height:100%;
  display:flex;
  flex-direction:column;
}
.yc-sticky-checkout #checkout_step_1, .yc-sticky-checkout #checkout_step_2{
  animation:slideFromBottom 0.2s ease-in-out;
  will-change:transform;
}
.yc-sticky-checkout .close-icon{
  background:white;
  color:#C8C8C8;
  position:absolute;
  left:50%;
  transform:translate(-50%, -50%);
  bottom:-17px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:32px;
  border-radius:4px 4px 0 0;
}
@media (min-width: 768px){
  .yc-sticky-checkout .close-icon{
    left:auto;
    left:initial;
    transform:none;
    transform:initial;
    bottom:auto;
    bottom:initial;
    top:8px;
    right:20px;
  }
}
.yc-sticky-checkout .sticky-desktop-wrapper .checkout-form{
  width:100%;
}
@media (min-width: 768px){
  .yc-sticky-checkout .sticky-desktop-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:stretch;
    grid-gap:37px;
    gap:37px;
    margin-top:37px;
  }
  .yc-sticky-checkout .sticky-desktop-wrapper .checkout-form{
    padding-bottom:0;
  }
}
