.countdown-wrapper{
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  gap:16px;
}
.countdown-wrapper .message{
  font-size:18px;
  font-weight:400;
}
.countdown-wrapper .countdown{
  display:flex;
  gap:8px;
  margin:0;
}
.countdown-wrapper .countdown .day, .countdown-wrapper .countdown .hour, .countdown-wrapper .countdown .min, .countdown-wrapper .countdown .sec{
  text-align:center;
  display:flex;
  flex-direction:column;
  gap:8px;
}
.countdown-wrapper .countdown .num{
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  font-weight:600;
  height:45px;
  width:45px;
  font-weight:300;
  font-size:16px;
  background-color:white;
  border-radius:5px;
  border:1px solid currentColor;
}
.countdown-wrapper .countdown .sec .num{
  border-width:2px;
}
.countdown-wrapper .countdown .sec .word{
  font-weight:400;
}
.countdown-wrapper .countdown .dots{
  font-size:40px;
  margin-top:-11px;
}

.yc-featured-products{
  padding:5px 0;
}
.yc-featured-products .counter-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:24px 0;
}
.yc-featured-products .counter-wrapper .yc-section-title{
  margin:0;
  font-size:26px;
  font-weight:600;
  text-align:start;
}
@media (max-width: 768px){
  .yc-featured-products .counter-wrapper .yc-section-title{
    font-size:18px;
  }
}
.yc-featured-products .splide{
  padding:37px 0 5rem 0;
}
.yc-featured-products .splide .splide__pagination__page{
  background-color:var(--yc-primary-color);
  opacity:0.3;
}
.yc-featured-products .splide .splide__pagination__page.is-active{
  background-color:var(--yc-primary-color);
  opacity:1;
}
.yc-featured-products .product-list{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:10px;
  gap:10px;
  justify-content:center;
  overflow:hidden;
  align-items:stretch;
}
@media (min-width: 768px){
  .yc-featured-products .product-list{
    grid-template-columns:repeat(3, 1fr);
  }
}
@media (min-width: 992px){
  .yc-featured-products .product-list{
    grid-template-columns:repeat(3, 1fr);
    gap:20px;
  }
}
@media (min-width: 1200px){
  .yc-featured-products .product-list{
    grid-template-columns:repeat(4, 1fr);
  }
}
.yc-featured-products .product-list .product-block{
  height:100%;
  text-align:center;
  color:var(--yc-neutral-color);
  display:flex;
  flex-direction:column;
  position:relative;
  border:1px solid #E7E7E7;
  border-radius:4px;
  background-color:white;
}
.yc-featured-products .product-list .product-block .product-thumbnail{
  border-radius:3px;
  position:relative;
  overflow:hidden;
  padding:0 0 100%;
  height:0;
}
.yc-featured-products .product-list .product-block .product-thumbnail img, .yc-featured-products .product-list .product-block .product-thumbnail svg{
  position:absolute;
  top:50%;
  left:50%;
  height:100%;
  transform:translate(-50%, -50%);
  transition:transform 0.25s ease;
}
.yc-featured-products .product-list .product-block .product-thumbnail img:hover, .yc-featured-products .product-list .product-block .product-thumbnail svg:hover{
  transform:translate(-50%, -50%) scale(1.1);
}
.yc-featured-products .product-list .product-block .product-details{
  padding:16px;
  margin:0;
  display:flex;
  flex-direction:column;
  text-align:center;
}
.yc-featured-products .product-list .product-block .product-details .product-title{
  font-size:15px;
  line-height:120%;
  font-weight:400;
  font-size:16px;
  min-height:40px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
@supports (-webkit-line-clamp: 2){
  .yc-featured-products .product-list .product-block .product-details .product-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    white-space:initial;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }
}
@media (min-width: 768px){
  .yc-featured-products .product-list .product-block .product-details .product-title{
    font-weight:300;
    font-size:16px;
  }
}
@media (min-width: 768px){
  .yc-featured-products .product-list .product-block .product-details{
    padding:24px;
  }
}
.yc-featured-products .product-list .product-block:hover .yc-btn{
  opacity:1;
}
.yc-featured-products .product-list .product-block .yc-btn{
  display:block;
  position:absolute;
  bottom:117px;
  width:80%;
  opacity:0;
  border-radius:4px;
}
.yc-featured-products .product-list .product-block .prices{
  min-height:30px;
  display:flex;
  justify-content:center;
  gap:7px;
  align-items:center;
  margin:8px auto 15px;
}
@media (min-width: 768px){
  .yc-featured-products .product-list .product-block .prices{
    gap:10px;
  }
}
@media (min-width: 992px){
  .yc-featured-products .product-list .product-block .prices{
    flex-direction:row;
    justify-content:center;
  }
}
.yc-featured-products .product-list .product-block .prices .product-price{
  font-weight:600;
  color:var(--yc-primary-color);
  font-size:14px;
  line-height:120%;
}
@media (min-width: 768px){
  .yc-featured-products .product-list .product-block .prices .product-price{
    font-size:20px;
  }
}
.yc-featured-products .product-list .product-block .prices .compare-at-price{
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
  font-size:12px;
  font-weight:300;
  color:#9B9B9B;
}
@media (min-width: 768px){
  .yc-featured-products .product-list .product-block .prices .compare-at-price{
    font-size:18px;
  }
}
.yc-featured-products .product-list .product-block .prices .product-thumbnail:hover img{
  transform:scale(1.1);
}
.yc-featured-products .product-list .product-block .product-btn{
  flex:1;
  display:flex;
  justify-content:center;
}
.yc-featured-products .product-list .product-block .product-btn .yc-btn-secondary{
  width:100%;
}
@media (min-width: 576px){
  .yc-featured-products .product-list .product-block .product-btn .yc-btn-secondary{
    width:-moz-max-content;
    width:max-content;
  }
}
.yc-featured-products .featured-product-placeholder{
  cursor:not-allowed;
}
.yc-featured-products .button-container{
  max-width:-moz-max-content;
  max-width:max-content;
  margin-left:auto;
  margin-right:auto;
  margin:20px auto;
}
.yc-featured-products .button-container a{
  padding:14px 22px;
  min-width:145px;
  border:1px solid #E6E6E6;
  border-radius:5px;
  font-size:14px;
  font-weight:400;
  color:#9B9B9B;
}
@media (min-width: 768px){
  .yc-featured-products .button-container{
    margin-top:32px;
  }
}
