.yc-page{
  margin:0 auto 5rem;
}
.yc-page .yc-page-container{
  max-width:960px;
  margin:0 auto;
  display:grid;
  align-items:center;
  justify-items:center;
  place-items:center;
  text-align:center;
  font-family:inherit;
}
.yc-page .yc-page-container, .yc-page .yc-page-container *{
  font-family:inherit;
}
.yc-page .yc-page-container h1{
  font-size:2.5rem;
  font-weight:700;
  line-height:1.2;
  margin-bottom:1.2rem;
}
.yc-page .yc-page-container h2{
  font-size:2rem;
  font-weight:700;
  line-height:1.2;
  margin-bottom:1.2rem;
}
.yc-page .yc-page-container h3{
  font-size:1.75rem;
  font-weight:700;
  line-height:1.2;
  margin-bottom:1.2rem;
}
.yc-page .yc-page-container h4{
  font-size:1rem;
  font-weight:700;
  line-height:1.2;
  margin-bottom:1.2rem;
}
.yc-page .yc-page-container h5{
  font-size:1.25rem;
  font-weight:700;
  line-height:1.2;
  margin-bottom:1.2rem;
}
.yc-page .yc-page-container h6{
  font-size:1rem;
  font-weight:700;
  line-height:1.2;
  margin-bottom:1.2rem;
}
.yc-page .yc-page-container p{
  font-size:1rem;
  font-weight:400;
  line-height:31.68px;
  margin-bottom:28px;
}
.yc-page .yc-page-container a{
  color:var(--yc-primary-color);
  -webkit-text-decoration:underline;
  text-decoration:underline;
  transition:all 0.3s ease;
}
.yc-page .yc-page-container a:hover{
  color:var(--yc-primary-color);
}
.yc-page .yc-page-container b, .yc-page .yc-page-container b *, .yc-page .yc-page-container strong, .yc-page .yc-page-container strong *{
  font-weight:600 !important;
}
.yc-page .yc-page-container ul{
  list-style:disc;
  margin-left:1rem;
  margin-bottom:1rem;
}
.yc-page .yc-page-container ol{
  list-style:decimal;
  margin-left:1rem;
  margin-bottom:1rem;
}
.yc-page .yc-page-container li{
  margin-bottom:0.5rem;
}
.yc-page .yc-page-container img{
  max-width:100%;
  height:auto;
}
.yc-page .yc-page-container table{
  width:100%;
  border-collapse:collapse;
  margin-bottom:1rem;
}
.yc-page .yc-page-container .contact-us{
  width:100%;
}
.yc-page .yc-page-container .contact-us .contact-form{
  width:100%;
  max-width:563px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.yc-page .yc-page-container .contact-us .contact-form > form{
  width:100%;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group{
  width:100%;
}
.yc-page .yc-page-container .contact-us .contact-form .h-captcha > iframe{
  margin:0 auto;
}
.yc-page .yc-page-container .contact-us .contact-form .contact_title{
  font-size:22px;
  font-style:normal;
  font-weight:700;
  line-height:120%;
  color:#000;
  margin-bottom:24px;
}
.yc-page .yc-page-container .contact-us .contact-form .contact_subtitle{
  font-size:20px;
  font-style:normal;
  font-weight:400;
  line-height:120%;
  color:#000;
  margin-bottom:32px;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group:not(:first-of-type){
  margin-top:19px;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group:last-of-type{
  margin-top:24px;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group input, .yc-page .yc-page-container .contact-us .contact-form .form-group textarea{
  width:100%;
  padding:15px 16px !important;
  font-size:13px !important;
  font-weight:400 !important;
  border-radius:5px;
  border:1px solid #9AA4B2;
  background:#FFF;
  box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.03);
  height:auto !important;
  height:initial !important;
  line-height:normal !important;
  line-height:initial !important;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group .validate-error{
  color:red;
  font-size:14px;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group input::-moz-placeholder, .yc-page .yc-page-container .contact-us .contact-form .form-group textarea::-moz-placeholder{
  color:#A8A8A8;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group input::placeholder, .yc-page .yc-page-container .contact-us .contact-form .form-group textarea::placeholder{
  color:#A8A8A8;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group input:focus{
  outline:5px auto -webkit-focus-ring-color;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group textarea{
  min-height:172px;
}
.yc-page .yc-page-container .contact-us .contact-form .form-group button.primary-button{
  width:100%;
  padding:15px 20px;
  background:var(--yc-primary-color);
  box-shadow:0px 1px 2px 0px rgba(18, 25, 38, 0.05);
  color:white;
  border-radius:4px;
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:150%;
}
