@media (min-width: 768px){
  .product-slider.yc-slider__mobile{
    display:none;
  }
}
.product-slider.yc-slider__desktop{
  display:none;
}
@media (min-width: 768px){
  .product-slider.yc-slider__desktop{
    display:block;
  }
}
.product-slider .product-thumbnail{
  position:relative;
  overflow:hidden;
  padding:0 0 100%;
  height:0;
}
.product-slider .product-thumbnail img, .product-slider .product-thumbnail svg{
  position:absolute;
  top:50%;
  left:50%;
  height:100%;
  transform:translate(-50%, -50%);
  transition:transform 0.25s ease;
}
.product-slider .product-thumbnail img:hover, .product-slider .product-thumbnail svg:hover{
  transform:translate(-50%, -50%) scale(1.1);
}
.product-slider .prices{
  text-align:center;
  padding-bottom:12px;
}
.product-slider .prices .product-price{
  font-size:14px;
  font-weight:600;
  text-align:center;
  color:var(--yc-primary-color);
  line-height:24px;
}
@media (min-width: 768px){
  .product-slider .prices .product-price{
    font-size:20px;
  }
}
.product-slider .prices .compare-at-price{
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
  font-size:12px;
  font-weight:300;
  color:#9B9B9B;
}
@media (min-width: 768px){
  .product-slider .prices .compare-at-price{
    font-size:18px;
  }
}
.product-slider .splide__pagination{
  display:flex !important;
  justify-content:center;
  margin-bottom:-36px;
}
.product-slider .product-block{
  width:100%;
  background-color:white;
  border-radius:3px;
}
.product-slider .product-block .product-details{
  padding:0 16px 16px;
  display:flex;
  flex-direction:column;
  gap:8px;
  text-align:center;
  margin:8px auto;
}
.product-slider .product-block .product-details .product-title{
  min-height:48px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
@supports (-webkit-line-clamp: 2){
  .product-slider .product-block .product-details .product-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    white-space:initial;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }
}
.product-slider .product-block .prices{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:8px;
}
.product-slider .product-block .compare-at-price{
  font-weight:400;
  color:#8D8D8D;
  line-height:120%;
  text-decoration-line:line-through;
}
.product-slider .product-slider-placeholder{
  cursor:not-allowed;
}
