.thankyou-page-container{
  max-width:557px;
  width:100%;
  margin:32px auto;
}
@media (max-width: 768px){
  .thankyou-page-container{
    padding:0 16px;
  }
}
@media (min-width: 768px){
  .thankyou-page-container{
    margin:100px auto 32px;
  }
}
.thankyou-page-container .thankyou-wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-bottom:32px;
}
@media (min-width: 768px){
  .thankyou-page-container .thankyou-wrapper .content-wrapper{
    margin-bottom:80px;
  }
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .heading{
  text-align:center;
  line-height:32px;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .heading .title{
  display:block;
  font-size:20px;
}
@media (min-width: 768px){
  .thankyou-page-container .thankyou-wrapper .content-wrapper .heading .title{
    font-size:24px;
  }
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .icon, .thankyou-page-container .thankyou-wrapper .content-wrapper img{
  width:66px;
  color:#8DC447;
  height:66px;
  margin-bottom:16px;
  -o-object-fit:contain;
     object-fit:contain;
}
.thankyou-page-container .thankyou-wrapper .content-wrapper .description{
  font-size:12px;
  margin-top:11px;
  text-align:center;
  font-weight:400;
  line-height:150%;
}
@media (min-width: 768px){
  .thankyou-page-container .thankyou-wrapper .content-wrapper .description{
    font-size:18px;
  }
}
.thankyou-page-container .cart-result-section .title{
  font-size:16px;
  font-weight:400;
  line-height:normal;
  margin-bottom:16px;
  text-align:center;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .title{
    font-size:24px;
  }
}
.thankyou-page-container .cart-result-section .cart-items{
  border:1px solid #E6E6E6;
  border-bottom:none;
  border-radius:5px 5px 0 0;
}
.thankyou-page-container .cart-result-section .cart-items .product-list{
  display:grid;
  grid-gap:10px;
  gap:10px;
  padding:16px;
  max-height:254px;
  overflow-y:scroll;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .cart-items .product-list{
    gap:16px;
    padding:24px;
    max-height:354px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item{
  display:flex;
  gap:20px;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item{
    gap:30px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-image{
  width:66px;
  height:62px;
  border:1px solid #E6E6E6;
  border-radius:5px;
  -o-object-fit:contain;
     object-fit:contain;
  flex-shrink:0;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-image{
    width:97px;
    height:91px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details *{
  font-weight:400;
  line-height:normal;
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-name{
  display:block;
  color:var(--yc-primary-color);
  font-size:12px;
  margin-bottom:10px;
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-name:hover{
  -webkit-text-decoration:underline;
  text-decoration:underline;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-name{
    font-size:16px;
    margin-bottom:10px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-variations{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  font-size:10px;
  color:#757575;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-variations{
    gap:12px;
    font-size:14px;
  }
}
.thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-price{
  display:block;
  color:var(--yc-primary-color);
  font-size:12px;
  margin-top:5px;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .cart-items .product-list .product-item .product-details .product-price{
    margin-top:8px;
    font-size:16px;
  }
}
.thankyou-page-container .cart-result-section .order-details{
  border:1px solid #E6E6E6;
  padding:16px;
  border-radius:0 0 5px 5px;
  background-color:#FAFAFA;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .order-details{
    padding:24px;
  }
}
.thankyou-page-container .cart-result-section .order-details .data-listing{
  display:grid;
  grid-gap:16px;
  gap:16px;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .order-details .data-listing{
    gap:24px;
  }
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item span{
  font-size:10px;
  font-weight:400;
  line-height:normal;
  color:#757575;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .order-details .data-listing .data-item span{
    font-size:14px;
  }
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item .coupon-wrapper{
  display:flex;
  gap:5px;
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item .coupon-wrapper .coupon-data{
  display:inherit;
  gap:inherit;
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item .coupon-wrapper .coupon-data *{
  font-size:14px;
  font-weight:400;
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item .coupon-wrapper .coupon-discount{
  display:inline-flex;
  gap:4px;
}
.thankyou-page-container .cart-result-section .order-details .data-listing .data-item .coupon-wrapper .coupon-discount::before{
  content:"-";
}
[dir="rtl"] .thankyou-page-container .cart-result-section .order-details .data-listing .data-item .coupon-wrapper .coupon-discount{
  flex-direction:row-reverse;
}
.thankyou-page-container .cart-result-section .order-details .total-price{
  display:flex;
  justify-content:space-between;
  margin-top:17px;
  border-top:1px solid #333;
  border-bottom:1px solid #333;
  padding:10px 0;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .order-details .total-price{
    margin-top:26px;
    padding:16px 0;
  }
}
.thankyou-page-container .cart-result-section .order-details .total-price span{
  font-weight:400;
  line-height:normal;
  font-size:10px;
}
@media (min-width: 768px){
  .thankyou-page-container .cart-result-section .order-details .total-price span{
    font-size:16px;
  }
}
.thankyou-page-container .home-page{
  margin-top:20px;
}
@media (min-width: 768px){
  .thankyou-page-container .home-page{
    margin-top:30px;
  }
}
