/* 
  Component: Banner

  Accepts:
    - data-variant: {String} filled | light | lighter | stroke
    - data-status: {String} error | warning | success | information | feature

  Usage:
    - ...
*/

[ui-slot="banner"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding-inline: var(--spacing-12);

  /* Content */
  [ui-slot="banner-content"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-12);
    font: var(--font-body-md);

    /* Icon */
    & > i {
      flex-shrink: 0;
      color: var(--color-banner);
      font-size: 20px;
    }
  }

  /* Status */
  &[data-status="error"] {
    --color-banner: var(--color-error);
    --color-on-banner: var(--color-on-error);
    --color-banner-container: var(--color-error-container);
    --color-on-banner-container: var(--color-on-error-container);
  }

  &[data-status="warning"] {
    --color-banner: var(--color-warning);
    --color-on-banner: var(--color-on-warning);
    --color-banner-container: var(--color-warning-container);
    --color-on-banner-container: var(--color-on-warning-container);
  }

  &[data-status="feature"] {
    --color-banner: var(--color-on-surface-variant);
    --color-on-banner: var(--color-surface-variant);
    --color-banner-container: var(--color-surface-container);
    --color-on-banner-container: var(--color-on-surface);
  }

  &[data-status="success"] {
    --color-banner: var(--color-success);
    --color-on-banner: var(--color-on-success);
    --color-banner-container: var(--color-success-container);
    --color-on-banner-container: var(--color-on-success-container);
  }

  &[data-status="information"] {
    --color-banner: var(--color-info);
    --color-on-banner: var(--color-on-info);
    --color-banner-container: var(--color-info-container);
    --color-on-banner-container: var(--color-on-info-container);
  }

  /* Variant */
  &[data-variant="filled"] {
    background-color: var(--color-banner);
    color: var(--color-on-banner);

    i {
      color: currentcolor;
    }
  }

  &[data-variant="light"] {
    background-color: color-mix(
      in srgb,
      var(--color-banner-container),
      var(--color-banner) 24%
    );
    color: var(--color-on-banner-container);
  }

  &[data-variant="lighter"] {
    background-color: var(--color-banner-container);
    color: var(--color-on-banner-container);
  }

  &[data-variant="stroke"] {
    border-block-end: 1px solid var(--color-surface-variant);
  }
}
