/* 
  Component: Progress Bar

  Accepts:
    - data-variant: {String} (Optional) primary | secondary | tertiary

  Usage:
    - <progress ui-slot="progress-bar" data-variant="primary" value="31" max="100"></progress>
*/

[ui-slot="progress-bar"] {
  height: 6px;
  background-color: transparent;

  /* Variant */
  &[data-variant="primary"] {
    --color-progress: var(--color-primary);
  }

  &[data-variant="secondary"] {
    --color-progress: var(--color-secondary);
  }

  &[data-variant="tertiary"] {
    --color-progress: var(--color-tertiary);
  }

  /* Progress Bar */
  &::-webkit-progress-bar {
    border-radius: var(--radius-rounded);
    background-color: var(--color-surface-container-highest);
  }

  /* progress Value */
  &::-webkit-progress-value {
    transition: var(--transition-standard-default-spatial);
    border-radius: var(--radius-rounded);
    background-color: var(--color-progress, var(--color-primary));
  }
}
