/* 
  Component: Progress Bar

  Accepts:
    - data-variant: {String} (Optional) primary | secondary | tertiary

  Usage:
    - <progress ui-slot="progress-bar" data-variant="primary" value="31" max="100"></progress>
*/

[ui-slot="progress-bar"] {
  height: 6px;
  background-color: transparent;

  /* Variant */

  /* Progress Bar */
  &::-webkit-progress-bar {
    border-radius: var(--radius-rounded);
  }

  /* progress Value */
  &::-webkit-progress-value {
    transition: var(--transition-standard-default-spatial);
    border-radius: var(--radius-rounded);
  }
}
