
  [ui-block=collection]{
    display:flex;
    flex-direction:column;
    position:relative;
  }
  [ui-block=collection] .media{
    height:auto;
    overflow:hidden;
    border-radius:var(--radius-collection);
  }
  [ui-block=collection] .media[data-image-ratio=square]{
    aspect-ratio:1/1;
  }
  [ui-block=collection] .media[data-image-ratio=portrait]{
    aspect-ratio:3/4;
  }
  [ui-block=collection] .media[data-image-ratio=landscape]{
    aspect-ratio:4/3;
  }
  [ui-block=collection] .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-block=collection] .content{
    display:flex;
    flex-direction:column;
    padding-top:var(--spacing-8);
    gap:var(--spacing-16);
  }
  [ui-block=collection]:not(#\#) .content [ui-slot=button]{
    justify-content:space-between !important;
  }
  [ui-block=collection] .content [ui-slot=link-button]{
    width:-moz-fit-content;
    width:fit-content;
    text-transform:uppercase;
  }
