
  ui-cart-form ui-cart-drawer-items{
    display:flex;
    gap:var(--spacing-24);
    flex-direction:column;
  }
  ui-cart-form ui-cart-drawer-items .item{
    display:flex;
    gap:var(--spacing-16);
  }
  ui-cart-form ui-cart-drawer-items .item .image{
    position:relative;
    flex-shrink:0;
    width:120px;
    height:auto;
    overflow:hidden;
    background-color:var(--color-surface-container);
  }
  ui-cart-form ui-cart-drawer-items .item .image[data-image-ratio=square]{
    aspect-ratio:1/1;
  }
  ui-cart-form ui-cart-drawer-items .item .image[data-image-ratio=portrait]{
    aspect-ratio:3/4;
  }
  ui-cart-form ui-cart-drawer-items .item .image[data-image-ratio=landscape]{
    aspect-ratio:4/3;
  }
  ui-cart-form ui-cart-drawer-items .item .image img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  ui-cart-form ui-cart-drawer-items .item .content{
    display:flex;
    flex:2;
    flex-direction:column;
    justify-content:space-between;
  }
  ui-cart-form ui-cart-drawer-items .item .content .head{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  ui-cart-form ui-cart-drawer-items .item .content .core .variants{
    display:flex;
    flex-wrap:wrap;
    gap:var(--spacing-12);
  }
  ui-cart-form ui-cart-drawer-items .item .content .core .variants .variant{
    display:flex;
    gap:var(--spacing-8);
    font:var(--font-label-sm);
  }
  ui-cart-form ui-cart-drawer-items .item .content .core .variants .variant .label{
    opacity:0.8;
    text-transform:uppercase;
  }
  ui-cart-form ui-cart-drawer-items .item .content .footer{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:var(--spacing-12);
    border-top:1px solid var(--color-surface-variant);
  }
  ui-cart-form ui-cart-drawer-items .item .content .footer .qty{
    display:flex;
    align-items:center;
    gap:var(--spacing-16);
  }
  ui-cart-form:has(ui-empty:not([hidden])){
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:var(--spacing-48);
  }
