
  #search[popover] [ui-slot=sheet-header]{
    border-bottom:1px solid var(--color-surface-variant);
  }
  #search[popover] form{
    border-bottom:1px solid var(--color-surface-variant);
  }
  #search[popover] form:has(input:focus){
    border-bottom-color:currentColor;
  }
  #search[popover] form fieldset{
    display:flex;
    align-items:center;
    position:relative;
  }
  #search[popover] form fieldset i{
    font-size:20px;
    position:absolute;
    left:var(--spacing-24);
  }
  #search[popover] form fieldset input{
    height:50px;
    font:var(--font-body-lg);
    flex:1;
    outline:none;
    font:var(--font-body-md);
    padding-left:56px;
    padding-right:var(--spacing-24);
  }
  #search[popover] [ui-slot=sheet-body]{
    padding:var(--spacing-24);
    display:flex;
    align-items:flex-end;
  }
  #search[popover] [ui-slot=sheet-body] .core{
    display:grid;
    grid-gap:var(--spacing-32);
    gap:var(--spacing-32);
  }
  #search[popover] [ui-slot=sheet-body] .core .category{
    --per-page:2;
    --item-size:85%;
    --gap:var(--spacing-8);
    display:grid;
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
  }
  #search[popover] [ui-slot=sheet-body] .core .category .head{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  #search[popover] [ui-slot=sheet-body] .core .category .head .title{
    font:var(--font-title-sm);
    text-transform:uppercase;
  }
  #search[popover] [ui-slot=sheet-body] .core .category .head .arrows{
    display:flex;
    gap:var(--spacing-4);
  }
  #search[popover] [ui-slot=sheet-body] .core .category .links .link{
    border-bottom:1px solid var(--color-surface-variant);
  }
  #search[popover]:not(#\#) [ui-slot=sheet-body] .core .category .links .link [ui-slot=button]{
    text-transform:none !important;
    padding-left:var(--spacing-0) !important;
    padding-right:var(--spacing-0) !important;
    justify-content:flex-start !important;
  }
  #search[popover] [ui-slot=sheet-body] .core .category .links .link [ui-slot=button]{
    width:100%;
  }
