
  #menu[popover] [ui-slot=sheet-header]{
    border-bottom:1px solid var(--color-surface-variant);
  }
  #menu[popover] [ui-slot=sheet-header] .logo .name{
    font:var(--font-title-md);
    text-transform:uppercase;
  }
  #menu[popover] [ui-slot=sheet-header] .logo a:has(img){
    display:flex;
  }
  #menu[popover] [ui-slot=sheet-header] .logo a:has(img) img{
    -o-object-fit:contain;
       object-fit:contain;
  }
  @media (max-width: 769px){
    #menu[popover] [ui-slot=sheet-header] .logo a:has(img) img{
      width:attr(data-mobile-width px);
    }
  }
  #menu[popover] form{
    border-bottom:1px solid var(--color-surface-variant);
  }
  #menu[popover] form:has(input:focus){
    border-bottom-color:currentColor;
  }
  #menu[popover] form fieldset{
    display:flex;
    align-items:center;
    position:relative;
  }
  #menu[popover] form fieldset i{
    font-size:20px;
    position:absolute;
    left:var(--spacing-24);
  }
  #menu[popover] form fieldset input{
    height:50px;
    font:var(--font-body-lg);
    flex:1;
    outline:none;
    font:var(--font-body-md);
    padding-left:56px;
    padding-right:var(--spacing-24);
  }
  #menu[popover] [ui-slot=sheet-body]{
    padding:var(--spacing-24);
  }
  #menu[popover]:not(#\#) [ui-slot=sheet-body] .links .link [ui-slot=button]{
    justify-content:space-between !important;
  }
