
  [popovertarget=sort]:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){
    z-index:50;
    position:fixed;
    inset-inline-end:var(--spacing-24);
    inset-block-end:var(--spacing-24);
  }
  @media (max-width: 769px){
    [popovertarget=sort]:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){
      inset-inline-end:var(--spacing-8);
      inset-block-end:var(--spacing-8);
    }
  }
  #sort:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) .options{
    display:flex;
    flex-direction:column;
  }
  #sort .options .opt{
    justify-content:flex-start !important;
  }
  #sort:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) .options .opt input[type=radio]{
    pointer-events:none;
  }
