
  [ui-section=thankyou]:not(#\#){
    padding:attr(data-top-spacing px) var(--spacing-24) attr(data-bottom-spacing px) !important;
  }
  [ui-section=thankyou]{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-24);
  }
  [ui-section=thankyou] .order-summary-area{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-16);
  }
  [ui-section=thankyou] .order-summary-area .statuses{
    display:grid;
    grid-gap:var(--spacing-24);
    gap:var(--spacing-24);
    padding:var(--spacing-16);
    border:1px solid var(--color-surface-variant);
  }
  [ui-section=thankyou] .order-summary-area .statuses .item{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
  }
  [ui-section=thankyou] .order-summary-area .statuses .item [ui-slot=label]{
    opacity:0.8;
  }
  [ui-section=thankyou] .order-summary-area .products{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-24);
    padding:var(--spacing-16);
    border:1px solid var(--color-surface-variant);
  }
  [ui-section=thankyou] .order-summary-area .products .product{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    gap:var(--spacing-8);
  }
  [ui-section=thankyou] .order-summary-area .products .product .media{
    width:80px;
    height:80px;
    overflow:hidden;
  }
  [ui-section=thankyou] .order-summary-area .products .product .media > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  [ui-section=thankyou] .order-summary-area .products .product .content{
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:center;
    gap:var(--spacing-8);
  }
  [ui-section=thankyou] .order-summary-area .products .product .content .title{
    justify-content:flex-start;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:-moz-fit-content;
    width:fit-content;
  }
  [ui-section=thankyou] .order-summary-area .products .product .content .count{
    opacity:0.8;
  }
  [ui-section=thankyou] .order-summary-area .summary{
    display:grid;
    grid-gap:var(--spacing-16);
    gap:var(--spacing-16);
    padding:var(--spacing-16);
    border:1px solid var(--color-surface-variant);
  }
  [ui-section=thankyou] .order-summary-area .summary .item{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
  }
  [ui-section=thankyou] .order-summary-area .summary .item [ui-slot=label]{
    opacity:0.8;
  }
  [ui-section=thankyou]:not(#\#) .order-summary-area .summary .item:last-child [ui-slot=label],
  [ui-section=thankyou]:not(#\#) .order-summary-area .summary .item:last-child .value{
    font:var(--font-title-md) !important;
  }
  [ui-section=thankyou] .order-summary-area .summary .item:last-child [ui-slot=label],
  [ui-section=thankyou] .order-summary-area .summary .item:last-child .value{
    color:var(--color-on-surface);
  }
  @media (min-width: 769.02px){
    [ui-section=thankyou]{
      align-items:center;
    }
    [ui-section=thankyou] .content-area,
    [ui-section=thankyou] .order-summary-area{
      width:500px;
    }
  }
  @media (max-width: 769px){
    [ui-section=thankyou] .content-area .heading{
      font:var(--font-headline-lg);
    }
  }
