
  [ui-section=promotion-banner]{
    border-block-end:1px solid var(--color-surface-variant);
  }
  [ui-section=promotion-banner]:not([data-as=layout]){
    border-block-start:1px solid var(--color-surface-variant);
  }
  [ui-section=promotion-banner] .items-wrapper{
    display:flex;
    position:relative;
    width:-moz-fit-content;
    width:fit-content;
    align-items:center;
    height:var(--spacing-48);
    animation:scroll 15s linear infinite;
  }
  [ui-section=promotion-banner] .items-wrapper .items{
    display:flex;
  }
  [ui-section=promotion-banner] .items-wrapper .items .item{
    white-space:nowrap;
    padding-inline:var(--spacing-16);
  }
