
  [ui-section=product-highlight]:not(#\#){
    padding:attr(data-top-spacing px) var(--spacing-24) attr(data-bottom-spacing px) !important;
  }
  [ui-section=product-highlight]{
    display:flex;
    gap:var(--spacing-24);
    flex-direction:column;
  }
  [ui-section=product-highlight] .core-area{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:var(--spacing-32);
    gap:var(--spacing-32);
  }
  [ui-section=product-highlight] .core-area [ui-box=content]{
    display:flex;
    flex-direction:column;
    gap:var(--spacing-16);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title]{
    text-transform:uppercase;
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title][data-size=xl]{
    font:var(--font-display-md);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title][data-size=lg]{
    font:var(--font-headline-lg);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title][data-size=md]{
    font:var(--font-title-lg);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title][data-size=sm]{
    font:var(--font-title-md);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title][data-size=xs]{
    font:var(--font-title-sm);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price]{
    display:flex;
    align-items:center;
    gap:var(--spacing-8);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price][data-size=xl]{
    font:var(--font-display-md);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price][data-size=lg]{
    font:var(--font-headline-lg);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price][data-size=md]{
    font:var(--font-title-lg);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price][data-size=sm]{
    font:var(--font-title-md);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price][data-size=xs]{
    font:var(--font-title-sm);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price] .compare-at-price{
    opacity:0.5;
    -webkit-text-decoration:line-through;
    text-decoration:line-through;
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=controller]{
    display:grid;
    grid-gap:var(--spacing-8);
    gap:var(--spacing-8);
    grid-template-columns:repeat(2, 1fr);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=controller] .quantity-control{
    display:flex;
    align-items:center;
    gap:var(--spacing-16);
    grid-column:1/3;
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=controller] .quantity-control .label{
    text-transform:uppercase;
    font:var(--font-body-sm);
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=controller]:not(:has(> ui-shop-button)) > [ui-slot=button]{
    grid-column:1/3;
  }
  [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=controller]:not(:has(> [ui-slot=button])):not(:has(> ui-shop-button:nth-of-type(2))) > ui-shop-button{
    grid-column:1/3;
  }
  [ui-section=product-highlight] .core-area [ui-box=content] img,
  [ui-section=product-highlight] .core-area [ui-box=content] iframe{
    max-width:100%;
  }
  [ui-section=product-highlight] .core-area [ui-box=media]{
    --per-page:1;
    gap:var(--spacing-16);
    height:-moz-fit-content;
    height:fit-content;
    inset-block-start:var(--spacing-0);
  }
  [ui-section=product-highlight] .core-area [ui-box=media]:has(.markers){
    display:flex;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .markers{
    display:flex;
    flex-direction:column;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .markers .marker{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:20px;
    height:20px;
    transition:var(--transition-standard-default-spatial);
    border:none;
    background-color:transparent;
    color:var(--color-primary);
    cursor:pointer;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .markers .marker::before{
    content:"";
    display:flex;
    width:var(--spacing-8);
    height:var(--spacing-8);
    transition:var(--transition-standard-default-spatial);
    border-radius:var(--radius-rounded);
    border:1px solid currentColor;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .markers .marker[aria-selected=true]::before{
    background-color:currentcolor;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .items[data-image-ratio=square]{
    aspect-ratio:1/1;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .items[data-image-ratio=portrait]{
    aspect-ratio:3/4;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .items[data-image-ratio=landscape]{
    aspect-ratio:4/3;
  }
  [ui-section=product-highlight] .core-area [ui-box=media] .items .item > img{
    -o-object-fit:cover;
       object-fit:cover;
  }
  @media (min-width: 1024.02px){
    [ui-section=product-highlight] [ui-box=media]{
      position:sticky;
    }
  }
  @media (max-width: 1024px){
    [ui-section=product-highlight]{
      gap:var(--spacing-24);
    }
    [ui-section=product-highlight] .core-area{
      grid-template-columns:1fr;
    }
    [ui-section=product-highlight] .core-area [ui-box=media]{
      flex-direction:column;
    }
    [ui-section=product-highlight] .core-area [ui-box=media] .markers{
      flex-direction:row;
      justify-content:center;
    }
  }
  @media (max-width: 769px){
    [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=title][data-size]{
      font:var(--font-title-lg);
    }
    [ui-section=product-highlight] .core-area [ui-box=content] [ui-block=price][data-size]{
      font:var(--font-title-md);
    }
  }
