#youcan-section--announcement-bar{
  padding-inline:10%;
  background-color:rgb(var(--announcement-bar-background-color));
  border-block-end:1px solid rgba(var(--announcement-bar-foreground-color), 0.08);
  order:var(--announcement_bar_order);
}
#youcan-section--announcement-bar .announcement{
  text-align:center;
}
#youcan-section--announcement-bar .announcement .message,
#youcan-section--announcement-bar .announcement .link{
  font-size:calc(var(--font-heading-scale) * 1.3rem);
  color:rgb(var(--announcement-bar-foreground-color));
}
#youcan-section--announcement-bar .announcement .message{
  padding-block:0.6em;
}
#youcan-section--announcement-bar .announcement .link:hover{
  font-size:inherit;
  -webkit-text-decoration:underline;
  text-decoration:underline;
}
