.announcement-bar{
  padding-inline:10%;
  background-color:rgb(var(--announcement-bar-background-color));
  color:rgb(var(--announcement-bar-foreground-color));
  border-block-end:1px solid rgba(var(--announcement-bar-foreground-color), 0.08);
}
.announcement-bar .announcement{
  display:flex;
  justify-content:center;
  align-items:center;
}
.announcement-bar .announcement .message,
.announcement-bar .announcement .link{
  font-size:calc(var(--font-heading-scale) * 1.3rem);
}
.announcement-bar .announcement .message{
  padding-block:0.6em;
  text-align:center;
}
.announcement-bar .announcement .link:hover{
  font-size:inherit;
  -webkit-text-decoration:underline;
  text-decoration:underline;
}
