.collection-card{
  display:inherit;
  overflow:hidden;
  position:relative;
  border-radius:var(--collection-card-border-radius);
}
.collection-card .collection-cover{
  height:400px;
  transition:var(--transition-duration-slow);
}
@media (max-width: 1280px){
  .collection-card .collection-cover{
    height:350px;
  }
}
.collection-card .collection-cover img{
  -o-object-fit:cover;
     object-fit:cover;
  border-radius:var(--collection-card-border-radius);
}
.collection-card .collection-cover::before{
  content:"";
  position:absolute;
  opacity:0;
  width:100%;
  height:100%;
  border-radius:var(--collection-card-border-radius);
  background-color:var(--overlay-background);
  transition:var(--transition-duration-normal);
}
.collection-card .info{
  display:flex;
  justify-content:var(--collection-card-text-alignment);
  position:absolute;
  inset-block-end:1em;
  inset-inline:1em;
}
.collection-card .info .collection-name{
  padding:12px 20px;
  color:rgb(var(--collection-card-foreground));
  background-color:var(--collection-card-background);
  border-radius:var(--collection-card-border-radius);
}
.collection-card:hover .collection-cover{
  scale:1.03;
}
.collection-card:hover .collection-cover::before{
  opacity:1;
}
