.column-card{
  display:grid;
  text-align:center;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}
.column-card[data-position$=left]{
  text-align:start;
}
.column-card[data-position$=center]{
  text-align:center;
}
.column-card[data-position$=right]{
  text-align:end;
}
.column-card .column-img img[data-ratio$=full]{
  width:100%;
}
.column-card .column-img img[data-ratio$=medium]{
  width:50%;
}
.column-card .column-img img[data-ratio$=small]{
  width:33%;
}
.column-card .column-img img[data-shape$=contain]{
  -o-object-fit:contain;
     object-fit:contain;
}
.column-card .column-img img[data-shape$=square]{
  -o-object-fit:cover;
     object-fit:cover;
}
.column-card .column-img img[data-shape$=circle]{
  clip-path:circle();
}
.column-card .column-info{
  display:grid;
  grid-gap:var(--gap-sm);
  gap:var(--gap-sm);
}
.column-card .column-info .column-title{
  font-size:var(--text-lg);
}
.column-card .column-info .column-subtitle{
  font-size:var(--text-md);
}
