.column-card{
  display:grid;
  grid-gap:var(--gap-xl);
  gap:var(--gap-xl);
  text-align:var(--column-card-text-alignment);
}
.column-card .column-img img{
  border-radius:var(--column-card-border-radius);
}
.column-card .column-img img[data-width$=full]{
  width:100%;
}
.column-card .column-img img[data-width$=medium]{
  width:50%;
}
.column-card .column-img img[data-width$=small]{
  width:33%;
}
.column-card .column-img img[data-ratio$=square]{
  aspect-ratio:1;
  -o-object-fit:cover;
     object-fit:cover;
}
.column-card .column-img img[data-ratio$=circle]{
  aspect-ratio:1;
  -o-object-fit:cover;
     object-fit:cover;
  clip-path:circle();
}
.column-card .column-info{
  display:grid;
  grid-gap:var(--gap-sm);
  gap:var(--gap-sm);
}
.column-card .column-info .column-title{
  font-size:var(--text-lg);
}
.column-card .column-info .column-subtitle{
  font-size:var(--text-md);
  color:rgba(var(--section-text-color), 0.7);
}
