yc-filter{
  --filter-bg-color:var(--section-bg-color, var(--color-base-white));
  --filter-text-color:rgb(var(--section-text-color, var(--color-base-black)));
  width:200px;
  display:flex;
  position:relative;
}
yc-filter label.yc-btn.icon{
  width:100%;
  cursor:pointer;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  padding:8px 12px;
  font-size:var(--text-sm);
  justify-content:space-between;
}
@media (min-width: 768px){
  yc-filter label.yc-btn.icon::after{
    content:"";
    width:6px;
    height:6px;
    rotate:45deg;
    position:relative;
    border-radius:1px;
    inset-block-start:-2px;
    border-block-end:1.5px solid currentColor;
    border-inline-end:1.5px solid currentColor;
    transition:var(--transition-duration-normal);
  }
  yc-filter label.yc-btn.icon:has(:not(input:checked)) + yc-filter-content{
    opacity:0;
    filter:blur(2px);
    visibility:hidden;
    translate:0 -0.5em;
  }
}
yc-filter yc-filter-content{
  display:grid;
  z-index:2;
  width:100%;
  position:absolute;
  inset-block-start:calc(100% + 0.5em);
  border-radius:var(--radius-md);
  background-color:var(--filter-bg-color);
  transition:var(--transition-duration-normal);
  border:1px solid color-mix(in srgb, currentColor 20%, transparent);
}
yc-filter yc-filter-content yc-filter-header{
  display:none;
  padding-block:0.5em 1.5em;
}
yc-filter yc-filter-content yc-filter-header span{
  display:flex;
  gap:var(--gap-sm);
  align-items:center;
  justify-content:center;
  font-size:var(--text-md);
}
yc-filter yc-filter-content a{
  padding:8px 12px;
  position:relative;
  margin-inline:4px;
  font-size:var(--text-sm);
  border-radius:var(--radius-md);
  transition:var(--transition-duration-normal);
}
yc-filter yc-filter-content a span{
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:1;
  text-overflow:ellipsis;
  -webkit-box-orient:vertical;
}
yc-filter yc-filter-content a::after{
  width:10px;
  height:5px;
  rotate:315deg;
  position:absolute;
  translate:-50% -50%;
  inset-inline-end:4px;
  inset-block-start:50%;
  border:solid currentColor;
  border-width:0 0 1.5px 1.5px;
}
[dir="rtl"] yc-filter yc-filter-content a::after{
  inset-inline-end:16px;
}
yc-filter yc-filter-content a:nth-child(2){
  margin-block-start:4px;
}
yc-filter yc-filter-content a:last-child{
  margin-block-end:4px;
}
yc-filter yc-filter-content a[data-checked]{
  background-color:color-mix(in srgb, currentColor 3%, transparent);
}
yc-filter yc-filter-content a[data-checked]::after{
  content:"";
}
yc-filter yc-filter-content a:hover{
  background-color:color-mix(in srgb, currentColor 5%, transparent);
}

.filter-trigger label[data-trigger]{
  display:none;
  cursor:pointer;
  width:-moz-fit-content;
  width:fit-content;
}

@media (max-width: 768px){
  .filter-trigger label[data-trigger]{
    display:flex;
  }
  yc-filter{
    width:100%;
  }
  yc-filter label.yc-btn.icon{
    display:none;
  }
  yc-filter yc-filter-content{
    border:none;
    position:relative;
  }
  yc-filter yc-filter-content yc-filter-header{
    display:block;
  }
  yc-filter yc-filter-content a{
    padding:12px;
    margin-inline:0;
    border-radius:0;
  }
}
