yc-modal .modal-box{
  z-index:100;
  position:fixed;
  height:-moz-fit-content;
  height:fit-content;
  background-color:var(--color-base-white);
}
@media (min-width: 768px){
  yc-modal[as-drawer] .modal-box{
    z-index:auto;
    position:relative;
  }
}
@media (min-width: 768px){
  yc-modal:not([as-drawer]) .modal-box{
    width:500px;
    inset:50% 0 0 50%;
    translate:-50% -50%;
    border-radius:var(--radius-md);
    transition:var(--transition-duration-slow) cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
@media (max-width: 768px){
  yc-modal .modal-box{
    width:100%;
    translate:0%;
    inset-block-end:0;
    inset-inline-start:0;
    border-radius:var(--radius-md) var(--radius-md) 0 0;
    transition:var(--transition-duration-normal);
    max-height:90%;
    overflow-y:scroll;
  }
  yc-modal .modal-box::before{
    content:"";
    width:100%;
    height:30px;
    display:block;
    position:sticky;
    z-index:2;
    inset-block-start:0;
    -webkit-backdrop-filter:blur(2px);
            backdrop-filter:blur(2px);
    background-image:linear-gradient(180deg, var(--section-bg-text, var(--color-base-white)), transparent);
  }
  yc-modal .modal-box::after{
    content:"";
    width:48px;
    height:4px;
    left:50%;
    z-index:3;
    position:sticky;
    border-radius:100px;
    translate:-50% -50%;
    inset-block-end:calc(100% - 1em);
    background-color:color-mix(in srgb, currentColor 10%, transparent);
  }
}
yc-modal[data-hidden=true] .modal-overlay{
  opacity:0;
  visibility:hidden;
}
@media (max-width: 768px){
  yc-modal[data-hidden=true] .modal-box{
    visibility:hidden;
    translate:0% 100%;
  }
}
@media (min-width: 768px){
  yc-modal[data-hidden=true]:not([as-drawer]) .modal-box{
    opacity:0;
    visibility:hidden;
    translate:-50% -40%;
  }
}
