yc-countdown-timer{
  --timer-border-radius:var(--product-card-border-radius);
  --timer-border:1px solid color-mix(in srgb, currentColor 10%, transparent);
  display:grid;
  font-size:var(--text-md);
  height:-moz-fit-content;
  height:fit-content;
  color:rgb(var(--timer-foreground));
  border:1px solid color-mix(in srgb, currentColor 10%, transparent);
  border:var(--timer-border);
  border-radius:var(--timer-border-radius);
  background-color:var(--timer-background);
}
yc-countdown-timer .title{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:var(--gap-xs);
  padding:1.5em;
  border-block-end:var(--timer-border);
}
yc-countdown-timer .time{
  padding:1em 1.5em;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
}
yc-countdown-timer .time .timeslot{
  display:grid;
  text-align:center;
  justify-content:center;
  border-inline-end:var(--timer-border);
}
yc-countdown-timer .time .timeslot:last-child{
  border-inline-end:none;
}
yc-countdown-timer .time .timeslot > span:first-child{
  font-weight:550;
}
