yc-countdown-timer{
  display:grid;
  border-radius:var(--radius-md);
  color:var(--color-gray-500);
  font-size:var(--text-md);
  border:1px solid var(--color-gray-50);
  height:-moz-fit-content;
  height:fit-content;
}
yc-countdown-timer .title{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:var(--gap-xs);
  padding:1.5em;
  border-block-end:1px solid var(--color-gray-50);
}
yc-countdown-timer .time{
  padding:1em 1.5em;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
}
yc-countdown-timer .time .timeslot{
  display:grid;
  text-align:center;
  justify-content:center;
  border-inline-end:1px solid var(--color-gray-50);
}
yc-countdown-timer .time .timeslot:last-child{
  border-inline-end:none;
}
yc-countdown-timer .time .timeslot > span:first-child{
  font-weight:550;
}
