:root{
  --drawer-width:500px;
}

yc-drawer .drawer-box{
  position:fixed;
  z-index:100;
  inset:0;
  width:500px;
  width:var(--drawer-width);
  height:100%;
  inset-inline-start:calc(500px * -1);
  inset-inline-start:calc(var(--drawer-width) * -1);
  border-radius:0 var(--radius-md) var(--radius-md) 0;
  background-color:var(--color-secondary);
  transition:var(--transition-duration);
}
yc-drawer .drawer-overlay{
  position:fixed;
  z-index:99;
  inset:0;
  width:100%;
  height:100%;
  opacity:0;
  visibility:hidden;
  -webkit-backdrop-filter:var(--modal-blur);
          backdrop-filter:var(--modal-blur);
  background-color:var(--modal-background);
  transition:var(--transition-duration);
}
yc-drawer[data-direction$=rtl] .drawer-box{
  inset-inline-start:100%;
  border-radius:var(--radius-md) 0 0 var(--radius-md);
}
yc-drawer[data-hidden$=false][data-direction$=rtl] .drawer-box{
  inset-inline-start:calc(100% - 500px);
  inset-inline-start:calc(100% - var(--drawer-width));
}
yc-drawer[data-hidden$=false] .drawer-box{
  inset-inline-start:0%;
}
yc-drawer[data-hidden$=false] .drawer-overlay{
  opacity:1;
  visibility:visible;
}
yc-drawer#menu{
  display:none;
}

@media (max-width: 1024px){
  yc-drawer#menu{
    display:inline;
    display:initial;
  }
}
@media (max-width: 768px){
  :root{
    --drawer-width:85%;
  }
  yc-drawer#cart .cart-btn .total-amount,
  yc-drawer#cart .cart-btn::before{
    display:none;
  }
}
