.single-product{
  --media-main-image-border:1px solid color-mix(in srgb, currentColor 5%, transparent);
  --media-thumbnail-image-border:1.5px solid color-mix(in srgb, currentColor 5%, transparent);
  position:relative;
  display:grid;
  grid-gap:var(--gap-3xl);
  gap:var(--gap-3xl);
  grid-template-columns:repeat(2, 1fr);
}
.single-product yc-product-media{
  --media-main-image-height:550px;
  height:-moz-fit-content;
  height:fit-content;
  display:grid;
  grid-gap:var(--gap-sm);
  gap:var(--gap-sm);
  position:sticky;
  inset-block-start:var(--gap-lg);
}
.single-product yc-product-media img{
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
}
.single-product yc-product-media .main-image{
  position:relative;
  width:100%;
  height:var(--media-main-image-height);
  border-radius:var(--media-main-image-border-radius);
  border:var(--media-main-image-border);
  overflow:hidden;
}
.single-product yc-product-media .main-image .count{
  position:absolute;
  font-size:var(--text-md);
  padding:0.3em 1.5em;
  inset-inline-end:1em;
  inset-block-end:1em;
  border-radius:calc(var(--media-main-image-border-radius) * 1.2);
  color:var(--section-bg-color, var(--color-base-white));
  -webkit-backdrop-filter:var(--overlay-blur);
          backdrop-filter:var(--overlay-blur);
  background-color:var(--overlay-background);
}
.single-product yc-product-media .main-image img{
  -o-object-fit:cover;
     object-fit:cover;
}
.single-product yc-product-media .main-image .placeholder{
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:color-mix(in srgb, currentColor 5%, transparent);
  color:color-mix(in srgb, currentColor 20%, transparent);
}
.single-product yc-product-media .gallery .slider-inner{
  padding-block:0.25em;
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item{
  max-width:100px;
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item .image{
  height:100px;
  scroll-snap-align:start;
  cursor:pointer;
  display:inline-block;
  width:100%;
  border:var(--media-thumbnail-image-border);
  border-radius:var(--media-gallery-border-radius);
  overflow:hidden;
  position:relative;
  transition:var(--transition-duration-normal);
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item .image::before{
  content:"";
  opacity:0;
  width:100%;
  height:100%;
  position:absolute;
  -webkit-backdrop-filter:contrast(0.8);
          backdrop-filter:contrast(0.8);
  border-radius:calc(var(--media-gallery-border-radius) - 1px);
  transition:var(--transition-duration-normal);
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item .image:hover::before{
  opacity:1;
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item .image:has(input:checked){
  border-color:currentColor;
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item .image:has(input:checked)::before{
  opacity:1;
}
.single-product yc-product-media .gallery .slider-inner yc-slider-item .image img{
  -o-object-fit:cover;
     object-fit:cover;
}
.single-product yc-product-info{
  display:flex;
  flex-direction:column;
  gap:var(--gap-lg);
}
.single-product yc-product-info .price{
  display:flex;
  align-items:center;
  gap:var(--gap-md);
}
.single-product yc-product-info .price .current{
  font-weight:550;
}
.single-product yc-product-info .price .compare-at{
  color:color-mix(in srgb, currentColor 70%, transparent);
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
.single-product yc-product-info .description img,
.single-product yc-product-info .description iframe{
  max-width:100%;
}
.single-product yc-product-info .description .card-placeholder{
  font-size:var(--text-md);
}
.single-product yc-product-info .inventory{
  display:flex;
  align-items:center;
  gap:var(--gap-2xs);
}
.single-product yc-product-info .inventory[data-inventory=out-of-stock] .icon{
  color:var(--color-gray-300);
}
.single-product yc-product-info .inventory[data-inventory=in-stock] .icon{
  color:var(--color-success-500);
}
.single-product yc-product-info .inventory[data-inventory=low-stock] .icon{
  color:var(--color-warning-500);
}
.single-product yc-product-info .accordion{
  border:1px solid color-mix(in srgb, currentColor 10%, transparent);
  border-radius:var(--accordion-border-radius, var(--radius-md));
  height:-moz-fit-content;
  height:fit-content;
  color:currentColor;
}
.single-product yc-product-info .accordion summary{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 15px;
  cursor:pointer;
}
.single-product yc-product-info .accordion summary::marker, .single-product yc-product-info .accordion summary::-webkit-details-marker{
  display:none;
}
.single-product yc-product-info .accordion summary .title{
  font-size:var(--text-md);
  font-weight:500;
  flex:1;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
}
.single-product yc-product-info .accordion summary .icon{
  transition:var(--transition-duration-normal);
}
.single-product yc-product-info .accordion .content{
  font-size:var(--text-md);
  padding:12px 15px;
  color:color-mix(in srgb, currentColor 70%, transparent);
}
.single-product yc-product-info .accordion[open] summary .icon{
  rotate:180deg;
}
.single-product yc-product-info .buy-button{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  margin-block:1.5em;
}
.single-product yc-product-info .buy-button > yc-product-form{
  display:flex;
  gap:var(--gap-md);
}
.single-product yc-product-info .buy-button > yc-product-form button{
  width:100%;
}
.single-product yc-product-info .buy-button .buy-area{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout{
  display:grid;
  border-radius:var(--button-border-radius);
  border:1px solid color-mix(in srgb, currentColor 10%, transparent);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .header{
  display:grid;
  grid-gap:var(--gap-sm);
  gap:var(--gap-sm);
  font-size:var(--text-md);
  padding:1.5em;
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  align-items:baseline;
  grid-template-columns:repeat(2, 1fr);
  padding:1.5em;
  position:relative;
  padding-block-start:3.5em;
  border-block-start:1px solid color-mix(in srgb, currentColor 10%, transparent);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields::before{
  content:attr(data-title);
  inset:0;
  position:absolute;
  width:-moz-fit-content;
  width:fit-content;
  height:-moz-fit-content;
  height:fit-content;
  padding:0.3em 1.5em;
  font-size:var(--text-sm);
  border-end-end-radius:calc(var(--button-border-radius) * 0.66);
  color:color-mix(in srgb, currentColor 80%, transparent);
  background-color:color-mix(in srgb, currentColor 5%, transparent);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field{
  display:grid;
  grid-gap:var(--gap-sm);
  gap:var(--gap-sm);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field:last-child:nth-child(odd){
  grid-column:1/-1;
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field label{
  font-size:var(--text-sm);
  color:color-mix(in srgb, currentColor 80%, transparent);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field yc-combobox-trigger{
  padding:12px 15px;
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field input,
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field textarea{
  resize:vertical;
  min-height:46px;
  max-height:150px;
  color:currentColor;
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field:has(input[type=hidden]){
  display:none;
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field:has(input:required, textarea:required) > label::after{
  content:" *";
  color:var(--color-error-500);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field[error-message]::after{
  content:attr(error-message);
  font-size:var(--text-sm);
  color:var(--color-error-500);
}
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field[error-message] input,
.single-product yc-product-info .buy-button .buy-area .express-checkout .fields .field[error-message] textarea{
  border-color:var(--color-error-500);
}
.single-product yc-product-info .buy-button .buy-area .place-order{
  display:flex;
  gap:var(--gap-md);
}
.single-product yc-product-info .buy-button .buy-area .place-order button{
  width:100%;
}
.single-product yc-product-info .buy-button .actions{
  display:none;
  gap:var(--gap-md);
  margin-block-start:var(--gap-lg);
  background-color:var(--section-bg-color, var(--color-base-white));
}
.single-product yc-product-info .buy-button .actions button,
.single-product yc-product-info .buy-button .actions button[data-trigger]{
  width:100%;
}

@media (max-width: 1280px){
  .single-product yc-product-media{
    --media-main-image-height:450px;
    flex-direction:column;
  }
}
@media (max-width: 1024px){
  .single-product{
    grid-template-columns:1fr;
  }
  .single-product yc-product-media{
    position:static;
  }
}
@media (max-width: 768px){
  .single-product{
    gap:var(--gap-lg);
  }
  .single-product yc-product-media .gallery .slider-inner .image{
    height:70px !important;
  }
  .single-product yc-product-info .buy-button{
    margin-block:0;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area{
    max-height:750px;
    overflow-y:scroll;
  }
}
@media (max-width: 768px) and (max-height: 885px){
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area{
    max-height:650px;
  }
}
@media (max-width: 768px) and (max-height: 785px){
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area{
    max-height:600px;
  }
}
@media (max-width: 768px){
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .express-checkout .header{
    z-index:2;
    position:sticky;
    inset-block-start:0;
    background-color:var(--section-bg-color, var(--color-base-white));
    border-block-end:1px solid color-mix(in srgb, currentColor 10%, transparent);
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .express-checkout .fields{
    border-block-start:none;
    grid-template-columns:1fr;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .express-checkout{
    border:none;
    border-radius:0;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .express-checkout .header{
    text-align:center;
    padding-inline:1em;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .express-checkout .fields{
    padding-inline:1em;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .express-checkout .fields:last-child{
    padding-block-end:0;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .place-order{
    z-index:2;
    position:sticky;
    inset-block-end:0;
    padding:0 1em 1em 1em;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .buy-area .place-order yc-quantity-control{
    display:none;
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .actions[data-sticky],
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button > yc-product-form{
    z-index:1;
    margin:1em;
    padding:0.5em;
    display:flex;
    position:fixed;
    inset-block-end:0;
    inset-inline-start:0;
    width:calc(100% - 2em);
    border-radius:var(--button-border-radius);
    background-color:var(--section-bg-color, var(--color-base-white));
    border:1px solid color-mix(in srgb, currentColor 10%, transparent);
  }
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .actions[data-sticky] button.primary,
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button .actions[data-sticky] yc-quantity-control button.yc-btn.icon,
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button > yc-product-form button.primary,
  .single-product:not([data-prevent-sticky]) yc-product-info .buy-button > yc-product-form yc-quantity-control button.yc-btn.icon{
    padding:10px;
  }
}
