.menu-drawer{
  overflow-y:scroll !important;
  background-color:var(--header-bg-color);
}
.menu-drawer .menu-head{
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:sticky;
  padding:1em 1.5em;
  inset-block-start:0;
  background-color:var(--header-bg-color);
  border-bottom:1px solid rgba(var(--header-text-color), 8%);
}
.menu-drawer .menu-head a{
  display:inline-flex;
  text-transform:uppercase;
  color:rgb(var(--header-text-color));
}
.menu-drawer .menu-head a img{
  width:60px;
  -o-object-fit:contain;
     object-fit:contain;
}
.menu-drawer .menu-head .close-btn{
  color:rgb(var(--header-text-color));
}
.menu-drawer .menu-core{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  padding:1.5em;
}
.menu-drawer .menu-core .search-bar{
  display:flex;
}
.menu-drawer .menu-core .search-bar input,
.menu-drawer .menu-core .search-bar button{
  color:var(--header-text-color);
}
.menu-drawer .menu-core .search-bar input{
  color:rgb(var(--header-text-color)) !important;
  border-start-end-radius:0px !important;
  border-end-end-radius:0px !important;
}
.menu-drawer .menu-core .search-bar button{
  border-start-start-radius:0px;
  border-end-start-radius:0px;
  border-inline-start:none;
}
.menu-drawer .menu-core .navigation{
  display:flex;
  flex-direction:column;
}
.menu-drawer .menu-core .navigation li{
  width:100%;
}
.menu-drawer .menu-core .navigation li a{
  padding:1.5em 0;
  font-size:var(--text-md);
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:var(--header-text-color);
  border-bottom:1px solid rgba(var(--header-text-color), 8%);
}
.menu-drawer .menu-core .navigation li a .icon{
  opacity:0;
  transition:var(--transition-duration-normal);
}
.menu-drawer .menu-core .navigation li a:hover{
  padding:1.5em 1em;
  color:rgba(var(--header-text-color), 90%);
  background-color:rgba(var(--header-text-color), 3%);
}
.menu-drawer .menu-core .navigation li a:hover .icon{
  opacity:1;
}
