.cart-drawer{
  --drawer-border:1px solid rgba(var(--header-text-color), 8%);
  display:flex;
  flex-direction:column;
  height:100%;
  background-color:var(--header-bg-color);
}
.cart-drawer .header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1em 1.5em;
  border-block-end:var(--drawer-border);
}
.cart-drawer .header .title{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:var(--gap-md);
}
.cart-drawer yc-cart-drawer-items{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:var(--gap-md);
  padding:1.5em;
  border-block-end:var(--drawer-border);
  overflow-y:scroll;
}
.cart-drawer .footer{
  position:sticky;
  inset-block-end:0;
}
.cart-drawer .footer .totals{
  padding:1em 1.5em;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-block-end:var(--drawer-border);
}
.cart-drawer .footer .totals > [data-total]{
  font-weight:550;
}
.cart-drawer .footer .actions{
  padding:1em 1.5em;
  display:grid;
  grid-gap:1em;
  gap:1em;
  border-block-end:var(--drawer-border);
}
.cart-drawer .item{
  display:flex;
  border-bottom:var(--drawer-border);
  gap:var(--gap-lg);
  padding-block:var(--gap-lg);
}
.cart-drawer .item:first-child{
  padding-block-start:0;
}
.cart-drawer .item:last-child{
  padding-block-end:0;
  border-block-end:none;
}
.cart-drawer .item .image .card-placeholder{
  width:100px;
  height:100px;
  background-color:rgba(var(--header-text-color), 0.05);
}
.cart-drawer .item .info{
  flex:1;
  display:flex;
  flex-direction:column;
}
.cart-drawer .item .info .heading{
  display:flex;
  flex-direction:column;
  gap:var(--gap-sm);
}
.cart-drawer .item .info .heading > [data-price]{
  font-weight:550;
}
.cart-drawer .item .actions{
  grid-area:2/3/3/9;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-block-start:auto;
}
