.menu-drawer{
  background-color:var(--header-bg-color);
}
.menu-drawer .menu-head{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1em 1.5em;
  border-bottom:1px solid rgba(var(--header-text-color), 8%);
}
.menu-drawer .menu-head a{
  display:inline-flex;
  text-transform:uppercase;
  color:rgb(var(--header-text-color));
}
.menu-drawer .menu-head a img{
  width:60px;
  -o-object-fit:contain;
     object-fit:contain;
}
.menu-drawer .menu-head .close-btn{
  color:rgb(var(--header-text-color));
}
.menu-drawer .menu-core{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  padding:1.5em;
}
.menu-drawer .menu-core .search-bar{
  display:flex;
  align-items:center;
}
.menu-drawer .menu-core .search-bar input,
.menu-drawer .menu-core .search-bar button{
  color:var(--header-text-color);
}
.menu-drawer .menu-core .search-bar input{
  width:100%;
  padding:12px 15px;
  color:rgb(var(--header-text-color));
  background-color:transparent;
  border:1px solid color-mix(in srgb, currentColor 20%, transparent);
  border-radius:var(--radius-md);
  border-start-end-radius:0px;
  border-end-end-radius:0px;
  box-shadow:none;
  box-shadow:initial;
}
.menu-drawer .menu-core .search-bar button{
  border-start-start-radius:0px;
  border-end-start-radius:0px;
  border-inline-start:none;
}
.menu-drawer .menu-core .navigation{
  display:grid;
}
.menu-drawer .menu-core .navigation a{
  padding:1.5em 0;
  font-size:var(--text-md);
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:var(--header-text-color);
  border-bottom:1px solid rgba(var(--header-text-color), 8%);
}
.menu-drawer .menu-core .navigation a .icon{
  opacity:0;
  transition:var(--transition-duration-normal);
}
.menu-drawer .menu-core .navigation a:hover{
  padding:1.5em 1em;
  color:rgba(var(--header-text-color), 90%);
  background-color:rgba(var(--header-text-color), 3%);
}
.menu-drawer .menu-core .navigation a:hover .icon{
  opacity:1;
}
