.cart-drawer{
  --drawer-border:1px solid rgba(var(--header-text-color), 8%);
  display:flex;
  flex-direction:column;
  height:100%;
  background-color:var(--header-bg-color);
}
.cart-drawer .header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1em 1.5em;
  border-block-end:var(--drawer-border);
}
.cart-drawer .header .title{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:var(--gap-md);
}
.cart-drawer yc-cart-drawer-items{
  flex:1;
  display:block;
  padding:1.5em;
  border-block-end:var(--drawer-border);
}
.cart-drawer .footer .totals{
  padding:1em 1.5em;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-block-end:var(--drawer-border);
}
.cart-drawer .footer .totals > [data-total]{
  font-weight:550;
}
.cart-drawer .footer .actions{
  padding:1em 1.5em;
  display:grid;
  grid-gap:1em;
  gap:1em;
  border-block-end:var(--drawer-border);
}
.cart-drawer .item{
  height:100px;
  display:grid;
  grid-template-columns:repeat(8, 1fr);
  grid-template-rows:repeat(2, 1fr);
  grid-column-gap:var(--gap-md);
  grid-row-gap:var(--gap-sm);
}
.cart-drawer .item .image,
.cart-drawer .item .info,
.cart-drawer .item .actions{
  height:-moz-fit-content;
  height:fit-content;
}
.cart-drawer .item .image{
  grid-area:1/1/3/3;
}
.cart-drawer .item .image .card-placeholder{
  width:100px;
  height:100px;
  background-color:rgba(var(--header-text-color), 0.05);
}
.cart-drawer .item .info{
  grid-area:1/3/2/9;
  display:flex;
  flex-direction:column;
  gap:var(--gap-sm);
}
.cart-drawer .item .info > [data-price]{
  font-weight:550;
}
.cart-drawer .item .actions{
  grid-area:2/3/3/9;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-block-start:auto;
}
