.menu-drawer .menu-head{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1em 1.5em;
  border-bottom:1px solid var(--header-border-color);
}
.menu-drawer .menu-head img{
  width:60px;
  -o-object-fit:cover;
     object-fit:cover;
}
.menu-drawer .menu-head .close-btn{
  border-color:var(--header-button-outline-color);
  color:var(--header-text-color);
}
.menu-drawer .menu-core{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  padding:1.5em;
}
.menu-drawer .menu-core .search-bar{
  display:flex;
  align-items:center;
}
.menu-drawer .menu-core .search-bar input,
.menu-drawer .menu-core .search-bar button{
  color:var(--header-text-color);
}
.menu-drawer .menu-core .search-bar input{
  border:1px solid var(--header-button-outline-color);
  border-start-end-radius:0px;
  border-end-end-radius:0px;
  box-shadow:none;
  box-shadow:initial;
}
.menu-drawer .menu-core .search-bar button{
  border-end-start-radius:0px;
  border-start-start-radius:0px;
  border-inline-start:none;
  border-color:var(--header-button-outline-color);
}
.menu-drawer .menu-core .navigation{
  display:grid;
}
.menu-drawer .menu-core .navigation a{
  padding:1.5em 0;
  font-size:var(--text-md);
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-bottom:1px solid var(--color-gray-50);
}
.menu-drawer .menu-core .navigation a .icon{
  opacity:0;
  transition:var(--transition-duration-normal);
}
.menu-drawer .menu-core .navigation a:hover{
  padding:1.5em 1em;
  color:var(--color-gray-500);
  background-color:var(--color-gray-50);
}
.menu-drawer .menu-core .navigation a:hover .icon{
  opacity:1;
}
