yc-header{
  padding:1em 10%;
  display:grid;
  align-items:center;
  grid-template-columns:repeat(3, 1fr);
  color:rgb(var(--header-text-color));
  background-color:var(--header-bg-color);
}
yc-header > [data-block]{
  display:flex;
  align-items:center;
}
yc-header > [data-block]:nth-last-child(2){
  justify-content:center;
}
yc-header > [data-block]:last-child{
  justify-content:flex-end;
}
yc-header .logo a{
  display:inline-flex;
  text-transform:uppercase;
  color:rgb(var(--header-text-color));
}
yc-header .logo img{
  width:60px;
  -o-object-fit:contain;
     object-fit:contain;
}
yc-header .links ul{
  display:flex;
  align-items:center;
  gap:var(--gap-xl);
}
yc-header .links ul li a.link{
  color:rgb(var(--header-text-color));
}
yc-header .actions{
  gap:var(--gap-lg);
}
yc-header .actions .cart-btn,
yc-header .actions .search-btn{
  color:rgb(var(--header-text-color));
}
yc-header .actions .cart-btn{
  gap:1.5em;
  width:-moz-max-content;
  width:max-content;
  position:relative;
}
yc-header .actions .cart-btn .total-amount{
  font-size:var(--text-xs);
  font-weight:550;
}
yc-header .actions .cart-btn::before{
  content:"";
  position:absolute;
  height:100%;
  width:1px;
  background-color:rgba(var(--header-text-color), 20%);
  inset-inline-start:40px;
}
yc-header .actions .cart-btn .total-items{
  position:absolute;
  padding:5px 8px;
  font-size:10px;
  clip-path:circle();
  color:var(--header-bg-color);
  background-color:rgb(var(--header-text-color));
  inset-block-start:-8px;
  inset-inline-start:-8px;
}
yc-header .actions .search-btn .icon{
  display:none;
}
yc-header .actions .search-bar{
  position:relative;
}
yc-header .actions .search-bar input{
  width:250px;
  padding-inline-start:40px;
  color:rgb(var(--header-text-color));
  transition:var(--transition-duration-slow);
}
yc-header .actions .search-bar .icon{
  position:absolute;
  inset-block-start:28%;
  inset-inline-start:12px;
  color:rgb(var(--header-text-color));
}
yc-header .actions .search-bar[data-hidden$=true]{
  visibility:hidden;
  opacity:0;
}
yc-header .actions .search-bar[data-hidden$=true] input,
yc-header .actions .search-bar[data-hidden$=true] .icon{
  width:0px;
}
yc-header .actions .search-bar[data-hidden$=true] input{
  padding-inline:0px;
}
yc-header .actions .search-bar[data-hidden$=true] ~ .search-btn .icon:first-child{
  display:block;
}
yc-header .actions .search-bar[data-hidden$=false] ~ .search-btn .icon:last-child{
  display:block;
}
yc-header[data-bottom-border="1"]{
  border-block-end:1px solid rgba(var(--header-text-color), 8%);
}

#youcan-section--header:has(yc-header[data-sticky="1"]){
  top:0;
  z-index:98;
  position:sticky;
}

@media (max-width: 1024px){
  yc-header ul[role=list],
  yc-header .actions .search-bar,
  yc-header .actions .search-btn{
    display:none;
  }
}
@media (max-width: 768px){
  yc-header{
    padding:1em;
  }
}
