yc-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1em 10%;
  background-color:var(--color-secondary);
  border-bottom:1px solid var(--color-gray-50);
}
yc-header .logo img{
  width:60px;
  -o-object-fit:cover;
     object-fit:cover;
}
yc-header .links{
  display:flex;
  align-items:center;
  gap:var(--gap-xl);
}
yc-header .actions{
  display:flex;
  align-items:center;
  gap:var(--gap-lg);
}
yc-header .actions .cart-btn{
  gap:1.5em;
  position:relative;
}
yc-header .actions .cart-btn .total-amount{
  font-size:var(--text-xs);
  font-weight:550;
}
yc-header .actions .cart-btn::before{
  content:"";
  position:absolute;
  height:100%;
  width:1px;
  background-color:var(--color-gray-300);
  left:40px;
}
yc-header .actions .cart-btn .total-items{
  position:absolute;
  padding:5px 8px;
  font-size:10px;
  clip-path:circle();
  color:var(--color-secondary);
  background-color:var(--color-primary);
  top:-8px;
  left:-8px;
}
[dir="rtl"] yc-header .actions .cart-btn::before{
  right:40px;
}
[dir="rtl"] yc-header .actions .cart-btn .total-items{
  left:auto;
  left:initial;
  right:-8px;
}
