*{
  margin:0;
  padding:0;
  line-height:150%;
  font-family:var(--font-family);
}

html{
  scroll-behavior:smooth;
}

body{
  background-color:var(--color-secondary);
  color:var(--color-primary);
}

html{
  font-size:calc(var(--font-body-scale) * 62.5%);
}

body{
  font-size:1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:normal;
}

a,
button{
  -webkit-text-decoration:none;
  text-decoration:none;
  font-size:var(--text-md);
  cursor:pointer;
  border:none;
  outline:none;
  color:var(--color-primary);
  transition:var(--transition-duration-slow);
}

select,
textarea,
input:not([type=checkbox]):not([type=radio]){
  border:none;
  outline:none;
}

ul[role=list],
ol[role=list]{
  list-style:none;
}

button,
.yc-btn{
  padding:12px 25px;
  display:flex;
  align-items:center;
  gap:var(--gap-md);
  border-radius:var(--radius-md);
}
button.primary,
.yc-btn.primary{
  background-color:var(--color-primary);
  color:var(--color-secondary);
}
button.secondary,
.yc-btn.secondary{
  background-color:transparent;
  color:var(--color-primary);
  border:1px solid var(--color-gray-300);
}
button.tertiary.icon-only,
.yc-btn.tertiary.icon-only{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0.75em;
}
button.outline,
.yc-btn.outline{
  background-color:transparent;
  color:var(--color-primary);
  border:1px solid var(--color-gray-300);
}
button.destructive,
.yc-btn.destructive{
  background-color:var(--color-error-500);
  color:var(--color-secondary);
}
button.link,
.yc-btn.link{
  padding:0;
  padding:initial;
}
button.link, button.ghost,
.yc-btn.link,
.yc-btn.ghost{
  background-color:transparent;
}
button.icon,
.yc-btn.icon{
  padding:12px;
  color:var(--color-primary);
  background-color:transparent;
  border:1px solid var(--color-gray-300);
}
button.icon[data-size$=sm],
.yc-btn.icon[data-size$=sm]{
  padding:8px;
}
button.icon[data-size$=lg],
.yc-btn.icon[data-size$=lg]{
  padding:13px;
}
button.with-icon,
.yc-btn.with-icon{
  padding:12px 20px;
  background-color:var(--color-primary);
  color:var(--color-secondary);
}
button:disabled,
.yc-btn:disabled{
  opacity:0.5;
  cursor:not-allowed;
  color:var(--color-gray-500);
  background-color:var(--color-gray-50);
}
button.primary:hover, button.destructive:hover, button.loading:hover, button.with-icon:hover, .yc-btn.primary:hover, .yc-btn.destructive:hover, .yc-btn.loading:hover, .yc-btn.with-icon:hover{
  opacity:0.8;
}
button.secondary:hover, button.outline:hover, button.ghost:hover, button.icon:hover, .yc-btn.secondary:hover, .yc-btn.outline:hover, .yc-btn.ghost:hover, .yc-btn.icon:hover{
  background-color:var(--color-gray-50);
}
button.link:hover,
.yc-btn.link:hover{
  -webkit-text-decoration:underline;
  text-decoration:underline;
}

select,
textarea,
input:not([type=checkbox]):not([type=radio]){
  padding:12px 15px;
  background-color:var(--color-secondary);
  color:var(--color-primary);
  border-radius:var(--radius-md);
  width:-webkit-fill-available;
  box-shadow:var(--shadow-dark-sm);
}
select:focus,
textarea:focus,
input:not([type=checkbox]):not([type=radio]):focus{
  box-shadow:var(--shadow-dark-focus-sm);
}
select:disabled,
textarea:disabled,
input:not([type=checkbox]):not([type=radio]):disabled{
  opacity:0.6;
  cursor:not-allowed;
}

.section-core{
  display:grid;
  grid-gap:var(--gap-3xl);
  gap:var(--gap-3xl);
  padding:0 10%;
  padding-block-start:var(--space-top);
  padding-block-end:var(--space-bottom);
}
.section-core .section-head{
  display:grid;
  grid-gap:var(--gap-md);
  gap:var(--gap-md);
}
.section-core .section-head[data-position$=left]{
  text-align:start;
}
.section-core .section-head[data-position$=right]{
  text-align:end;
}
.section-core .section-head[data-position$=center]{
  text-align:center;
}
.section-core .section-head .title{
  font-size:var(--text-3xl);
}
.section-core .section-head .description{
  text-wrap:balance;
  font-size:var(--text-md);
  color:var(---color-gray-500);
}

@media (max-width: 768px){
  .section-core{
    padding-inline-end:1em;
    padding-inline-start:1em;
  }
  .section-core .section-head .title{
    font-size:var(--text-2xl);
  }
  .section-core .section-head .description{
    font-size:var(--text-sm);
  }
}
.header-group{
  display:flex;
  flex-direction:column;
}
