*{
  margin:0;
  padding:0;
  line-height:150%;
  box-sizing:border-box;
  font-family:var(--font-family);
}

html{
  scroll-behavior:smooth;
}

body{
  display:flex;
  flex-direction:column;
  color:rgb(var(--color-primary));
  background-color:var(--color-secondary);
}
body[data-scroll-locked]{
  overflow:hidden;
}
body .main-container{
  order:3;
}
body #youcan-section--footer{
  order:4;
}

html{
  font-size:calc(var(--font-body-scale) * 62.5%);
}

body{
  font-size:1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:normal;
}

h1,
.h1{
  font-size:calc(var(--font-heading-scale) * 4rem);
}

h2,
.h2{
  font-size:calc(var(--font-heading-scale) * 3rem);
}

h3,
.h3{
  font-size:calc(var(--font-heading-scale) * 2.4rem);
}

h4,
.h4{
  font-size:calc(var(--font-heading-scale) * 1.8rem);
}

h5,
.h5{
  font-size:calc(var(--font-heading-scale) * 1.6rem);
}

h6,
.h6{
  font-size:calc(var(--font-heading-scale) * 1.4rem);
}

@media (max-width: 768px){
  h1,
  .h1{
    font-size:calc(var(--font-heading-scale) * 3rem);
  }
  h2,
  .h2{
    font-size:calc(var(--font-heading-scale) * 2rem);
  }
  h3,
  .h3{
    font-size:calc(var(--font-heading-scale) * 1.7rem);
  }
  h4,
  .h4{
    font-size:calc(var(--font-heading-scale) * 1.5rem);
  }
  h5,
  .h5{
    font-size:calc(var(--font-heading-scale) * 1.2rem);
  }
  h6,
  .h6{
    font-size:calc(var(--font-heading-scale) * 1.1rem);
  }
}
a,
button{
  -webkit-text-decoration:none;
  text-decoration:none;
  font-size:var(--text-md);
  cursor:pointer;
  border:none;
  outline:none;
  color:rgb(var(--color-primary));
  transition:var(--transition-duration-slow);
}

select,
textarea,
input:not([type=checkbox]):not([type=radio]){
  border:none;
  outline:none;
}

ul,
ol{
  list-style:none;
}

button,
.yc-btn{
  padding:12px 25px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:var(--gap-md);
  border-radius:var(--radius-md);
}
button.primary,
.yc-btn.primary{
  background-color:rgb(var(--color-button));
  color:rgb(var(--color-button-text));
}
button.secondary,
.yc-btn.secondary{
  color:currentColor;
  background-color:transparent;
  border:1px solid color-mix(in srgb, currentColor 20%, transparent);
}
button.destructive,
.yc-btn.destructive{
  color:var(--color-base-white);
  background-color:var(--color-error-500);
}
button.link,
.yc-btn.link{
  padding:0;
  padding:initial;
  position:relative;
  color:rgb(var(--color-button-text));
}
button.link::before,
.yc-btn.link::before{
  content:"";
  opacity:0;
  height:100%;
  width:0%;
  top:50%;
  left:-12px;
  padding:5px 0;
  translate:0 -50%;
  position:absolute;
  border-radius:var(--radius-sm);
  transition:var(--transition-duration-normal);
  background-color:color-mix(in srgb, currentColor 5%, transparent);
}
button.tertiary,
.yc-btn.tertiary{
  padding:0.75em;
}
button.ghost,
.yc-btn.ghost{
  background-color:transparent;
}
button.icon,
.yc-btn.icon{
  padding:12px;
  color:rgb(var(--color-button));
  background-color:transparent;
  border:1px solid color-mix(in srgb, currentColor 20%, transparent);
}
button.icon[data-size$=sm],
.yc-btn.icon[data-size$=sm]{
  padding:8px;
}
button.icon[data-size$=lg],
.yc-btn.icon[data-size$=lg]{
  padding:13px;
}
button:disabled,
.yc-btn:disabled{
  opacity:0.5;
  cursor:not-allowed;
}
button.link:hover::before{
  opacity:1;
  width:100%;
  padding:5px 12px;
}
.yc-btn.link:hover::before{
  opacity:1;
  width:100%;
  padding:5px 12px;
}
button.ghost:hover, button.icon:hover, .yc-btn.ghost:hover, .yc-btn.icon:hover{
  background-color:color-mix(in srgb, currentColor 5%, transparent);
}
button.secondary:hover:not(:disabled){
  color:rgb(var(--color-secondary-button));
  border-color:rgb(var(--color-secondary-button-text));
  background-color:rgb(var(--color-secondary-button-text));
}
.yc-btn.secondary:hover:not(:disabled){
  color:rgb(var(--color-secondary-button));
  border-color:rgb(var(--color-secondary-button-text));
  background-color:rgb(var(--color-secondary-button-text));
}
button.primary:hover:not(:disabled){
  opacity:0.8;
}
button.destructive:hover:not(:disabled){
  opacity:0.8;
}
button.loading:hover:not(:disabled){
  opacity:0.8;
}
button.with-icon:hover:not(:disabled){
  opacity:0.8;
}
.yc-btn.primary:hover:not(:disabled){
  opacity:0.8;
}
.yc-btn.destructive:hover:not(:disabled){
  opacity:0.8;
}
.yc-btn.loading:hover:not(:disabled){
  opacity:0.8;
}
.yc-btn.with-icon:hover:not(:disabled){
  opacity:0.8;
}

a.link:not(.yc-btn):hover{
  -webkit-text-decoration:underline;
  text-decoration:underline;
}

select,
textarea,
input:not([type=checkbox]):not([type=radio]){
  width:100%;
  padding:12px 15px;
  background-color:transparent;
  border-radius:var(--radius-md);
  color:rgb(var(--color-primary));
  border:1px solid color-mix(in srgb, currentColor 20%, transparent);
}
select::-moz-placeholder, textarea::-moz-placeholder, input:not([type=checkbox]):not([type=radio])::-moz-placeholder{
  color:color-mix(in srgb, currentColor 60%, transparent);
}
select::placeholder,
textarea::placeholder,
input:not([type=checkbox]):not([type=radio])::placeholder{
  color:color-mix(in srgb, currentColor 60%, transparent);
}
select:focus,
textarea:focus,
input:not([type=checkbox]):not([type=radio]):focus{
  border:1px solid currentColor;
}
select:disabled,
textarea:disabled,
input:not([type=checkbox]):not([type=radio]):disabled{
  opacity:0.6;
  cursor:not-allowed;
}

yc-section{
  display:grid;
  grid-gap:var(--gap-3xl);
  gap:var(--gap-3xl);
  padding-inline:10%;
  color:rgb(var(--section-text-color, var(--color-base-black)));
  background-color:var(--section-bg-color, var(--color-base-white));
  padding-block-start:var(--section-space-top);
  padding-block-end:var(--section-space-bottom);
}
yc-section[data-full]{
  padding-inline:0;
}
yc-section yc-section-head{
  display:grid;
  grid-gap:var(--gap-md);
  gap:var(--gap-md);
}
yc-section yc-section-head[data-position$=left]{
  text-align:start;
}
yc-section yc-section-head[data-position$=right]{
  text-align:end;
}
yc-section yc-section-head[data-position$=center]{
  text-align:center;
}
yc-section yc-section-head p{
  text-wrap:balance;
  font-size:var(--text-md);
  color:rgba(var(--section-text-color), 0.7);
}

.items-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-columns:repeat(var(--items-columns, 3), 1fr);
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}

.overlay{
  inset:0;
  z-index:99;
  position:fixed;
  -webkit-backdrop-filter:var(--overlay-blur);
          backdrop-filter:var(--overlay-blur);
  background-color:var(--overlay-background);
  transition:var(--transition-duration-normal);
}

.card-placeholder{
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:currentColor;
  border-radius:var(--radius-md);
  overflow:hidden;
}
.card-placeholder svg{
  color:rgba(var(--collection-card-foreground), 0.3);
}

.single-product{
  position:relative;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:var(--gap-3xl);
  gap:var(--gap-3xl);
}
.single-product .media{
  background-color:rgb(var(--color-gray-50));
}
.single-product .info{
  display:grid;
  grid-gap:var(--gap-md);
  gap:var(--gap-md);
}
.single-product .info .price{
  display:flex;
  align-items:center;
  gap:var(--gap-md);
}
.single-product .info .price .current{
  font-weight:550;
}
.single-product .info .price .compare-at{
  color:color-mix(in srgb, currentColor 70%, transparent);
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
.single-product .info .description .card-placeholder{
  font-size:var(--text-md);
}
.single-product .info .inventory{
  display:flex;
  align-items:center;
  gap:var(--gap-2xs);
}
.single-product .info .inventory[data-inventory-out-of-stock] .icon{
  color:var(--color-gray-300);
}
.single-product .info .inventory[data-inventory-in-stock] .icon{
  color:var(--color-success-500);
}
.single-product .info .inventory[data-inventory-low-stock] .icon{
  color:var(--color-warning-500);
}

.rating{
  display:flex;
  align-items:center;
  gap:var(--gap-sm);
  font-size:var(--text-md);
  color:color-mix(in srgb, currentColor 70%, transparent);
}
.rating .stars{
  display:inline-flex;
  gap:var(--gap-2xs);
  color:var(--color-yellow-500);
}
.rating .average{
  line-height:1.2;
}

.empty-page{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:640px;
}

.empty{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:var(--gap-lg);
  text-align:center;
}
.empty .icon{
  color:color-mix(in srgb, currentColor 15%, transparent);
}
.empty .title{
  font-weight:550;
}
.empty .subheading{
  color:color-mix(in srgb, currentColor 70%, transparent);
}

@media (max-width: 1280px){
  .items-grid:has(> :nth-child(4)){
    grid-template-columns:repeat(2, 1fr);
  }
}
@media (max-width: 1024px){
  .items-grid{
    grid-template-columns:1fr !important;
  }
  .single-product{
    grid-template-columns:1fr;
  }
}
@media (max-width: 768px){
  .items-grid{
    grid-template-columns:1fr !important;
  }
  yc-section{
    padding-inline:1em;
  }
  yc-section yc-section-head p{
    font-size:var(--text-sm);
  }
}
@keyframes showUp{
  from{
    translate:0 3em;
  }
  to{
    translate:0;
  }
}
