.columns{
  display:grid;
  grid-gap:var(--gap-2xl);
  gap:var(--gap-2xl);
  align-items:baseline;
  grid-template-columns:repeat(var(--column-length), 1fr);
}
@media (max-width: 1280px){
  .columns:has(> :nth-child(6)){
    grid-template-columns:repeat(3, 1fr);
  }
}
@media (max-width: 1280px){
  .columns:has(> :nth-child(4)):not(:has(> :nth-child(5))){
    grid-template-columns:repeat(2, 1fr);
  }
}
@media (max-width: 768px){
  .columns{
    grid-template-columns:1fr !important;
  }
}
