yc-section:has(.page[data-page-width=reading-mode]) yc-section-head{
  width:min(60ch, 100%);
  margin-inline:auto;
}
yc-section .page[data-page-width=full-width]{
  width:100%;
}
yc-section .page[data-page-width=reading-mode]{
  width:min(60ch, 100%);
  margin-inline:auto;
}
yc-section .page div,
yc-section .page figure,
yc-section .page picture,
yc-section .page img{
  max-width:100% !important;
}
