.product-quick-view{
  --product-image-height:400px;
  --product-image-border:1px solid color-mix(in srgb, currentColor 5%, transparent);
  --quick-view-bg-color:var(--section-bg-color, var(--color-base-white));
  --quick-view-text-color:rgb(var(--section-text-color, var(--color-base-black)));
}
.product-quick-view .view-box .head{
  padding:1em;
  display:grid;
  align-items:center;
  grid-template-columns:repeat(3, 1fr);
  border-block-end:1px solid color-mix(in srgb, currentColor 8%, transparent);
}
.product-quick-view .view-box .head .title{
  width:100%;
  text-align:center;
}
.product-quick-view .view-box .head .title a{
  max-width:100%;
  overflow:hidden;
  text-align:center;
  width:-moz-fit-content;
  width:fit-content;
  text-align:center;
  white-space:nowrap;
  text-overflow:ellipsis;
  color:var(--quick-view-text-color);
}
.product-quick-view .view-box .head button[data-trigger]{
  width:-moz-fit-content;
  width:fit-content;
}
.product-quick-view .view-box .content{
  padding:1em;
  display:grid;
  grid-gap:var(--gap-2xl);
  gap:var(--gap-2xl);
  grid-template-columns:repeat(2, 1fr);
}
.product-quick-view .view-box .content yc-product-info{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:var(--gap-lg);
}
.product-quick-view .view-box .content yc-product-info .core-info{
  display:flex;
  gap:var(--gap-md);
  flex-direction:column;
}
.product-quick-view .view-box .content yc-product-info .core-info .variants{
  display:flex;
  gap:var(--gap-lg);
  flex-direction:column;
}
.product-quick-view .view-box .content yc-product-info .core-info .variants .variant{
  display:flex;
  gap:var(--gap-sm);
  flex-direction:column;
}
.product-quick-view .view-box .content yc-product-info .core-info .variants .variant .label{
  font-size:var(--text-md);
  color:color-mix(in srgb, currentColor 70%, transparent);
}
.product-quick-view .view-box .content yc-product-info .core-info .price-info{
  display:flex;
  align-items:center;
  gap:var(--gap-md);
}
.product-quick-view .view-box .content yc-product-info .core-info .price-info .current{
  font-weight:550;
}
.product-quick-view .view-box .content yc-product-info .core-info .price-info .compare-at{
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
  color:color-mix(in srgb, currentColor 70%, transparent);
}
.product-quick-view .view-box .content yc-product-info yc-product-form{
  display:flex;
  gap:var(--gap-md);
  align-items:center;
}
.product-quick-view .view-box .content yc-product-info yc-product-form button[data-buy-button]{
  width:100%;
  color:var(--quick-view-bg-color);
  border-color:var(--quick-view-text-color);
  background-color:var(--quick-view-text-color);
}
.product-quick-view .view-box .content yc-product-info yc-product-form button[data-buy-button] span::before{
  content:attr(data-add-to-cart);
}
.product-quick-view .view-box .content yc-product-info yc-product-form[not-available] button span::before{
  content:attr(data-out-of-stock);
}
.product-quick-view .view-box .content yc-product-media .main-image{
  width:100%;
  overflow:hidden;
  position:relative;
  border-radius:var(--radius-md);
  height:var(--product-image-height);
  border:var(--product-image-border);
}
.product-quick-view .view-box .content yc-product-media .main-image img{
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
}
.product-quick-view .view-box .content yc-product-media .main-image .placeholder{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:color-mix(in srgb, currentColor 20%, transparent);
  background-color:color-mix(in srgb, currentColor 5%, transparent);
}

@media (max-width: 1024px){
  .product-quick-view yc-modal{
    --modal-width:90% !important;
  }
}
@media (max-width: 640px){
  .product-quick-view{
    --product-image-height:300px;
  }
  .product-quick-view .view-box .head{
    padding-block-start:0;
  }
  .product-quick-view .view-box .head button{
    padding:8px;
  }
  .product-quick-view .view-box .head button svg{
    width:15px;
    height:15px;
  }
  .product-quick-view .view-box .content{
    grid-template-columns:1fr;
  }
}
