.product-reviews{
  display:grid;
  grid-gap:var(--gap-md);
  gap:var(--gap-md);
}
.product-reviews .rating-area{
  display:grid;
  grid-gap:var(--gap-xl);
  gap:var(--gap-xl);
  width:50%;
}
.product-reviews .rating-area .total{
  display:flex;
  gap:var(--gap-lg);
  align-items:center;
}
.product-reviews .rating-area .total .count .stars{
  display:flex;
  align-items:center;
  color:var(--color-yellow-500);
}
.product-reviews .rating-area .total .count span{
  display:block;
  width:-moz-max-content;
  width:max-content;
  font-size:var(--text-md);
  color:rgba(var(--section-text-color), 70%);
}
.product-reviews .rating-area .total .graph{
  width:100%;
  display:flex;
  gap:var(--gap-sm);
  flex-direction:column-reverse;
}
.product-reviews .rating-area .total .graph .bar{
  display:flex;
  align-items:center;
  gap:var(--gap-md);
  position:relative;
}
.product-reviews .rating-area .total .graph .bar svg{
  color:var(--color-yellow-500);
}
.product-reviews .rating-area .total .graph .bar span{
  width:12px;
  text-align:center;
  font-size:var(--text-sm);
}
.product-reviews .rating-area .total .graph .bar .process{
  height:3px;
  width:100%;
  display:block;
  position:relative;
  border-radius:var(--radius-md);
  background-color:rgba(var(--section-text-color), 8%);
}
.product-reviews .rating-area .total .graph .bar .process::before{
  content:"";
  inset:0;
  width:calc(var(--rating-count) * 10%);
  height:3px;
  position:absolute;
  border-radius:var(--radius-md);
  background-color:rgb(var(--section-text-color));
}
.product-reviews .rating-area .filter{
  display:flex;
  flex-wrap:wrap;
  gap:var(--gap-md);
  align-items:center;
}
.product-reviews .rating-area .filter label{
  cursor:pointer;
  padding:6px 12px;
  font-size:var(--text-sm);
}
.product-reviews .rating-area .filter label svg{
  color:var(--color-yellow-500);
}
.product-reviews .rating-area .filter label:has(input:checked){
  color:var(--section-bg-color);
  border-color:rgb(var(--section-text-color));
  background-color:rgb(var(--section-text-color));
}
