.products-by-collection .grid{
  display:grid;
  grid-template-columns:repeat(var(--product-columns), 1fr);
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}
.products-by-collection .grid .show-more{
  margin-block-start:2em;
  grid-column:1/-1;
  display:flex;
  justify-content:center;
  align-items:center;
}
.products-by-collection .grid .show-more .yc-btn{
  width:-moz-fit-content;
  width:fit-content;
  color:currentColor;
  border:var(--product-card-border);
  background-color:var(--product-card-background);
}
.products-by-collection .grid .show-more .yc-btn:hover{
  background-color:rgba(var(--product-card-foreground), 0.06);
}

@media (max-width: 1024px){
  .products-by-collection .grid{
    grid-template-columns:1fr;
  }
}
