.product-card{
  --img-height:350px;
  box-shadow:var(--shadow-dark-sm);
  border-radius:var(--product-card-border-radius);
  transition:all var(--transition-duration-normal);
}
.product-card .img-link{
  display:block;
}
.product-card .img-link,
.product-card img{
  height:var(--img-height);
}
.product-card img{
  height:var(--img-height);
  width:100%;
  -o-object-fit:cover;
     object-fit:cover;
  border-radius:var(--product-card-border-radius);
}
.product-card .info{
  display:grid;
  grid-gap:3px;
  gap:3px;
  border-radius:var(--product-card-border-radius);
  background-color:var(--color-base-white);
  padding:1.25em;
}
.product-card .info .title{
  color:var(--color-gray-500);
}
.product-card .info .price{
  display:flex;
  align-items:center;
  gap:0.5em;
  font-size:var(--text-md);
}
.product-card .info .price .current{
  font-size:16px;
  font-weight:550;
}
.product-card .info .price .compare-at{
  color:var(--color-gray-500);
  font-weight:400;
  -webkit-text-decoration:line-through;
  text-decoration:line-through;
}
.product-card .info .yc-btn.buy{
  margin-top:0.5em;
}
.product-card.standard img{
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.product-card.standard .info{
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.product-card:hover{
  box-shadow:rgba(0, 0, 0, 0.031372549) 0 3px 14px, rgba(0, 0, 0, 0.2) 0 0 0 1px;
}
