.products-by-collection .grid{
  display:grid;
  grid-template-columns:repeat(var(--product-columns), 1fr);
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}

@media (max-width: 1024px){
  .products-by-collection .grid{
    grid-template-columns:1fr;
  }
}
