.product-listing{
  border-radius:var(--radius-md);
  border:1px solid rgba(var(--section-text-color), 8%);
}
.product-listing .collections-area{
  padding:1.5em;
  border-block-end:1px solid rgba(var(--section-text-color), 8%);
}
.product-listing .filter-area{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1.5em;
}
.product-listing .filter-area .title{
  display:flex;
  gap:var(--gap-sm);
  align-items:baseline;
}
.product-listing .filter-area .title [data-count]{
  position:relative;
  inset-block-start:-3px;
  color:rgba(var(--section-text-color), 70%);
}
.product-listing .filter-area .title:has(.eyebrow){
  flex-direction:column;
  gap:0;
}
.product-listing .filter-area .title:has(.eyebrow) .eyebrow{
  font-size:var(--text-sm);
  opacity:0.8;
}
.product-listing .filter-area .title:has(.eyebrow) .content{
  display:flex;
  gap:var(--gap-sm);
  align-items:baseline;
}
.product-listing .filter-area .label{
  display:flex;
  gap:var(--gap-xs);
  align-items:center;
  font-size:var(--text-md);
  color:rgba(var(--section-text-color), 70%);
}
.product-listing .filter-area .sort-box{
  display:flex;
  gap:var(--gap-lg);
  align-items:center;
}
@media (max-width: 768px){
  .product-listing .filter-area .sort-box .label{
    display:none;
  }
}
.product-listing .products-area{
  padding:1.5em;
  border-block-start:1px solid rgba(var(--section-text-color), 8%);
}
.product-listing .products-area yc-pagination{
  padding-block-start:1.5em;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:var(--gap-md);
}
.product-listing .products-area yc-pagination a{
  --size:45px;
  height:45px;
  height:var(--size);
  width:45px;
  width:var(--size);
  border-color:transparent;
}
.product-listing .products-area yc-pagination a[data-previous], .product-listing .products-area yc-pagination a[data-next]{
  width:-moz-fit-content;
  width:fit-content;
}
[dir="rtl"] .product-listing .products-area yc-pagination a[data-previous] .icon,[dir="rtl"]  .product-listing .products-area yc-pagination a[data-next] .icon{
  rotate:180deg;
}
.product-listing .products-area yc-pagination a[data-active]{
  border-color:color-mix(in srgb, currentColor 20%, transparent);
}
