.single-collection{
  border-radius:var(--radius-md);
  border:1px solid rgba(var(--section-text-color), 8%);
}
.single-collection .collections-area{
  padding:1.5em;
  border-block-end:1px solid rgba(var(--section-text-color), 8%);
}
.single-collection .filter-area{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1.5em;
}
@media (max-width: 640px){
  .single-collection .filter-area{
    gap:var(--gap-lg);
    flex-direction:column;
  }
}
.single-collection .filter-area .title{
  display:flex;
  gap:var(--gap-sm);
  align-items:baseline;
}
.single-collection .filter-area .title span{
  position:relative;
  inset-block-start:-3px;
  color:rgba(var(--section-text-color), 70%);
}
.single-collection .filter-area .label{
  display:flex;
  gap:var(--gap-xs);
  align-items:center;
  font-size:var(--text-md);
  color:rgba(var(--section-text-color), 70%);
}
.single-collection .filter-area .sort-box{
  display:flex;
  gap:var(--gap-lg);
  align-items:center;
}
.single-collection .filter-area .sort-box yc-select{
  width:200px;
}
.single-collection .products-area{
  padding:1.5em;
  border-block-start:1px solid rgba(var(--section-text-color), 8%);
}
