.testimonial-card{
  padding:1.5em;
  display:grid;
  align-items:start;
  grid-gap:var(--gap-xl);
  gap:var(--gap-xl);
  text-align:var(--review-card-text-alignment);
  border-radius:var(--review-card-border-radius);
  border:1px solid color-mix(in srgb, currentColor 10%, transparent);
}
.testimonial-card .rating{
  justify-content:var(--review-card-text-alignment);
}
.testimonial-card .rating .stars{
  padding:5px 10px;
  border-radius:calc(var(--review-card-border-radius) + var(--review-card-border-radius) / 2);
  background-color:color-mix(in srgb, var(--color-yellow-500) 10%, transparent);
}
.testimonial-card .content{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  text-wrap:balance;
  font-size:var(--text-md);
}
.testimonial-card .content .author{
  text-transform:capitalize;
  color:color-mix(in srgb, currentColor 70%, transparent);
}
