yc-section{
  --order-border:1px solid color-mix(in srgb, currentColor 10%, transparent);
}
yc-section .message{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:var(--gap-lg);
}
yc-section .message .icon{
  color:var(--color-success-500);
}
yc-section .order{
  width:500px;
  margin-inline:auto;
  border-radius:var(--radius-md);
  border:var(--order-border);
}
yc-section .order .title,
yc-section .order .payment,
yc-section .order .items,
yc-section .order .summary,
yc-section .order .subtotal,
yc-section .order .grand-total{
  padding:1em 1.5em;
}
yc-section .order .title{
  text-align:center;
}
yc-section .order .title,
yc-section .order .payment{
  border-block-end:var(--order-border);
}
yc-section .order .payment{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:var(--text-md);
}
yc-section .order .payment .status,
yc-section .order .payment .method{
  display:flex;
  gap:var(--gap-md);
  align-items:center;
}
yc-section .order .payment .label{
  color:rgba(var(--section-text-color), 70%);
}
yc-section .order .payment .method .value{
  display:flex;
  justify-content:center;
  align-items:center;
}
yc-section .order .summary-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
yc-section .order .items{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}
yc-section .order .items .item{
  display:flex;
  gap:var(--gap-md);
}
yc-section .order .items .item .image{
  --size:70px;
  width:70px;
  width:var(--size);
  height:70px;
  height:var(--size);
}
yc-section .order .items .item .image .card-placeholder{
  width:100%;
  height:100%;
  background-color:rgba(var(--header-text-color), 0.05);
}
yc-section .order .items .item .image .card-placeholder svg{
  color:rgba(var(--header-text-color), 0.3);
}
yc-section .order .items .item .image img{
  width:100%;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
}
yc-section .order .items .item .info{
  flex:1;
}
yc-section .order .items .item .info .name{
  font-size:var(--text-md);
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
yc-section .order .items .item .variant,
yc-section .order .items .item .quantity,
yc-section .order .items .item .item-subtotal{
  font-size:var(--text-xs);
  color:color-mix(in srgb, currentColor 80%, transparent);
}
yc-section .order .summary,
yc-section .order .subtotal{
  font-size:var(--text-md);
  border-block-start:var(--order-border);
}
yc-section .order .summary{
  display:grid;
  grid-gap:var(--gap-md);
  gap:var(--gap-md);
  color:color-mix(in srgb, currentColor 70%, transparent);
}
yc-section .order .summary .coupon-code{
  background-color:color-mix(in srgb, currentColor 8%, transparent);
  padding-inline:0.5em;
  border-radius:var(--radius-sm);
  margin-inline-end:-4px;
}
yc-section .order .grand-total{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  border-block-start:var(--order-border);
}
yc-section .order .grand-total .summary-item{
  font-weight:550;
}
yc-section .order a{
  color:var(--section-bg-color);
  background-color:rgb(var(--section-text-color));
}
yc-section .badge{
  --badge-color:currentColor;
  padding:0.25em 0.5em;
  color:currentColor;
  color:var(--badge-color);
  background-color:color-mix(in srgb, currentColor 8%, transparent);
  font-size:var(--text-xs);
  border-radius:var(--radius-sm);
}
@supports (color: color-mix(in lch, red, blue)){
yc-section .badge{
  background-color:color-mix(in srgb, var(--badge-color) 8%, transparent);
}
}
yc-section .badge[data-status$=paid]{
  --badge-color:var(--color-success-500);
}
yc-section .badge[data-status$=unpaid]{
  --badge-color:var(--color-gray-500);
}
yc-section .badge[data-status$=captured]{
  --badge-color:var(--color-info-500);
}
yc-section .badge[data-status$=refunded]{
  --badge-color:var(--color-gray-500);
}
yc-section .badge[data-status$=pending]{
  --badge-color:var(--color-warning-500);
}

@media (max-width: 640px){
  yc-section .order{
    width:100%;
  }
  yc-section .order .payment{
    align-items:flex-start;
    flex-direction:column;
    align-items:center;
    gap:var(--gap-lg);
  }
  yc-section .order .payment .method,
  yc-section .order .payment .status{
    flex-direction:column;
  }
  yc-section .order .items .item .image{
    --size:50px;
  }
}
