yc-section{
  --order-border:1px solid color-mix(in srgb, currentColor 10%, transparent);
}
yc-section .message{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:var(--gap-lg);
}
yc-section .message .icon{
  color:var(--color-success-500);
}
yc-section .order{
  width:768px;
  margin-inline:auto;
  border-radius:var(--radius-md);
  border:var(--order-border);
}
yc-section .order .title,
yc-section .order .payment,
yc-section .order .items,
yc-section .order .summary{
  padding:1.5em;
}
yc-section .order .title,
yc-section .order .payment{
  border-block-end:var(--order-border);
}
yc-section .order .payment{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:var(--text-md);
}
yc-section .order .payment .status,
yc-section .order .payment .method{
  display:flex;
  gap:var(--gap-lg);
  align-items:center;
}
yc-section .order .payment .label{
  color:rgba(var(--section-text-color), 70%);
}
yc-section .order .payment .method .value{
  display:flex;
  justify-content:center;
  align-items:center;
}
