yc-write-review .action{
  display:flex;
  justify-content:center;
}
yc-write-review .review-form .head{
  padding:1.5em;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-block-end:1px solid color-mix(in srgb, currentColor 8%, transparent);
}
yc-write-review .review-form .core{
  padding:1.5em;
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  position:relative;
}
yc-write-review .review-form .core .rating-box{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-block:var(--gap-lg);
}
yc-write-review .review-form .core .rating-box .stars .star{
  cursor:pointer;
  color:var(--color-yellow-500);
}
yc-write-review .review-form .core .rating-box .stars .star svg{
  transition:var(--transition-duration-normal);
}
yc-write-review .review-form .core .rating-box .stars .star:has(input:checked) ~ .star svg{
  fill:transparent;
}
yc-write-review .review-form .core .rating-box .stars .star:hover svg{
  scale:1.1;
}
yc-write-review .review-form .core .rating-box .stars .star:hover ~ .star svg{
  fill:transparent;
}
yc-write-review .review-form .core .rating-box .stars:has(input:checked) svg{
  fill:var(--color-yellow-500);
}
yc-write-review .review-form .core .rating-box .stars:hover .star svg{
  fill:var(--color-yellow-500);
}
yc-write-review .review-form .core .info-box{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
}
yc-write-review .review-form .core .info-box .fields{
  display:grid;
  grid-gap:var(--gap-lg);
  gap:var(--gap-lg);
  grid-template-columns:repeat(2, 1fr);
}
yc-write-review .review-form .core .info-box .fields .field{
  display:flex;
  gap:var(--gap-md);
  flex-direction:column;
}
yc-write-review .review-form .core .info-box .fields .field input,
yc-write-review .review-form .core .info-box .fields .field textarea{
  resize:vertical;
  min-height:46px;
  max-height:150px;
  color:rgb(var(--section-text-color));
}
yc-write-review .review-form .core .info-box .fields .field label:not(.images){
  font-size:var(--text-sm);
}
yc-write-review .review-form .core .info-box .fields .field .info{
  font-size:var(--text-xs);
  color:color-mix(in srgb, currentColor 70%, transparent);
}
yc-write-review .review-form .core .info-box .fields .field:has(input:required) label::after, yc-write-review .review-form .core .info-box .fields .field:has(textarea:required) label::after{
  content:" *";
  color:var(--color-error-500);
}
yc-write-review .review-form .core .info-box .fields .field:nth-child(3), yc-write-review .review-form .core .info-box .fields .field:last-child, yc-write-review .review-form .core .info-box .fields .field:nth-last-child(2){
  grid-column:3/1;
}
yc-write-review .review-form .core .info-box .fields .upload-image{
  display:flex;
  gap:var(--gap-md);
  flex-direction:column;
}
yc-write-review .review-form .core .info-box .fields .upload-image .input{
  display:flex;
  gap:var(--gap-md);
}
yc-write-review .review-form .core .info-box .fields .upload-image .input label,
yc-write-review .review-form .core .info-box .fields .upload-image .input .image{
  width:60px;
  height:60px;
}
yc-write-review .review-form .core .info-box .fields .upload-image .input label{
  cursor:pointer;
}
yc-write-review .review-form .core .info-box .fields .upload-image .input .images-container{
  display:flex;
  flex-wrap:wrap;
  gap:var(--gap-md);
}
yc-write-review .review-form .core .info-box .fields .upload-image .input .images-container .image{
  position:relative;
  border-radius:var(--radius-md);
  border:1px solid rgb(var(--section-text-color), 15%);
}
yc-write-review .review-form .core .info-box .fields .upload-image .input .images-container .image img{
  -o-object-fit:cover;
     object-fit:cover;
  border-radius:calc(var(--radius-md) - 1px);
}
yc-write-review .review-form .core .info-box .fields .upload-image .input .images-container .image button{
  padding:5px;
  inset-inline-end:-8px;
  inset-block-start:-8px;
  position:absolute;
  border-radius:var(--radius-circle);
  color:rgb(var(--section-text-color));
  background-color:var(--section-bg-color);
  border:0.5px solid rgb(var(--section-text-color), 15%);
}
yc-write-review .review-form .core .info-box .fields .upload-image .input .images-container .image button:hover{
  color:var(--color-error-500);
  border-color:var(--color-error-50);
}
yc-write-review .review-form .core .info-box .actions{
  display:grid;
  grid-gap:var(--gap-md);
  gap:var(--gap-md);
  color:rgb(var(--section-text-color));
  grid-template-columns:repeat(2, 1fr);
}
yc-write-review .review-form .core .info-box .actions button.primary{
  color:var(--section-bg-color);
  border-color:rgb(var(--section-text-color));
  background-color:rgb(var(--section-text-color));
}

@media (max-width: 768px){
  yc-write-review .review-form .head{
    padding-block-start:0;
    justify-content:center;
  }
  yc-write-review .review-form .head button{
    display:none;
  }
  yc-write-review .review-form .core .info-box .fields{
    display:flex;
    flex-direction:column;
  }
}
