{% comment %}
  Renders an FAQ item (Block)

  Accepts:
    - faq: {Object} Item info

  Usage:
  {% render 'block.faq' %}
{% endcomment %}

<li ui-block="faq" ui-slot="accordion-item" {{ faq.youcan_attributes }}>
  <label ui-slot="accordion-trigger">
    How long does shipping take?
    <input type="checkbox" name="faq">
  </label>
  <div ui-slot="accordion-content" role="region">
    <p>
      Our orders typically arrive within 3-7 business days, depending on your location and chosen shipping method. Please note that holidays, weather
      conditions and peak shopping seasons can affect delivery times.
    </p>
  </div>
</li>
