{% comment %}
  Renders a column item (Block)

  Accepts:
    - column: {Object} Item info

  Usage:
  {% render 'block.column' %}
{% endcomment %}

<li ui-block="column" {{ feature.youcan_attributes }}>
  <div class="media">
    {% render 'misc.image-fallback', icon_size: 40 %}
  </div>
  <div class="content">
    <h3 class="heading">Free Shipping</h3>
    <p class="description">We offer reliable free shipping on all orders exceeding $100</p>
  </div>
</li>
