{% comment %}
  Renders a collection item (Block)

  Accepts:
  - collection: {Object} Item info

  Usage:
  {% render 'block.collection', collection: {...} %}
{% endcomment %}

<li ui-carousel="item" ui-block="collection" ui-slot="carousel-item" {{ collection.youcan_attributes }}>
  <a href="/collections/#" class="media">
    {% render 'misc.image-fallback' %}
  </a>
  <div class="content">
    <div class="info">
      <a class="title" ui-slot="link-button" data-variant="black" data-size="md" href="/collections/#"> Collection </a>
      {% if settings.collection_show_product_count %}
        <span class="total">20 Items</span>
      {% endif %}
    </div>
    <a href="/collections/#" ui-slot="button" data-variant="neutral" data-mode="stroke" data-size="lg" data-as-icon>
      {% render 'misc.icon', name: 'hgi-arrow-up-right-01' %}
    </a>
  </div>
</li>
