{% comment %}
  Renders a feature item (Block)

  Accepts:
    - feature-item: {Object} Item info

  Usage:
  {% render 'block.feature-item' %}
{% endcomment %}

<li ui-block="feature-item" {{ feature-item.youcan_attributes }}>
  <div class="icon">
    {% render 'misc.icon', name: 'hgi-delivery-box-02' %}
  </div>
  <span class="label">Feature Item</span>
</li>
