{{ 'misc.empty.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders an empty message state

  Accepts:
  - heading: {String} Heading text
  - subheading: {String} (optional) Subheading text
  - hidden: {Boolean} (optional) Hide element

  Usage:
  {% render 'misc-empty' %}
{% endcomment %}

<ui-empty
  {% if hidden %}
    hidden
  {% endif %}
>
  <span class="heading">{{ heading }}</span>
  {% if subheading %}
    <p class="subheading">{{ subheading }}</p>
  {% endif %}
</ui-empty>
