{{ 'hello-world.css' | asset_url | stylesheet_tag }}

<main class="container">
  <div class="message">
    <h1>You did it!</h1>
    <p>You have successfully created a theme using YouCan CLI 🎉</p>
    <ul>
      <li>
        <svg viewBox="0 0 48 48">
          <g fill="none"><path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              d="M24 40H7a3 3 0 0 1-3-3V11a3 3 0 0 1 3-3h34a3 3 0 0 1 3 3v12.059" /><path
              stroke="currentColor"
              stroke-width="4"
              d="M4 11a3 3 0 0 1 3-3h34a3 3 0 0 1 3 3v9H4v-9Z" /><circle
              r="2"
              fill="currentColor"
              transform="matrix(0 -1 -1 0 10 14)" /><circle
              r="2"
              fill="currentColor"
              transform="matrix(0 -1 -1 0 16 14)" /><circle
              cx="37"
              cy="34"
              r="3"
              stroke="currentColor"
              stroke-width="4" /><path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              d="M37 41v-4m0-6v-4m-6.062 10.5l3.464-2m5.196-3l3.464-2m-12.124 0l3.464 2m5.196 3l3.464 2" /></g>
        </svg>
        <a href="https://seller-area.youcan.shop/admin/themes/{{theme.id}}/edit">Theme Editor</a>
      </li>
      <li>
        <svg viewBox="0 0 24 24">
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"><path d="M14.5 4H17a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3v-5m2-7L4 7l2 2" /><path d="m10 9l2-2l-2-2" /></g>
        </svg>
        <a href="https://seller-area.youcan.shop/admin/themes/{{theme.id}}/code-editor">Code Editor</a>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 48 48">
          <g
            fill="none"
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="4"><rect
              width="36"
              height="36"
              x="6"
              y="6"
              rx="3" /><path stroke-linecap="round" d="M34 20H14m12 7H14" /></g>
        </svg>
        <a href="https://developer.youcan.shop/themes/introduction.html">Documentation</a>
      </li>
      <li>
        <svg viewBox="0 0 24 24">
          <g
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"><path d="m21.818 9.364l-1.694-5.929A.6.6 0 0 0 19.547 3H15.5l.475 5.704a.578.578 0 0 0 .278.45c.39.233 1.152.663 1.747.846c1.016.313 2.5.2 3.346.096a.57.57 0 0 0 .472-.732Z" /><path d="M14 10c.568-.175 1.288-.574 1.69-.812a.578.578 0 0 0 .28-.549L15.5 3h-7l-.47 5.639a.578.578 0 0 0 .28.55c.402.237 1.122.636 1.69.811c1.493.46 2.507.46 4 0Z" /><path d="m3.876 3.435l-1.694 5.93a.57.57 0 0 0 .472.73c.845.105 2.33.217 3.346-.095c.595-.183 1.358-.613 1.747-.845a.578.578 0 0 0 .278-.451L8.5 3H4.453a.6.6 0 0 0-.577.435Z" /><path d="M3 10v9a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-9" /></g>
        </svg>
        <a href="https://seller-area.youcan.shop/">Seller Area</a>
      </li>
    </ul>
  </div>

</main>

{% schema %}
  {"label": "Hello world"}
{% endschema %}
