<details class="accordion">
  <summary>
    <p class="title h5">Accordion title</p>
    {% render 'yc-icon', name: 'chevron-down', size: 15 %}
  </summary>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint iure necessitatibus reprehenderit laborum qui! Ipsum,
    soluta minus, vel, aliquam eius quibusdam incidunt quas autem in aperiam ut. Odit, unde ducimus.
    {{ block.settings.content }}
  </div>
</details>
