<details class="accordion">
  <summary>
    <p class="title h5">{{ title | default: 'Title' }}</p>
    {% render 'yc-icon', name: 'chevron-down', size: 15 %}
  </summary>
  <div class="content">
    {{ content }}
  </div>
</details>
