<div class="item">
  <div class="image">
    {% if product.thumbnail %}
      <img
        loading="lazy"
        height="100%"
        width="100%"
        src="{{ product.thumbnail }}"
        alt="{{ product.name }}"
      >
    {% else %}
      <div class="card-placeholder">
        {% render 'yc-placeholder', name: 'product', size: '48' %}
      </div>
    {% endif %}
  </div>
  <div class="info">
    <div class="heading">
      <span>{{ product.name | default: 'Product Name' }}</span>
      <span data-price>{{ product.price | default: 0 | money }}</span>
    </div>
    <div class="actions">
      {% render 'yc-quantity-control', button_size: 'sm' %}
      <button class="yc-btn icon" data-size="sm">
        {% render 'yc-icon', name: 'trash' %}
      </button>
    </div>
  </div>
</div>
