{{ 'column-card.css' | asset_url | stylesheet_tag }}

<div class="column-card" data-position="left">
  <div class="column-img">
    <img
      width="100%"
      height="100%"
      data-width="small"
      data-ratio="circle"
      alt="column title"
      src="{{ 'default-test.webp' |  asset_url }}"
    >
  </div>
  <div class="column-info">
    <h4 class="column-title">Planet friendly</h4>
    <p class="column-subtitle">Sustainable fabrics made with care.</p>
  </div>
</div>
