{% comment %}
  Renders a contact form

  Accepts:
  - content: {String} (optional) page content

  Usage:
  {% render 'contact-form', content: page.content %}
{% endcomment %}

{% form 'contact' %}
  {% if form.posted_successfully %}
    {% comment %} TODO: Show success {% endcomment %}
  {%- elsif form.errors -%}
    {% comment %} TODO: Show errors list {% endcomment %}
  {% endif %}
  <div class="form-group">
    <div class="field">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" placeholder="Email" required>
    </div>
    <div class="field">
      <label for="subject">Subject</label>
      <input id="subject" name="subject" type="text" placeholder="Subject">
    </div>
  </div>
  <div class="field">
    <label for="message"> Message </label>
    <textarea type="text" id="message" name="message" minlength="5" rows="8" placeholder="Your message" required></textarea>
  </div>
  <button type="submit" class="primary">Send</button>
{% endform %}
