<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

{%- style -%}
  :root {
    /* Global */
    --direction: ltr;

    /* Typography */
    --font-family: 'Poppins', sans-serif;
    --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};
    --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};

    /* Colors */
    --color-primary: #121212;
    --color-secondary: #fff;

    --color-base-white: #fff;
    --color-base-black: #121212;

    --color-gray-50: #f3f3f3;
    --color-gray-300: #dcdcdc;
    --color-gray-500: #535151;
    --color-yellow-50: #fff5dc;
    --color-yellow-500: #faab00;

    --color-info-50: #ddeefd;
    --color-info-500: #2085d7;
    --color-error-50: #ffe0e0;
    --color-error-500: #fb5656;
    --color-warning-50: #ffaa00;
    --color-warning-500: #ff970f;
    --color-success-50: #d0f0e1;
    --color-success-500: #48c348;

    /* Text Size */
    --text-xs: 12px;
    --text-sm: 13px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 24px;
    --text-3xl: 30px;

    /* Gap */
    --gap-xs: 3px;
    --gap-sm: 5px;
    --gap-md: 8px;
    --gap-lg: 16px;
    --gap-xl: 25px;
    --gap-2xl: 32px;
    --gap-3xl: 48px;

    /* Radius */
    --radius-sm: 0.5em;
    --radius-md: 0.7em;
    --radius-lg: 1em;
    --radius-xl: 1.5em;
    --radius-2xl: 2em;
    --radius-circle: 50%;

    /* Overlay */
    --overlay-blur: blur(2px);
    --overlay-background: rgba(0, 0, 0, 0.2);

    /* Shadow */
    --shadow-dark-sm: rgba(0, 0, 0, 0.03) 0px 3px 14px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    --shadow-dark-focus-sm: rgba(0, 0, 0, 0.03) 0px 3px 14px 0px, var(--color-gray-500) 0px 0px 0px 1px;

    /* Animation | Transition */
    --transition-duration-fast: 0.1s;
    --transition-duration-normal: 0.3s;
    --transition-duration-slow: 0.4s;
  }
{%- endstyle -%}

<title>Rabi3a | ربيعة</title>
<meta name="description" content="Rabi3a | ربيعة">
<link rel="shortcut icon" href="{{ 'default-logo.webp' |  asset_url }}">
