<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

{%- style -%}
  :root {
    /* Global */
    --direction: ltr;
    --font-family: 'Poppins', sans-serif;

    /* Colors */
    --color-primary: #121212;
    --secondary-color: #fff;

    --gray-50-color: #f3f3f3;
    --gray-500-color: #535151;
    --info-50-color: #ddeefd;
    --info-500-color: #2085d7;
    --error-50-color: #ffe0e0;
    --error-500-color: #fb5656;
    --warning-50-color: #ffaa00;
    --warning-500-color: #ff970f;
    --success-50-color: #d0f0e1;
    --success-500-color: #48c348;

    /* Typography */
    --text-xs: 12px;
    --text-sm: 13px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-xxl: 24px;
    --text-xxxl: 30px;

    /* Radius */
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 6px;
    --radius-xl: 8px;
    --radius-2xl: 12px;
    --radius-circle: 50%;

    /* Shadow */
    --shadow-dark-sm: rgba(0, 0, 0, 0.03) 0px 3px 14px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    --shadow-dark-focus-sm: rgba(0, 0, 0, 0.03) 0px 3px 14px 0px, var(--gray-500-color) 0px 0px 0px 1px;

    /* Animation | Transition */
    --transition-duration: 0.4s;
  }
{%- endstyle -%}

<title>Rabi3a | ربيعة</title>
