{{ 'header-cart-drawer.css' | asset_url | stylesheet_tag }}

<yc-drawer id="cart" data-hidden="true" data-direction="rtl">
  <button class="cart-btn icon" aria-label="cart" data-toggle>
    <span class="total-items">2</span>
    {% render 'yc-icon', name: 'cart' %}
    <span class="total-amount">0 MAD</span>
  </button>
  <div class="drawer-container">
    <div class="drawer-box cart-drawer">
      {% render 'yc-empty', icon: 'cart', heading: 'Your cart is empty' %}
    </div>
    <div class="drawer-overlay overlay" data-toggle></div>
  </div>
</yc-drawer>
