<span class="badge" data-status="{{ status }}">
  {%- case status -%}
    {% when 'paid' %}
      Paid
    {% when 'unpaid' %}
      Unpaid
    {% when 'captured' %}
      Captured
    {% when 'refunded' %}
      Refunded
    {% when 'pending' %}
      Pedning
    {% else %}
      --
  {% endcase %}
</span>
