<div class="product-review">
  <div className="review-rating">
    <div className="stars"></div>
  </div>

  <article className="review-content">
    <p>bla bla</p>
    <span className="review-writer">
      <i>- bla bla owner -</i>
    </span>
  </article>
</div>
