{% comment %}
  Renders a product accordion

  Accepts:
  - title: Accordion title
  - content: Accordion content

  Usage:
  {% render 'product-accordion', title: '...', content: '...' %}
{% endcomment %}

<details class="accordion">
  <summary>
    <p class="title h5">{{ title | default: 'Accordion' }}</p>
    {% render 'yc-icon', name: 'chevron-down', size: 15 %}
  </summary>
  <div class="content">
    {{ content }}
  </div>
</details>
