{% comment %}
  Renders a product description

  Accepts:
  - description: {String} description content

  Usage:
  {% render 'product-description', description: 'Product description (Rich content)' %}
{% endcomment %}

<div class="description">
  {{ description }}
</div>
