{{ 'product-card.css' | asset_url | stylesheet_tag }}

{% style %}
  .product-card {
    --product-card-border-radius: {{ settings.product_card_border_radius }}px;
  }
{% endstyle %}

<div class="product-card {{ settings.product_card_style }}">
  <a href="#" class="img-link" aria-label="PRODUCT NAME">
    <img src="{{ 'hoodie.webp' | asset_url }}" alt="Product Name">
  </a>
  <div class="info">
    <a href="#" class="link title">Sneaker</a>
    <div class="price">
      <span class="current">459 MAD</span>
      <span class="compare-at">799 MAD</span>
    </div>
    <button class="yc-btn buy">Buy now</button>
  </div>
</div>
