<yc-product-form
  out-of-stock
  quantity="1"
  variant-id="{{ variant_id }}"
>
  <button
    name="add"
    data-buy-button
    class="secondary"
  >
    <span
      data-add-to-cart="{{ 'general.add_to_cart' | t }}"
      data-out-of-stock="{{ 'general.out_of_stock' | t }}"
    >
    </span>
  </button>
</yc-product-form>
