{% comment %}
  Renders a product price/compare at price

  Accepts:
  - price: {Number} Product price
  - compare_at_price: {Number} Product compare at price

  Usage:
  {% render 'product-price', price: 199, compare_at_price: 269 %}
{% endcomment %}

<div class="price">
  <p class="current h2" data-product-item="price">
    {{ price | default: 0 | money }}
  </p>
  <p
    class="compare-at h3"
    data-product-item="compare-at-price"
    {% if compare_at_price == null %}
      hidden
    {% endif %}
  >
    {{ compare_at_price | default: 0 | money }}
  </p>
</div>
