<yc-product-form
  quantity="1"
  variant-id="{{ variant_id }}"
>
  <button
    name="add"
    data-buy-button
    class="secondary"
  >
    <span>
      {{ 'general.add_to_cart' | t }}
    </span>
  </button>
</yc-product-form>
