{% comment %}
  Renders a product title

  Accepts:
  - title: {String} Product title

  Usage:
  {% render 'product-title', title: 'Apple MacBook Pro' %}
{% endcomment %}

<p class="h2">
  {{ title | default: 'Title' }}
</p>
