{% comment %}
  Renders either an 'express checkout' form or an 'add to cart' button

  Accepts:
  - product: Product variant

  Usage:
  {% render 'product-buy-button', product: product %}
{% endcomment %}

{% assign default_variant = product.first_available_variant %}

<div class="buy-button">
  {% if settings.checkout_type == 'express' %}
    {% render 'yc-express-checkout', is_sticky: is_sticky, variant_id: default_variant.id, available: product.available %}
  {% else %}
    {% render 'yc-add-to-cart', variant_id: default_variant.id, available: product.available %}
  {% endif %}
</div>
