<div class="price">
  <p class="current h2">{{ price | default: 0 | money }}</p>
  {% if compare_at_price != null %}
    <p class="compare-at h3">
      {{ compare_at_price | default: 0 | money }}
    </p>
  {% endif %}
</div>
