<div class="rating" data-rating>
  <div class="stars">
    {% for star in (1..5) %}
      {% render 'yc-icon', name: 'star', fill: 'currentColor' %}
    {% endfor %}
  </div>
  <span class="average">
    {% if show_avg_rating %}
      {{ rating }}
    {% endif %}
  </span>
</div>
