<div class="buy-button">
  <yc-modal data-hidden="true" as-drawer>
    <div class="events" data-sticky>
      {% render 'yc-quantity-control' %}
      <button class="primary" data-toggle>Buy now</button>
    </div>

    <div class="modal-container">
      <div class="modal-box buy-area" data-modal>
        <div class="express-checkout">
          <div class="header">Fill out this form, and we'll contact you soon</div>
          <div class="fields" data-title="Customer information">
            <div class="field">
              <label for="first-name">First name</label>
              <input type="text" name="first-name" placeholder="Type your first name.." required>
            </div>
            <div class="field">
              <label for="last-name">Last name</label>
              <input type="text" name="last-name" placeholder="Type your last name.." required>
            </div>
            <div class="field">
              <label for="phone-number">Phone number</label>
              <input type="tel" name="phone-number" placeholder="Type your phone number.." required>
            </div>
            <div class="field">
              <label for="address">Address</label>
              <input type="text" name="address" placeholder="Type your address.." required>
            </div>
          </div>
        </div>
        <div class="events">
          {% render 'yc-quantity-control' %}
          <button data-submit class="primary" data-mobile="Place order" data-desktop="Buy now"></button>
        </div>
      </div>
      <div class="modal-overlay overlay" data-toggle></div>
    </div>
  </yc-modal>
</div>
