<p class="description">
  Vibrant Color Multimedia Screen: The DIY multimedia display screen design in the upper right corner of the keyboard
  allows you to visualize in custom gif image, caps lock, connection mode, WIN/MAC, system, backlit brightness/speed,
  RGB mode/color, volume & language and more. Display screen 11°oblique angle height will be more in line with visual
  habits.
</p>
