<div class="review-card">
  <div class="rating">
    <div class="stars">
      {% for item in (1..5) %}
        {% if item <= 4 %}
          {% render 'yc-icon', name: 'star', fill: 'currentColor' %}
        {% else %}
          {% render 'yc-icon', name: 'star', fill: 'none' %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <article class="content">
    <p>Really cool design and the patches make it stand out. It’s a bit oversized, but that’s the vibe I wanted!</p>
    <span class="author">
      <i>- Laila hassan -</i>
    </span>
  </article>
</div>
