<div class="items-grid" data-skeleton>
  {% for item in (1..3) %}
    <yc-skeleton>
      <yc-skeleton-group data-space-between>
        <yc-skeleton-item variant="text" style="width: 25%;"></yc-skeleton-item>
        <yc-skeleton-item variant="text" style="width: 25%;"></yc-skeleton-item>
      </yc-skeleton-group>
      <yc-skeleton-group>
        {% for line in (1..2) %}
          <yc-skeleton-item variant="text"></yc-skeleton-item>
        {% endfor %}
      </yc-skeleton-group>
      <yc-skeleton-group data-flex-row>
        {% for img in (1..3) %}
          <yc-skeleton-item variant="text" style="width: 50px; height: 50px"></yc-skeleton-item>
        {% endfor %}
      </yc-skeleton-group>
    </yc-skeleton>
  {% endfor %}
</div>
