{{ 'review-modal.css' | asset_url | stylesheet_tag }}

<yc-add-review>
  <yc-modal style="--modal-width: 500px">
    <button data-trigger>Add review</button>
    <yc-modal-content>
      <div class="review-form">
        <div class="head">
          <h4 class="title">Write a review</h4>
          <button class="icon" data-size="sm" data-trigger>
            {% render 'yc-icon', name: 'x-mark' %}
          </button>
        </div>
        <div class="core">
          <div class="rating-box">
            <div class="stars">
              {% for star in (1..5) %}
                <label for="{{ star }}" class="star">
                  {% render 'yc-icon', name: 'star', size: 35 %}
                  <input type="radio" name="rate" id="{{ star }}" hidden>
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="info-box">
            <div class="fields">
              <div class="field">
                <label for="first-name"> First name </label>
                <input
                  required
                  type="text"
                  id="first-name"
                  name="first-name"
                  placeholder="Type your first name.."
                >
              </div>
              <div class="field">
                <label for="last-name"> Last name </label>
                <input
                  required
                  type="text"
                  id="last-name"
                  name="last-name"
                  placeholder="Type your last name.."
                >
              </div>
              <div class="field">
                <label for="email"> Email </label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Type your email.."
                >
              </div>
              <div class="field">
                <label for="review"> Review </label>
                <textarea
                  required
                  type="text"
                  id="review"
                  name="review"
                  placeholder="Type text here.."
                ></textarea>
              </div>
              <div class="field upload-image">
                <label for="images">Add images</label>
                <div class="input">
                  <label for="images" class="yc-btn icon">
                    {% render 'yc-icon', name: 'plus' %}
                    <input
                      hidden
                      type="file"
                      id="images"
                      name="images"
                      accept="image/png, image/gif, image/jpeg, image/webp, image/avif"
                    >
                  </label>
                  <div class="image">
                    <button>
                      {% render 'yc-icon', name: 'x-mark', size: 12 %}
                    </button>
                    <img
                      alt="image"
                      width="100%"
                      height="100%"
                      src="{{ 'hoodie.webp' | asset_url }}"
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="actions">
              <button class="icon" data-trigger>Cancel</button>
              <button class="primary" data-submit>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </yc-modal-content>
  </yc-modal>
</yc-add-review>
