<template data-testimonial>
  <div class="testimonial-card">
    {% render 'product-rating', rating: 4 %}
    <article class="content">
      <p data-content>--</p>
      <span class="author">
        <i data-author>- -</i>
      </span>
    </article>
  </div>
</template>
