{% comment %}
  Renders a testimonial card template

  Usage:
  {% render 'testimonial-card' %}
{% endcomment %}

<template data-testimonial>
  <div class="testimonial-card">
    <div class="rating" data-rating>
      <div class="stars">
        {% for star in (1..5) %}
          {% render 'yc-icon', name: 'star', fill: 'currentColor' %}
        {% endfor %}
      </div>
      <span class="average">
        {% if show_avg_rating %}
          {{ rating }}
        {% endif %}
      </span>
    </div>

    <article class="content">
      <p data-content></p>
      <span class="author">
        <i data-author></i>
      </span>
    </article>
  </div>
</template>
