<div class="items-grid" data-skeleton>
  {% for item in (1..4) %}
    <yc-skeleton>
      <yc-skeleton-group data-center>
        <yc-skeleton-item variant="text" style="width: 120px; height: 25px"></yc-skeleton-item>
      </yc-skeleton-group>
      <yc-skeleton-group data-center>
        <yc-skeleton-item variant="text"></yc-skeleton-item>
        <yc-skeleton-item variant="text"></yc-skeleton-item>
        <yc-skeleton-item variant="text"></yc-skeleton-item>
      </yc-skeleton-group>
      <yc-skeleton-group data-center>
        <yc-skeleton-item variant="text" style="width: 120px;"></yc-skeleton-item>
      </yc-skeleton-group>
    </yc-skeleton>
  {% endfor %}
</div>
