{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.js' | asset_url | script_tag_deferred }}

<yc-slider
  autoplay
  responsive
  interval="3000"
  data-type="fit"
  style="
    --slider-gap: 15;
    --slider-speed: 600;
    --slider-height: auto;
    --slider-per-page: 4;
    --slider-max-items-lg: 2;
    --slider-max-items-md: 1;
  "
>
  <div class="slider-area">
    <div class="slider-box" data-slider-box>
      <div class="slider-inner" data-slider>
        {% for item in link-lists %}
          <yc-slider-item>
            <div class="fake-collection" style="background-color:#f3f3f3;">
              <h4 class="collection-title" style="padding: 8em 2em; text-align:center">Product x1</h4>
            </div>
          </yc-slider-item>
        {% endfor %}
      </div>
    </div>
  </div>
</yc-slider>
