<yc-slider
  arrows
  responsive
  data-type="fit"
  style="
    --slider-gap: 15;
    --slider-speed: 600;
    --slider-height: auto;
    --slider-per-page: 3;
    --slider-breakpoint-lg: 2;
    --slider-breakpoint-md: 1;
  "
>
  <div class="slider-area">
    <div class="slider-box" data-slider-box>
      <div class="slider-inner" data-slider>
        {% for item in link-lists %}
          <yc-slider-item>
            <div class="fake-collection" style="background-color:#f3f3f3;">
              <h4 class="collection-title" style="padding: 8em 2em; text-align:center">Collection x1</h4>
            </div>
          </yc-slider-item>
        {% endfor %}
      </div>
    </div>
  </div>

  <yc-slider-arrows data-position="center">
    <div class="slider-arrows">
      <button class="icon" data-arrow="left" aria-label="previous" disabled>
        {% render 'yc-icon', name: 'arrow-left', size: 15 %}
      </button>
      <button class="icon" data-arrow="right" aria-label="next">
        {% render 'yc-icon', name: 'arrow-right', size: 15 %}
      </button>
    </div>
  </yc-slider-arrows>
</yc-slider>
