<div class="testimonial-card">
  {% render 'product-rating', rating: 4 %}
  <article class="content">
    <p>Really cool design and the patches make it stand out. It’s a bit oversized, but that’s the vibe I wanted!</p>
    <span class="author">
      <i>- Laila hassan -</i>
    </span>
  </article>
</div>
