{% comment %}
  Renders a radio group (Product variant)

  Accepts:
  - options: {Array} variant options
  - name: {String} input name

  Usage:
  {% render 'variant-radio', name: 'fit', options: [] %}
{% endcomment %}

<yc-variant name="radio">
  {% for opt in options %}
    <div class="variant-item radio-item">
      <input type="radio" name="{{ name }}" id="{{ opt }}">
      <label for="{{ opt }}">{{ opt }}</label>
    </div>
  {% endfor %}
</yc-variant>
