{% comment %}
  Renders a color buttons group (Product variant)

  Accepts:
  - options: {Array} variant options
  - name: {String} input name
  - default_value: (optional) {String} default checked value

  Usage:
  {% render 'variant-color', name: 'color', options: [], default_value: '' %}
{% endcomment %}

<yc-variant name="color">
  {% for option in options %}
    <label
      class="variant-item color-item yc-btn icon"
      style="--variant-color: {{ option.preview }}"
    >
      <input
        type="radio"
        name="{{ name }}"
        value="{{ option.value }}"
        {% if option.value == default_value %}
          checked
        {% endif %}
      >
    </label>
  {% endfor %}
</yc-variant>
