{% comment %}
  Renders a radio group (Product variant)

  Accepts:
  - options: {Array} variant options
  - name: {String} input name
  - default_value: (optional) {String} default checked value

  Usage:
  {% render 'variant-radio', name: 'fit', options: [], default_value: '' %}
{% endcomment %}

<yc-variant name="radio">
  {% for option in options %}
    <label class="variant-item radio-item">
      <input
        type="radio"
        name="{{ name }}"
        value="{{ option }}"
        {% if option == default_value %}
          checked
        {% endif %}
      >
      {{ option }}
    </label>
  {% endfor %}
</yc-variant>
