{{ 'write-review.css' | asset_url | stylesheet_tag }}

<yc-write-review product-id="25426cf9-f43f-4d04-9b30-d74e89e2a51d">
  <yc-modal style="--modal-width: 500px">
    <button data-trigger>Write a review</button>
    <yc-modal-content>
      <div class="review-form">
        <div class="head">
          <h4 class="title">Write a review</h4>
          <button class="icon" data-size="sm" data-trigger>
            {% render 'yc-icon', name: 'x-mark' %}
          </button>
        </div>
        <form class="core" data-review-form>
          <div class="rating-box">
            <div class="stars">
              {% for star in (1..5) %}
                <label for="{{ star }}" class="star">
                  {% render 'yc-icon', name: 'star', size: 35 %}
                  <input
                    hidden
                    type="radio"
                    name="ratings"
                    id="{{ star }}"
                    value="{{ star }}"
                  >
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="info-box">
            <div class="fields">
              <div class="field">
                <label for="first-name"> First name </label>
                <input
                  required
                  type="text"
                  id="first-name"
                  name="first-name"
                  placeholder="Type your first name.."
                >
              </div>
              <div class="field">
                <label for="last-name"> Last name </label>
                <input
                  required
                  type="text"
                  id="last-name"
                  name="last-name"
                  placeholder="Type your last name.."
                >
              </div>
              <div class="field">
                <label for="email"> Email </label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Type your email.."
                >
              </div>
              <div class="field">
                <label for="content"> Review </label>
                <textarea
                  required
                  type="text"
                  id="content"
                  name="content"
                  minlength="5"
                  placeholder="Type text here.."
                ></textarea>
              </div>
              <div class="field upload-image">
                <label for="add-images">Add images</label>
                <div class="input">
                  <template data-image>
                    <div class="image">
                      <button type="button" data-remove-image>
                        {% render 'yc-icon', name: 'x-mark', size: 12 %}
                      </button>
                      <img
                        alt="image"
                        width="100%"
                        height="100%"
                      >
                    </div>
                  </template>
                  <label for="images" class="yc-btn icon">
                    {% render 'yc-icon', name: 'plus' %}
                    <input
                      hidden
                      type="file"
                      id="images"
                      name="images"
                      accept="image/png, image/gif, image/jpeg, image/jpg"
                    >
                  </label>
                  <yc-skeleton style="padding: 0;" hidden data-image-skeleton>
                    <yc-skeleton-item
                      variant="rounded"
                      style="width: 60px; height: 60px"
                    ></yc-skeleton-item>
                  </yc-skeleton>
                </div>
              </div>
            </div>
            <div class="actions">
              <button class="icon" type="button" data-trigger>Cancel</button>
              <button class="primary" type="submit" data-submit>
                <span>Submit</span>
              </button>
            </div>
          </div>
          <div class="success-box">
            <div class="icon">
              {% render 'yc-icon', name: 'check' %}
            </div>
            <div class="content">
              <h4>Thanks!</h4>
              <p>Your opinion is very important for us.</p>
            </div>
          </div>
        </form>
      </div>
    </yc-modal-content>
  </yc-modal>
</yc-write-review>
