{{ 'header-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-drawer-items.js' | asset_url | script_tag_deferred }}

<yc-drawer id="cart" data-hidden="true" data-direction="rtl">
  <button class="cart-btn icon" aria-label="cart" data-toggle>
    <span class="total-items">2</span>
    {% render 'yc-icon', name: 'cart' %}
    <span class="total-amount">0 MAD</span>
  </button>
  <div class="drawer-container">
    <div class="drawer-box">
      <div class="cart-drawer">
        <div class="header">
          <div class="title">
            {% render 'yc-icon' | name: 'cart' %}
            <span>My cart</span>
          </div>
          <button class="close-btn icon" data-size="sm" aria-label="close" data-toggle>
            {% render 'yc-icon' | name: 'x-mark' %}
          </button>
        </div>
        <yc-cart-drawer-items>
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
          {% render 'cart-drawer-item', item: item %}
        </yc-cart-drawer-items>
        <div class="footer">
          <div class="totals">
            <span>Total</span>
            <span data-total>200MAD</span>
          </div>
          <div class="actions">
            <a href="/cart" class="yc-btn primary">Check out</a>
            <button class="yc-btn secondary" data-toggle>Continue shopping</button>
          </div>
        </div>
        {% comment %} TODO: If no cart items: render yc-empty {% endcomment %}
        {% comment %} {% render 'yc-empty', icon: 'cart', heading: 'Your cart is empty' %} {% endcomment %}
        {% comment %} TODO: Else render drawer items {% endcomment %}
      </div>
    </div>
    <div class="drawer-overlay overlay" data-toggle></div>
  </div>
</yc-drawer>
