{% comment %}
  Renders an empty state illustration with a heading and subheading

  Accepts:
  - icon: {String} Icon name
  - heading: {String} (optional) Heading text
  - subheading: {String} (optional) Subheading text

  Usage:
  {% render 'yc-empty', icon: 'cart', heading: 'Your cart is empty' %}
{% endcomment %}

<div class="empty">
  <svg
    class="icon"
    width="70px"
    height="70px"
    xmlns="http://www.w3.org/2000/svg"
    {% if icon != 'products' %}
      viewBox="0 0 24 24"
    {% else %}
      viewBox="0 0 100 100"
    {% endif %}
  >
    {% if icon == 'cart' %}
      <path fill="currentColor" fill-rule="evenodd" d="M1.289 2.763a.75.75 0 0 1 .948-.475l.265.089l.04.013c.626.209 1.155.385 1.572.579c.442.206.826.46 1.117.865c.291.403.412.848.467 1.333c.052.456.052 1.014.052 1.674V9.5c0 1.435.002 2.437.103 3.192c.099.734.28 1.122.556 1.399c.277.277.666.457 1.4.556c.755.101 1.756.103 3.191.103h7a.75.75 0 0 1 0 1.5h-7.055c-1.367 0-2.47 0-3.337-.116c-.9-.122-1.658-.38-2.26-.982s-.86-1.36-.981-2.26c-.117-.867-.117-1.97-.117-3.337V6.883c0-.713 0-1.185-.042-1.546c-.04-.342-.107-.506-.194-.626c-.086-.12-.221-.237-.533-.382c-.33-.153-.777-.304-1.453-.53l-.265-.087a.75.75 0 0 1-.474-.95" clip-rule="evenodd" />
        <path fill="currentColor" d="M5.745 6q.006.39.005.841V9.5c0 1.435.002 2.437.103 3.192q.023.165.05.308h10.12c.959 0 1.438 0 1.814-.248s.565-.688.942-1.57l.43-1c.809-1.89 1.213-2.834.769-3.508S18.506 6 16.45 6z" opacity="0.5" />
        <path fill="currentColor" d="M7.25 9A.75.75 0 0 1 8 8.25h3a.75.75 0 0 1 0 1.5H8A.75.75 0 0 1 7.25 9m.25 9a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3M18 19.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0" />
    {% elsif icon == 'search' %}
      <defs>
        <mask id="solarMinimalisticMagniferLineDuotone0">
          <g fill="none" stroke-width="1.5">
            <circle cx="11.5" cy="11.5" r="9.5" stroke="#808080" />
            <path stroke="white" stroke-linecap="round" d="m20 20l2 2" />
          </g>
        </mask>
      </defs>
      <path fill="currentColor" d="M0 0h24v24H0z" mask="url(#solarMinimalisticMagniferLineDuotone0)" />
    {% elsif icon == 'collections' %}
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M8.672 7.542h6.656c3.374 0 5.062 0 6.01.987s.724 2.511.278 5.56l-.422 2.892c-.35 2.391-.525 3.587-1.422 4.303s-2.22.716-4.867.716h-5.81c-2.646 0-3.97 0-4.867-.716s-1.072-1.912-1.422-4.303l-.422-2.892c-.447-3.049-.67-4.573.278-5.56s2.636-.987 6.01-.987M8 18c0-.414.373-.75.833-.75h6.334c.46 0 .833.336.833.75s-.373.75-.833.75H8.833c-.46 0-.833-.336-.833-.75"
        clip-rule="evenodd"
      />
      <path
        fill="currentColor"
        d="M8.51 2h6.98c.233 0 .41 0 .567.015c1.108.109 2.014.775 2.399 1.672H5.544c.385-.897 1.292-1.563 2.4-1.672C8.099 2 8.278 2 8.51 2"
        opacity="0.3"
      />
      <path
        fill="currentColor"
        d="M6.31 4.723c-1.39 0-2.53.84-2.91 1.953l-.024.07a8 8 0 0 1 1.232-.253c1.08-.138 2.446-.138 4.032-.138h6.892c1.586 0 2.952 0 4.032.138c.42.054.834.133 1.232.253l-.023-.07c-.38-1.114-1.52-1.953-2.911-1.953z"
        opacity="0.6"
      />
    {% elsif icon == 'products' %}
      <path
        opacity="0.3"
        fill="currentColor"
        d="M23.2251 19.5457C19.7543 22.429 18.8418 27.304 17.0126 37.0582L13.8876 53.7248C11.3168 67.4415 10.0293 74.2998 13.7793 78.8165C17.5293 83.3332 24.5001 83.3332 38.4584 83.3332H61.5418C75.5001 83.3332 82.4793 83.3332 86.2251 78.8165C89.9751 74.2998 88.6876 67.4415 86.1168 53.7248L82.9918 37.0582C81.1626 27.3082 80.2501 22.429 76.7793 19.5457C73.3043 16.6665 68.3459 16.6665 58.4168 16.6665H41.5834C31.6584 16.6665 26.7001 16.6665 23.2251 19.5457Z" />
      <path
        fill="currentColor"
        d="M50.0004 38.5413C48.0612 38.5419 46.1695 37.9411 44.586 36.8217C43.0025 35.7024 41.8051 34.1196 41.1587 32.2913C41.0269 31.8981 40.8181 31.5351 40.5446 31.2234C40.2711 30.9117 39.9382 30.6576 39.5655 30.4758C39.1928 30.2941 38.7876 30.1883 38.3735 30.1647C37.9595 30.1411 37.545 30.2002 37.154 30.3384C36.763 30.4767 36.4035 30.6914 36.0963 30.97C35.7892 31.2486 35.5405 31.5855 35.3649 31.9612C35.1893 32.3368 35.0902 32.7437 35.0734 33.1581C35.0566 33.5724 35.1224 33.986 35.267 34.3746C36.3443 37.4219 38.3399 40.0602 40.9788 41.9262C43.6178 43.7923 46.7704 44.7943 50.0025 44.7943C53.2345 44.7943 56.3871 43.7923 59.0261 41.9262C61.665 40.0602 63.6606 37.4219 64.7379 34.3746C64.8825 33.986 64.9483 33.5724 64.9315 33.1581C64.9147 32.7437 64.8156 32.3368 64.64 31.9612C64.4644 31.5855 64.2157 31.2486 63.9086 30.97C63.6014 30.6914 63.2419 30.4767 62.8509 30.3384C62.4599 30.2002 62.0454 30.1411 61.6314 30.1647C61.2173 30.1883 60.8122 30.2941 60.4394 30.4758C60.0667 30.6576 59.7338 30.9117 59.4603 31.2234C59.1868 31.5351 58.978 31.8981 58.8462 32.2913C58.1996 34.1202 57.0015 35.7035 55.4172 36.823C53.8328 37.9424 51.9403 38.5427 50.0004 38.5413Z" />
    {% elsif icon == 'testimonials' %}
      <path fill="currentColor" d="M15.252 10.689c-.987-1.18-1.48-1.77-2.048-1.68c-.567.091-.832.803-1.362 2.227l-.138.368c-.15.405-.226.607-.373.756c-.146.149-.348.228-.75.386l-.367.143c-1.417.555-2.126.833-2.207 1.4s.52 1.049 1.721 2.011l.31.25c.342.273.513.41.611.597c.1.187.115.404.146.837l.029.394c.11 1.523.166 2.285.683 2.545s1.154-.155 2.427-.983l.329-.215c.362-.235.543-.353.75-.387c.208-.033.42.022.841.132l.385.1c1.485.386 2.228.58 2.629.173s.193-1.144-.221-2.62l-.108-.38c-.117-.42-.176-.63-.147-.837c.03-.208.145-.39.374-.756l.21-.332c.807-1.285 1.21-1.927.94-2.438c-.269-.511-1.033-.553-2.562-.635l-.396-.022c-.434-.023-.652-.035-.841-.13c-.19-.095-.33-.263-.61-.599z"/>
      <path fill="currentColor" d="M10.331 4.252c1.316-1.574 1.974-2.361 2.73-2.24s1.11 1.07 1.817 2.969l.183.491c.201.54.302.81.497 1.008c.196.199.464.304 1.001.514l.489.192c1.89.74 2.835 1.11 2.942 1.866c.108.757-.693 1.398-2.294 2.682l-.414.332c-.455.365-.683.547-.815.797s-.152.538-.194 1.115l-.038.526c-.148 2.031-.222 3.047-.911 3.393c-.69.347-1.538-.206-3.236-1.311l-.439-.286c-.482-.314-.723-.47-1-.515s-.558.028-1.121.175l-.513.133c-1.98.516-2.971.773-3.505.231s-.258-1.526.295-3.492l.142-.509c.157-.559.236-.838.197-1.115c-.04-.277-.193-.52-.499-1.008l-.278-.443C4.29 8.044 3.752 7.187 4.11 6.507c.36-.682 1.379-.737 3.418-.848l.527-.028c.58-.031.869-.047 1.122-.174c.252-.127.439-.35.813-.798z" opacity="0.5"/>
    {% endif %}
  </svg>
  <div class="info">
    {% if heading %}
      <p class="heading h5">{{ heading }}</p>
    {% endif %}
    {% if subheading %}
      <p class="subheading">{{ subheading }}</p>
    {% endif %}
  </div>
</div>
