{% comment %}
  Renders an empty state illustration with a heading and subheading

  Accepts:
  - icon: Icon name
  - Heading: (optional) Heading text
  - quick_add (optional) subheading text

  Usage:
  {% render 'yc-empty', icon: 'cart', heading: 'Your cart is empty' %}
{% endcomment %}

<div class="empty">
  <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 24 24">
    {% if icon == 'cart' %}
      <path
        fill="currentColor"
        d="M4.035 11.573c.462-2.309.693-3.463 1.522-4.143s2.007-.68 4.362-.68h4.162c2.355 0 3.532 0 4.361.68c.83.68 1.06 1.834 1.523 4.143l.6 3c.664 3.32.996 4.98.096 6.079s-2.594 1.098-5.98 1.098H9.32c-3.386 0-5.08 0-5.98-1.098s-.568-2.758.096-6.079z"
        opacity="0.5"
      />
      <circle cx="15" cy="9.75" r="1" fill="currentColor" />
      <circle cx="9" cy="9.75" r="1" fill="currentColor" />
      <path
        fill="currentColor"
        d="M9.75 5.75a2.25 2.25 0 0 1 4.5 0v1h.431q.565 0 1.069.002V5.75a3.75 3.75 0 1 0-7.5 0v1.002q.504-.003 1.069-.002h.431z"
      />
    {% elsif icon == 'search' %}
      <defs>
        <mask id="solarMinimalisticMagniferLineDuotone0">
          <g fill="none" stroke-width="1.5">
            <circle cx="11.5" cy="11.5" r="9.5" stroke="#808080" />
            <path stroke="white" stroke-linecap="round" d="m20 20l2 2" />
          </g>
        </mask>
      </defs>
      <path fill="currentColor" d="M0 0h24v24H0z" mask="url(#solarMinimalisticMagniferLineDuotone0)" />
    {% elsif icon == 'collections' %}
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M8.672 7.542h6.656c3.374 0 5.062 0 6.01.987s.724 2.511.278 5.56l-.422 2.892c-.35 2.391-.525 3.587-1.422 4.303s-2.22.716-4.867.716h-5.81c-2.646 0-3.97 0-4.867-.716s-1.072-1.912-1.422-4.303l-.422-2.892c-.447-3.049-.67-4.573.278-5.56s2.636-.987 6.01-.987M8 18c0-.414.373-.75.833-.75h6.334c.46 0 .833.336.833.75s-.373.75-.833.75H8.833c-.46 0-.833-.336-.833-.75"
        clip-rule="evenodd"
      />
      <path
        fill="currentColor"
        d="M8.51 2h6.98c.233 0 .41 0 .567.015c1.108.109 2.014.775 2.399 1.672H5.544c.385-.897 1.292-1.563 2.4-1.672C8.099 2 8.278 2 8.51 2"
        opacity="0.3"
      />
      <path
        fill="currentColor"
        d="M6.31 4.723c-1.39 0-2.53.84-2.91 1.953l-.024.07a8 8 0 0 1 1.232-.253c1.08-.138 2.446-.138 4.032-.138h6.892c1.586 0 2.952 0 4.032.138c.42.054.834.133 1.232.253l-.023-.07c-.38-1.114-1.52-1.953-2.911-1.953z"
        opacity="0.6"
      />
    {% endif %}
  </svg>
  <div class="info">
    {% if heading %}
      <p class="heading h5">{{ heading }}</p>
    {% endif %}
    {% if subheading %}
      <p class="subheading">{{ subheading }}</p>
    {% endif %}
  </div>
</div>
