<yc-product-card-buy-button>
  {% if product.variants.size > 1 %}
    {% render 'product-quick-view' %}
  {% else %}
    {% assign quantity = 1 %}

    {% if product.quantity != null %}
      {% assign quantity = product.quantity %}
    {% endif %}

    <yc-product-form
      variant-id="{{ product.variants[0].id  }}"
      quantity="{{ quantity }}"
    >
      <button
        data-buy-button
        name="add"
        class="primary"
      >
        <span>
          {{ 'general.add_to_cart' | t }}
        </span>
      </button>
    </yc-product-form>
  {% endif %}
</yc-product-card-buy-button>
