{% comment %}
  Quantity input

  Accepts:
  - variant: {Object} Variant object
  - variant_id: {String} Variant ID (optional)
  - min: {Number} Min (optional)

  Usage:
  {% render 'yc-quantity-input' variant: variant %}
{% endcomment %}

<yc-quantity-control class="quantity cart-quantity">
  <button name="minus" type="button" aria-label="decrease">
    {% render 'yc-icon', name: 'minus' %}
  </button>
  <span id="quantity">1</span>
  <button name="plus" type="button" aria-label="increase">
    {% render 'yc-icon', name: 'plus' %}
  </button>
  {% comment %} {%- render 'progress-bar' -%} {% endcomment %}
</yc-quantity-control>
