{% comment %}
  Quantity input

  Accepts:
  - button_size: (optional) 'sm', 'md' or 'lg'
  - variant: Cart item liquid object

  Usage:
  {% render 'yc-quantity-input' variant: variant %}
{% endcomment %}

<yc-quantity-control class="quantity cart-quantity">
  <button
    class="yc-btn icon"
    name="minus"
    data-size="{{ button_size | default: 'md' }}"
    type="button"
    aria-label="decrease"
  >
    {% render 'yc-icon', name: 'minus' %}
  </button>
  <span data-cart-item="quantity">{{ variant.quantity }}</span>
  <button
    class="yc-btn icon"
    name="plus"
    data-size="{{ button_size | default: 'md' }}"
    type="button"
    aria-label="increase"
  >
    {% render 'yc-icon', name: 'plus' %}
  </button>
</yc-quantity-control>
