[ui-slot="marquee"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--page-width);
  overflow: hidden;

  [ui-slot="marquee-cloud"] {
    display: flex;
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;

    [ui-slot="marquee-item"] {
      display: flex;
      min-width: max-content;
      padding-inline: var(--spacing-24);
      gap: var(--spacing-8);
    }
  }
}
