/* 
  Component: Dropdown

  Usage:
    - ...
*/

[ui-slot="dropdown"] {
  [ui-slot="dropdown-content"][popover] {
    position: absolute;
    width: 300px;
    padding: var(--spacing-8);
    transition: var(--transition-expressive-fast-spatial);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-16);
    background-color: var(--color-background);
    box-shadow: 0 16px 32px -12px
      color-mix(in srgb, var(--color-on-background) 8%, transparent);
    position-area: bottom span-right;

    &:dir(rtl) {
      position-area: bottom span-left;
    }

    /* Group */
    [ui-slot="dropdown-group"] {
      &::before {
        content: attr(data-label);
        display: flex;
        place-items: center;
        height: 28px;
        padding-inline: var(--spacing-8);
        color: var(--color-on-surface-variant);
        font: var(--font-body-sm);
        text-transform: uppercase;
      }

      &:not(:first-child) {
        margin-block-start: var(--spacing-8);
        padding-block-start: var(--spacing-8);
        border-block-start: 1px solid var(--color-surface-variant);
      }

      &:not(:last-child) {
        margin-block-end: var(--spacing-8);
        padding-block-end: var(--spacing-8);
        border-block-end: 1px solid var(--color-surface-variant);
      }
    }

    /* Item */
    [ui-slot="dropdown-item"] {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      height: 36px;
      padding: var(--spacing-8);
      overflow: hidden;
      transition: var(--transition-standard-default-spatial);
      border: none;
      border-radius: var(--radius-8);
      background-color: transparent;
      color: var(--color-on-background);
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      gap: var(--spacing-8);

      /* Icon */
      & > i {
        flex-shrink: 0;
        font-size: 16px;
      }

      /* Disabled */
      &:disabled {
        color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
        pointer-events: none;
      }

      /* Hover */
      &:hover:not(:disabled) {
        background-color: var(--color-surface-container);
      }
    }

    /* State */
    &:popover-open {
      visibility: visible;
      transform: translateY(var(--spacing-6)) scale(1);
      opacity: 1;
      filter: blur(0);

      @starting-style {
        visibility: hidden;
        transform: translateY(0) scale(0.94);
        opacity: 0;
        filter: blur(5px);
      }
    }
  }
}
