/* 
  Component: Popover

  Accepts:
    - data-side: {String} left | right | top | bottom

  Usage:
    - ...
*/

[ui-slot="popover"] {
  --arrow-size: 8px;
  --popover-arrow-offset: -5px;

  position: relative;

  /* Backdrop */
  & > input[type="checkbox"] {
    appearance: none;
    position: fixed;
    transition: var(--transition-standard-default-spatial);

    &:checked {
      z-index: 49;
      inset: 0;
    }
  }

  /* Content */
  [ui-slot="popover-content"] {
    display: flex;
    visibility: hidden;
    position: absolute;
    z-index: 50;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    max-width: 400px;
    transform: scale(0.95);
    transition: var(--transition-expressive-default-spatial);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--radius-20);
    opacity: 0;
    background-color: var(--color-background);

    /* Arrow */
    &::before {
      content: "";
      position: absolute;
      z-index: 49;
      width: var(--arrow-size);
      height: var(--arrow-size);
      border: 1px solid var(--color-surface-variant);
      background-color: var(--color-background);
      rotate: 45deg;
    }
  }

  /* Side */
  &[data-side="left"],
  &[data-side="right"] {
    [ui-slot="popover-content"] {
      top: 50%;
      transform: translateY(-50%) scale(0.96);
    }
  }

  &[data-side="left"] [ui-slot="popover-content"] {
    inset-inline-end: calc(100% + var(--spacing-6));

    &::before {
      inset-inline-end: var(--popover-arrow-offset);
      border-start-end-radius: 2px;
      border-inline-start-color: transparent;
      border-block-end-color: transparent;
    }
  }

  &[data-side="right"] [ui-slot="popover-content"] {
    inset-inline-start: calc(100% + var(--spacing-6));

    &::before {
      inset-inline-start: var(--popover-arrow-offset);
      border-end-start-radius: 2px;
      border-inline-end-color: transparent;
      border-block-start-color: transparent;
    }
  }

  &[data-side="top"],
  &[data-side="bottom"] {
    [ui-slot="popover-content"] {
      left: 50%;
      transform: translateX(-50%) scale(0.96);
    }
  }

  &[data-side="top"] [ui-slot="popover-content"] {
    inset-block-end: calc(100% + var(--spacing-6));

    &::before {
      inset-block-end: var(--popover-arrow-offset);
      border-end-end-radius: 2px;
      border-block-start-color: transparent;
      border-inline-start-color: transparent;
    }
  }

  &[data-side="bottom"] [ui-slot="popover-content"] {
    inset-block-start: calc(100% + var(--spacing-6));

    &::before {
      inset-block-start: var(--popover-arrow-offset);
      border-start-start-radius: 2px;
      border-block-end-color: transparent;
      border-inline-end-color: transparent;
    }
  }

  /* Trigger */
  &:has(> input[type="checkbox"]:checked) {
    [ui-slot="popover-content"] {
      visibility: visible;
      opacity: 1;
    }

    &[data-side="left"] [ui-slot="popover-content"] {
      inset-inline-end: calc(100% + var(--spacing-24));
      transform: translateY(-50%) scale(1);
    }

    &[data-side="right"] [ui-slot="popover-content"] {
      inset-inline-start: calc(100% + var(--spacing-24));
      transform: translateY(-50%) scale(1);
    }

    &[data-side="top"] [ui-slot="popover-content"] {
      inset-block-end: calc(100% + var(--spacing-24));
      transform: translateX(-50%) scale(1);
    }

    &[data-side="bottom"] [ui-slot="popover-content"] {
      inset-block-start: calc(100% + var(--spacing-24));
      transform: translateX(-50%) scale(1);
    }
  }
}
