/* 
  Component: Sheet

  Usage:
    - ...
*/

[ui-slot="sheet"] {
  --sheet-width: 460px;

  /* Content */
  [ui-slot="sheet-content"] {
    display: flex;
    position: fixed;
    z-index: 50;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sheet-width);
    height: 100dvh;
    padding-block: calc(var(--spacing-24) - var(--spacing-4));
    transition: var(--transition-expressive-slow-spatial);
    border: none;
    color: inherit;
    inset: unset;
    inset-block-start: var(--spacing-0);
    inset-inline-end: calc(var(--sheet-width) * -1);
    gap: calc(var(--spacing-24) - var(--spacing-4));

    /* Header */
    [ui-slot="sheet-header"] {
      display: flex;
      position: sticky;
      z-index: 2;
      align-items: center;
      justify-content: space-between;
      padding-inline: calc(var(--spacing-24) - var(--spacing-4));
      background-color: inherit;
      gap: var(--spacing-12);
      inset-block-start: 0;

      /* Title */
      [ui-slot="sheet-title"] {
        font: var(--font-title-lg);
      }
    }

    /* Body */
    [ui-slot="sheet-body"] {
      flex: 2;
      padding-inline: calc(var(--spacing-24) - var(--spacing-4));
    }

    /* Body */
    [ui-slot="sheet-footer"] {
      display: grid;
      gap: var(--spacing-12);
      grid-template-columns: repeat(2, 1fr);
      padding-inline: calc(var(--spacing-24) - var(--spacing-4));
    }

    /* Backdrop */
    &::backdrop {
      transition: var(--transition-standard-default-spatial);
    }

    /* State */
    &:popover-open {
      inset-inline-end: var(--spacing-0);

      &::backdrop {
        backdrop-filter: blur(10px);
        background-color: color-mix(in srgb, currentcolor 15%, transparent);
      }

      @starting-style {
        inset-inline-end: calc(var(--sheet-width) * -1);

        &::backdrop {
          backdrop-filter: blur(0);
          background-color: transparent;
        }
      }
    }
  }

  @media (width <= 769px) {
    --sheet-width: 100%;
  }
}

[data-intensity="as-solid-bg"],
[data-intensity="as-foreground"] {
  [ui-slot="sheet"] [ui-slot="sheet-content"] {
    background-color: var(--color-on-primary);
  }
}

[data-intensity="as-light-bg"] {
  [ui-slot="sheet"] [ui-slot="sheet-content"] {
    background-color: var(--color-primary-container);
  }
}
